.credit-details .each-block {
  padding: 15px;
  border-radius: 6px;
  min-height: 283px;
}

.credit-details .nav-tabs {
  border: 0;
}

.credit-details .nav-tabs .nav-link.active,
.credit-details .nav-tabs .nav-item.show .nav-link {
  background: #f06135;
  border: 1px solid #f06135;
  color: #fff;
  border-radius: 5px;
}

.credit-details .bg-transparent {
  background: transparent;
}

.credit-details .nav-tabs .nav-link {
  background: transparent;
  border: 1px solid #eee;
  color: #fff;
  border-radius: 5px;
  margin-right: 15px;
}

.credit-details .tab-content {
  padding: 0px;
}

.credit-details .header-part i {
  line-height: 0;
  font-size: 30px;
  position: relative;
  top: 9px;
  margin-right: 10px;
}

.credit-details .header-part .c-badge {
  padding: 3px 17px;
  border-radius: 20px;
  background: #413bd3;
  font-size: 14px;
}

.credit-details .header-part .badge {
  padding: 3px 15px;
  border-radius: 30px;
  font-size: 13px;
  color: #fff;
  margin-left: 20px;
  font-weight: 500;
}

.credit-details ul li {
  padding: 3px 0;
}

.credit-details ul li span {
  display: block;
  font-size: 11px;
  color: #151515;
  opacity: 0.5;
  font-weight: 600;
}

.credit-details table {
  border-top: 1px solid rgba(221, 218, 218, 0.3);
}

.credit-details table thead th {
  border-bottom: 0;
  border-top: 0;
}

.credit-details .table th,
.credit-details .table td {
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgba(221, 218, 218, 0.3);
}

.credit-details .table th {
  padding: 2px 10px;
  font-size: 14px;
}

.credit-details .table tbody td:first-child {
  padding-left: 16px !important;
}

.credit-details .table tr th {
  font-size: 13px;
  vertical-align: middle;
  background: #fff;
}

.credit-details .cpx-5 {
  padding: 0px;
}

.credit-details .Summary .table tbody tr:nth-of-type(even) {
  background: #fff;
}

.credit-details .table td {
  white-space: nowrap;
}

.credit-details .table tr {
  white-space: nowrap;
}

.selectFooter {
  text-align: end;
}

.each-block .list-unstyled li {
  list-style: none;
  padding: 5px 0;
  display: block;
  text-decoration: none;
}

.each-block .list-unstyled {
  text-decoration: none;
}

.each-block .list-unstyled li span {
  display: block;
  font-size: 11px;
  color: #151515;
  opacity: 0.5;
  font-weight: 600;
}

.each-block .list-unstyled li strong {
  display: block;
  font-size: 13px;
}

.no-pad tr {
  padding: 0;
}

.no-pad td {
  padding: 0 6px !important;
  border: 0 !important;
  text-align: center;
}

.no-pad tr th:first-child {
  padding-left: 0 !important;
}

.no-pad tr td:first-child {
  padding-left: 0 !important;
}

.invoice-details .no-pad td {
  min-width: 60px !important;
}

.invoice-details .no-pad tr th {
  min-width: 60px !important;
  text-align: center;
  padding: 0 !important;
}

.bg-gray {
  padding: 10px;
  background: #f0f0f0;
}

.bg-gray table td {
  background: transparent !important;
  border: 0;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 700;
}

.calendar {
  position: absolute;
  top: 4px;
  right: 0;
}

.summary {
  padding: 15px;
  margin-top: 25px;
  border-radius: 6px;
  background: #fff;
}

.summary table {
  margin-bottom: 0;
}

.irn-card h5 {
  font-size: 13px;
}

.edit {
  padding: 0 10px;
  text-decoration: underline;
  font-weight: 600;
  color: #2164e8;
  cursor: pointer;
  float: right;
}

.credit-details .preview table tbody td:first-child {
  padding-left: 5px !important;
}

.preview table tr th {
  padding: 20px 5px;
}

.preview table {
  /* page-break-after: always; */
  page-break-inside: initial !important;
}

.preview tr {
  page-break-inside: initial;
  page-break-after: auto;
}

.preview thead {
  display: table-header-group;
}

.preview tfoot {
  display: table-footer-group;
}

.preview table {
  width: 100%;
  text-align: left;
  -webkit-box-sizing: 0;
  box-sizing: 0;
}

.preview .table-bordered td,
.preview .table-bordered th {
  padding: 0;
  border: 0 !important;
}

.preview .table td,
.preview .table th {
  border-top: 0;
  padding: 0px;
  white-space: normal !important;
}

.preview .border-top {
  border-top: 1px solid rgba(102, 102, 102, 0.479);
  margin: 5px 0;
  padding-top: 5px;
}

.preview .b-h {
  border: 1px solid rgba(102, 102, 102, 0.479);
}

.preview table td {
  padding: 5px !important;
}

.preview .logo .mb-3 {
  max-width: 150px;
}

.preview .logo img {
  height: auto;
}

.preview .qr img {
  margin: 10px;
}

.preview strong {
  font-weight: 700;
  font-size: 14px;
}

.preview .heading {
  padding: 5px;
}

.preview .heading h4 {
  font-size: 16px;
  margin: 0;
}

.preview .c-p-8 {
  padding: 0px;
}

.preview .px-2 {
  margin: 0;
  padding: 0 10px;
}

.preview .party h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.preview p {
  line-height: 20px;
  font-size: 12px;
}

.preview .party .max-500 {
  max-width: 550px;
}

.preview .goods2 thead {
  border-top: 1px solid rgba(102, 102, 102, 0.479);
}

.preview .goods table,
.preview .goods td,
.preview .goods th {
  border: 1px solid rgba(102, 102, 102, 0.479);
  padding: 10px 3px !important;
  font-size: 12px;
  text-transform: capitalize;
}

.preview .goods2 th,
.preview .goods2 td {
  padding: 7px 3px;
}

.preview .goods {
  border-collapse: collapse;
}

.preview .text-right {
  text-align: right;
}

.preview .c-p-8 table td {
  padding: 5px;
}

.preview .mb-0 {
  margin-bottom: 10px !important;
}

.preview .goods.mb-0 {
  margin: 0 !important;
}

.preview address {
  font-size: 13px;
}

.text-truncate {
  display: block;
}

.print {
  position: absolute;
  right: 80px;
  top: 10px;
}

.print i {
  position: relative;
  top: 2px;
}

.imgText {
  position: absolute;
  color: rgba(235, 12, 12, 0.904);
  top: 40%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: 90%;
  background: rgba(255, 255, 255, 0.897);
  transform: rotate(-30.25deg);
  -webkit-transform: rotate(-30.25deg);
  -moz-transform: rotate(16.75deg);
  -ms-transform: rotate(16.75deg);
  -o-transform: rotate(16.75deg);
  font-weight: bolder;
}

.activity i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
}

.delete i {
  position: absolute;
  top: 10px;
  right: 45px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

.bgClr {
  background-color: #fff !important;
}

.actions-sac .dropdown-toggle::after {
  content: none !important;
}

.bg-danger {
  background: #f8674d7e !important;
}

.settings {
  position: fixed;
  top: 50%;
  width: 42px;
  height: 42px;
  padding: 4px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #f06135;
  right: 0;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
}

.settings span {
  display: block;
}

.settings img {
  -webkit-filter: invert(1);
  filter: invert(1);
  -webkit-animation: pulse 4s infinite linear;
  animation: pulse 4s infinite linear;
}

.pdf-view2 object {
  height: 88vh !important;
  padding: 0px;
  background: #fff;
  border-radius: 6px;
  overflow-y: scroll;
}

.total-card {
  border-radius: 6px;
  background: #fff;
  padding: 5px;
}

.summary {
  padding: 15px;
  margin-top: 25px;
  border-radius: 6px;
  background: #fff;
}

.summary table {
  margin-bottom: 0;
}

.summary small {
  font-size: 95%;
}

.preview table tr th {
  padding: 20px 5px;
}

.preview table {
  page-break-after: always;
}

.preview tr {
  page-break-inside: initial;
  page-break-after: always;
}

.preview thead {
  display: table-header-group;
}

.preview tfoot {
  display: table-footer-group;
}

.preview table {
  width: 100%;
  text-align: left;
  -webkit-box-sizing: 0;
  box-sizing: 0;
}

.preview .table-bordered td,
.preview .table-bordered th {
  padding: 0;
  border: 0 !important;
}

.preview .table td,
.preview .table th {
  border-top: 0;
  padding: 0px;
  white-space: normal !important;
}

.preview .border-top {
  border-top: 1px solid rgba(102, 102, 102, 0.479);
  margin: 5px 0;
  padding-top: 5px;
}

.preview .b-h {
  border: 1px solid rgba(102, 102, 102, 0.479);
}

.preview table td {
  padding: 5px !important;
}

.preview .logo .mb-3 {
  max-width: 150px;
}

.preview .logo img {
  height: auto;
}

.preview .qr img {
  margin: 10px;
}

.preview strong {
  font-weight: 700;
  font-size: 14px;
}

.preview .heading {
  padding: 5px;
}

.preview .heading h4 {
  font-size: 16px;
  margin: 0;
}

.preview .c-p-8 {
  padding: 0px;
}

.preview .px-2 {
  margin: 0;
  padding: 0 10px;
}

.preview .party h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.preview p {
  line-height: 20px;
  font-size: 12px;
}

.preview .party .max-500 {
  max-width: 550px;
}

.preview .goods2 thead {
  border-top: 1px solid rgba(102, 102, 102, 0.479);
}

.preview .goods table,
.preview .goods td,
.preview .goods th {
  border: 1px solid rgba(102, 102, 102, 0.479);
  padding: 10px 3px !important;
  font-size: 12px;
  text-transform: capitalize;
}

.preview .pdf-table {
  border: 1px solid rgba(221, 218, 218, 0.3);
  padding: 5px;
}

.preview .pdfTable table {
  page-break-before: always;
}

.preview .pdfTable tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

.preview .pdfTable td {
  page-break-inside: avoid;
  page-break-after: auto;
}

.preview .pdfTable thead {
  display: table-header-group;
}

.preview .pdfTable tfoot {
  display: table-footer-group;
}

.preview .goods2 th,
.preview .goods2 td {
  padding: 7px 3px;
}

.preview .goods {
  border-collapse: collapse;
}

.preview .extab table,
.preview .extab table,
.preview .extab td,
.preview .extab th {
  border: 1px solid rgba(102, 102, 102, 0.479) !important;
  background: white !important;
  padding: 10px 3px !important;
  font-size: 12px;
  text-transform: capitalize;
}

.preview .extab p {
  margin: 0px !important;
}

.preview .borderZero table,
.preview .borderZero td,
.preview .borderZero th {
  border: none !important;
}

.preview .borderZero {
  border: none !important;
}

.preview .text-right {
  text-align: right;
}

.preview .c-p-8 table td {
  padding: 5px;
}

.preview .mb-0 {
  margin-bottom: 10px !important;
}

.preview .goods.mb-0 {
  margin: 0 !important;
}

.preview address {
  font-size: 13px;
}

.actions-sac .dropdown-toggle::after {
  content: none !important;
}

.c-border-table {
  height: 3px;
  background: rgba(102, 102, 102, 0.479);
  width: 100%;
  margin-bottom: 10px;
}

#total-table td {
  padding: 5px;
  font-size: 14px;
}

#total-tableSAC th {
  padding: 5px;
  font-size: 14px;
}

#total-tableSAC td {
  padding: 5px;
  font-size: 14px;
}

button:focus {
  outline: none !important;
}

#total-tableSAC td:last-child {
  white-space: normal;
}

.b-r-0 {
  border-radius: 0;
}

.h-fix-table {
  max-height: 87vh;
  overflow-y: auto;
}

.invoiceIcon {
  cursor: pointer;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.invoiceIcon i {
  font-size: 25px;
}

.emailBtn {
  border-color: #fff;
  color: #fff;
}

.emailBtn:hover {
  background-color: #fff;
  color: #000000;
}

.notes {
  border: 1px solid rgba(102, 102, 102, 0.479);
  padding: 5px;
}

.pdf-display {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.ri-mail-line {
  font-size: 25px !important;
  top: 5px !important;
}

.radioBorder {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 7px 42px;
}

.qrCode {
  margin-right: 29%;
}

/*# sourceMappingURL=manual-credit-details.component.css.map */