<section>

    <div class="row mb-3">
        <div class="col-md-8">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white">Payment Reconciliation <small>({{this.filters.totalCount}})</small></h4>
                <div class="form-group w-c-50 ml-2">
                    <select id="my-select2" [(ngModel)]="filters.searchFilter.filterType" (ngModelChange)="updateRouterParams()" class="custom-select bg-white" name="">
            <option value="creation">Printed</option>
            <option value="date">Invoice</option>

          </select>
                </div>
                <div class="form-group w-c-50 ml-2">
                    <select id="my-select" [(ngModel)]="filters.searchFilter.filterBy" (ngModelChange)="onDateFilterChange()" class="custom-select bg-white" name="">
                      <option value="All">All</option>
                      <option value="Today">Today</option>
                      <option value="Yesterday">Yesterday</option>
                      <option value="This Week">This Week</option>
                      <option value="Last Week">Last Week</option>
                      <option value="This Month">This Month</option>
                      <option value="Last Month">Last Month</option>
                      <option value="This Year">This Year</option>
                      <option value="Custom">Custom</option>
                    </select>
                </div>
                <div class="form-group calendar w-c-50 position-relative" *ngIf="filters.searchFilter.filterBy == 'Custom'">
                    <input class="form-control h-auto" [(ngModel)]="filters.searchFilter.filterDate" (dateTimeChange)="updateRouterParams()" [owlDateTime]="dt1" [selectMode]="'range'" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                    <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                      <i class="ri-calendar-2-line"></i>
                    </span>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
            </div>
        </div>
    </div>

    <div class="card pb-1">
        <virtual-scroller #scroll [items]="paymentReconList">
            <div class="table-responsive">
                <table class="table" id="s-table">
                    <thead class="thead" #head>
                        <tr>
                            <th>#</th>
                            <th>Invoice Number</th>
                            <!-- <th>Date</th> -->
                            <th>Payment Mode</th>
                            <th>Card Details</th>
                            <th>Reference</th>
                            <th>Amount</th>

                            <!-- <th>Status</th>
                            <th>Actions</th> -->
                        </tr>
                    </thead>
                    <tbody #container>
                        <tr>
                            <td></td>
                            <td class="bg-gray" style="min-width: 200px;">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                        <i class="ri-search-line"></i>
                      </span>
                                    </div>
                                    <input #codeInp type="search" [(ngModel)]="filters.searchFilter.invoice_number" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                </div>
                            </td>
                            <!-- <td></td> -->
                            <td class="bg-gray" style="min-width: 200px;">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                        <i class="ri-search-line"></i>
                      </span>
                                    </div>
                                    <input #nameInp type="search" [(ngModel)]="filters.searchFilter.mode" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                </div>
                            </td>
                            <td class="bg-gray" style="min-width: 150px;">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                        <i class="ri-search-line"></i>
                      </span>
                                    </div>
                                    <input #nameInp type="search" [(ngModel)]="filters.searchFilter.card_details" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                </div>
                            </td>
                            <td class="bg-gray" style="min-width: 200px;">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                        <i class="ri-search-line"></i>
                      </span>
                                    </div>
                                    <input #nameInp type="search" [(ngModel)]="filters.searchFilter.reference" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                </div>
                            </td>

                            <td class="bg-gray" style="min-width: 150px;">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                        <i class="ri-search-line"></i>
                      </span>
                                    </div>
                                    <input #nameInp type="search" [(ngModel)]="filters.searchFilter.amount" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                </div>
                            </td>


                        </tr>
                        <tr *ngFor="let item of scroll.viewPortItems;let i =index">
                            <td>{{item?.index }}</td>
                            <td>{{item?.invoice_number}}</td>
                            <!-- <td>{{item?.date}}</td> -->
                            <td>{{item?.payment}}</td>
                            <td>{{item?.card_details}}</td>
                            <td>{{item?.payment_reference}}</td>
                            <td>{{item?.item_value}}</td>
                            <!-- <td>{{item?.taxble}}</td>
                            <td>{{item?.net}}</td> -->


                        </tr>
                    </tbody>
                </table>
                <div class="text-center py-3" *ngIf="!paymentReconList.length">
                    <h5>No Data Found</h5>
                </div>
            </div>
        </virtual-scroller>
        <div class="d-flex justify-content-between" *ngIf="paymentReconList.length">
            <div class="px-3">
                <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
            <option [value]="20">20</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
            <option [value]="150">150</option>
            <option [value]="500">500</option>
          </select>
            </div>
            <div *ngIf="paymentReconList.length  < this.filters.totalCount">
                <p class="text-right pr-5 more text-primary" (click)="this.filters.start = paymentReconList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                    more
                </p>
            </div>
        </div>

    </div>
</section>