<section class="container-fluid">
    <div class="border-bottom">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="tabChange()">
            <li [ngbNavItem]="1">
                <a ngbNavLink>General Settings</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="details"></ng-container>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Bank Details</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="bank_details"></ng-container>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>Document Sequence</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="documentSequence"></ng-container>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>Events</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="events"></ng-container>
                </ng-template>
            </li>
            <li [ngbNavItem]="5">
                <a ngbNavLink>Document Types</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="document_types"></ng-container>
                </ng-template>
            </li>
            <li [ngbNavItem]="6" *ngIf="this.loginUser?.full_name  == 'Administrator'">
              <a ngbNavLink>Signature Settings</a>
              <ng-template ngbNavContent>
                  <ng-container *ngTemplateOutlet="signature_settings"></ng-container>
              </ng-template>
          </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>

    <ng-template #details>
        <div class="card mt-3" style="height: 90vh;overflow: auto;">
            <div class="card-body ">
                <form #generalDetailsForm="ngForm">
                <div class="row" style="height: 100vh;">
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="clbs_document_preview">CLBS Document Preview</label>
                            <select name="clbs_document_preview" id="clbs_document_preview" class="form-control" [(ngModel)]="clbsSettings.clbs_document_preview" #clbs_document_preview="ngModel" required>
                                <!-- <option selected hidden disabled>Select </option> -->
                                <option [ngValue]="undefined" selected disabled>Select Any </option>
                                <option value="INDIVIDUAL">INDIVIDUAL</option>
                                <option value="COMBINED">COMBINED</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4">
              <div class="form-group">
                  <label for="document_sequence">Document Sequence</label>
                  <input class="form-control" (change)="handleFileInput($event.target.files, 'document_sequence')" type="file" name="document_sequence" id="document_sequence" accept=".txt" class="d-none form-control">
                  <label for="font_file" class="border d-block  f-upload clearfix rounded-sm position-relative w-100">
                      <small class="text-muted">{{clbsSettings?.document_sequence ?
                          clbsSettings?.document_sequence : 'Document Sequence'}}</small>
                  </label>

                  <small class="text-danger" *ngIf="fileError"> Only .txt files are accepted. </small>
                  <a class="download" *ngIf="clbsSettings?.document_sequence" (click)="downloadFile(clbsSettings?.document_sequence)"><small>Download File</small></a>
                  <label for="document_sequence" class="float-right upload-btn">
                      {{clbsSettings.document_sequence ? 'Change' : 'Upload' }}
                  </label>
              </div>
          </div> -->
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="threshhold">Threshold (in MB)</label>
                            <input type="text" name="threshhold" id="threshhold" class="form-control" [(ngModel)]="clbsSettings.threshhold" #threshhold="ngModel" (ngModelChange)="onChangeThreshold($event)" appDecimaNumber required>
                            <small class="text-danger" *ngIf="threshhold.touched && threshhold?.errors?.required">Required</small>
                            <small class="text-danger" *ngIf="!checkThreshold">Max Limit is 20MB</small>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group input-with-label">
                            <label for="cc_mail_ids_for_clbs_reports">CC Mail IDs</label>
                            <input type="text" name="cc_mail_ids_for_clbs_reports" id="cc_mail_ids_for_clbs_reports" class="form-control" [(ngModel)]="clbsSettings.cc_mail_ids_for_clbs_reports" #cc_mail_ids_for_clbs_reports="ngModel" required>
                            <small class="text-danger" *ngIf="cc_mail_ids_for_clbs_reports.touched && cc_mail_ids_for_clbs_reports?.errors?.required">Required</small>
                            <small class="text-warn">Entered emails should be comma(,) seperated.</small>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="summary_terms_and_conditions" class="">Terms and Conditions</label>
                            <quill-editor class="clbs-setting-quill-editor ql-container" id="summary_terms_and_conditions" name="summary_terms_and_conditions" [(ngModel)]="clbsSettings.summary_terms_and_conditions" #summary_terms_and_conditions="ngModel" required>
                            </quill-editor>
                        </div>
                    </div>

                    <!-- <div class="col-md-12 mb-2">
                        <div class="d-flex">
                            <h6>QR Co-ordinates </h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <input type="text" name="qr_rect_x0" id="QrRectX0" class="form-control" [(ngModel)]="clbsSettings.qr_rect_x0" #X0="ngModel" required>
                            <label for="QrRectX0">Qr X-Axis</label>
                            <small class="text-danger" *ngIf="X0.touched && X0?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <input type="text" name="qr_rect_x1" id="QrRectX1" class="form-control" [(ngModel)]="clbsSettings.qr_rect_x1" #X1="ngModel" required>
                            <label for="QrRectX1">Qr X-Axis</label>
                            <small class="text-danger" *ngIf="X1.touched && X1?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <input type="text" name="qr_rect_y0" id="QrRectY0" class="form-control" [(ngModel)]="clbsSettings.qr_rect_y0" #Y0="ngModel" required>
                            <label for="QrRectY0">Qr Y-Axis</label>
                            <small class="text-danger" *ngIf="Y0.touched && Y0?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <input type="text" name="qr_rect_y1" id="QrRectY1" class="form-control" [(ngModel)]="clbsSettings.qr_rect_y1" #Y1="ngModel" required>
                            <label for="QrRectY1">Qr Y-Axis</label>
                            <small class="text-danger" *ngIf="Y1.touched && Y1?.errors?.required">Required</small>
                        </div>
                    </div> -->

                    <div class="col-md-12 mb-2">
                        <div class="d-flex justify-content-end">
                            <button (click)="save_qr_details(generalDetailsForm)" class="btn btn-primary btn-sm mb-0 text-uppercase ml-3" type="button" [disabled]="!checkThreshold">save</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>

    </ng-template>
    <ng-template #bank_details>
        <div class="card mt-3" style="height: 80vh;overflow: auto;">
            <div class="card-body ">
                <form #bankDetailsForm="ngForm">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="bank_name">Bank Name</label>
                            <input type="text" name="bank_name" id="bank_name" class="form-control" [(ngModel)]="bankDetails.bank_name" #bank_name="ngModel" required>
                            <small class="text-danger" *ngIf="bank_name.touched && bank_name?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="bank_ac_name">Bank A/C Name</label>
                            <input type="text" name="bank_ac_name" id="bank_ac_name" class="form-control" [(ngModel)]="bankDetails.bank_ac_name" #bank_ac_name="ngModel" required>
                            <small class="text-danger" *ngIf="bank_ac_name.touched && bank_ac_name?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="bank_ac_number">Branch A/C Number</label>
                            <input type="text" name="bank_ac_number" id="bank_ac_number" class="form-control" [(ngModel)]="bankDetails.bank_ac_number" #bank_ac_number="ngModel" required>
                            <small class="text-danger" *ngIf="bank_ac_number.touched && bank_ac_number?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="ifsc_code">IFSC Code</label>
                            <input type="text" name="ifsc_code" id="ifsc_code" class="form-control" [(ngModel)]="bankDetails.ifsc_code" #ifsc_code="ngModel" required>
                            <small class="text-danger" *ngIf="ifsc_code.touched && ifsc_code?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="branch_code">Branch Code</label>
                            <input type="text" name="branch_code" id="branch_code" class="form-control" [(ngModel)]="bankDetails.branch_code" #branch_code="ngModel" required>
                            <small class="text-danger" *ngIf="branch_code.touched && branch_code?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="micr_code">MICR Code</label>
                            <input type="text" name="micr_code" id="micr_code" class="form-control" [(ngModel)]="bankDetails.micr_code" #micr_code="ngModel" required>
                            <small class="text-danger" *ngIf="micr_code.touched && micr_code?.errors?.required">Required</small>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="form-group input-with-label">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" class="form-control" [(ngModel)]="bankDetails.address" #address="ngModel" required>
                            <small class="text-danger" *ngIf="address.touched && address?.errors?.required">Required</small>
                        </div>
                    </div>


                    <div class="col-md-12 mb-2">
                        <div class="d-flex justify-content-end">
                            <button (click)="save_bank_details(bankDetailsForm)" class="btn btn-sm btn-primary mb-0 text-uppercase ml-3" type="button">save bank details</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>

    </ng-template>

    <ng-template #documentSequence>
        <div class="table-responsive p-0 my-4 custom-table">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Title</th>
                        <th>Sequence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Summary</td>
                        <td>
                            <select class="custom-select" disabled>
              <option value="1">1</option>
            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>E-Tax Invoice</td>
                        <td>
                            <select class="custom-select" disabled>
              <option value="2">2</option>
            </select>
                        </td>
                    </tr>
                    <tr *ngFor="let item of fileTypes;let i = index">
                        <td>{{item.document_type}}</td>
                        <td>
                            <select class="custom-select" (change)="changeSequence(item)" [(ngModel)]="item.sequence_no">
              <option *ngFor="let option of item.sequence">{{option}}</option>
            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="save()">save</button>
            </div>
        </div>

    </ng-template>

    <ng-template #events>

        <div class="card mt-3" style="height: 90vh;overflow: auto;">
            <div class="card-body">
                <div class="row mb-2 filter-card">
                    <div class="col-md-3 grid">
                        <div class="d-flex align-items-center">
                            <h6 class="m-0"><b>Events ({{filters.totalCount}})</b></h6>
                            <button class="btn btn-primary btn-sm shadow ml-3" type="button" (click)="eventModalFunc(eventModal,{})"><b><i class="ri-add-line"></i></b></button>
                        </div>
                    </div>

                    <div class="col-md-9 ">

                    </div>

                </div>
                <div class="row">
                    <div class="table-responsive custom-table">
                        <table class="table  table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Event Name</th>
                                    <th>Generated On</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let item of eventsList;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item?.event_name}}</td>
                                    <td>{{item?.creation | date:'medium'}}</td>
                                    <td class="">
                                        <span class="cursor-pointer" (click)="eventModalFunc(eventModal,item)"><em class="ri-pencil-line btn-hover-gray p-1"></em></span>
                                    </td>
                                </tr>


                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between morec" *ngIf="eventsList.length">
                            <div class="text-right px-3">
                                <ng-container *ngIf="eventsList.length  < this.filters.totalCount">
                                    <p class="cursor-pointer px-2 py-1 pagination " (click)="this.filters.start = eventsList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                                        more
                                    </p>
                                </ng-container>
                            </div>
                            <div class="px-3">
                                <div class="row no-gutters pagination" *ngIf="eventsList.length > this.filters.itemsPerPage">
                                    <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(20)" [ngClass]="{'bg-count': filters.itemsPerPage == 20 }">20</p>
                                    <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(50)" [ngClass]="{'bg-count': filters.itemsPerPage == 50 }">50</p>
                                    <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(100)" [ngClass]="{'bg-count': filters.itemsPerPage == 100 }">100</p>
                                    <p class="px-2 py-1 mb-0 cursor-pointer" (click)="checkPagination(500)" [ngClass]="{'bg-count': filters.itemsPerPage == 500 }">500</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #document_types>
        <div class="card mt-3" style="height: 90vh;overflow: auto;">
            <div class="card-body">
                <div class="row mb-2 filter-card">
                    <div class="col-md-3 grid">
                        <div class="d-flex align-items-center">
                            <h6 class="m-0"><b>Document Types ({{filters_doc_types.totalCount}})</b></h6>
                            <button class="btn btn-primary btn-sm shadow ml-3" type="button" (click)="docTypeModalFunc(docTypeModal,{})"><b><i class="ri-add-line"></i></b></button>
                        </div>
                    </div>

                    <div class="col-md-9 d-flex align-items-end justify-content-end">
                        <!-- <button *ngIf="save_doc_type_seq" class="btn btn-primary btn-sm " type="button" (click)="saveSequence()">Save</button> -->
                    </div>

                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table  table-sm">
                            <thead>
                                <tr>
                                    <th >#</th>
                                    <th >Document Type</th>
                                    <!-- <th>Sequence</th>
                                    <th>Generated On</th> -->
                                    <th >Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!-- <tbody cdkDropList (cdkDropListDropped)="onDrop($event)"> -->

                                <tr *ngFor="let item of documentTypeList;let i = index">
                                <!-- <tr *ngFor="let item of documentTypeList;let i = index" cdkDrag cdkDragLockAxis="y"  [cdkDragDisabled]="item.is_editable == 1" [ngClass]="{'wrapper': item.is_editable == 1}"> -->
                                    <!-- <ng-container [ngClass]="{'wrapper': item.is_editable == 1}"> -->
                                    
                                        <td class="">{{i+1}}</td>
                                        <!-- <td class="drag-handle">{{i+1}}</td> -->
                                        <td class="">{{item?.document_type}}</td>
                                        <!-- <td>{{item?.sequence}}</td>
                                        <td>{{item?.creation | date:'medium'}}</td> -->
                                        <td class="">
                                            <!-- <span *ngIf="(item?.document_type !== 'POS Checks') && (item?.document_type !== 'Invoices') " class="cursor-pointer" (click)="docTypeModalFunc(docTypeModal,item)"><em class="ri-pencil-line btn-hover-gray p-1"></em></span> -->
                                            <!-- <span class="cursor-pointer" (click)="docTypeModalFunc(docTypeModal,item)"><em class="ri-pencil-line btn-hover-gray p-1"></em></span> -->
                                        <div class="d-flex">
                                            <!-- <span class="cursor-pointer" (click)="deleteDocType(item)"><em class="ri-delete-bin-2-line btn-hover-gray p-1"></em></span> -->
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="deleteStatus{{i}}" [(ngModel)]="item.doc_delete_status" #doc_delete_status="ngModel" name="doc_delete_status{{i}}" (change)="StatusDocType($event, item)"  [ngClass]="{'wrapper': item.is_editable == 1}" [disabled]="item.is_editable == 1">
                                                <label class="custom-control-label" for="deleteStatus{{i}}"></label>
                                            </div>
                                        </div>
                                        </td>
                                    <!-- </ng-container> -->
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between morec" *ngIf="documentTypeList.length">
                        <div class="text-right px-3">
                            <ng-container *ngIf="documentTypeList.length  < this.filters_doc_types.totalCount">
                                <p class="cursor-pointer px-2 py-1 pagination " (click)="this.filters_doc_types.start = documentTypeList.length;this.filters_doc_types.currentPage = this.filters_doc_types.currentPage+1;  updateRouterParams()">
                                    more
                                </p>
                            </ng-container>
                        </div>
                        <div class="px-3">
                            <div class="row no-gutters pagination" *ngIf="documentTypeList.length > this.filters_doc_types.itemsPerPage">
                                <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPaginationDocType(20)" [ngClass]="{'bg-count': filters_doc_types.itemsPerPage == 20 }">20</p>
                                <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPaginationDocType(50)" [ngClass]="{'bg-count': filters_doc_types.itemsPerPage == 50 }">50</p>
                                <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPaginationDocType(100)" [ngClass]="{'bg-count': filters_doc_types.itemsPerPage == 100 }">100</p>
                                <p class="px-2 py-1 mb-0 cursor-pointer" (click)="checkPaginationDocType(500)" [ngClass]="{'bg-count': filters_doc_types.itemsPerPage == 500 }">500</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #signature_settings>
      <div class="card mt-3" style="height: 90vh;overflow: auto;">
        <div class="card-body ">
          <form #form="ngForm">
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label for="digital_signature">Digital Signature</label>
                  <select class="custom-select" name="digital_signature" id="digital_signature" #digital_signature = 'ngModel' [(ngModel)]="clbsSettings.digital_signature" required>
                    <!-- <option hidden selected>Select</option> -->
                    <option value = "0">Disable</option>
                    <option value = "1">Allow</option>
                  </select>
                  <small class="text-danger" *ngIf="digital_signature.touched && digital_signature?.errors?.required">Required</small>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="portal_automation">Portal Automation</label>
                  <select class="custom-select" name="portal_automation" id="portal_automation" #portal_automation = 'ngModel' [(ngModel)]="clbsSettings.portal_automation" required>
                    <option hidden selected>Select</option>
                    <option value = 0>Disable</option>
                    <option value = 1>Allow</option>
                  </select>
                  <small class="text-danger" *ngIf="portal_automation.touched && portal_automation?.errors?.required">Required</small>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-12 mb-2">
                <div class="d-flex">
                    <h6>Signature Co-ordinates </h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="form-group input-with-label">
                    <input type="text" name="x1" id="QrRectX0" class="form-control" [(ngModel)]="clbsSettings.x1" #x1="ngModel" required>
                    <label for="x1">X1</label>
                    <small class="text-danger" *ngIf="x1.touched && x1?.errors?.required">Required</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="form-group input-with-label">
                    <input type="text" name="x2" id="x2" class="form-control" [(ngModel)]="clbsSettings.x2" #x2="ngModel" required>
                    <label for="x2">X2</label>
                    <small class="text-danger" *ngIf="x2.touched && x2?.errors?.required">Required</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="form-group input-with-label">
                    <input type="text" name="y1" id="y1" class="form-control" [(ngModel)]="clbsSettings.y1" #y1="ngModel" required>
                    <label for="y1">Y1</label>
                    <small class="text-danger" *ngIf="y1.touched && y1?.errors?.required">Required</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="form-group input-with-label">
                    <input type="text" name="y2" id="y2" class="form-control" [(ngModel)]="clbsSettings.y2" #y2="ngModel" required>
                    <label for="y2">Y2</label>
                    <small class="text-danger" *ngIf="y2.touched && y2?.errors?.required">Required</small>
                </div>
            </div>
            </div> -->
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary" (click)="saveSignatureDetails(form)">save</button>
          </div>
          </form>


        </div>
    </div>
    </ng-template>
</section>


<ng-template #eventModal let-modal>
    <div class="modal-header">
        <h5 id="modal-basic-title">Event</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm">

            <div class="form-group">
                <label for="event_name">Event Name</label>
                <input type="text" class="form-control" id="event_name" name="event_name" [(ngModel)]="eventInfo.event_name " #event_name="ngModel" required>
            </div>

            <div class="mt-3 text-right">
                <button class="btn btn-primary btn-sm" type="button" *ngIf="!eventInfo?.name" (click)="eventFormAdd(form,modal)">Add</button>
                <button class="btn btn-primary btn-sm" type="button" *ngIf="eventInfo?.name" (click)="eventFormEdit(form,modal)">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #docTypeModal let-modal>
    <div class="modal-header">
        <h5 id="modal-basic-title">Document Type</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm">

            <div class="form-group">
                <label for="document_type">Document Type</label>
                <input type="text" class="form-control" id="document_type" name="document_type" [(ngModel)]="documentTypeInfo.document_type " #document_type="ngModel" required>
            </div>

            <div class="mt-3 text-right">
                <button class="btn btn-primary btn-sm" type="button" *ngIf="!documentTypeInfo?.name" (click)="docTypeFormAdd(form,modal)">Add</button>
                <button class="btn btn-primary btn-sm" type="button" *ngIf="documentTypeInfo?.name" (click)="docTypeFormEdit(form,modal)">Save</button>
            </div>
        </form>
    </div>
</ng-template>
