<section class="border-bottom bg-linear py-2 px-3">
    <div class="container-fluid px-5 ">
        <div class="d-flex no-gutters justify-content-between">
            <div class="d-flex">
                <!-- <h6 class="mb-0 text-white"><strong>EzyGST</strong></h6> -->
                <!-- <p class="mb-0 text-white">'------'</p> -->
                <h6 class="mb-0 text-white"><strong>{{companyDetails?.company_name || 'EzyGST'}}</strong></h6>
                <div class="mx-2 text-white font-weight-bold">|</div>
                <p class="mb-0 text-white">{{companyDetails?.gst_number|| '------'}}</p>
            </div>
            <div>
                <h4 class="mb-0 text-white">Ezy<span class="mx-1 text-white">|</span> <strong>GST</strong> </h4>
            </div>
            <!-- <div class="mt-1">
                <app-ret-period></app-ret-period>
            </div> -->

        </div>
    </div>
</section>
<section class="mt-4 px-3">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-4">

                <!-- <app-ret-period></app-ret-period> -->
                <div class="d-flex align-items-center">
                    <div>
                        <p class="m-0"> <small class="pr-2">Return Period</small></p>
                    </div>
                    <div class="flex-fill">

                        <div class="">
                            <select id="my-select" class="form-control" name="month" [(ngModel)]="filters.search.month" (ngModelChange)="selectMonthYear($event,'month')">
                            <option *ngFor="let mon of monthList" [value]="mon.short">{{mon.long}}</option>
                        </select>
                        </div>
                    </div>

                    <div class="flex-fill ml-3">

                        <div class="">
                            <select id="my-select" class="form-control px-4" name="year" [(ngModel)]="filters.search.year" (ngModelChange)="selectMonthYear($event,'year')">
                            <option *ngFor="let yr of yearsList">{{yr}}</option>
                        </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="mt-4 ">
    <div class="container-fluid px-5">
      <div class="d-flex justify-content-between mb-2">
          <div class="gst-heading">
              <h5 class="mb-0"><b>GSTR 1</b></h5>
          </div>
      </div>
      <div class="d-flex">
        <div class="gst-card hover-effect shadow-sm mr-2" (click)="invoiceReconcilation()">
          <div class="d-flex justify-content-between">
              <div class="gst-circle2">
                  <h5>IR</h5>
              </div>
              <div class="gst-title" style="width:64%">
                  <p class="title">Invoice Reconciliation</p>
                  <p class="font-13" ngbTooltip="{{invoice_recon_last_updated | date:'dd/MM/yyyy hh:mm:ss'}}">Last Updated On: <small><strong>{{invoice_recon_last_updated | date:'dd/MM/yyyy hh:mm:ss'}}</strong></small></p>
              </div>
              <div class="arrow-right">
                  <i class="ri-arrow-right-s-line"></i>
              </div>
          </div>
      </div>
      <div class="gst-card hover-effect shadow-sm mx-2" [routerLink]="['/gstr/gstr1']">
        <div class="d-flex justify-content-between">
            <div class="gst-circle">
                <h5>R1</h5>
            </div>
            <div class="gst-title">
                <p class="title">GSTR 1</p>
                <p class="font-13">Documents: {{documentsCountGstr1}}</p>
            </div>
            <div class="arrow-right">
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
    </div>
    <div class="gst-card hover-effect shadow-sm py-3 mx-2" (click)="gstInvoice();comingSoon()">
      <div class="d-flex justify-content-between">
          <div class="gst-title2">
              <p class="title">E-invoicing Vs Ezy Invoicing</p>
              <button class="btn btn-sm btn-primary" type="button">GSTR 1</button>
          </div>
          <div class="arrow-right2">
              <i class="ri-arrow-right-s-line"></i>
          </div>
      </div>
  </div>
      </div>

    </div>
</section>

<section class="mt-4 cus-card">
    <div class="container-fluid px-5">
        <div class="d-flex justify-content-between mb-2">
            <div class="gst-heading">
                <h5 class="mb-0"><b>GSTR 2</b></h5>
            </div>
        </div>
        <div class="d-flex">
          <div class="gst-card hover-effect shadow-sm py-4 mr-2" (click)="comingSoon()">
            <div class="d-flex justify-content-between">
                  <div class="gst-circle2">
                      <h5>PR</h5>
                  </div>
                  <div class="gst-title">
                      <p class="title">Purchase Register</p>
                      <p class="font-13">Documents: 0</p>
                  </div>
                  <div class="arrow-right">
                      <i class="ri-arrow-right-s-line"></i>
                  </div>
              </div>
          </div>
          <div class="gst-card hover-effect shadow-sm mx-2" [routerLink]="['/gstr/gstr2']" (click)="comingSoon()">
              <div class="d-flex justify-content-between">
                  <div class="gst-title2">
                      <p class="title">2A vs Purchase Register</p>
                      <button class="btn btn-sm btn-primary" type="button">GSTR 2</button>
                      <!-- <button [routerLink]="[ '/gstr/invoice' ]" [queryParams]="{type:'B2B',category:'Tax'}" class="btn btn-sm btn-primary" type="button">GSTR 2</button> -->
                  </div>
                  <div class="arrow-right2">
                      <i class="ri-arrow-right-s-line"></i>
                  </div>
              </div>
          </div>
          <div class="gst-card hover-effect shadow-sm mx-2" (click)="comingSoon()" >
              <div class="d-flex justify-content-between">
                  <div class="gst-title2">
                      <p class="title">2B vs Purchase Register</p>
                      <button class="btn btn-sm btn-primary" type="button">GSTR 2</button>
                  </div>
                  <div class="arrow-right2">
                      <i class="ri-arrow-right-s-line"></i>
                  </div>
              </div>
          </div>
        </div>

    </div>
</section>
