.date {
    max-width: 250px;
    height: 35px;
    font-size: 13px;
}

.border-bottom p {
    font-size: 15px !important;
    margin-bottom: 0 !important;
}

.view {
    background: #0070d4;
    padding: 2px 40px !important;
    border-radius: 6px !important;
}

.cus-card p {
    font-size: 13px;
}

.form-control {
    font-size: 14px;
    height: 35px;
}

.custom-select {
    height: 35px;
}

// .disabled {
//     cursor: not-allowed;
//     opacity: 0.6;
// }
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.gst-card {
    position: relative;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 13px;
    height: 107px;
    width: 320px;
}

.gst-card>.foreground {
    height: 100%;
    width: 100%;
}

.gst-card .foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    background-color: #042354;
    transition: .5s ease;
    opacity: 0.8;
}

.foreground {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #fff;
        font-size: 18px !important;
    }
}

.gst-card:hover .foreground {
    transform: translateX(0);
}

.flex-fill {
    max-width: 300px !important;
}

.arrow-right i {
    font-size: 24px;
    line-height: 45px;
}

.arrow-right2 i {
    font-size: 24px;
    line-height: 2.5;
}

.gst-circle {
    width: 52px;
    height: 52px;
    background-color: #1DFFE4;
    text-align: center;
    border-radius: 50%;
}

.gst-circle2 {
    width: 52px;
    height: 52px;
    background-color: #E7E26F;
    text-align: center;
    border-radius: 50%;
}

.gst-circle2 h5 {
    font-size: 20px;
    line-height: 50px;
    color: #183153;
}

.gst-circle h5 {
    font-size: 20px;
    line-height: 50px;
    color: #183153;
}

.gst-title {
    // width: 130px;
    padding: 4px 0;
}

.gst-title .title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0;
    color: #183153;
}

.gst-title2 {
    width: auto;
}

.gst-title2 .title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #183153;
    margin-bottom: 10px;
}

.gst-title .font-13 {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(24, 49, 83, 0.75);

    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gst-heading h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #183153;
}

.gst-title2 .btn-primary {
    background-color: #6BC5FF;
    color: #292929;
    border-color: #6BC5FF;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.sub-heading h6 {
    color: #183153;
}

.gst-card:hover {
    cursor: pointer;
    // transform: scale(1.1, 1.1);
    // transition: 0.5s;
}

.hover-effect:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s;
}
.font-13{
  font-size: 13px !important;
}
