.w-c-50 {
    min-width: 180px;
    margin-left: 20px;
}

.dashboard-list {
    display: flex;
    justify-content: space-between;
    ul {
        margin-bottom: 0;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            height: 30%;
            width: 1px;
            background: #fff;
            opacity: 0.3;
            right: -20px;
            top: 40%;
        }
    }
    ul li {
        padding: 5px 0;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        small {
            font-size: 11px;
            color: #fff;
            opacity: 0.5;
        }
    }
    ul li:first-child {
        position: relative;
        margin-bottom: 30px;
        padding: 0;
        &:after {
            position: absolute;
            content: "";
            top: 30px;
            left: 0;
            width: 60px;
            height: 2px;
            background: var(--secondary);
        }
    }
}

.custom-hours {
    padding: 0 0 0 35px;
    h6 {
        margin: 0;
        color: #fff;
    }
    p {
        color: #fff;
        opacity: 0.5;
    }
    .pt-50 {
        padding-top: 100px;
    }
}

.each-list:nth-child(3) ul:after {
    height: 100% !important;
    top: 0;
    opacity: 0.8;
}

.each-list:nth-child(6) ul:after {
    height: 100% !important;
    top: 0;
    opacity: 0.8;
}

.card {
    h5 {
        color: #17125C;
        margin-bottom: 30px;
    }
}

.dashboard {
    .custom-select {
        border: 1px solid rgb(199, 197, 197);
        height: auto;
    }
}

.table-responsive{
    height: 300px;
}
select{
    background-color: #eee;
}

.opacity-0{opacity: 0;}

.update{
    position: absolute;
    top: 6.5rem;
    right: 3rem;

    .btn{
        animation: shadow-pulse 1s infinite;
    }

  }

  @keyframes pulse{
    0% {
		transform: scale(0.85);
	}

	70% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(0.85);
	}
}

