<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white">Permissions</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <select appMatInput name="roles" id="roles" class="custom-select" placeholder="Select role"
                    (change)="selectRole($event)" [(ngModel)]="selectedRole" required>
                    <option *ngFor="let item of rolesList" [value]="item?.name">{{item?.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Document Type</th>
                        <th>Level</th>
                        <th>Read</th>
                        <th>Write</th>
                        <th>Create</th>
                        <th>Delete</th>
                        <th>Submit</th>
                        <th>Cancel</th>
                        <th>Amend</th>
                        <th>Set User Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of permissionsList;let i =index">
                        <td>{{(i+1) }}</td>
                        <td>{{item?.parent}}</td>
                        <td>{{item?.permlevel}}</td>
                        <td><i *ngIf="item?.read == '1'" class="ri-check-line"></i></td>
                        <td><i *ngIf="item?.write == '1'" class="ri-check-line"></i></td>
                        <td><i *ngIf="item?.create == '1'" class="ri-check-line"></i></td>
                        <td><i *ngIf="item?.delete == '1'" class="ri-check-line"></i></td>
                        <td><i *ngIf="item?.submit == '1'" class="ri-check-line"></i></td>
                        <td><i *ngIf="item?.cancel == '1'" class="ri-check-line"></i></td>
                        <td><i *ngIf="item?.amend == '1'" class="ri-check-line"></i></td>
                        <td><i *ngIf="item?.set_user_permissions == '1'" class="ri-check-line"></i></td>
                    </tr>

                </tbody>
            </table>
            <div class="text-center py-3" *ngIf="!permissionsList.length">
                <h5>No Data Found</h5>
            </div>
        </div>

    </div> -->
   
    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>S.No</th>
                        <th>Module</th>
                      <th>Route</th>
                      
                      <th>Read</th>
                      <th>Write</th>
                      <th>Create</th>
                      <th>Export</th>
                      <th>Delete</th>
                      <th>Modified On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <input type="search" class="form-control form-control-sm bg-grey" placeholder="Module"
                            id="module" [(ngModel)]="permissionObj.module" (ngModelChange)="permissionObj.route = null">
                        </td>
                        <td>
                            <input type="search" class="form-control form-control-sm bg-grey" placeholder="Route"
                            id="route" [(ngModel)]="permissionObj.route" (ngModelChange)="permissionObj.module = null">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of permissionsList| searchPermission :permissionObj.module :permissionObj.route; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{item?.module}}</td>
                        <td>{{item?.select_route}}</td>
                        <td class="">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="read" [(ngModel)]="item.read" ngModel name="read" (change)="switchRole()">
                            <label class="form-check-label" for="read"></label>
                         </div>
                        </td>
                        <td class="">
                          <div class="form-check form-switch">
                            <input [disabled]="!item.read" class="form-check-input" type="checkbox" id="write" [(ngModel)]="item.write" ngModel name="write" (change)="switchRole()">
                            <label class="form-check-label" for="write"></label>
                         </div>   
                        </td>
                          <td class="">
                            <div class="form-check form-switch">
                              <input [disabled]="!item.read" class="form-check-input" type="checkbox" id="create" [(ngModel)]="item.create" ngModel name="create" (change)="switchRole()">
                              <label class="form-check-label" for="create"></label>
                           </div>   
                          </td>
                          <td class="">
                            <div class="form-check form-switch">
                              <input [disabled]="!item.read" class="form-check-input" type="checkbox" id="export" [(ngModel)]="item.export" ngModel name="export" (change)="switchRole()">
                              <label class="form-check-label" for="export"></label>
                           </div>  
                          </td>
                          <td class="">
                            <div class="form-check form-switch">
                              <input [disabled]="!item.read" class="form-check-input" type="checkbox" id="delete_perm" [(ngModel)]="item.delete_perm" ngModel name="delete_perm" (change)="switchRole()">
                              <label class="form-check-label" for="delete_perm"></label>
                           </div>
                          </td>
                          <td>{{item?.modified | date :'short' }}</td>
                      </tr>
                        <tr *ngIf="permissionsList?.length == 0">
                            <td colspan="8" class="no-data-row">No Data Found</td>
                        </tr>

                </tbody>
            </table>
            <div class="text-center py-3" *ngIf="!permissionsList.length">
                <h5>No Data Found</h5>
            </div>
        </div>

    </div>
</section>