<section>

  <div class="row mb-3">
    <div class="col-md-9 col-lg-9">
      <div class="d-flex">
        <h4 class="font-weight-bold text-white">Roles</h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="position-relative mt-2 mt-lg-0 mt-md-0">
        <input type="search" class="form-control pl-5" [(ngModel)]="filters.search"
          (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)" #search
          placeholder="Search">
        <span class="search"><i class="ri-search-line"></i></span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead">
          <tr>
            <th>#</th>
            <th>Name</th>
            <!-- <th>Role</th> -->
            <th>Last Modified </th>
            <th>Users</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of roleList;let i =index">
            <td>{{this.filters.itemsPerPage * (this.filters.currentPage - 1) + (i+1) }}</td>
            <td>{{item?.name}}</td>
            <!-- <td>{{item?.role_name}}</td> -->
            <td> {{item?.modified | date:["MMM d, y, h:mm a"]}}</td>
            <td><a (click)="ShowUsers(item,i)">Show Users</a></td>
          </tr>

        </tbody>
      </table>
      <div class="text-center py-3" *ngIf="!roleList.length">
        <h5>No Data Found</h5>
      </div>
    </div>
   

  </div>
</section>

<ng-template #showUsers let-modal>
  <div class="modal-header">
    <h6> <strong>{{selectedRole?.name}} </strong> </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <div class="a-logs">
      <ul class="list-unstyled px-3">
        <li *ngFor="let item of usersList">
          {{item | titlecase}}
        </li>
      </ul>
    </div>
  </div>

</ng-template>