<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white my-auto">Tablets<small>({{this.filters.totalCount}})</small></h4>
                <!-- <button class="create btn btn-primary" (click)="addtablet(tabletModal,'Add',null)"><i class="ri-add-line"></i></button> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" [(ngModel)]="filters.search" (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)" #search (keyup.enter)="updateRouterParams()" placeholder="Search by Device Name">
                <span class="search"><i class="ri-search-line"></i></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Device Name</th>
                                    <th>Tablet Name</th>
                                    <th>IP Address</th>
                                    <th>Creation</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tabletList">
                                    <td>{{item?.index}}</td>
                                    <td>
                                        {{item?.device_name}}
                                    </td>
                                    <td>
                                        {{item?.tablet}}
                                    </td>

                                    <td>
                                        {{item?.ip_address}}
                                    </td>

                                    <td>
                                        {{item?.creation}}
                                    </td>
                                    <td> <span> 
                                        <!-- <a (click)="addtablet(tabletModal,'Edit',item)">Edit</a> -->
                                     </span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center py-3" *ngIf="!tabletList.length">
                            <h5>No Data Found</h5>
                        </div>
                        <div class="d-flex pb-2 justify-content-between" *ngIf="tabletList.length">
                            <div class="px-3">
                                <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
                                    <option [value]="20">20</option>
                                    <option [value]="50">50</option>
                                    <option [value]="100">100</option>
                                    <option [value]="150">150</option>
                                    <option [value]="500">500</option>
                                </select>
                            </div>
                            <div *ngIf="tabletList.length  < this.filters.totalCount">
                                <p class="text-right pr-5 more text-primary" (click)="this.filters.start = tabletList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                                    more
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #tabletModal let-modal>
    <div class="modal-header">
        <h6><b class="text-capitalize">{{viewType}} Tablet</b></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="tablet">Tablet</label>
                        <input id="tablet" class="form-control" type="text" name="tablet" [(ngModel)]="tabletDetails.tablet" required #tablet="ngModel">
                        <small class="text-danger" *ngIf="form.touched && tablet?.errors?.required">Required</small>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="device_name">Device Name</label>
                        <input id="device_name" class="form-control" type="text" name="device_name" [(ngModel)]="tabletDetails.device_name" required #device_name="ngModel">
                        <small class="text-danger" *ngIf="form.touched && device_name?.errors?.required">Required</small>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ip_address">IP Address</label>
                        <input id="ip_address" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0  || event.charCode==190 || event.charCode==110 || event.charCode==46 || (event.charCode >= 48 && event.charCode <= 57 ))" (change)="getPrinter($event)"
                            type="text" name="ip_address" [(ngModel)]="tabletDetails.ip_address" required #ip_address="ngModel">
                        <small class="text-danger" *ngIf="form.touched && ip_address?.errors?.required">Required</small>
                        <div *ngIf="ipValid">
                            <small class="text-danger"><b>You have entered an invalid IP address!</b></small>
                        </div>
                    </div>
                </div>

                <div class="text-right col-md-12">
                    <button (click)="modal.dismiss('Cross click')" class="btn btn-outline-primary" type="button">Cancel</button>
                    <button class="btn btn-primary ml-3" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>

</ng-template>