<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white">Email Logs <small>({{this.filters.totalCount}})</small></h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" [(ngModel)]="filters.search" (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)" #search placeholder="Search by invoice number">
                <span class="search"><i class="ri-search-line"></i></span>
            </div>
        </div>
    </div>

    <div class="card pb-2">
        <virtual-scroller #scroll [items]="emailLogList">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead" #head>
                        <tr>
                            <th>#</th>
                            <th>Invoice Number</th>
                            <th>Sent To</th>
                            <th>Sent At</th>
                            <th>Sent By</th>
                            <th>Status</th>
                            <!-- <th>Actions</th> -->

                        </tr>
                    </thead>
                    <tbody #container>
                        <tr *ngFor="let item of scroll.viewPortItems;let i =index">
                            <td>{{item.index}}</td>
                            <td>{{item?.reference_name}}</td>
                            <td>{{item?.to}}</td>
                            <td>{{item?.creation | date:["MMM d, y, h:mm a"]}}</td>
                            <td>{{item?.modified_by}}</td>
                            <td>
                                <span class="badge" [ngClass]="{'badge-success': item.status == 'Sent','badge-warning':item.status == 'Sending','badge-default':item.status == 'Not Sent','badge-default':item.status == 'Expired', 'badge-danger':item.status == 'Error'}">
                                {{item?.status}}</span>
                            </td>
                            <!-- <td></td> -->

                        </tr>

                    </tbody>
                </table>
                <div class="text-center py-3" *ngIf="!emailLogList.length">
                    <h5>No Data Found</h5>
                </div>

            </div>
        </virtual-scroller>
        <div class="d-flex pb-2 justify-content-between" *ngIf="emailLogList.length">
            <div class="px-3">
                <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="150">150</option>
                    <option [value]="500">500</option>
                </select>
            </div>
            <div *ngIf="emailLogList.length  < this.filters.totalCount">
                <p class="text-right pr-5 more text-primary" (click)="this.filters.start = emailLogList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                    more
                </p>
            </div>
        </div>

    </div>
</section>