<section class="m-0 pb-5 mb-2 fullpage">
    <div class="row m-0 my-3">
        <div class="col  ">
            <div class="misiing bg1 d-flex justify-content-between">
                <h6><b>Missing in GSTR 2</b></h6>
                <h6><b>02</b></h6>
            </div>
        </div>
        <div class="col  ">
            <div class="misiing bg2 d-flex justify-content-between">
                <h6><b>Missing in GSTR 2A</b></h6>
                <h6><b>02</b></h6>
            </div>
        </div>
        <div class="col ">
            <div class="misiing bg3 d-flex justify-content-between">
                <h6><b>Data Mismatch</b></h6>
                <h6><b>02</b></h6>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-5">
            <div class="px-3 py-2 my-2 ml-4 misiing bg1 text-center">
                <h6><b>GSTR 2 Data</b></h6>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered numberedTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">Invoice Date</th>
                            <th scope="col">Invoice Number</th>
                            <th scope="col">Invoice Value</th>
                            <th scope="col">Place of Supply</th>
                            <th scope="col">Reverse Charge</th>
                            <th scope="col">Invoice Type</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Taxable Value</th>
                            <th scope="col">IGST</th>
                            <th scope="col">CGST</th>
                            <th scope="col">SGST</th>
                            <th scope="col">CESS</th>
                            <th scope="col">Eligibility for IGST</th>
                            <th scope="col">Availed IGST</th>
                            <th scope="col">Availed CGST</th>
                            <th scope="col">Availed SGST</th>
                            <th scope="col">Availed CESS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="blank_row">
                            <td colspan="12">Hhhgf </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr class="blank_row">
                            <td colspan="12"> Hhhgf</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-5">
            <div class="px-3 py-2 my-2 misiing bg2 text-center">
                <h6> GSTR 2A Data</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Invoice Date</th>
                            <th scope="col">Invoice Number</th>
                            <th scope="col">Invoice Value</th>
                            <th scope="col">Place of Supply</th>
                            <th scope="col">Reverse Charge</th>
                            <th scope="col">Invoice Type</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Taxable Value</th>
                            <th scope="col">IGST</th>
                            <th scope="col">CGST</th>
                            <th scope="col">SGST</th>
                            <th scope="col">CESS</th>
                            <th scope="col">Eligibility for IGST</th>
                            <th scope="col">Availed IGST</th>
                            <th scope="col">Availed CGST</th>
                            <th scope="col">Availed SGST</th>
                            <th scope="col">Availed CESS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="blank_row">
                            <td colspan="17">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr class="blank_row">
                            <td colspan="17">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>

                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-2">
            <div class="px-3 py-2 my-2 bgColorWhite text-center">
                GSTR 2 Data
            </div>
            <div class="table-responsive pt-1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="blank_row">
                            <td colspan="12">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr class="blank_row">
                            <td colspan="12">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr class="blank_row">
                            <td colspan="12">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr class="blank_row">
                            <td colspan="12">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr class="blank_row">
                            <td colspan="12">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr class="blank_row">
                            <td colspan="12">Hhhgf</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>1,001</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>