<div class="container-fluid h-100vh">
  <section >
    <div class="row py-2 filter-card">
        <div class="col-md-5 grid">
            <div class="d-flex align-items-center">
                <h6 class="mt-2"><b>Companies ({{filters.totalCount}})</b></h6>
                <!-- <button [routerLink]="[ '/clbs/create-contact' ]" class="btn btn-primary shadow ml-3" type="button"><i class="ri-add-line"></i></button> -->
            </div>
        </div>
    </div>

    <div class="card row mt-3 list-table shadow-sm">
        <div class="col-md-12 p-0">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Company</th>
                            <!-- <th>Legal Name</th> -->
                            <th>GST No.</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                          <td></td>
                          <td>
                              <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                  <i class="ri-search-line"></i>
                </span>
                                  </div>
                                  <input #searchCompany type="search" [(ngModel)]="filters.searchCompany" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                              </div>
                          </td>
                          <td>
                              <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                  <i class="ri-search-line"></i>
                </span>
                                  </div>
                                  <input #search type="search" [(ngModel)]="filters.search" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                              </div>
                          </td>

                          <td>
                              <div class="form-group mb-0">
                                  <select id="summaryStatus" class="custom-select" [(ngModel)]="filters.status" (change)="onSearch.emit(filters)">
                <option value="">Showing all</option>
                <option value="Active">Active</option>
                <option value="In-Active">In-Active</option>
              </select>
                              </div>
                          </td>
                          <td></td>
                      </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of taxpayerList;let i = index" class="summary-table-tr" [routerLink]="['../../clbs/taxpayer-details/']" [queryParams]="{type:'Edit',name:item.name}">
                            <td>
                                {{i+1}}
                            </td>
                            <td>{{item.trade_name}}</td>
                            <!-- <td>{{item.legal_name}}</td> -->
                            <td>{{item.gst_number}}</td>
                            <td>{{item.status }}</td>
                            <td>
                                <!-- <span data-bs-toggle="tooltip" data-bs-placement="top" title="View" [routerLink]="['../../clbs/taxpayer-details/']" [queryParams]="{type:'View',name:item.name}"
                      queryParamsHandling="merge"
                      class="view"><i class="ri-eye-line"></i></span> -->
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="View" [routerLink]="['../../clbs/taxpayer-details/']" [queryParams]="{type:'Edit',name:item.name}" class="view pl-2"><i class="ri-eye-line"></i></span>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>




        </div>
    </div>
    <div class="d-flex justify-content-between morec pt-3" *ngIf="taxpayerList.length">
      <div class="text-right px-3">
          <ng-container *ngIf="taxpayerList.length  < this.filters.totalCount">
              <p class="cursor-pointer px-2 py-1 pagination " (click)="this.filters.start = taxpayerList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                  more
              </p>
          </ng-container>
      </div>
      <div class="px-3">
          <div class="row no-gutters pagination">
              <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(20)" [ngClass]="{'bg-count': filters.itemsPerPage == 20 }">20</p>
              <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(50)" [ngClass]="{'bg-count': filters.itemsPerPage == 50 }">50</p>
              <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(100)" [ngClass]="{'bg-count': filters.itemsPerPage == 100 }">100</p>
              <p class="px-2 py-1 mb-0 cursor-pointer" (click)="checkPagination(500)" [ngClass]="{'bg-count': filters.itemsPerPage == 500 }">500</p>
          </div>
      </div>

  </div>
</section>
</div>

