pdfplumber==0.10.1
pandas==1.5.3
qrcode
google-cloud-storage
XlsxWriter
wget
watchdog
ippserver
xmltodict
python-escpos==2.2.0
Pillow
dateparser
pyzbar
text-to-image
scipy
pytesseract
pdf2image
opencv-python
email-to
pyshorteners
tensorflow
razorpay
selenium
pytesseract
WeasyPrint==52.2
html2text
# opencv-python
typing-extensions
paytmchecksum
opencv-python
fitz
pgeocode
datefinder
PyMuPDF
pyHanko
uharfbuzz
fontTools
mail-parser
email-listener
# attrs