<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white">Deleted Invoices <small>({{this.filters.totalCount}})</small></h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" [(ngModel)]="filters.search"
                    (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)"
                    #search placeholder="Search by invoice number">
                <span class="search"><i class="ri-search-line"></i></span>
            </div>
        </div>
    </div>

    <div class="card pb-2">
        <div class="table-responsive">
            <virtual-scroller #scroll [items]="deletedList">
            <table class="table">
                <thead class="thead" #head>
                    <tr>
                        <th>#</th>
                        <th>Invoice Number</th>
                        <th>Deleted At</th>
                        <th>Deleted By</th>
                        <th>File</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody #container>
                    <tr *ngFor="let item of scroll.viewPortItems;let i =index">
                        <!-- <td>{{this.filters.itemsPerPage * (this.filters.currentPage - 1) + (i+1) }}</td> -->
                        <td>{{item.index}}</td>
                        <td>{{item?.deleted_name}}</td>
                        <td>{{item?.creation | date:["MMM d, y, h:mm a"]}}</td>
                        <td>{{item?.modified_by}}</td>
                        <td><span *ngIf="item?.invoice_file" ><a class="" appPermissionButton accessType="write" moduleType="docType"
                                    (click)="ViewFile(item,'view')">View</a></span></td>
                        <td><span *ngIf="item?.restored == 0 && item?.invoice_file"><a class="" appPermissionButton accessType="write"
                                    moduleType="docType" (click)="restoreFile(item,'edit')">Restore</a></span></td>

                    </tr>

                </tbody>
            </table>
        </virtual-scroller>
            <div class="text-center py-3" *ngIf="!deletedList.length">
                <h5>No Data Found</h5>
            </div>
            <div class="d-flex justify-content-between" *ngIf="deletedList.length">
                <div class="px-3">
                    <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
                        (change)="checkPagination()" id="itemsPerPage">
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                        <option [value]="150">150</option>
                        <option [value]="500">500</option>
                    </select>
                </div>
                <div *ngIf="deletedList.length  < this.filters.totalCount">
                    <p class="text-right pr-5 more text-primary"
                        (click)="this.filters.start = deletedList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                        more
                    </p>
                </div>
            </div> 
        </div>

    </div>
</section>


<!-- <ng-template #content let-modal>
    <div class="modal-header border-0">
      <h6 id="modal-basic-title"><strong></strong></h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body ">
      <form #form="ngForm">
        <div class="form-group">
          <input [(ngModel)]="new_password" appMatInput id="newPassword" class="form-control" type="password"
            name="new_password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$" required>
          <label for="newPassword" class="mat-label">New Password</label>
          <small class="text-mute">should contain special characters and alphanumeric </small><br>
          <small class="text-danger" *ngIf="form.submitted && new_password?.errors?.required ">Required</small>
          <small class="text-danger" *ngIf="form.submitted && new_password.errors.pattern">Check password pattern</small>
        </div>
      </form>
    </div>
    <div class="modal-footer border-0 d-block text-center pb-4">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      <button type="button" (click)="onSubmit()" class="btn btn-primary">Confirm</button>
    </div>
  
  </ng-template> -->