<header class="shadow py-2">
  <div class="container">
      <div class="row">
          <div class="col-md-2">
              <div>
                  <img class="img-fluid" [src]="domain+company?.company_logo" alt="">
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container-fluid">

<section class="my-4 ">
    <div class="container c-invoice" *ngIf="step1">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h6><b><i (click)="goback()" class="ri-arrow-left-line arrow-back"></i> <span class="ml-3"> Summary Details</span></b></h6>

                <form #formstep1="ngForm">
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="summary_title">Summary Title</label>
                                <input class="form-control" type="text" name="summary_title" [(ngModel)]="summaryData.summary_title" #summary_title="ngModel" placeholder="Summary Title" required>
                                <small class="text-danger" *ngIf="summary_title.touched && summary_title?.errors?.required">Required</small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group contact-select">
                                <label for="">Company</label>
                                <div>
                                    <input autocomplete="off" class="form-control" type="text" placeholder="Select Company" name="tax_payer_details" id="tax_payer_details" #tax_payer_details='ngModel' [(ngModel)]="summaryData.tax_payer_details" (keyup)="companySearch(tax_payer_details);"
                                        (focus)="inputfocus()" (blur)="inputblur()" required />
                                    <div class="companyInputErrorMsg">
                                        <small class="text-danger" *ngIf="tax_payer_details.touched && tax_payer_details?.errors?.required">Required</small>
                                        <small><b>{{taxpayertrade_name}}</b></small>
                                        <p class="text-danger m-0">{{this.enteredConfNumber == 'invalid'?'Enter valid Confirmation number':''}}</p>
                                    </div>

                                    <div class="input-wrapper paragraphClass">

                                        <ul class="p-0">
                                            <li>
                                                <div class="card" *ngFor="let item1 of taxpayerList" (click)="itemSelection(item1);">
                                                    <div class="card-body p-2">
                                                        <p class="font-weight-bold m-0">
                                                            {{ item1?.name }}
                                                        </p>
                                                        <p class="m-0">
                                                            {{ item1?.trade_name || "NA" }}
                                                        </p>
                                                    </div>

                                                </div>
                                            </li>

                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group contact-select">
                                <label for="">Location </label>
                                <ng-select [disabled]="pageType == 'view'" id="location" class="custom-select ngselect p-0 border-0" name="location" #location='ngModel' bindValue="cf7182ab63" [(ngModel)]="summaryData.location" required="" [items]="taxpayerLocations" bindValue="name"
                                    bindLabel="location" (change)="selectedLocationDetails = $event;" placeholder="Select Location">
                                    <ng-template ng-footer-tmp *ngIf="summaryData.tax_payer_details">
                                        <div class="text-right">
                                            <p class="btn btn-outline-primary btn-sm  pt-2 mb-0" (click)="openLocationModel()"> Add Location</p>
                                        </div>
                                    </ng-template>
                                </ng-select>
                                <small class="text-danger" *ngIf="location.touched && location?.errors?.required">Required</small>
                            </div>
                        </div>

                        <!-- for address  -->
                        <div class="col-md-12 mb-2" *ngIf="selectedLocationDetails">
                            <div class="row m-auto w-100">
                                <div class="col-6 card py-2">
                                    <div class="my-2">
                                        <p class="m-0 c-title">Location</p>
                                        <p class="m-0"><b>{{selectedLocationDetails?.location? selectedLocationDetails.location:'NA'}}</b></p>
                                    </div>
                                    <div class="my-2">
                                        <p class="m-0 c-title">Address</p>
                                        <p class="m-0"><b>{{selectedLocationDetails?.address?selectedLocationDetails.address:'NA'}}</b></p>
                                    </div>
                                </div>
                                <div class="col-6 card py-2">
                                    <div class="my-2">
                                        <p class="m-0 c-title">City</p>
                                        <p class="m-0"><b>{{selectedLocationDetails?.city?selectedLocationDetails.city:'NA'}}</b></p>
                                    </div>
                                    <div class="my-2">
                                        <p class="m-0 c-title">State</p>
                                        <p class="m-0"><b>{{selectedLocationDetails?.state?selectedLocationDetails.state:'NA'}}</b></p>
                                    </div>
                                    <div class="my-2">
                                        <p class="m-0 c-title">Pincode</p>
                                        <p class="m-0"><b>{{selectedLocationDetails?.pin_code?selectedLocationDetails.pin_code:'NA'}}</b></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group contact-select">
                                <label for="event_type">Select Event Type</label>
                                <ng-select id="event_type" class="custom-select ngselect p-0 border-0" name="event_type" #event_type='ngModel' [(ngModel)]="summaryData.event_type" required="" [items]="eventList" bindValue="event_name" bindLabel="event_name" placeholder="Select Event Type">
                                </ng-select>
                                <!-- <select id="event_type" class="custom-select" name="event_type" [(ngModel)]="summaryData.event_type" #event_type="ngModel">
                                <option *ngFor="let item of eventList" [value]="item.event_name">{{item.event_name}}</option>
                            </select> -->
                                <small class="text-danger" *ngIf="event_type.touched && event_type?.errors?.required">Required</small>

                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from_date">From Date</label>
                                <input class="form-control " id="from_date" name="from_date" #from_date="ngModel" [(ngModel)]="summaryData.from_date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" (dateTimeChange)="selectFromDate($event)" placeholder="dd/mm/yyyy" required>
                                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                <!-- <input class="form-control" type="date" name="from_date" [(ngModel)]="summaryData.from_date" #from_date="ngModel" placeholder="from date" (change)="selectFromDate($event)" required> -->
                                <small class="text-danger" *ngIf="from_date.touched && from_date?.errors?.required">Required</small>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="to_date">To Date</label>
                                <input class="form-control " id="to_date" name="to_date" #to_date="ngModel" [(ngModel)]="summaryData.to_date" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="dd/mm/yyyy" (dateTimeChange)="selectToDate($event)" [min]="minDate" [disabled]="!from_date.value"
                                    required>
                                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

                                <!-- <input class="form-control" type="date" name="to_date" [(ngModel)]="summaryData.to_date" #to_date="ngModel" placeholder="to date" [min]="minDate" [disabled]="!from_date.value" required> -->
                                <small class="text-danger" *ngIf="to_date.touched && to_date?.errors?.required">Required</small>
                                <small class="text-danger" *ngIf="dateErrorMsg">{{dateErrorMsg}}</small>
                            </div>
                        </div>

                    </div>

                    <div class="row ">
                        <div class="col-md-12 text-right mt-5">
                            <!-- <button class="btn btn-outline-primary px-3 c-o-b shadow-sm bg-white" type="button"><i
                                class="ri-download-fill mr-2"></i> Save as Draft</button> -->
                            <button (click)="createSummary(formstep1) " class="btn btn-primary ml-3 px-3 c-o-b1 shadow-sm" type="button" appPermissionButton accessType="create">Pick Up Summary <i
                                class="ri-arrow-right-line pl-3"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

</div>
