@import '../../../shared/styles/clbs-global.scss';

header {
    background: $clbs-primary;
    color: #fff;
    padding: 3px 0;
}

.c-b-b {
    width: 50px;
    height: 3px;
    background: rgba(255, 255, 255, 0.555);
    margin: 0 8px;
}

i {
    vertical-align: middle;
}

.arrow-back {
    font-size: 20px;
    cursor: pointer;
}

small {
    font-size: 81% !important;
}

.c-invoice .form-control,
.c-invoice .custom-select {
    background: #ffffff;
    border: 0px solid #eaeaea;
    height: 53px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.c-o-b {
    border: 1px solid #dc362b;
    box-sizing: border-box;
    border-radius: 4px;
    height: 42px;
    font-size: 13px;
    i {
        font-size: 20px;
    }
    &:hover {
        color: #dc362b;
    }
}

.c-o-b1 {
    box-sizing: border-box;
    border-radius: 4px;
    height: 42px;
    font-size: 13px;
    i {
        font-size: 20px;
    }
}

.table tbody td:first-child {
    padding: 0.3rem !important;
}

.list-table table thead tr th {
    background: #214350;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}

.table tbody tr:nth-of-type(even) {
    background-color: #fff !important;
}

#invoice-d input {
    height: 35px;
}

.circle {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #eee;
}

.circle.active {
    background: #fff;
    color: #000;
}

.c-footer {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    bottom: 0;
    background: #fff;
    left: 0;
    z-index: 99;
}

.input-wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
}

ul {
    list-style-type: none;
    overflow-y: scroll;
    max-height: 184px;
    width: 368px;
    background: white;
}

.paragraphClass {
    display: none;
}

select:disabled {
    background: #dddddd !important;
    color: black !important;
}

.img-fluid {
    max-width: 52% !important;
}
