
$clbs-primary: #213D47 !default;
$clbs-secondary: #0583AF !default;
$clbs-header:#ebeff3;

.container-fluid{
  background: #f2f4f5;
}
.h-100vh{
  height: 100vh;
}
.h-90vh{
  height: 90vh;
}
.h-80vh{
  height: 80vh;
}
.btn-primary{
  background-color: $clbs-secondary ;
  border: $clbs-secondary;
}
.btn-outline-primary{
  color: $clbs-secondary;
  border-color: $clbs-secondary;
}
.custom-control-input:checked ~ .custom-control-label::before{
  border-color:$clbs-secondary;
  background-color:$clbs-secondary
}



/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  background-color: $clbs-secondary;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):hover,
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
  background-color: $clbs-secondary;
  color: white;
}
.list-table {
  width: 100%;
  margin: 0;
  table thead tr th {
      background: $clbs-header;
      color: $clbs-primary;
      font-weight: bold !important;
  }
  table thead{
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
.table-hover tbody tr:hover{
  border-left: solid 3px $clbs-primary;
}
table tbody th,
table tbody td {
    white-space: nowrap;
    padding: 5px 10px;
    // input {
    //     max-width: 130px !important;
    //     min-width: 100px !important;
    // }
    .input-group {
        max-width: 150px;
        min-width: 110px;
    }
}
table thead th,
table thead td {
    white-space: nowrap;
    padding: 5px 10px;
    border: none ;
    .input-group {
        max-width: 150px;
        min-width: 110px;
    }
}


th:last-child,
td:last-child {
    position: sticky;
    right: 0px;
}

th:last-child {
    background: #f5f5f5;
}

td:last-child {
    background: #fff;
}





// nav tabs styles
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border: solid 1px transparent;;
    color: $clbs-secondary;
    border-bottom: 4px solid $clbs-primary !important;
}
.nav-tabs .nav-link:hover{
   color: $clbs-secondary;
   border: solid 1px transparent;
}

.nav-tabs .nav-link {
    padding: 10px 25px;
    color: #333;
}
