<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white">Users</h4>
                <button class="create btn btn-primary" [routerLink]="['/home/users-details']" appPermissionButton accessType="create" moduleType="docType"><i class="ri-add-line"></i></button>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" [(ngModel)]="filters.search" (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)" #search placeholder="Search">
                <span class="search"><i class="ri-search-line"></i></span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>UserName</th>
                        <th>Status</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of userList;let i =index">
                        <td>{{this.filters.itemsPerPage * (this.filters.currentPage - 1) + (i+1) }}</td>
                        <td>{{item?.first_name}}</td>
                        <td *ngIf="!item?.email.includes('Noshow')">{{item?.email}}</td>
                        <td *ngIf="item?.email.includes('Noshow')"></td>
                        <td>{{item?.username}}</td>
                        <td><span *ngIf="item?.enabled == '1';else statusBlock">Active</span>
                            <ng-template #statusBlock>In-Active</ng-template>
                        </td>
                        <td>
                            <ng-template #elseBlock><span><a appPermissionButton accessType="read" moduleType="docType"
                    (click)="navigateRoles(item,i)">View
                    Roles </a></span></ng-template>
                            <span *ngIf="roles && index == i ; else elseBlock"><a></a></span>
                            <span *ngIf="roles && index == i">{{roles}}</span>

                        </td>
                        <td>
                           <ng-container *ngIf="!item?.email.includes('Noshow')"> <span><a class="" appPermissionButton accessType="write" moduleType="docType"
                  (click)="editUSer(item,'edit')">Edit</a></span>
                            <span *ngIf="this.loginUser?.full_name == 'Administrator' || loginUSerRole "><a class="pl-2"
                  (click)="changePassword(content,item)">Change Password</a></span>
                            <!-- <span *ngIf="this.loginUser?.full_name == 'Administrator' || loginUSerRole "><a class="pl-2"
                  (click)="deleteUser(content,item)">Delete</a></span> -->
                  <span *ngIf="(this.loginUser?.full_name == 'Administrator' || loginUSerRole ) && companyDetails?.e_signature == 'User'"><a class="pl-2"
                            (click)="addSignature(contentSign, item?.name)">Add/View Signature</a></span>
                        </ng-container>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="text-center py-3" *ngIf="!userList.length">
                <h5>No Data Found</h5>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-between" *ngIf="userList.length">
      <div class="px-3">
        <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
          (change)="checkPagination()" id="itemsPerPage">
          <option [value]="20">20</option>
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="150">150</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <pagination-controls (pageChange)="this.filters.currentPage = $event;updateRouterParams()">
      </pagination-controls>
    </div> -->

    </div>
</section>

<ng-template #contentSign let-modal>
    <div class="signature_modal">
    <div class="modal-header">
        <div class="border-bottom">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <a ngbNavLink >Upload Pfx File</a>
                    <ng-template ngbNavContent>
                        <small><b> Add Signature </b></small>
                        <!-- Select File -->
                        <div class="form-group">
                            <input class="form-control" (change)="handlePfxFileInput($event.target.files, 'signature')" type="file" accept=".pfx" name="signature" id="signature" class="d-none form-control">
                            <label for="font_file" class="border d-block  f-upload clearfix rounded-sm position-relative w-100">
                                <small class="text-muted">{{signature_pfx ?
                                    signature_pfx : 'PFX Image'}}</small>
                            </label>

                            <label for="signature" class="float-right upload-btn">
                                {{signature_pfx ? 'Change' : 'Upload' }}
                            </label>
                        </div>

                            <div class="form-group">
                                <input [(ngModel)]="pfx_password" appMatInput id="PfxPassword" class="form-control" [type]=" showPassword ? 'text' : 'password' " name="PfxPassword" required>
                                <label for="PfxPassword" class="mat-label">Pfx Password</label>
                                <button class="eyebutton" (click)='showHidePassword()'>
                                  <i class="ri-eye-off-line" aria-hidden="true" *ngIf="!showPassword"></i>
                                  <i class="ri-eye-line" aria-hidden="true" *ngIf="showPassword"></i>
                                </button>
                            </div>

                        <!-- Image Preview -->
                        <div class="imagePreview">
                            <img class="img-fluid" [src]="domain + signature_pfx" alt="" />
                        </div>
                    </ng-template>
                  </li>
                <li ngbNavItem>
                  <a ngbNavLink >Upload Signature</a>
                  <ng-template ngbNavContent>
                    <small><b> Add Signature </b></small>
                    <!-- Select File -->
                    <div class="form-group">
                        <input class="form-control" (change)="handleFileInput($event.target.files, 'signature')" type="file" accept="image/png, image/jpeg" name="signature" id="signature" class="d-none form-control">
                        <label for="font_file" class="border d-block  f-upload clearfix rounded-sm position-relative w-100">
                            <small class="text-muted">{{signature_img ?
                                signature_img : 'Signature Image'}}</small>
                        </label>

                        <label for="signature" class="float-right upload-btn">
                            {{signature_img ? 'Change' : 'Upload' }}
                        </label>
                    </div>

                    <!-- Image Preview -->
                    <div class="imagePreview">
                        <img class="img-fluid" [src]="domain + signature_img" alt="" />
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
        <!-- <h6 id="modal-basic-title m-0"><strong>Add Signature</strong></h6> -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body">
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="modal-footer border-0 d-block text-center pb-4">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" [disabled]="!(signature_pfx != null && pfx_password)" (click)="saveSignature()" class="btn btn-primary">Confirm</button>

    </div>
</div>
</ng-template>



<ng-template #content let-modal>
    <div class="modal-header border-0">
        <h6 id="modal-basic-title"><strong></strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body ">
        <form #form="ngForm">
            <div class="form-group">
                <input [(ngModel)]="new_password" appMatInput id="newPassword" class="form-control" type="password" name="new_password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$" required>
                <label for="newPassword" class="mat-label">New Password</label>
                <small class="text-mute">should contain special characters and alphanumeric </small><br>
                <small class="text-danger" *ngIf="form.submitted && new_password?.errors?.required ">Required</small>
                <small class="text-danger" *ngIf="form.submitted && new_password.errors.pattern">Check password pattern</small>
            </div>
            <!-- <h6>Do you want to change password?</h6> -->
        </form>
    </div>
    <div class="modal-footer border-0 d-block text-center pb-4">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" (click)="onSubmit()" class="btn btn-primary">Confirm</button>
    </div>

</ng-template>
