<div class="modal-header">
    <h5 class="" id="modal-basic-title">Add Location</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form #addForm="ngForm">

        <div class="form-group mb-2">
            <label for="email_id">Address</label>
            <textarea type="text" name="address" id="address" class="form-control" #address="ngModel" [(ngModel)]="newLocationform.address" placeholder="Address" required></textarea>

        </div>
        <!-- <div class="form-group mb-2">
            <label for="Pincode">Pincode</label>
            <input autocomplete="false" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" #searchBox (keyup)="search(searchBox.value)" [(ngModel)]="newLocationform.pin_code" placeholder="Enter Pincode"
                id="pin_code" class="form-control" type="number" name="pin_code" #pin_code="ngModel" maxlength="6" minlength="6" required>
            <small class="text-danger" *ngIf="pin_code.valid && invalidPincode">Enter Valid Pincode</small>
            <small class="text-danger" *ngIf="(newLocationform.pin_code && pin_code.invalid)">
          Enter valid Pincode
      </small>
        </div> -->
        <div class="form-group mb-2">
            <label for="pincode">Pincode</label>
            <input type="text" autocomplete="false" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" #searchBox (keyup)="search(searchBox.value)" [(ngModel)]="newLocationform.pin_code" placeholder="Enter Pincode"
                id="pin_code" class="form-control" (keypress)="keyPressNumbers($event)" name="pin_code" #pin_code="ngModel" maxlength="6" minlength="6" required />
            <small class="text-danger" *ngIf="pin_code.valid && invalidPincode">Enter Valid Pincode</small>
            <small class="text-danger" *ngIf="(newLocationform.pin_code && pin_code.invalid)">
                Enter valid Pincode
            </small>
        </div>
        <div class="form-group mb-2">
            <label for="email_id">Location Title</label>
            <ng-select id="location" class="custom-select ngselect p-0 border-0" name="location" placeholder="Select Location" #location='ngModel' [(ngModel)]="newLocationform.location" required>
                <ng-option [value]="item.Name" *ngFor="let item of locations">{{item.Name }}</ng-option>
            </ng-select>
            <!-- <input type="text" name="location" id="location" class="form-control" #location="ngModel" [(ngModel)]="newLocationform.location" placeholder="location" (keyup)="locationSearch()" required> -->
            <span class="text-danger" *ngIf="locationExist">Already Exist</span>
        </div>
        <div class="form-group mb-2">
            <label for="city">city</label>
            <input type="text" name="city" id="city" class="form-control" #city="ngModel" [(ngModel)]="newLocationform.city" placeholder="city" required>
            <!-- <ng-select id="city"  class="custom-select ngselect p-0 border-0" name="city" placeholder="Select City" #city='ngModel'  [(ngModel)]="newLocationform.city"  required>
          <ng-option [value]="item.Name" *ngFor="let item of cities">{{item.Name }}</ng-option>
    </ng-select> -->
        </div>
        <div class="form-group mb-2">
            <label for="city">state</label>
            <input type="text" name="state" id="state" class="form-control" #state="ngModel" [(ngModel)]="newLocationform.state" placeholder="state" required>
        </div>



        <div class="text-center">
            <button class="btn btn-outline-primary mx-1" (click)="activeModal.dismiss()">Cancel</button>
            <button class="btn btn-primary mx-1" (click)="addLocation(addForm)">Save</button>
        </div>
    </form>
</div>
