<header class="bg-primary gstr py-3">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-2 logo">
                <img class="img-fluid" src="../../../../assets/images/EzyGST-white.png" alt="">
            </div>
        </div>
        <div class="row py-4 pt-5">
            <div class="col-md-6">
                <h5 class="text-white"><span><img class="img-fluid icon-img" src="../../../../assets/images/back.png" alt=""></span>
                    <span class="pl-3"> <span>B2B Invoices</span> <span class="px-2"> |</span>
                    <b><small>GSTR2</small></b></span>
                </h5>
            </div>

            <div class="col-md-6">
                <div class="text-right">
                    <p class="m-0 text-white"><span><b>Last edit on:</b></span> 23rd March 21, 10:00:00</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="position-relative top-10">
    <div class="container-fluid px-5">

        <div class="row">
            <div class="col-md-12">
                <div class="card  c-border shadow-sm mb-3">
                    <div class="card-header bg-white" data-toggle="collapse" data-target="#demo">
                        <h6><b>Supplier Details</b> <span class="float-right icon-html cursor-pointer">
                                <i class="fas fa-sort-down"></i>
                            </span></h6>
                    </div>
                    <div class="card-body invoice-total collapse show" id="demo">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">GSTIN</label>
                                    <input placeholder="Enter GSTIN" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Company Name</label>
                                    <input placeholder="Enter Company Name" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Trade Name</label>
                                    <input placeholder="Enter Trade Name" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Place of Supply</label>
                                    <input placeholder="Enter Place of Supply" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card  c-border shadow-sm mb-3">
                    <div class="card-header bg-white" data-toggle="collapse" data-target="#demo1">
                        <h6><b>Invoice Details</b> <span class="float-right icon-html cursor-pointer">
                                <i class="fas fa-sort-down"></i>
                            </span></h6>
                    </div>
                    <div class="card-body invoice-total collapse show" id="demo1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Invoice type</label>
                                    <input placeholder="Enter Invoice type" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Invoice Number</label>
                                    <input placeholder="Enter Invoice Number" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Invoice Date</label>
                                    <input placeholder="Enter Invoice Date" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Invoice Value</label>
                                    <input placeholder="Enter Invoice Value" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="my-input">Reverse charge</label>
                                    <input placeholder="Enter Reverse charge" id="my-input" class="form-control" type="text" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div>
                    <h6><b>Invoice Items</b></h6>



                    <div class="c-border border-top-0 invoice-items">
                        <table class="table table-responsive">
                            <thead class="bg-light">
                                <tr>
                                    <th>#</th>
                                    <th>HSN / SAC code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Taxable Value</th>
                                    <th>Tax Rate</th>
                                    <th>IGST Paid</th>
                                    <th>IGST Paid</th>
                                    <th>SGST Paid</th>
                                    <th>Cess Paid</th>
                                    <th>Eligibility</th>
                                    <th>Availed ITC IGST
                                    </th>
                                    <th>Availed ITC CGST
                                    </th>

                                    <th>Availed ITC SGST
                                    </th>

                                    <th>Availed ITC Cess
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="scale-2">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>

                                </tr>




                                <tr class="text-right">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total Taxable Value</small>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="m-0"><b>00.00</b></p>
                                        <small> Total IGST Paid</small>
                                    </td>
                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total CGST Paid</small>
                                    </td>
                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total SGST Paid</small>
                                    </td>
                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total Cess Paid</small>
                                    </td>
                                    <td></td>




                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total Availed ITC IGST</small>
                                    </td>

                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total Availed ITC CGST</small>
                                    </td>
                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total Availed ITC SGST</small>
                                    </td>
                                    <td>
                                        <p class="m-0"><b>100000.00</b></p>
                                        <small> Total Availed ITC Cess</small>
                                    </td>

                                </tr>
                            </tbody>
                        </table>


                    </div>

                    <div class="mt-3">
                        <button class="btn btn-dark shadow px-5" type="button">Add Row</button>
                    </div>
                </div>


                <div class="text-center">
                    <button class="btn btn-white px-5 shadow-sm c-border" type="button">Cancel</button>
                    <button class="btn btn-secondary px-5 shadow-sm c-border ml-3" type="button">Save</button>

                </div>

            </div>
        </div>






    </div>
</section>