<section class="information_invoice position-relative">
    <div class="row justify-content-between col-md-12 text-right">
        <div class="mb-3">
            <h4 class="text-white"><b>Information Invoice <small>({{this.filters.totalCount}})</small></b></h4>
        </div>
        <div class="text-right">
            <button ngbTooltip="Invoice" [routerLink]="[ '/home/invoices']" class="btn btn-primary btn-small  mr-2" type="button"><span><i
      class="ri-file-info-fill text-white"></i></span></button>
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body p-0">

            <virtual-scroller #scroll [items]="invoicesList">
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead #head>
                            <tr>
                                <th>#</th>

                                <th>
                                    <span><i (click)="sortBy('guest_name','asc')" class="ri-arrow-up-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'asc' && this.filters.search.sortBy == 'guest_name'}"></i></span>
                                    <span><i (click)="sortBy('guest_name','desc')" class="ri-arrow-down-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'desc' && this.filters.search.sortBy == 'guest_name'}"></i></span> Guest Name
                                </th>
                                <th>
                                    <span><i (click)="sortBy('confirmation_number','asc')" class="ri-arrow-up-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'asc' && this.filters.search.sortBy == 'confirmation_number'}"></i></span>
                                    <span><i (click)="sortBy('confirmation_number','desc')" class="ri-arrow-down-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'desc' && this.filters.search.sortBy == 'confirmation_number'}"></i></span> Confirmation No.
                                </th>
                                <th>
                                    <span><i (click)="sortBy('room_number','asc')" class="ri-arrow-up-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'asc' && this.filters.search.sortBy == 'room_number'}"></i></span>
                                    <span><i (click)="sortBy('room_number','desc')" class="ri-arrow-down-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'desc' && this.filters.search.sortBy == 'room_number'}"></i></span> Room No.
                                </th>

                                <th> <span><i (click)="sortBy('modified','asc')" class="ri-arrow-up-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'asc' && this.filters.search.sortBy == 'modified'}"></i></span>
                                    <span><i (click)="sortBy('modified','desc')" class="ri-arrow-down-line"
                  [ngClass]="{'colorBg':this.filters.search.orderBy== 'desc' && this.filters.search.sortBy == 'modified'}"></i></span> Printed Date
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody #container>
                            <tr>
                                <td></td>


                                <td class="bg-gray">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                    <i class="ri-search-line"></i>
                  </span>
                                        </div>
                                        <input #nameInp type="search" [(ngModel)]="filters.search.name" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                    </div>
                                </td>
                                <td class="bg-gray">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                    <i class="ri-search-line"></i>
                  </span>
                                        </div>
                                        <input #confirmNumInp type="search" [(ngModel)]="filters.search.confirmation" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                    </div>
                                </td>

                                <td class="bg-gray">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                    <i class="ri-search-line"></i>
                  </span>
                                        </div>
                                        <input #roomNumInp type="search" [(ngModel)]="filters.search.roomNo" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                                    </div>
                                </td>

                                <td class="bg-gray"></td>
                                <td class="bg-gray"></td>
                            </tr>
                            <tr *ngFor="let invoice of scroll.viewPortItems ;let i = index">
                                <td>{{invoice.index}} <span [ngClass]="{'mode-test':invoice.mode == 'Testing','mode-prod' : invoice.mode == 'Production'}"></span>
                                </td>
                                <td>{{invoice?.guest_name || 'NA'}}</td>
                                <td>{{invoice?.confirmation_no || 'NA'}}</td>
                                <td>{{invoice?.room_no|| 'NA'}}</td>
                                <td>{{invoice?.creation|date:'MMM d yyyy'}}</td>
                                <td><a (click)="viewModal(viewcontent,invoice?.document)" appPermissionButton accessType="read" moduleType="docType" class="view">View</a>

                                    <a *ngIf="invoice?.document !=''" (click)="printPDF(invoice?.document,'print')" appPermissionButton accessType="print" moduleType="docType" class="view pl-2">Print</a>
                                </td>
                                <ng-template #viewcontent let-modal>
                                    <div class="modal-body pdf-view p-2 bg-white shadow-sm">
                                        <div class="row">
                                            <div class="col">
                                                <p>Guest name : {{invoice?.guest_name || 'NA'}}</p>

                                                <!-- <h4 class="mb-0"><b>{{data?.GUEST_FIRST_NAME + ' ' + data?.GUEST_LAST_NAME }}</b></h4> -->
                                            </div>
                                            <div class="col">
                                                <p class="text-center">Confirmation number : {{invoice?.confirmation_no || 'NA'}}</p>

                                            </div>
                                            <div class="col">
                                                <p class="text-right">Room number : {{invoice?.room_no || 'NA'}}</p>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="text-end">
                                                    <button type="button" class="close" aria-label="Close">
                                              <span (click)="modal.close()" aria-hidden="true">&times;</span>
                                          </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <object *ngIf="this.invoice?.document" [data]="(previewFile) | safe" type="application/pdf" width="100%">
                                  </object>
                                        </div>
                                    </div>
                                </ng-template>

                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center py-3" *ngIf="!invoicesList.length">
                        <h4>No Data Found</h4>
                    </div>
                </div>

            </virtual-scroller>


            <div class="d-flex justify-content-between" *ngIf="invoicesList.length">
                <div class="px-3">
                    <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
        <option [value]="20">20</option>
        <option [value]="50">50</option>
        <option [value]="100">100</option>
        <option [value]="150">150</option>
        <option [value]="500">500</option>
      </select>
                </div>
                <div *ngIf="invoicesList.length  < this.filters.totalCount">
                    <p class="text-right pr-5 more text-primary" (click)="this.filters.start = invoicesList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                        more
                    </p>
                </div>
            </div>

        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>