<section class="border-bottom bg-linear py-1 px-3">
    <div class="container-fluid px-5 ">
        <div class="d-flex no-gutters justify-content-between">
            <div class="">
                <h6 class="mb-0 text-white"><strong>GSTR1-Summary</strong></h6>
                <div class="d-flex align-items-center crums">
                    <div>
                        <p class="mb-0 text-white " [routerLink]="['/gstr/dashboard']"><small class="cursor-pointer underline">Dashboard</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white"><small class="">GSTR1-Summary</small></p>
                    </div>

                </div>
            </div>
            <div class="mt-1">
                <app-ret-period></app-ret-period>
            </div>
            <!-- <div class="d-flex align-items-center">
                <div>
                    <p class="m-0"> <small class="pr-2 text-white">Return Period</small></p>
                </div>
                <div class="flex-fill">
                    <div class="">
                        <select id="my-select" class="form-control" name="month" [(ngModel)]="month" (ngModelChange)="selectMonthYear($event,'month')">
                            <option  *ngFor="let mon of monthList" [value]="mon.short">{{mon.long}}</option>
                        </select>
                    </div>
                </div>

                <div class="flex-fill ml-3">
                    <div class="">
                        <select id="my-select" class="form-control px-4" name="year" [(ngModel)]="year" (ngModelChange)="selectMonthYear($event,'year')">
                    :        <option *ngFor="let yr of yearsList">{{yr}}</option>
                        </select>
                    </div>
                </div>
                <div class="flex-fill ml-3" *ngIf="propertyList.length >= 2">
                    <div class="">
                        <select id="my-select" class="form-control" name="property" [(ngModel)]="property" (ngModelChange)="selectMonthYear($event,'property')">
                            <option  [value]="'all'">All Properties</option>
                            <option  *ngFor="let prop of propertyList" [value]="prop.name">{{prop.name}}</option>
                        </select>
                    </div>
                </div>

            </div> -->
        </div>
    </div>
</section>
<section class="mt-4 px-1">
    <div class="container-fluid">
        <!-- <div class="row mb-3 justify-content-end uploadBtn" *ngIf="this.loginDetails?.company">
            <div class="flex-fill ml-3" *ngIf="propertyList.length >= 2">
                <div class="">
                    <ng-select placeholder="select property" id="my-select" name="property" [(ngModel)]="property" (ngModelChange)="SelectByData($event,'property')" [multiple]=true>
                        <ng-option *ngFor="let item of propertyList" [value]="item.name">{{item?.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <button class="btn btn-outline-primary mr-2 ml-3" (click)="returnSave()">Save To GSTIN</button>
            <button class="btn btn-primary">File GSTR 1</button>
        </div> -->
        <div class="row mb-3">
            <div class="col-md-12 ">
                <div class="d-flex justify-content-end">
                    <!-- <button class="btn btn-primary mr-2" (click)="returnSave()">Save To GSTIN</button> -->
                    <!-- <button class="btn btn-primary btn-sm mr-2" (click)="reconcilation()">Get Updates</button> -->

                    <button class="btn btn-primary btn-sm" (click)="export_workbook()">Export</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 mb-3">

                    <div class="card-body p-0">
                        <div>

                            <div class="row align-items-center py-2">
                                <div class="col">
                                    <h6><strong class="pl-3">Invoice type</strong></h6>
                                </div>
                                <div class="col">
                                    <h6><strong>Count</strong></h6>
                                </div>
                                <div class="col">
                                    <h6><strong>Taxable Value</strong></h6>
                                </div>
                                <div class="col">
                                    <h6><strong>IGST</strong></h6>
                                </div>
                                <div class="col">
                                    <h6><strong>CGST</strong></h6>
                                </div>
                                <div class="col">
                                    <h6><strong>SGST</strong></h6>
                                </div>
                                <div class="col">
                                    <h6><strong>Tax amount</strong></h6>
                                </div>
                                <div class="col">
                                    <h6><strong>Invoice value</strong></h6>
                                </div>
                                <div class="col">
                                    <!-- <h5><strong>Invoice value</strong></h5> -->
                                </div>

                            </div>
                            <div class="row no-gutters border fill-color py-2">
                                <div class="col  px-3">
                                    <p><b class="">B2B</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.tax_b2b?.count || 0}} </p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2b?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2b?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2b?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2b?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2b?.tax_amount | currency:'INR') || 0}} </p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2b?.before_gst | currency:'INR' )|| 0}}</p>
                                </div>


                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['./invoice']" [queryParams]="{type:'B2B',category:'Tax'}">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('B2B')">Upload Invoices</button> -->
                                    </div>
                                </div>

                            </div>
                            <div class="row no-gutters border bg-light py-2">
                                <div class="col  px-3">
                                    <p><b class="">B2B-SEZWP</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.sez_with_payment?.count || 0}} </p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_with_payment?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_with_payment?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_with_payment?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_with_payment?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_with_payment?.tax_amount | currency:'INR') || 0}} </p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_with_payment?.before_gst | currency:'INR' )|| 0}}</p>
                                </div>


                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['./invoice']" [queryParams]="{type:'SEZWP',category:'Tax'}">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('B2B')">Upload Invoices</button> -->
                                    </div>
                                </div>

                            </div>
                            <div class="row no-gutters border fill-color py-2 ">
                                <div class="col  px-3">
                                    <p><b class="">B2B-SEZWOP</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.sez_without_payment?.count || 0}} </p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_without_payment?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_without_payment?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_without_payment?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_without_payment?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_without_payment?.tax_amount | currency:'INR') || 0}} </p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.sez_without_payment?.before_gst | currency:'INR' )|| 0}}</p>
                                </div>


                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['./invoice']" [queryParams]="{type:'SEZWOP',category:'Tax'}">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('B2B')">Upload Invoices</button> -->
                                    </div>
                                </div>

                            </div>

                            <div class="row no-gutters py-2 bg-light">
                                <div class="col  px-3">
                                    <p><b class="">B2C</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.tax_b2c?.count || 0}}</p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2c?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2c?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2c?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2c?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2c?.tax_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.tax_b2c?.before_gst | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['../invoice']" [queryParams]="{type:'B2C',category:'Tax'}">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('B2C')">Upload Invoices</button> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters border py-2 fill-color ">
                                <div class="col  px-3">
                                    <p><b class="">
                                        <!-- {{gstr1InvoicesData?.credit_b2b?.invoice_type}} -->
                                        Credit/ Debit note (Registered)
                                    </b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.credit_b2b?.count || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2b?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2b?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2b?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2b?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2b?.tax_amount | currency:'INR')|| 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2b?.before_gst | currency:'INR' )|| 0}}</p>
                                </div>

                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['../invoice']" [queryParams]="{type:'B2B',category:'Crt-Dbt'}">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('crtDbtRg')">Upload Invoices</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters  py-2 bg-light">
                                <div class="col  px-3">
                                    <p><b class="">Credit/ Debit note
                                        (Unregistered)</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.credit_b2c?.count || 0}}</p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2c?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2c?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2c?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2c?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2c?.tax_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.credit_b2c?.before_gst| currency:'INR') || 0}}</p>
                                </div>

                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['../invoice']" [queryParams]="{type:'B2C',category:'Crt-Dbt'}">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('crtDbtUnrg')">Upload Invoices</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters border py-2 fill-color ">
                                <div class="col  px-3">
                                    <p><b class="">Nil Rated Supplies</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.nil_rated_supplies?.count || 0}}</p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.nil_rated_supplies?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.nil_rated_supplies?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.nil_rated_supplies?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.nil_rated_supplies?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.nil_rated_supplies?.tax_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.nil_rated_supplies?.before_gst | currency:'INR') || 0}}</p>
                                </div>

                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['../ill-rated']" [queryParams]="">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('NilRated')">Upload Invoices</button> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters  py-2 bg-light">
                                <div class="col  px-3">
                                    <p><b class="">Advance Received</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.advance_received?.count || 0}}</p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.advance_received?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.advance_received?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.advance_received?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.advance_received?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.advance_received?.tax_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.advance_received?.before_gst | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['../advance-received']" [queryParams]="">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('AdvncRecd')">Upload Invoices</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters border py-2 fill-color ">
                                <div class="col  px-3">
                                    <p><b class="">Adjustment of
                                        Advances</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.adjustment_of_advances?.count || 0}}</p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.adjustment_of_advances?.taxable_value | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.adjustment_of_advances?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.adjustment_of_advances?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.adjustment_of_advances?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.adjustment_of_advances?.tax_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.adjustment_of_advances?.before_gst | currency:'INR' )|| 0}}</p>
                                </div>

                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['../adjustment-of-advances']" [queryParams]="">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('AdjAdvnc')">Upload Invoices</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters  py-2 bg-light">
                                <div class="col  px-3">
                                    <p><b class="">HSN Summary
                                        of Outward supply</b></p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{gstr1InvoicesData?.get_hsn_summary?.count || 0}}</p>

                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.get_hsn_summary?.taxable_value | currency:'INR' )|| 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.get_hsn_summary?.igst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.get_hsn_summary?.cgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.get_hsn_summary?.sgst_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.get_hsn_summary?.tax_amount | currency:'INR') || 0}}</p>
                                </div>
                                <div class="col  px-3 text-left ">
                                    <p>{{(gstr1InvoicesData?.get_hsn_summary?.before_gst | currency:'INR') || 0}}</p>
                                </div>

                                <div class="col  px-3 text-center my-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-primary   px-2" type="button" [routerLink]="['../sac-hsn-outward']" [queryParams]="">View Details</button>
                                        <!-- <button class="btn btn-sm btn-primary   px-2 ml-2" type="button" (click)="uploadExcelFile('SAC/HSN')">Upload Invoices</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
              <h6 class="mx-2 my-3 font-weight-bold">Document Series</h6>
              <div class="card border-0 mb-3">
                  <div class="card-body p-0">
                      <div>
                        <div class="row align-items-center py-2">
                          <div class="col">
                              <h6><strong class="pl-3">Document type</strong></h6>
                          </div>
                          <div class="col">
                              <h6><strong>From</strong></h6>
                          </div>
                          <div class="col">
                              <h6><strong>To</strong></h6>
                          </div>
                          <div class="col">
                              <h6><strong>Filed</strong></h6>
                          </div>
                          <div class="col">
                              <h6><strong>Cancelled</strong></h6>
                          </div>
                          <div class="col">
                              <h6><strong>Total</strong></h6>
                          </div>

                          <div class="col">
                          </div>

                      </div>
                        <div class="row no-gutters border fill-color py-2">
                          <div class="col  px-3">
                              <p><b class="">Tax Invoice</b></p>

                          </div>
                          <div class="col  px-3 text-left ">
                            <p>{{gstr1DocumentSequence?.tax_invoice_from || 0}} </p>

                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.tax_invoice_to ) || 0}}</p>
                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.tax_invoice_success_count) || 0}}</p>
                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.tax_invoice_cancelled_count ) || 0}}</p>
                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.tax_invoice_success_count + gstr1DocumentSequence?.tax_invoice_cancelled_count) || 0}}</p>
                        </div>

                          <div class="col  px-3 text-center my-auto">
                              <div class="d-flex align-items-center justify-content-center">
                                  <button class="btn btn-sm btn-primary   px-2" type="button" disabled [routerLink]="['./invoice']" [queryParams]="{type:'B2B',category:'Tax'}">View Details</button>
                              </div>
                          </div>

                      </div>
                      <div class="row no-gutters border bg-light py-2">
                        <div class="col  px-3">
                            <p><b class="">Credit Invoice</b></p>

                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{gstr1DocumentSequence?.credit_invoice_from || 0}} </p>

                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.credit_invoice_to ) || 0}}</p>
                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.credit_invoice_success_count) || 0}}</p>
                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.credit_invoice_cancelled_count ) || 0}}</p>
                        </div>
                        <div class="col  px-3 text-left ">
                            <p>{{(gstr1DocumentSequence?.credit_invoice_success_count + gstr1DocumentSequence?.credit_invoice_cancelled_count) || 0}}</p>
                        </div>

                        <div class="col  px-3 text-center my-auto ">
                            <div class="d-flex align-items-center justify-content-center">
                                <button class="btn btn-sm btn-primary   px-2 " disabled type="button" [routerLink]="['./invoice']" [queryParams]="{type:'B2B',category:'Tax'}">View Details</button>
                            </div>
                        </div>

                    </div>
                      </div>
                  </div>
              </div>
            </div> -->
        </div>
    </div>
</section>
