<section class="border-bottom bg-linear px-3">
    <div class="container-fluid px-3 py-1">
        <div class="d-flex no-gutters justify-content-between">
            <div class="">
                <h6 class="mb-0 text-white"><strong>Invoices</strong></h6>
                <div class="d-flex align-items-center ">
                    <div>
                        <p class="mb-0 text-white " [routerLink]="['/gstr/dashboard']"><small class="cursor-pointer underline">Dashboard</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0" [routerLink]="['/gstr/gstr1']"><small class="cursor-pointer underline">GSTR1-Summary</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0" [routerLink]="['/gstr/gstr1/invoice']" [queryParamsHandling]="'merge'"><small class="cursor-pointer underline">Invoices</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0"><small class="">Invoice no :{{invoicesData?.name}}</small></p>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <!-- <div>
                    <p class="m-0"> <small class="pr-2 text-white">Return Period</small></p>
                </div>
                <div class="flex-fill">

                    <div class="">
                        <select id="my-select" class="form-control" name="">
                            <option selected value='1'>Janaury</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                    </div>
                </div>

                <div class="flex-fill ml-3">

                    <div class="">
                        <select id="my-select" class="form-control px-4" name="">
                            <option selected value='1'>2022</option>
                            <option value='2'>2021</option>
                            <option value='3'>2020</option>

                        </select>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</section>

<div class="container-fluid ">
    <div class="row no-gutters">
        <div class="col-md-12 py-2">

            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <a ngbNavLink>Invoice Summary</a>
                    <ng-template ngbNavContent>

                        <div class="card  c-border shadow-sm ">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <div class="row">
                                            <p class="m-0"><small> Invoice No : <b>{{invoicesData?.invoice_number}}</b></small> </p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0"><small> Invoice Type : <b>{{invoicesData?.invoice_type}}</b></small> </p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0"><small> Invoice Date : <b>{{invoicesData?.invoice_date}}</b></small> </p>
                                        </div>

                                        <!-- <div class="row">
                                        <p class="m-0"><small> State Code : <b>Feb 25, 2021</b></small> </p>
                                    </div> -->
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <p class="m-0"><small> GST Number : <b>{{invoicesData?.gst_number}}</b></small> </p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0"><small> Legal Name : <b>{{invoicesData?.legal_name}}</b></small> </p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0"><small> Trade Name : <b>{{invoicesData?.legal_name}}</b></small> </p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0"><small> Place of Supply : <b>{{invoicesData?.pos?.state}}({{invoicesData?.pos?.tin}})</b></small> </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-between my-2 irnBlock">
                            <p><small class="mb-0"><b>IRN : {{invoicesData?.irn_number}}</b></small></p>
                            <p><small class="mb-0"><b>Ack No : {{invoicesData?.irn_number}}</b></small></p>
                            <p><small class="mb-0"><b>Ack Date : {{invoicesData?.ack_date}}</b></small></p>
                        </div>
                        <div class="pb-5 mb-3">
                            <div class="invoice-details">
                                <div class="card border-0 ">
                                    <div class="table-responsive ">
                                        <table class="table table-bordered table-sm c-h shadow-sm">
                                            <thead class="th-bg">
                                                <tr>

                                                    <th>Date</th>
                                                    <th>Item Name</th>

                                                    <th>SAC/HSN CODE</th>
                                                    <th>Discount</th>
                                                    <th class="text-right">Item Value<br><small>(exclusive GST)</small></th>

                                                    <th class="p-0">
                                                        <table class="table mb-0 text-center no-pad table-borderless child-table">
                                                            <tr class="">
                                                                <th colspan="2">CGST</th>
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th>Rate</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                    <th class="p-0">
                                                        <table class="table mb-0 text-center no-pad table-borderless child-table">
                                                            <tr>
                                                                <th colspan="2">SGST</th>
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th>Rate</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                    <th class="p-0">
                                                        <table class="table mb-0 text-center no-pad table-borderless child-table">
                                                            <tr>
                                                                <th colspan="2">IGST</th>
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th>Rate</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                    <th class="p-0">
                                                        <table class="table mb-0 text-center no-pad table-borderless child-table">
                                                            <tr>
                                                                <th colspan="2">VAT</th>
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th>Rate</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </table>
                                                    </th>

                                                    <th class="p-0">
                                                        <table class="table mb-0 text-center no-pad table-borderless child-table">
                                                            <tr>
                                                                <th colspan="2">State CESS</th>
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th>Rate</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                    <th class="p-0">
                                                        <table class="table  mb-0 text-center no-pad table-borderless child-table">
                                                            <tr>
                                                                <th colspan="2">Central CESS</th>
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th>Rate</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </table>
                                                    </th>



                                                    <th>Total Item Value <br> <small>(Inclusive GST)</small></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of invoicesData?.items">
                                                    <td>
                                                        {{item?.date}}
                                                    </td>
                                                    <td>
                                                        {{item?.item_name}}
                                                    </td>
                                                    <td>
                                                        {{item?.sac_code}}
                                                    </td>
                                                    <td>
                                                        {{item?.discount_value}}
                                                    </td>
                                                    <td>
                                                        {{item?.item_value}}
                                                    </td>
                                                    <td>
                                                        <tr class="no-pad">
                                                            <td class="text-right">{{item.cgst}}%</td>
                                                            <td class="text-right">{{(item.cgst_amount || 0) | number : '1.2-2'}}</td>
                                                        </tr>
                                                    </td>
                                                    <td>
                                                        <tr class="no-pad">
                                                            <td class="text-right">{{item.sgst}}%</td>
                                                            <td class="text-right">{{(item.sgst_amount || 0) | number : '1.2-2'}}</td>
                                                        </tr>
                                                    </td>
                                                    <td>
                                                        <tr class="no-pad">
                                                            <td class="text-right">{{item.igst}}%</td>
                                                            <td class="text-right">{{(item.igst_amount || 0) | number : '1.2-2'}}</td>
                                                        </tr>
                                                    </td>
                                                    <td>
                                                        <tr class="no-pad">
                                                            <td class="text-right">{{item.vat}}%</td>
                                                            <td class="text-right">{{(item.vat_amount || 0) | number : '1.2-2'}}</td>
                                                        </tr>
                                                    </td>
                                                    <td>
                                                        <tr class="no-pad">
                                                            <td class="text-right">{{item.state_cess}}%</td>
                                                            <td class="text-right">{{(item.state_cess_amount || 0) | number : '1.2-2'}}</td>
                                                        </tr>
                                                    </td>
                                                    <td>
                                                        <tr class="no-pad">
                                                            <td class="text-right">{{item.central_cess}}%</td>
                                                            <td class="text-right">{{(item.central_cess_amount || 0) | number : '1.2-2'}}</td>
                                                        </tr>
                                                    </td>
                                                    <td>
                                                        {{item?.item_value_after_gst}}
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>SAC/HSN Summary</a>
                    <ng-template ngbNavContent>
                        <div class="pb-5 mb-2">
                            <div class="invoice-details sac-summary">
                                <div class="card border-0 ">
                                    <div class="table-responsive ">
                                        <table class="table table-bordered c-h shadow-sm">
                                            <thead class="th-bg">
                                                <tr>
                                                    <th>SAC/HSN CODE</th>
                                                    <th>CGST</th>
                                                    <th>SGST</th>
                                                    <th>IGST</th>
                                                    <th>VAT</th>
                                                    <th>CESS</th>
                                                    <th>Item Value <small>(exclusive GST)</small></th>
                                                    <th>Total Item Value <small>(Inclusive GST)</small></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of invoicesData?.sac_hsn_based_taxes">

                                                    <td>
                                                        {{item?.sac_hsn_code}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{item?.cgst}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{item?.sgst}}
                                                    </td>

                                                    <td class="text-right">
                                                        {{item?.igst}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{item?.vat}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{item?.cess + item?.state_cess}}
                                                    </td>

                                                    <td class="text-right">
                                                        {{item?.amount_before_gst}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{item?.amount_after_gst}}
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>


        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 px-4 footerCard">
            <div class="card  c-border shadow-sm ">
                <div class="card-body invoice-total p-0">
                    <div>
                        <div class="row no-gutters">
                            <div class="col px-3 py-2">
                                <h4><b>{{invoicesData?.items?.length || 0}}</b></h4>
                                <p>No of Items</p>
                            </div>
                            <div class="col px-3 py-2">
                                <h4><b>{{invoicesData?.total_gst || 0}}</b></h4>
                                <p>Total Taxable Value</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{invoicesData?.total_igst || 0}}</b></h4>
                                <p>Total IGST</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{invoicesData?.total_cgst || 0}}</b></h4>
                                <p>Total CGST</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{invoicesData?.total_sgst || 0}}</b></h4>
                                <p>Total SGST</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{invoicesData?.invoice_vat_amount || 0}}</b></h4>
                                <p>Total VAT</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{(invoicesData?.invoice_state_cess_amount + invoicesData?.invoice_central_cess_amount) || 0}}</b></h4>
                                <p>Total CESS</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{invoicesData?.total_invoice_amount || 0}}</b></h4>
                                <p>Total Value</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>