<section class="bgdark">
    <div class="row ">
        <div class="col-md-2 pt-2 pr-0 bg-tab subnavs-h" >
            <div>
                <div id="dwtcontrolContainer" class="d-none"></div>
                <div class="d-flex justify-content-between align-items-center px-0 pb-2 mb-2 border-bottom-1">
                    <div>
                        <p class="text-white mb-0"><strong>Supporting Docs</strong></p>
                        <!-- <button class="btn btn-outline-light btn-sm mr-1" *ngIf="summaryData?.status !== 'Submitted'" (click)="scanToModal(scanDocs)" type="button"> <strong><i class="ri-print-line"></i> Scan </strong></button> -->
                    </div>
                    <button class="btn btn-outline-light btn-sm mr-1" *ngIf="summaryData?.status !== 'Submitted'" (click)="addDocuments(addDocument)" type="button"> <strong><i class="ri-add-fill"></i> Add </strong></button>
                </div>

                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li  [ngbNavItem]="'pos_bills'" (click)="onPosbillsTab('pos_bills')">
                        <a ngbNavLink>POS Bills</a>
                        <ng-template ngbNavContent>
                        </ng-template>
                    </li>
                    <li *ngFor="let item of fileTypes;let i = index" [ngbNavItem]="i+1" (click)="onChangeCategory(item,i+1)">
                        <a ngbNavLink>{{item?.document_type}}</a>
                        <ng-template ngbNavContent>
                            <!-- <ng-container *ngTemplateOutlet="items;context:{foliosList: filteredFoliosByCategory}"></ng-container> -->
                        </ng-template>
                    </li>
                    <div [ngbNavOutlet]="nav" class="navList pl-1" style="overflow-y: auto;"></div>
                </ul>
            </div>
        </div>
        <div class="col-md-2 bg-white pr-0 subnavs-h">
            <div class="mt-2 mb-5 pb-5 " >
                <ul class="list-unstyled">
                    <li class="" *ngFor="let folio of filteredFoliosByCategory" (click)="onChangeTab(folio)">
                        <div>
                            <div class="d-flex justify-content-between each-card">
                                <div class="w-100 sl-1" [ngClass]="{'selected': openedDoc?.name == folio?.name}">
                                    <p class="invoice-name p-2 mb-0">{{folio?.invoice_number || folio?.document_name}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="py-4" *ngIf="!filteredFoliosByCategory.length">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mx-auto">
                            <span><b>No Data Found</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 subnavs-h">
            <div class="">
                <div class="">
                  <div class="d-flex justify-content-between">
                    <p class="font-weight-bold my-2">{{this.openedDoc?.document_name ? this.openedDoc?.document_name: this.openedDoc?.invoice_number}}</p>
                    <button *ngIf="summaryData?.status !== 'Submitted' && openedDoc?.document && (this.openedDoc.document_type != 'Invoices') && (fileImg || filePdf)" class="btn btn-outline-primary rounded-sm  mb-2 py-2 d-flex font-weight-bold" (click)="deleteSupportingDoc()"><i class="ri-delete-bin-5-fill h6 mx-1 my-0"></i><span>Delete</span></button>
                  </div>

                    <ng-container *ngIf="fileImg"> <img alt="" class="img-fluid" [src]="(previewFile ||filePdf)" /> </ng-container>
                    <ng-container *ngIf="!fileImg">
                        <object  *ngIf="previewFile || filePdf" [data]="((previewFile ||filePdf) | safe)" type="" style="max-height:calc(100vh - 218px)"></object>
                    </ng-container>
                    <div class="p-4 bg-gray" *ngIf="!openedDoc?.document">
                        <div class="d-flex min-height h-100 justify-content-center align-items-center">
                            <h6>No Attachment Found</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <ng-template #items let-foliosList="foliosList">
    <div class="mt-2 mb-5 pb-5" style="position: relative;" [perfectScrollbar]="config">
        <ul class="list-unstyled">

            <li class="" *ngFor="let folio of foliosList" (click)="onChangeTab(folio)" [ngClass]="{'selected': openedDoc?.name == folio?.name}">
                <div>
                    <div class="d-flex justify-content-between each-card">
                        <div>
                            <p class="invoice-name mb-0">{{folio?.invoice_number}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="py-4" *ngIf="!foliosList.length">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mx-auto">
                    <span><b>No Data Found</b></span>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->

<ng-template #addDocument let-modal>
    <div class="modal-header">
        <h5 class="" id="modal-basic-title">Add Document</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body scrollBody">
        <form #form="ngForm">
            <div class="row mt-1">
                <div class="col-md-12">
                    <div>
                        <label for="">Upload Supporting Documents</label>
                        <div class="form-group">
                            <input class="form-control" (change)="handleFileInput($event.target.files, 'file_upload')" type="file" name="sup_doc" id="sup_doc" #sup_doc = "ngModel" ngModel class="d-none form-control" accept=".pdf" required>
                            <label for="sup_doc" class="border d-block mb-0 f-upload clearfix rounded-sm position-relative w-100">
                                <small class="text-muted">{{filename || 'Upload Document'}}</small>
                            </label>

                            <label for="sup_doc" class="float-right upload-btn">
                                {{filename ? 'Change' : 'Upload' }}
                            </label>

                            <small class="text-danger">Note: Accept only pdf files</small>
                            <p class="text-danger my-1" *ngIf="sup_doc.touched && sup_doc?.errors?.required"><small>Required</small></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="document_type">Document Type</label>
                        <select class="form-control" name="document_type" ngModel #document_type="ngModel" required>
                          <ng-container *ngFor="let item of fileTypes">
                            <option *ngIf="item?.name !='Invoices'">{{item?.name}}</option>
                          </ng-container>

                        </select>
                      <small class="text-danger" *ngIf="document_type.touched && document_type?.errors?.required">Required</small>

                    </div>
                    <div class="form-group" *ngIf="fileData.document_type == 'Invoices'">
                        <label for="invoice_no">Invoice Number</label>
                        <input class="form-control" type="text" name="invoice_no" ngModel #invoice_no="ngModel" placeholder="Invoice Number">
                    </div>

                </div>

            </div>

            <div class="row ">
                <div class="col-md-12 text-right mt-1">
                    <button (click)="modal.close('close')" class="btn btn-outline-primary shadow-sm mr-2" type="button"><strong>Cancel</strong>  </button>
                    <button (click)="saveDocumentFile(form,modal)" class="btn btn-primary shadow-sm" type="button">Save </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template let-modal #scanDocs>
    <div class="modal-header">
        <h5><strong>Scan Documents</strong></h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="poschecks">
            <!-- <div class="form-group input-with-label">
                <label for="doc_type">Select Type</label>
                <select name="doc_type" id="doc_type" class="custom-select" [(ngModel)]="doc_type" #doc_type="ngModel" required>
      <option selected hidden disabled>Select </option>
      <option value="INDIVIDUAL">INDIVIDUAL</option>
      <option value="COMBINED">COMBINED</option>
  </select>
            </div> -->

        </div>
        <div class="d-flex justify-content-end py-2">
            <button class="btn btn-sm btn-outline-primary mb-0 pr-2  text-uppercase" type="button" (click)="modal.close()">Cancel</button>
            <button class="btn btn-sm btn-primary mb-0 mx-2 text-uppercase" type="button" (click)="this.scannerService.acquireImage('scan',null); modal.close('Success')">Scan Now</button>
        </div>
      </div>

</ng-template>
