<section>

    <div class="row mb-3">
        <div class="col-md-7 col-lg-7">
            <div class="d-flex">
                <h5 *ngIf="!showList" class="font-weight-bold text-white"><b></b> Simple Reconciliation </h5>
                <h5 *ngIf="showList" class="font-weight-bold text-white"> <i class=" cursor-pointer ri-arrow-left-line mr-1" (click)="goBack()"></i> Missed Invoices
                    <small>({{filters.totalCount}})</small>
                </h5>
                <!-- <button class="create btn btn-primary" [routerLink]="['/home/users-details']" appPermissionButton
            accessType="create" moduleType="docType"><i class="ri-add-line"></i></button> -->
                <!-- <div class="form-group ml-2 w-c-50 my-auto">
                    <select id="my-select" [(ngModel)]="filters.search.filterBy" (ngModelChange)="onDateFilterChange()"
                        class="custom-select bg-white" name="">
                        <option value="All">All</option>
                        <option value="Today">Today</option>
                        <option value="Yesterday">Yesterday</option>
                        <option value="This Week">This Week</option>
                        <option value="Last Week">Last Week</option>
                        <option value="This Month">This Month</option>
                        <option value="Last Month">Last Month</option>
                        <option value="This Year">This Year</option>
                        <option value="Custom">Custom</option>
                    </select>
                </div> -->

                <!-- <div class="form-group ml-2 calendar w-c-50 position-relative my-auto">
                    <input class="form-control h-auto" [(ngModel)]="filters.search.filterDate"
                        (dateTimeChange)="updateRouterParams()" [owlDateTime]="dt1"
                        [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                    <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                        <i class="ri-calendar-2-line"></i>
                    </span>
                    <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dt1 )" #dt1></owl-date-time>
                </div> -->



                <div class="form-group ml-2 w-c-50 my-auto" *ngIf="!showList">
                    <select id="my-select" [(ngModel)]="seletedMonth" (ngModelChange)="onDateFilterMonthChange(seletedMonth,selectedyear)" class="custom-select bg-white" name="">
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>

                  </div>
                  <div class="form-group ml-2 w-c-50 my-auto" *ngIf="!showList">
                    <select id="my-select" [(ngModel)]="selectedyear" (ngModelChange)="onDateFilterMonthChange(seletedMonth,selectedyear)" class="custom-select bg-white" name="">
                      <option *ngFor="let item of years" [value]="item">{{item}}</option>
                  </select>
                  </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 text-right">
            <button (click)="showList?getList():onDateFilterMonthChange(seletedMonth,selectedyear)" ngbTooltip="Refresh" class="btn btn-primary btn-small mr-2 refreshbtn" type="button"><span><i
                class="ri-refresh-line text-white"></i></span></button>
            <button (click)="openModelXml(xmlUpload)" class="btn btn-primary btn-small mr-2" appPermissionButton accessType="write" type="button"> Upload File</button>
            <!-- <button class="btn btn-primary btn-small mr-2" appPermissionButton accessType="write" type="button" (click)="export(exportModal)">Export Reco.</button> -->

        </div>

    </div>

    <div class="card" *ngIf="!showList">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Missed Invoices</th>
                        <th>Actions</th>

                        <!-- <th>Status</th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td></td>
                        <td>
                            <input type="search" class="form-control form-control-sm bg-grey" placeholder="search"
                                id="invoices_date" [(ngModel)]="searchObj.invoices_date">

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of countDataList | invoiceReconSearch: searchObj.invoices_date ;let i =index">
                        <td>{{i+1}}</td>
                        <td>{{item?.bill_generation_date}}</td>
                        <td>{{item?.count}}</td>
                        <td><span><a *ngIf="item.count != 0 && item.count != 'No data Found'" class=""
                                    appPermissionButton accessType="write" moduleType="docType"
                                    (click)="viewListItems(item,'view')">View</a></span></td>


                    </tr>

                </tbody>
            </table>
            <div class="text-center py-3" *ngIf="!countDataList?.length">
                <h5>No Data Found</h5>
            </div>
        </div>


    </div>
    <div class="card" *ngIf="showList">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Invoice Number</th>
                        <th>Folio Type</th>
                        <th>GuestName</th>
                        <th>Room Number</th>
                        <th>Invoice Date</th>
                        <th>Invoice Found</th>
                        <!-- <th>Status</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>

                        <td class="bg-gray" style="min-width: 100px;">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ri-search-line"></i>
                                    </span>
                                </div>
                                <input #codeInp type="search" [(ngModel)]="filters.search.name" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                            </div>
                        </td>

                        <td class="bg-gray">
                            <div class="form-group">
                                <select id="creditNotes" class="custom-select" [(ngModel)]="filters.search.folio_type" (change)="onSearch.emit(filters)">
                                    <option value="">All</option>
                                    <option value="TAX INVOICE">Tax Invoice</option>
                                    <option value="CREDIT INVOICE">Credit Invoice</option>
                                    <option value="DEBIT INVOICE">Debit Invoice</option>
                                </select>
                            </div>
                        </td>
                        <td class="bg-gray" style="min-width: 100px;">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ri-search-line"></i>
                                    </span>
                                </div>
                                <input #codeInp type="search" [(ngModel)]="filters.search.display_name" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="bg-gray">
                            <div class="form-group">
                                <select id="found" class="custom-select" [(ngModel)]="filters.search.found" (change)="onSearch.emit(filters)">
                                    <option value="">All</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </td>
                        <!-- <td></td> -->
                    </tr>
                    <tr [ngClass]="{'notFound': item.invoice_found === 'No'}" *ngFor="let item of invoiceList;let i =index">
                        <td>{{item?.index}}</td>
                        <td>{{item?.name}}</td>
                        <td>{{item?.folio_type}}</td>
                        <td>{{item?.display_name}}</td>
                        <td>{{item?.room}}
                        </td>
                        <td>
                            {{item?.bill_generation_date}}
                        </td>
                        <td>{{item?.invoice_found}}</td>
                        <!-- <td>{{item?.status}}</td> -->

                    </tr>

                </tbody>
            </table>
            <div class="text-center py-3" *ngIf="!invoiceList.length">
                <h5>No Data Found</h5>
            </div>
        </div>
        <div class="d-flex pb-2 justify-content-between" *ngIf="invoiceList.length">
            <div class="px-3">
                <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="150">150</option>
                    <option [value]="500">500</option>
                </select>
            </div>
            <div *ngIf="invoiceList.length  < this.filters.totalCount">
                <p class="text-right pr-5 more text-primary" (click)="this.filters.start = invoiceList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                    more
                </p>
            </div>
        </div>

    </div>
</section>

<ng-template #xmlUpload let-modal>
    <div class="modal-header">
        <h5 class="" id="modal-basic-title">Upload File</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="fileUpload" *ngIf="selectedFile.length==0">
            <label for="file" class="d-block cursor-pointer text-center">
                <i class="ri-upload-cloud-line"></i>
                <h6><strong>Upload Xml Invoice</strong></h6>
            </label>
            <input accept=".xml" (change)="selectFiles($event.target.files)" class="opacity-0 d-none" type="file" name="" id="file">
        </div>
        <div *ngIf="selectedFile.length>0">
            <div *ngIf="!uploadedFile">
                <div class=" text-center" *ngFor="let file of selectedFile; let i = index">
                    <div class="preview-box position-relative">
                        <div class="p-close"><i (click)="removeFromList(file,i)" class="ri-close-circle-line"></i>
                        </div>
                        <div class="p-file"> <i class="ri-file-4-line"></i></div>
                        <div>
                            <p>{{file?.file?.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="uploadedFile" class="text-success text-center">File uploaded successfully </div>
        </div>
    </div>
    <div class="modal-footer d-block  pb-4 border-0" *ngIf="selectedFile.length > 0 ">
        <div class="text-right">

            <button *ngIf="uploadedFile" class="btn btn-outline-primary mb-0  text-uppercase" type="button" (click)="modal.close('Success')">Ok</button>
            <button *ngIf="!uploadedFile" class="btn btn-outline-primary mb-0  text-uppercase" type="button" (click)="modal.dismiss('Cross click')">Cancel</button>

            <button *ngIf="!uploadedFile" (click)="uploadFiles()" [disabled]="selectedFile.length == 0 " class="btn btn-primary mb-0 px-4 ml-3 text-uppercase" appPermissionButton accessType="write" type="button">Upload</button>
        </div>
    </div>
</ng-template>
<ng-template #exportModal let-modal>
  <div class="modal-header">
      <h5 class="" id="modal-basic-title"> Download Invoice Reconciliation File</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body export-modal">
    <div class="d-flex">
      <div class="form-group calendar w-c-50 position-relative my-auto" >
        <!-- [(ngModel)]="filters.search.filterDate" -->
        <input class="form-control h-auto"   [max]="fromMaxDate" [(ngModel)]="fromDate"
          (dateTimeChange)="updateRouterParams();fromDateSelected($event.value[0])" [owlDateTime]="dt1" [selectMode]="'rangeFrom'" [owlDateTimeTrigger]="dt1"
          placeholder="From Date">
        <span class="example-trigger" [owlDateTimeTrigger]="dt1">
          <i class="ri-calendar-2-line"></i>
        </span>
        <owl-date-time [pickerType]="'calendar'" #dt1  ></owl-date-time>
      </div>

      <div class="form-group calendar w-c-50 position-relative my-auto" >
        <!-- [(ngModel)]="filters.search.filterDate" -->
        <input class="form-control h-auto"  [min]="toMinDate" [max]="toMaxDate" [(ngModel)]="toDate"
          (dateTimeChange)="updateRouterParams()" [owlDateTime]="dt2" [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dt2"
          placeholder="To Date">
        <span class="example-trigger" [owlDateTimeTrigger]="dt2">
          <i class="ri-calendar-2-line"></i>
        </span>
        <owl-date-time [pickerType]="'calendar'" #dt2  ></owl-date-time>
      </div>
    </div>
    <div class="d-flex justify-content-center my-3">
      <button class="btn btn-primary btn-sm" (click)="download()">Download</button>
    </div>
  </div>
</ng-template>
