<section>

    <div class="row mb-3">
        <div class="col-md-6">
            <h4 class="font-weight-bold text-white">GSP APIS</h4>
        </div>
        <div class="col-md-6">
            <div class="text-right">
                <button class="btn btn-outline-primary mb-0 text-uppercase" type="button"
                            [routerLink]="['/home/gsp-apis']">Cancel</button>
                        <button class="btn btn-primary mb-0 text-uppercase ml-3" (click)="onSubmit(form)" type="button">Save</button>
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            
            

            <form #form="ngForm">
                <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                    <!-- Test Urls -->
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelTitle>
                            <div>Test Urls</div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div class="col-lg-10 col-md-10">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="authTest"
                                                    name="auth_test" [(ngModel)]="gspApiDetails.auth_test" #authTest="ngModel" required>
                                                <label for="authTest" class="mat-label">Auth Test</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="taxPayer"
                                                    name="get_tax_payer_test" [(ngModel)]="gspApiDetails.get_tax_payer_test" #taxPayer="ngModel" required>
                                                <label for="taxPayer" class="mat-label">Get Tax Payer test</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="generatetestIrn"
                                                    name="generate_test_irn" [(ngModel)]="gspApiDetails.generate_test_irn" #generatetestIrn="ngModel" required>
                                                <label for="generatetestIrn" class="mat-label">Generate Test IRN</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="cancelIrn"
                                                    name="cancel_test_irn" [(ngModel)]="gspApiDetails.cancel_test_irn" #cancelIrn="ngModel" required>
                                                <label for="cancelIrn" class="mat-label">Cancel Test IRN</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="generateQrCode"
                                                    name="get_prod_qr_image" [(ngModel)]="gspApiDetails.get_prod_qr_image" #generateQrcode="ngModel" required>
                                                <label for="generateQrCode" class="mat-label">Generate Qr Code
                                                    Image</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="getQrCode"
                                                    name="get_test_qr_image" [(ngModel)]="gspApiDetails.get_test_qr_image" #getQrcode="ngModel" required>
                                                <label for="getQrCode" class="mat-label">Get test Qr Code
                                                    Image</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="extractQrCode"
                                                    name="extract_test_qr_code" [(ngModel)]="gspApiDetails.extract_test_qr_code" #extractQrCode="ngModel" required>
                                                <label for="extractQrCode" class="mat-label">Extract test Qr Code
                                                    Image</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control"
                                                    id="extractSignedInvoice" name="extract_test_signed_invoice" [(ngModel)]="gspApiDetails.extract_test_signed_invoice"
                                                    #extractSignedInvoice="ngModel" required>
                                                <label for="extractSignedInvoice" class="mat-label">Extract test signed
                                                    invoice</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="testIrn"
                                                    name="get_test_irn" [(ngModel)]="gspApiDetails.get_test_irn" #testIrn="ngModel" required>
                                                <label for="testIrn" class="mat-label">Get Test IRN</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <!-- Production Urls -->
                    <ngb-panel id="static-2">
                        <ng-template ngbPanelTitle>
                            <span>Production URLs</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div class="col-lg-10 col-md-10">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="extractQrCode"
                                                    name="extract_prod_qr_code" [(ngModel)]="gspApiDetails.extract_prod_qr_code" #extractQrCode="ngModel" required>
                                                <label for="extractQrCode" class="mat-label">Extarct PROD QR
                                                    Code</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="getTaxPayer"
                                                    name="get_tax_payer_prod" [(ngModel)]="gspApiDetails.get_tax_payer_prod" #getTaxPayer="ngModel" required>
                                                <label for="getTaxPayer" class="mat-label">Get tax payer PROD</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="authProd"
                                                    name="auth_prod" [(ngModel)]="gspApiDetails.auth_prod" #authProd="ngModel" required>
                                                <label for="authProd" class="mat-label">Auth PROD</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="cancelProdIrn"
                                                    name="cancel_prod_irn" [(ngModel)]="gspApiDetails.cancel_prod_irn" #cancelProdIrn="ngModel" required>
                                                <label for="cancelProdIrn" class="mat-label">Cancel PROD IRN</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="generateIrn"
                                                    name="generate_prod_irn" [(ngModel)]="gspApiDetails.generate_prod_irn" #generateIrn="ngModel" required>
                                                <label for="generateIrn" class="mat-label">Generate PROD IRN</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="getQrImage"
                                                    name="extract_prod_qr_code" [(ngModel)]="gspApiDetails.extract_prod_qr_code" #getQrImage="ngModel" required>
                                                <label for="getQrImage" class="mat-label">Get PROD QR
                                                    Image</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="generateQrImage"
                                                    name="generate_prod_qr_code_image" [(ngModel)]="gspApiDetails.generate_prod_qr_code_image" #generateQrImage="ngModel" required>
                                                <label for="generateQrImage" class="mat-label">Generate PROD QR
                                                    Code Image</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="extractInvoice"
                                                    name="extract_prod_signed_invoice" [(ngModel)]="gspApiDetails.extract_prod_signed_invoice" #extractInvoice="ngModel" required>
                                                <label for="extractInvoice" class="mat-label">Extract PROD Signed
                                                    Invoice</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="getIrn"
                                                    name="get_prod_irn" [(ngModel)]="gspApiDetails.get_prod_irn" #getIrn="ngModel" required>
                                                <label for="getIrn" class="mat-label">Get PROD IRN</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <!-- Production GSP Details -->
                    <ngb-panel id="static-3">
                        <ng-template ngbPanelTitle>
                            <span>Production GSP Details</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div class="col-lg-10 col-md-10">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="gspAppId"
                                                    name="gsp_prod_app_id" [(ngModel)]="gspApiDetails.gsp_prod_app_id" #gspAppId="ngModel" required>
                                                <label for="gspAppId" class="mat-label">GSP PROD App Id</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="gspToken"
                                                    name="gsp_prod_token" [(ngModel)]="gspApiDetails.gsp_prod_token" #gspToken="ngModel" required>
                                                <label for="gspToken" class="mat-label">GSP PROD Token</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="gspAppSecret"
                                                    name="gsp_prod_app_secret" [(ngModel)]="gspApiDetails.gsp_prod_app_secret" #gspAppSecret="ngModel" required>
                                                <label for="gspAppSecret" class="mat-label">GSP PROD App Secret</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="gspExpiredOn"
                                                    name="gsp_test_token_expired_on" [(ngModel)]="gspApiDetails.gsp_test_token_expired_on" #gspExpiredOn="ngModel" required>
                                                <label for="gspExpiredOn" class="mat-label">GSP PROD Token Expired
                                                    On</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="gspUsername"
                                                    name="gst__prod_username" [(ngModel)]="gspApiDetails.gst__prod_username" #gspUsername="ngModel" required>
                                                <label for="gspUsername" class="mat-label">GSP PROD Username</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="password" appMatInput class="form-control" id="gspPassword"
                                                    name="gst_prod_password" [(ngModel)]="gspApiDetails.gst_prod_password" #gspPassword="ngModel" required>
                                                <label for="gspPassword" class="mat-label">GSP PROD Password</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="gspNumber"
                                                    name="gst_prod_number" [(ngModel)]="gspApiDetails.gst_prod_number" #gspNumber="ngModel" required>
                                                <label for="gspNumber" class="mat-label">GSP PROD Number</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <!-- Testing GSP Details -->
                    <ngb-panel id="static-4">
                        <ng-template ngbPanelTitle>
                            <span>Testing GSP Details</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div class="col-lg-10 col-md-10">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="testAppId"
                                                    name="gsp_test_app_id" [(ngModel)]="gspApiDetails.gsp_test_app_id" #testAppId="ngModel" required>
                                                <label for="testAppId" class="mat-label">GSP Test App Id</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="testSceret"
                                                    name="gsp_test_app_secret" [(ngModel)]="gspApiDetails.gsp_test_app_secret" #testSceret="ngModel" required>
                                                <label for="testSceret" class="mat-label">GSP Test App Sceret</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="testToken"
                                                    name="gsp_test_token" [(ngModel)]="gspApiDetails.gsp_test_token" #testToken="ngModel" required>
                                                <label for="testToken" class="mat-label">GSP Test Token</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control"
                                                    id="testTokenExpireOn" name="gsp_test_token_expired_on" [(ngModel)]="gspApiDetails.gsp_test_token_expired_on"
                                                    #testTokenExpireOn="ngModel" required>
                                                <label for="testTokenExpireOn" class="mat-label">GSP Test Token Expired
                                                    On</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="testUsername"
                                                    name="gst__test_username" [(ngModel)]="gspApiDetails.gst__test_username" #testUsername="ngModel" required>
                                                <label for="testUsername" class="mat-label">GSP Test Username</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="password" appMatInput class="form-control" id="testPassword"
                                                    name="gst_test_password" [(ngModel)]="gspApiDetails.gst_test_password" #testPassword="ngModel" required>
                                                <label for="testPassword" class="mat-label">GSP Test Password</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" appMatInput class="form-control" id="testNumber"
                                                    name="gst_test_number" [(ngModel)]="gspApiDetails.gst_test_number" #testNumber="ngModel" required>
                                                <label for="testNumber" class="mat-label">GSP Test Number</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </form>
        </div>
    </div>
</section>