p{
    margin-bottom: 0;
}

.justify-content-space-evenly{
    justify-content: space-between;
    align-items: center;
}

.largerCheckbox { 
    transform : scale(1.6);
    border-radius: 0;
} 

.custom-radio .custom-control-label::before{
    transform : scale(1); 
}
.bg-gray{
    background: #F4EFEF;
}
.bg-even{
   padding: 10px 5px;
   margin: 0px 0px;
}
.bg-gray1{
    padding: 8px 5px;
    margin: 0px 0px;
 }
.bg-even:nth-child(odd){
    background: #F4EFEF;
}

.custom-checkbox .custom-control-label::before{border-radius: 0 !important;}

.f-s{
    .custom-control-label{
        font-size: 12px;
        font-weight: 600;
    }
}

.custom-select{
    font-size: 14px;
    height: 30px !important;
}
input.form-control{
    font-size: 14px;
    height: 30px !important;
}
