<section class="border-bottom bg-theme-color px-3 py-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h6 class="mb-0 mt-2">
            <span class="back-arrow" [routerLink]="['/dashboard']"><i class="ri-arrow-left-line"></i></span>
            <strong>GSTR 2A vs Purchase Registery (Reconciliation) </strong>
          </h6>
        </div>
        <div class="col-md-6 text-right">
          <div class="d-flex align-items-center justify-content-end">
            <div>
              <p class="m-0"> <span class="pr-2">Novotel - HICC </span> | <span class="pr-2">GSTIN: 193939HMDJDHS </span>
              </p>
            </div>
            <div>
  
              <div>
                <select class="custom-select b-r-0" name="selectedMonth" id="selectedMonth"
                  [(ngModel)]="filters.selectedMonth" #selectedMonth="ngModel"
                  (change)="changeSelect($event,'month');getb2bTotalData()" required>
                  <option selected disabled>Select Month</option>
                  <option *ngFor="let month of monthNames" [value]="month.id">{{month.name}}</option>
                </select>
              </div>
            </div>
  
            <div class="ml-3">
  
              <div>
                <select name="selectedYear" id="selectedYear" class="custom-select b-r-0"
                  [(ngModel)]="filters.selectedYear" #selectedYear="ngModel"
                  (change)="changeSelect($event,'year');getb2bTotalData()" required>
                  <option selected disabled>Select Financial Year</option>
                  <option *ngFor="let year of years" [value]="">{{year}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-lighblue">
    <div class="row">
      <div class="col-md-7">
        <div class="d-flex">
          <h6 class="pt-1">Summary</h6>
        </div>
      </div>
      <div class="col-md-5 text-right">
        <button class="btn btn-sm btn-white mr-2"><i class="ri-download-fill mr-2"></i> Download
          Summary</button>
        <button class="btn btn-sm btn-white"><i class="ri-eye-fill mr-2"></i> View Detail</button>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="table-responsive">
      <table class="table tid-table" *ngIf="array.length">
        <thead>
          <tr>
            <th>GSTIN of Supplier</th>
            <th>Trade / Legal Name</th>
            <th>Invoice Type</th>
            <th>Invoice number</th>
            <th>Invoice Date</th>
            <th>Taxable value</th>
            <th>Intergrated tax</th>
            <th>Central Tax</th>
            <th>State/UT Tax</th>
            <th>Cess</th>
          </tr>
        </thead>
        <ng-container *ngFor="let register of registers; let index = index; let even = even">
          <tbody>
            <tr>
              <td>{{ register.heading }}</td>
              <td>{{ register.trade}}</td>
              <td>{{ register.InvoiceType}}</td>
              <td>{{ register.InvoiceNumber}}</td>
              <td>{{ register.InvoiceDate}}</td>
              <td>{{ register.TaxableValue}}</td>
              <td>{{ register.IntergratedTax}}</td>
              <td>{{ register.CentralTax}}</td>
              <td>{{ register.UTTax}}</td>
              <td>{{ register.Cess}}</td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>