<div class="container-fluid">
    <div class="card">
        <div class="d-flex justify-content-between border p-2">
            <div class="d-flex">
                <div>
                    <h5>Logo</h5>
                    <div class="m-auto d-flex justify-content-center border-dots logo-div cursor-pointer">
                        <div class="align-self-center font-weight-bold">
                            <p>+ADD</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="m-5">Name <i class="ri-edit-box-line cursor-pointer"></i>
                    </h4>
                </div>
            </div>


        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row mx-0 my-3">
                <div class="col-6 border p-2">
                    <h5>Company Details</h5>
                    Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name
                    :djfilsdjfl <br> Guest Name :djfilsdjfl
                    <div class="editbtn">
                        <i class="ri-edit-box-line cursor-pointer"></i>
                    </div>
                    <p class="my-2 py-2  text-center bg-light border-dots cursor-pointer font-weight-bold">+ ADD</p>
                </div>
                <div class="col-6 border p-2">
                    <h5>Tax Payer Details</h5>
                    Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name :djfilsdjfl <br> Guest Name
                    :djfilsdjfl <br> Guest Name :djfilsdjfl
                    <div class="editbtn">
                        <i class="ri-edit-box-line cursor-pointer"></i>
                    </div>
                    <p class="my-2 py-2  text-center bg-light border-dots cursor-pointer font-weight-bold">+ ADD</p>
                </div>
            </div>

            <table class="table border my-3">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Description</th>
                        <th>refernve</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>jkdldkd</td>
                        <td>djdksdksk</td>
                        <td>sdkfklslf</td>
                        <td>ljfsldfjljd</td>
                        <td>jdfjsdkf</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="p-0 table-add">
                            <p class="m-0 py-2 text-center border-dots cursor-pointer font-weight-bold">+ ADD</p>
                        </td>
                    </tr>
                </tbody>

            </table>

            <div class="row mx-0 my-3">
                <div class="col-6 border p-4">
                    <h6>Terms and Conditions</h6>
                    <p>Chagas disease is a parasitic disease which occurs in the Americas, particularly in South America. It is caused by a protozoan named Trypanosoma cruzi (pictured), which is transmitted to humans and other mammals primarily by blood-drinking
                        insects of the subfamily Triatominae. Other forms of transmission are possible, such as ingestion of food contaminated with T. cruzi, blood transfusion and maternal–fetal transmission. After an initial stage of infection that is
                        usually mild or asymptomatic, untreated individuals enter the chronic phase of the disease. People with chronic Chagas disease may develop organ dysfunction, which most commonly involves the heart or the digestive system. Chagas
                        disease can be treated using the antiparasitic drugs benznidazole and nifurtimox, which are most effective in the early stage of infection. It is estimated that 6.5 million people worldwide ar
                    </p>
                    <div class="editbtn">
                        <i class="ri-edit-box-line cursor-pointer"></i>
                    </div>
                    <p class="my-2 py-2  text-center  bg-light border-dots cursor-pointer font-weight-bold">+ ADD</p>
                </div>
                <div class="col-6 border p-4">
                    <h5>Payment Details</h5>
                    <p>sjflksjdlfjsljfljsdflj</p>
                    <p>jksdflslfjsdfkj</p>
                    <p>sj,fnklsdflsdlfjlsdj</p>
                    <p>sjdflksdjf</p>
                    <p>slamflmdlf</p>
                    <div class="editbtn">
                        <i class="ri-edit-box-line cursor-pointer"></i>
                    </div>
                    <p class="my-2 py-2  text-center bg-light border-dots cursor-pointer font-weight-bold">+ ADD</p>
                </div>
            </div>

            <div class="row mx-0 my-3">
                <div class="col-6 border p-4">
                    <h6>Bank Details</h6>
                    <p>
                        Bank Name :jaskjkdj <br> Branch : sdlasdlaso <br> Address : kjsdnkjsdfjsdfj
                    </p>
                    <div class="editbtn">
                        <i class="ri-edit-box-line cursor-pointer"></i>
                    </div>
                    <p class="my-2 py-2  text-center  bg-light border-dots cursor-pointer font-weight-bold">+ ADD</p>
                </div>
                <div class="col-3 offset-3 border p-4">
                    <h5>Signature</h5>
                    <div>
                        <div class="m-auto d-flex justify-content-center border-dots signature-div cursor-pointer">
                            <div class="align-self-center font-weight-bold">
                                <p>+ADD</p>
                            </div>
                        </div>
                    </div>

                    <div class="editbtn">
                        <i class="ri-edit-box-line cursor-pointer"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>