<section>
    <div class="row mb-3">
        <div class="col-md-3 col-lg-3">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white my-auto">Document Bin <small>({{filters.totalCount}})</small>
                </h4>
                <!-- <span class="create" [routerLink]="['/home/gsp-apis-details']"><i class="ri-add-line"></i></span> -->
            </div>
        </div>
        <div class="col-lg-9 col-md-9 text-right">
            <!-- <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" #search placeholder="Search">
                <span class="search"><i class="ri-search-line"></i></span>
            </div> -->
            <button class="btn btn-primary btn-small mr-2" type="button" (click)="downloadExe()" appPermissionButton accessType="write">EzyUtility</button>
            <button class="btn btn-primary btn-small mr-2" type="button" *ngIf="reprocessButn" (click)="openModalReprocess(multiReprocess)" appPermissionButton accessType="write">Re-process</button>
            <button class="btn btn-primary btn-small mr-2" type="button" (click)="updateParsers()" appPermissionButton accessType="write">Update
                Parser</button>
            <button (click)="diagnostic()" ngbTooltip="Download Diagnostic" class="btn btn-primary btn-small mr-2" type="button" appPermissionButton accessType="export"><span><i class="ri-folder-download-line text-white"></i></span></button>
            <button (click)="refreshParams()" ngbTooltip="Refresh" class="btn btn-primary btn-small" type="button"><span><i class="ri-refresh-line text-white"></i></span></button>
        </div>
    </div>
    <div class="card">

        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Invoice Number</th>
                        <th>Printed On</th>
                        <th>Document Type</th>
                        <th>Status</th>
                        <th>Work Station</th>
                        <!-- <th>Error</th> -->
                        <th>Printed By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td></td>
                        <td class="bg-gray" style="min-width: 100px;">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ri-search-line"></i>
                                    </span>
                                </div>
                                <input #codeInp type="search" [(ngModel)]="filters.searchFilter.invoice_number" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm calendar ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="ri-search-line"></i>
                                    </span>
                                </div>
                                <input class="form-control h-auto" [(ngModel)]="filters.searchFilter.creation" (dateTimeChange)="updateRouterParams()" (keyup)="onSearch.emit(filters)" (keyup.enter)="updateRouterParams()" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time"
                                    [min]="lastSevenDays" [max]="today">
                                <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                                    <i class="ri-calendar-2-line"></i>
                                </span>
                                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                            </div>
                        </td>
                        <td class="bg-gray">
                            <div class="form-group m-0">
                                <select id="invoice_type" class="m-0 bg-white form-control-sm custom-select" [(ngModel)]="filters.searchFilter.document_type" (change)="onSearch.emit(filters)">
                                    <option value="">Showing all</option>
                                    <option value="Debit Invoice">Debit Invoice</option>
                                    <option value="Credit Invoice">Credit Invoice</option>
                                    <option value="Tax Invoice">Tax Invoice</option>
                                </select>
                            </div>
                        </td>
                        <td class="bg-gray">
                            <div class="form-group m-0">
                                <select id="creditNotes" class="form-control-sm bg-white m-0 custom-select" [(ngModel)]="filters.searchFilter.document_printed" (change)="onSearch.emit(filters)">
                                    <option value="">Showing all</option>
                                    <option value="Yes">Success</option>
                                    <option value="No">Error</option>
                                </select>
                            </div>
                        </td>
                        <td></td>
                        <!-- <td></td> -->
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of docBinList; let i = index">
                        <td>{{item.index}}</td>
                        <td>
                            <span> <a [routerLink]="['../../invoice-details/'+item.invoice_number]"
                                    [queryParams]="{prop:'invoice'}"
                                    queryParamsHandling="merge">{{item?.invoice_number}}</a>
                            </span>
                        </td>
                        <td>{{item?.creation | date:'MMM d, y h:mm a'}}</td>
                        <td>{{item?.document_type}}</td>
                        <td> <span class="badge mx-3" [ngClass]="{'badge-success': item.document_printed === 'Yes','badge-danger':item.document_printed === 'No'}" [ngbTooltip]="item?.error_log">{{item?.document_printed === 'Yes'? "Success" : "Error"
                                }} </span></td>
                        <td>{{item?.system_name || 'NA'}}</td>
                        <!-- <td class="text-truncate-err">{{item?.error_log || 'NA'}}</td> -->
                        <td>{{item?.print_by}}</td>
                        <td>
                            <div style="display: none;">
                                <input type="text" [value]="domain + item.invoice_file" #userinput>
                                <button (click)="copyInputMessage(userinput)" value="click to copy">Copy from
                                    Textbox</button>
                            </div>

                            <span><a (click)="navigate(item,'view')">View</a>

                                <i ngbTooltip="copy" class="ri-file-copy-2-line ml-1" ngxClipboard #cp
                                    [ngClass]="{'blue':copiedIndex == i}" [cbContent]="item.invoice_file"
                                    (cbOnSuccess)="isCopied = true" (click)="copyText(item,i)"></i>
                                <!-- <button (click)="copyInputMessage(userinput)" value="click to copy"><i class="ri-file-copy-2-line"></i></button> -->

                            </span>
                            <!-- <span class="ml-2" *ngIf="item?.document_printed == 'No'"><a
                                (click)="reInitiateInvoice(item)">Upload</a></span> -->
                            <span class="ml-2" *ngIf="item?.document_printed == 'No'"><a
                                    (click)="reprocess(item,'view')">Re-Process</a></span>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="text-center py-3" *ngIf="!docBinList.length">
            <h4>No Data Found</h4>
        </div>
        <div class="d-flex pb-2 justify-content-between" *ngIf="docBinList.length">
            <div class="px-3">
                <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="150">150</option>
                    <option [value]="500">500</option>
                </select>
            </div>
            <div *ngIf="docBinList.length  < this.filters.totalCount">
                <p class="text-right pr-5 more text-primary" (click)="this.filters.start = docBinList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                    more
                </p>
            </div>
        </div>

    </div>
</section>

<ng-template #uploadModal let-modal>
    <div class="modal-header">
        <h6> <strong>Upload </strong> </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body file-upload" *ngIf="!errorMessage && !successMessage">
        <div *ngIf="!filename">
            <label for="file" class="d-block cursor-pointer text-center">
                <i class="ri-upload-cloud-line"></i>
                <h6><strong>Upload Pdf Invoice</strong></h6>
            </label>
            <input accept=".pdf" (change)="handleFileInput($event.target.files)" class="opacity-0" type="file" name="" id="file">
            <!-- <img class="img-fluid" [src]="imgURL" alt=""> -->
        </div>

        <div class="text-center" *ngIf="filename">
            <i class="ri-file-text-line text-success line-height-0"></i>
            <div class="my-3">{{filename}}</div>
        </div>



        <div class="text-center" *ngIf="filename">
            <button (click)="filename = !filename" class="btn btn-outline-dark" type="button">Cancel</button>
            <button (click)="uploadService()" class="btn btn-primary ml-2" appPermissionButton accessType="write" type="button">Upload</button>
        </div>


    </div>

    <div class="file-upload">
        <div class="text-center" *ngIf="errorMessage">
            <i class="ri-close-circle-line text-danger line-height-0"></i>
            <div class="my-3 mb-5"><strong>{{errorMessage?.message}}</strong></div>
        </div>
        <div class="text-center" *ngIf="successMessage">
            <i class="ri-checkbox-circle-line text-success line-height-0"></i>
            <div class="my-3 mb-5"><strong>{{successMessage?.message}}</strong></div>
        </div>
    </div>



</ng-template>


<ng-template #parserModal let-modal>
    <div class="modal-header">
        <h6> <strong>Parser </strong> </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body ">
        <p><a (click)="openParser()">{{parserFile}}</a></p>

    </div>


</ng-template>

<ng-template #multiReprocess let-modal>
    <div class="modal-header">
        <h5 class="" id="modal-basic-title">Re-process</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="list" *ngIf="errDocument.length > 0">
            <div *ngFor="let progressInfo of errDocument" class="mb-2">
                <div class="d-flex">
                    <span class="col-md-1">
                        <b *ngIf="progressInfo?.uploaded == 'failed'"> <i class="ri-close-line"
                                style="color: red;"></i></b>
                        <b *ngIf="progressInfo?.uploaded == 'success'"> <i class="ri-check-line"
                                style="color: green;"></i></b>

                    </span>

                    <p class="mr-3 col-md-11"><a>{{ progressInfo?.invoice_number
                            }} <b style="color: black;"> {{progressInfo?.invoice_file}} </b></a></p>

                </div>

            </div>
            <div *ngIf="checkErrDocument.length">
                {{checkErrDocument|json}}
                <div *ngFor="let item of checkErrDocument" class="mb-2">
                    <div class="d-flex">
                        <span class="col-md-1">
                            <b *ngIf="!item?.status "> <i class="ri-close-line" style="color: red;"></i></b>
                            <b *ngIf="item?.status"> <i class="ri-check-line" style="color: green;"></i></b>

                        </span>

                        <p class="mr-3 col-md-11"><a><b style="color: black;"> {{item?.filepath}} </b></a></p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="reprocessDoc" class="btn btn-outline-primary mb-0  text-uppercase" type="button" (click)="modal.close('success')">Ok</button>
        <button *ngIf="!reprocessDoc" type="reset" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        <button *ngIf="!reprocessDoc" type="button" appPermissionButton accessType="write" class="btn btn-primary" (click)="reprocessMulti()">Re-process</button>
    </div>

</ng-template>
