.manual .table td .view {
  cursor: pointer;
  text-decoration: underline;
  color: #2164e8;
  font-weight: 600;
}

.manual .table tbody tr:nth-of-type(even) {
  background: #fff;
}

.manual .table tbody tr:nth-of-type(odd) {
  background: #f0f0f0;
}

.manual .table-bordered {
  border: 0;
}

.manual table thead th {
  border-bottom: 0;
  border-top: 0;
}

.manual .table th,
.manual .table td {
  padding: 8px;
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid rgba(221, 218, 218, 0.3);
}

.manual .table tbody td:first-child {
  padding-left: 8px !important;
}

.manual .calendar {
  max-width: 220px;
}

.manual .calendar i {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.manual tr.pending {
  background: #fd8787 !important;
}

.manual .input-group {
  max-width: 150px;
}

.manual select.custom-select {
  height: auto;
}

.manual .form-group {
  margin-bottom: 0;
}

.manual .form-group select {
  font-size: 13px;
}

.manual .form-group .form-control {
  padding: 5px;
  border: 0 !important;
}

.manual td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manual table td:nth-child(1) {
  max-width: 50px !important;
  text-align: center;
}

.manual table td:nth-child(2) {
  max-width: 100px !important;
}

.manual table td:nth-child(4) div {
  max-width: 140px !important;
}

.manual table td:nth-child(5) div {
  max-width: 180px !important;
}

.manual table td:nth-child(6) div {
  max-width: 120px !important;
}

.manual table td:nth-child(6) div {
  max-width: 100px !important;
}

.manual table td:nth-child(7) div {
  max-width: 100px !important;
}

.manual table td:nth-child(8) {
  max-width: 100px !important;
}

.manual table td:nth-child(9) {
  max-width: 100px !important;
}

.manual table td:nth-child(3) div {
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}

.w-c-50 {
  min-width: 150px;
  margin-left: 20px;
}

.colorBg {
  color: #2164e8;
}

.more {
  text-decoration: underline;
  cursor: pointer;
}

.addCredit h5 {
  font-size: 17px;
}

.each-block .list-unstyled li {
  list-style: none;
  padding: 5px 0;
  display: block;
  text-decoration: none;
}

.each-block .list-unstyled {
  text-decoration: none;
}

.each-block .list-unstyled li span {
  display: block;
  font-size: 11px;
  color: #151515;
  opacity: 0.5;
  font-weight: 600;
}

.each-block .list-unstyled li strong {
  display: block;
  font-size: 13px;
}

.bg-gray {
  background: #f0f0f0;
  padding: 10px;
}

.max-200 {
  max-width: 200px;
}

.scale-2 {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

table th {
  background: #f5f5f5;
}

table th, table td {
  white-space: nowrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

th:first-child,
td:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

th:last-child,
td:last-child {
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
}

td:first-child {
  background: #fff;
}

th:last-child {
  background: #f5f5f5;
}

td:last-child {
  background: #fff;
}

table .custom-select {
  background: #f6f6f6;
}

.input-group-text {
  background: #f6f6f6;
}

.input-group.input-group-sm .form-control {
  background: #f6f6f6 !important;
}

virtual-scroller {
  width: 100%;
  height: 500px;
}

.custom-select {
  font-size: 14px;
  height: 32px;
  border: 0;
}

.text-decoration-underline {
  text-decoration: underline;
}

.help-link {
  position: absolute;
  right: 0;
  top: 10px;
}

video {
  width: 100%;
}

iframe {
  width: 100%;
  height: 400px;
}
/*# sourceMappingURL=manual-credit-notes.component.css.map */