<section class=" position-relative manual">
  <div class="d-flex mb-3 justify-content-between">
    <div class="d-flex">
      <h4 *ngIf="manualType !== 'Tax'" class="text-white"><b>{{manualType}} Notes
          <small>({{this.filters.totalCount}})</small></b></h4>
      <h4 *ngIf="manualType === 'Tax'" class="text-white"><b>Manual {{manualType}} Notes
          <small>({{this.filters.totalCount}})</small></b></h4>
      <div class="ml-3 d-flex">
        <button *ngIf="companyDetails?.create_manual_invoice" (click)="addManualCredit()"
          class="btn btn-primary py-0 px-2" type="button">
          <i class="ri-add-line"></i>
        </button>
        <div class="form-group w-c-50 my-auto">
          <select id="my-select2" [(ngModel)]="filters.search.filterType" (ngModelChange)="onDateFilterType()"
            class="custom-select bg-white" name="">
            <option value="creation">Printed</option>
            <option value="invoice_date">Invoice</option>

          </select>
        </div>
        <div class="form-group w-c-50 my-auto">
          <select id="my-select" [(ngModel)]="filters.search.filterBy" (ngModelChange)="onDateFilterChange()"
            class="custom-select bg-white" name="">
            <option value="All">All</option>
            <option value="Today">Today</option>
            <option value="Yesterday">Yesterday</option>
            <option value="This Week">This Week</option>
            <option value="Last Week">Last Week</option>
            <option value="This Month">This Month</option>
            <option value="Last Month">Last Month</option>
            <option value="This Year">This Year</option>
            <option value="Custom">Custom</option>
          </select>
        </div>

        <div class="form-group calendar w-c-50 position-relative my-auto" *ngIf="filters.search.filterBy == 'Custom'">
          <input class="form-control h-auto" [(ngModel)]="filters.search.filterDate"
            (dateTimeChange)="updateRouterParams()" [owlDateTime]="dt1" [selectMode]="'range'"
            [owlDateTimeTrigger]="dt1" placeholder="Date Time">
          <span class="example-trigger" [owlDateTimeTrigger]="dt1">
            <i class="ri-calendar-2-line"></i>
          </span>
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>

        <!-- <div class="text-right">
        <button (click)="synctoGst()" *ngIf="companyDetails?.ezy_gst_module == 1" class="btn btn-primary btn-small mx-2 btn-right" ngbTooltip="sync to gst"
            appPermissionButton accessType="write" type="button">Sync to GST</button>
      </div> -->

      </div>
    </div>


    <div>
      <div class="d-flex">
        <button (click)="openModalIRN(multiGenerateIrn)" *ngIf="dupinvoicesList?.length "
          class="btn btn-primary btn-small mr-2" appPermissionButton accessType="write" type="button">Generate
          IRN</button>
        <p class="mt-3 mb-0 cursor-pointer text-white text-decoration-underline " *ngIf="manualType === 'Credit'">How to
          add a credit invoice?</p>
        <p class="mt-3 mb-0 cursor-pointer text-white text-decoration-underline " *ngIf="manualType === 'Debit'">How to
          add a debit invoice?</p>
        <p (click)="openVideo(video)" class="mt-3 mb-0 cursor-pointer text-white text-decoration-underline "
          *ngIf="manualType === 'Tax'">How to add a manual invoice?</p>


      </div>

      <!-- <span class="cursor-pointer text-white text-decoration-underline help-link" *ngIf="manualType === 'Credit'">How to
        add a credit invoice?</span>
      <span class="cursor-pointer text-white text-decoration-underline help-link" *ngIf="manualType === 'Debit'">How to
        add a debit invoice?</span>
      <span (click)="openVideo(video)" class="cursor-pointer text-white text-decoration-underline help-link"
        *ngIf="manualType === 'Tax'">How to add a manual invoice?</span> -->

    </div>

  </div>
  <div class="card border-0 shadow">
    <div class="card-body p-0 table-responsive">
      <virtual-scroller #scroll [items]="invoicesList">
        <table class="table table-bordered">
          <thead #head>
            <tr>

              <th>

                S NO
              </th>
              <th>#</th>
              <th>

                Invoice Number
              </th>
              <th *ngIf="companyDetails?.e_invoice_missing_date_feature">Expiry days</th>
              <th>

                Guest Name
              </th>
              <th>

                Confirmation No.
              </th>
              <th>GST No.</th>
              <th>

                Room No.
              </th>
              <th>Invoice Type</th>
              <th>IRN Generated</th>
              <th>
                Date
              </th>
              <th>
                Added Date
              </th>
              <th *ngIf="companyDetails?.ezy_gst_module == 1">Sync Status</th>
              <th *ngIf="companyDetails?.ezy_gst_module == 1">Sync Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody #container>
            <tr>
              <td></td>
              <td>
                <div class="custom-control custom-checkbox">
                  <input (change)="checkedItemsAll($event)" type="checkbox" [(ngModel)]="selectAll"
                    class="custom-control-input" id="customCheckAll" name="itemAll">
                  <label class="custom-control-label" for="customCheckAll" ngbTooltip="Select All"></label>
                </div>
              </td>
              <td class="bg-gray">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ri-search-line"></i>
                    </span>
                  </div>
                  <input #invoiceInp type="search" [(ngModel)]="filters.search.invoice" (keyup)="onSearch.emit(filters)"
                    (search)="onSearch.emit(filters)" class="form-control">
                </div>
              </td>
              <td *ngIf="companyDetails?.e_invoice_missing_date_feature">

              </td>
              <td class="bg-gray">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ri-search-line"></i>
                    </span>
                  </div>
                  <input #nameInp type="search" [(ngModel)]="filters.search.name" (keyup)="onSearch.emit(filters)"
                    (search)="onSearch.emit(filters)" class="form-control">
                </div>
              </td>
              <td class="bg-gray">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ri-search-line"></i>
                    </span>
                  </div>
                  <input #confirmNumInp type="search" [(ngModel)]="filters.search.confirmation"
                    (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" class="form-control">
                </div>
              </td>
              <td class="bg-gray" style="min-width: 120px;">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ri-search-line"></i>
                    </span>
                  </div>
                  <input #gstNumInp type="search" [(ngModel)]="filters.search.gstNumber"
                    (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" class="form-control">
                </div>
              </td>
              <td class="bg-gray">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ri-search-line"></i>
                    </span>
                  </div>
                  <input #roomNumInp type="search" [(ngModel)]="filters.search.roomNo" (keyup)="onSearch.emit(filters)"
                    (search)="onSearch.emit(filters)" class="form-control">
                </div>
              </td>
              <td class="bg-gray">
                <!-- <div class="form-group">
                <select id="invoiceType" class="custom-select" [(ngModel)]="filters.search.invoiceType"
                  (change)="onSearch.emit(filters)">
                  <option value="">Showing all</option>
                  <option value="B2B">B2B</option>
                  <option value="B2C">B2C</option>
                </select>
              </div> -->
              </td>

              <!-- <td class="bg-gray" *ngIf="filters.active === 1"></td> -->

              <td class="bg-gray">
                <div class="form-group" *ngIf="filters.active === 2">
                  <select id="irn" class="custom-select" [(ngModel)]="filters.search.irn"
                    (change)="onSearch.emit(filters)">
                    <option value="">Showing all</option>
                    <option value="Pending">Pending</option>
                    <option value="Success">Success</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Error">Error</option>
                    <option value="Zero Invoice">Zero Invoice</option>
                    <option value="Draft">Draft</option>
                  </select>
                </div>
              </td>

              <td class="bg-gray">
                <!-- <div class="form-group">
                    <select id="sortBy" class="custom-select" [(ngModel)]="filters.search.sortBy" (change)="onSearch.emit(filters)">
      <option *ngFor="let sort of sortingList" [value]="sort.value">{{sort.name}}</option>
    </select>
                </div> -->
              </td>
              <td class="bg-gray"></td>
              <td class="bg-gray" *ngIf="companyDetails?.ezy_gst_module == 1">
                <div class="form-group">
                  <select id="synced_to_erp" class="custom-select" [(ngModel)]="filters.search.synced_to_erp"
                    (change)="onSearch.emit(filters)">
                    <option value="">Showing all</option>
                    <option value="1">Synced</option>
                    <option value="0">Not Synced</option>
                  </select>
                </div>
              </td>
              <td class="bg-gray" *ngIf="companyDetails?.ezy_gst_module == 1"></td>
              <td class="bg-gray"></td>
            </tr>


            <tr *ngFor="let invoice of scroll.viewPortItems ;let i = index">
              <td>{{invoice?.index}}</td>
                <!-- *ngIf=" companyDetails?.e_invoice_missing_date_feature && invoice.irn_generated === 'Pending' && invoice.invoice_type == 'B2B' && invoice?.expiry_days >= 0 " -->

              <td>
                <div
                  *ngIf=" companyDetails?.e_invoice_missing_date_feature && invoice.irn_generated === 'Pending' && invoice.invoice_type == 'B2B' && (!invoice?.expiry_days ||invoice?.expiry_days >= 0 )"
                  class="custom-control custom-checkbox">
                  <input (change)="checkedItems($event, invoice)" type="checkbox" class="custom-control-input"
                    id="customCheck{{i}}" name="item{{i}}" [(ngModel)]="invoice.checked">

                  <label class="custom-control-label" for="customCheck{{i}}"></label>
                </div>


                
                <div *ngIf="!companyDetails?.e_invoice_missing_date_feature" class="custom-control custom-checkbox">
                  <input (change)="checkedItems($event, invoice)" type="checkbox" class="custom-control-input"
                    id="customCheck{{i}}" name="item{{i}}" [(ngModel)]="invoice.checked">
                  <label class="custom-control-label" for="customCheck{{i}}"></label>
                </div>



                <!-- <div *ngIf="invoice.irn_generated === 'Pending'&& invoice.invoice_type == 'B2B'"
                  class="custom-control custom-checkbox">
                  <input (change)="checkedItems($event, invoice)" type="checkbox" class="custom-control-input"
                    id="customCheck{{i}}" name="item{{i}}" [(ngModel)]="invoice.checked">
                  <label class="custom-control-label" for="customCheck{{i}}"></label>
                </div> -->
              </td>
              <td>{{invoice?.invoice_number ||'NA'}} <i
                  *ngIf="(invoice.ready_to_generate_irn == 'No'&& invoice.irn_generated =='Error')"
                  class="ri-error-warning-fill text-danger" [ngbTooltip]="invoice.error_message"></i>
              </td>

              <td *ngIf="this.companyDetails?.e_invoice_missing_date_feature">
                <span
                  [ngClass]="{'expiring_bg_warn': (invoice?.expiry_days == 0 || invoice?.expiry_days == 1) && ((invoice.irn_generated === 'Pending' || invoice.irn_generated === 'Error')&& invoice.invoice_type == 'B2B')}"
                  *ngIf="invoice?.expiry_days >= 0 && invoice.invoice_type == 'B2B'">{{invoice?.expiry_days == 0 ?
                  "Today" : invoice?.expiry_days}} </span>
                <span class="expiring_bg"
                  *ngIf="invoice?.expiry_days < 0 && ((invoice.irn_generated === 'Pending' || invoice.irn_generated === 'Error')&& invoice.invoice_type == 'B2B')">Expired</span>
              </td>

              <td><span class="text-truncate d-block max-200" [ngbTooltip]="invoice?.guest_name"
                  [placement]="'top'">{{invoice?.guest_name || 'NA'}}</span></td>
              <td><span class="text-truncate d-block max-200" [ngbTooltip]="invoice?.confirmation_number"
                  [placement]="'top'">{{invoice?.confirmation_number || 'NA'}}</span></td>
              <td>{{invoice?.gst_number || 'NA'}}</td>
              <td>{{invoice?.room_number|| 'NA'}}</td>
              <td>{{invoice?.invoice_type|| 'NA'}}</td>

              <td *ngIf=" invoice.irn_generated !=='NA' ; else statusBlock" class="text-left"><span class="badge"
                  [ngClass]="{'badge-success': invoice.irn_generated == 'Zero Invoice','badge-success': invoice.irn_generated == 'Success','badge-warning':invoice.irn_generated == 'Pending','badge-default':invoice.irn_generated == 'Cancelled', 'badge-danger':invoice.irn_generated == 'Error'}">{{invoice.irn_generated}}</span>
              </td>
              <ng-template #statusBlock>
                <td class="text-left"><span class="badge"
                    [ngClass]="{'badge-success': invoice.qr_generated == 'Zero Invoice','badge-success': invoice.qr_generated == 'Success','badge-warning':invoice.qr_generated == 'Pending','badge-danger':invoice.qr_generated == 'Error'}">{{invoice.qr_generated}}</span>
                </td>
              </ng-template>
              <!-- <td>{{invoice?.mode}}</td> -->
              <td>{{invoice?.invoice_date|date:'MMM d'}}</td>
              <td>{{invoice?.creation|date:'MMM d'}}</td>
              <td *ngIf="companyDetails?.ezy_gst_module == 1">{{invoice?.synced_to_erp?'Synced':'Not Synced'}}</td>
              <td *ngIf="companyDetails?.ezy_gst_module == 1">{{invoice?.synced_date |date : ["MMM d y"]}}</td>
              <td><a [routerLink]="['../../manual-credit-details/'+invoice.name]" [queryParams]="{prop:'invoice'}"
                  queryParamsHandling="merge" appPermissionButton accessType="read" moduleType="docType"
                  class="view">View</a>
              </td>
            </tr>

          </tbody>
        </table>


        <div class="text-center pb-3" *ngIf="!invoicesList.length">
          <h5><strong>No Data Found</strong></h5>
        </div>

      </virtual-scroller>
    </div>
    <div class="d-flex justify-content-between" *ngIf="invoicesList.length">
      <div class="px-3">
        <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
          (change)="checkPagination()" id="itemsPerPage">
          <option [value]="20">20</option>
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="150">150</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <div *ngIf="invoicesList.length  < this.filters.totalCount">
        <p class="text-right pr-5 more text-primary"
          (click)="this.filters.start = invoicesList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
          more
        </p>
      </div>
    </div>
    <!-- <div *ngIf="invoicesList.length  < this.filters.totalCount">
      <p class="text-right pr-5 more text-primary"
        (click)="this.filters.start = invoicesList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
        more
      </p>
    </div> -->
  </div>
</section>



<!--
<ng-template #addCredit let-modal>
  <div class="modal-header  addCredit">
    <h5 class="mb-0" id="modal-basic-title"><strong>Create {{manualType}} Invoice</strong></h5>
    <button type="button" class="close" aria-label="Close" (click)="form.reset();modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body px-4 pt-2 pb-4">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="row">



        <div class="col-md-12 addCredit mb-2">
          <h5><strong>Tax Payer Details</strong></h5>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input placeholder="Enter GST Number *" type="text" appMatInput class="form-control" id="gst_number"
              name="gst_number" (ngModelChange)="changeDescription($event)" minlength="15" maxlength="15"
               appValidateGST
              [(ngModel)]="taxPayerDetails.gst_number" #gst_number="ngModel" required>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label class="mat-label" for="invoice_number">Invoice Number *</label>
            <input [(ngModel)]="creditInvoice.invoice_number"  #invoice_number="ngModel" appMatInput id="invoice_number" class="form-control"
              type="text" name="invoice_number" required>
            <small class="text-danger" *ngIf="invoice_number.touched && invoice_number?.errors?.specialCharacter">{{invoice_number?.errors?.specialCharacter}}</small>
            {{invoice_number?.error | json}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="mat-label" for="invoice_date">Invoice Date *</label>
            <input type="text" [max]="today_date" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"
              [(ngModel)]="creditInvoice.invoice_date" appMatInput id="invoice_date" class="form-control" type="text"
              name="invoice_date" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="mat-label" for="guest_name">Guest Name *</label>
            <input readonly [(ngModel)]="taxPayerDetails.trade_name" appMatInput id="guest_name" class="form-control" type="text"
              name="guest_name" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="mat-label" for="room_number">Room Number</label>
            <input appNumberInput maxlength="9" [(ngModel)]="creditInvoice.room_number" appMatInput id="room_number" class="form-control" type="text"
              name="room_number">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="mat-label" for="total_invoice_amount">Final Invoice Amount With GST *</label>
            <input appMatInput appDecimaNumber  id="total_invoice_amount" [(ngModel)]="creditInvoice.total_invoice_amount"
              class="form-control" type="text" name="total_invoice_amount" required>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <ng-select class="custom" [items]="stateCodes" bindLabel="state" placeholder="Place of supply" name="place_of_supply" (ngModelChange)="modelChangeFn($event)"
              [(ngModel)]="creditInvoice.place_of_supply" #place_of_supply="ngModel" required>
            </ng-select>
          </div>
        </div>

        <div class="col-md-6 my-auto">
          <div class="form-group pl-2">
            <div class="custom-control custom-checkbox">
              <input name="sez"  [(ngModel)]="creditInvoice.sez" type="checkbox" class="custom-control-input" id="SEZ" >
              <label class="custom-control-label scale-2" for="SEZ">SEZ</label>
            </div>
          </div>
        </div>



        <div class="col-md-12">
          <div class="bg-gray each-block" *ngIf="taxDetails">
            <div class="row" *ngIf="!gstNumberError">
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <li><span>Legal Name</span> <strong placement="top"
                      ngbTooltip="{{ taxPayerDetails.legal_name}}"
                      class="text-truncate">{{(taxPayerDetails.legal_name)
                      || 'NA'}}</strong></li>
                  <li><span>GST Number</span> <strong>{{taxPayerDetails.gst_number || 'NA'}}</strong></li>
                  <li><span>Address 1</span> <strong placement="top"
                      ngbTooltip="{{taxPayerDetails.address_1}}"
                      class="text-truncate">{{(taxPayerDetails.address_1)|| 'NA'}}</strong></li>
                  <li><span>Location</span> <strong>{{(taxPayerDetails.location)}}</strong>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-unstyled text-right">
                  <li><span>Guest Name</span> <strong placement="top"
                      ngbTooltip="{{taxPayerDetails.trade_name}}"
                      class="text-truncate">{{(taxPayerDetails.trade_name)||'NA'}}</strong></li>
                  <li><span>State code</span>
                    <strong>{{(taxPayerDetails.state_code)||'NA'}}</strong>
                  </li>
                  <li><span>Address 2</span> <strong placement="top"
                      ngbTooltip="{{taxPayerDetails.address_2}}"
                      class="text-truncate">{{(taxPayerDetails.address_2)|| 'NA'}}</strong></li>
                  <li><span>Pincode</span> <strong>{{(taxPayerDetails.pincode)||'NA'}}</strong></li>
                </ul>
              </div>



            </div>
          </div>

          <div class="bg-gray each-block text-center" *ngIf="gstNumberError">
            <h6 class="py-3"><strong>Please Enter Valid GST Number</strong></h6>
          </div>
        </div>




        <div class="col-md-12 mt-3">
          <div class="text-right">
            <button (click)="modal.dismiss('Cross click')" class="btn btn-outline-dark"
              type="button">Cancel</button>
            <button [disabled]="!taxDetails" class="btn btn-primary ml-3" type="submit">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</ng-template> -->

<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <span class="modal-title" id="modal-basic-title">Syncing Documents</span>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <i class="ri-close-line"></i>
      </button>
  </div>
  <div class="modal-body p-3">
      <div class="row">
          <div class="col-md-6">
            <div class="form-group ml-2 w-c-50 my-auto" *ngIf="!showList">
              <select id="my-select" [(ngModel)]="selectedMonth"  class="custom-select bg-white" name="selectedMonth">
                  <option value="Jan">January</option>
                  <option value="Feb">February</option>
                  <option value="Mar">March</option>
                  <option value="Apr">April</option>
                  <option value="May">May</option>
                  <option value="Jun">June</option>
                  <option value="Jul">July</option>
                  <option value="Aug">August</option>
                  <option value="Sep">September</option>
                  <option value="Oct">October</option>
                  <option value="Nov">November</option>
                  <option value="Dec">December</option>
              </select>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ml-2 w-c-50 my-auto" *ngIf="!showList">
              <select id="my-select" [(ngModel)]="selectedyear" class="custom-select bg-white" name="">
                <option *ngFor="let item of years" [value]="item">{{item}}</option>
            </select>
            </div>
          </div>
      </div>
  </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="synctoGst()">Sync</button>
  </div>
</ng-template> -->


<ng-template #video let-modal>
  <div class="modal-header">
    <h6 classmb-0><b>How to add a manual invoice?
      </b></h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div>
          <pre class="px-2"
            style="white-space: pre-line;line-height:26px;font-family: inherit;max-height: 250px;overflow:auto;">
Step 1 : Click on add
Step 2 : Enter the below valid GST number,our system fetches all the data  related to the GST number you have entered.
Step 3 : Enter the remaining data like Invoice number, Invoice date ,Room number and place of supply.
Step 4 : Click on Save
Step 5 : You will now navigate to the invoice details screen.All the information you have entered in the previous screen will be displayed here.
Step 6 : Now you need add line items.To do that click on the add button which is beside the invoice summary.
Step 7 : Select Item Value
Step 8 : Select Item Base value and click on add.

  </pre>
        </div>
      </div>
      <div class="col-md-6">
        <video
          src="https://r5---sn-npoe7ney.c.drive.google.com/videoplayback?expire=1617806056&ei=qIptYI27Me-FrvIPneGJ0AY&ip=223.230.2.44&cp=QVRGWUlfVVBTR1hPOkNsRnFRdmFiSDZibWRTSGlJUlRlaTk4X1ZJMkM4VzlxMksxeEFyZUt6SXk&id=d53bf6ddfb8cdccb&itag=18&source=webdrive&requiressl=yes&ttl=transient&susc=dr&driveid=1DMBLZV2XLD4URpWniwD2r733F-K-utst&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=125.085&lmt=1617791596789258&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRAIgd169QwNhowvwVYbB4JIyz7aSsgzNNw_vj2ZzK75367cCIGn77rCOYnZKr1aAViJ6uYuv5jf3GdA8Fp3_2gjEJ2ND&cpn=CPExBVbgb7MJz_6w&c=WEB_EMBEDDED_PLAYER&cver=1.20210405.1.0&redirect_counter=1&cm2rm=sn-h55ee76&req_id=eebd30377ecca3ee&cms_redirect=yes&mh=Vr&mm=34&mn=sn-npoe7ney&ms=ltu&mt=1617790898&mv=u&mvi=5&pl=22&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRAIgIDOwExHhpTqsC6qeiJP64CYoPiTDlmjkMw0-k-i_lMQCIF8AKnaZeJ9sFxGUzSUuHkyz9MjVOVDy9Yy-hCgI_snl"
          controls></video>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #multiGenerateIrn let-modal>
  <div class="modal-header">
    <h5 class="" id="modal-basic-title">Generate IRN</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="dupinvoicesList.length > 0">
      <div *ngFor="let progressInfo of dupinvoicesList" class="mb-2">
        <div class="d-flex">
          <span class="col-md-1">
            <b *ngIf="progressInfo.uploaded == 'failed'"> <i class="ri-close-line" style="color: red;"></i></b>
            <b *ngIf="progressInfo.uploaded == 'success'"> <i class="ri-check-line" style="color: green;"></i></b>
            <!-- <ngb-progressbar [type]="progressInfo.color" textType="white"
                           [value]="progressInfo.parserProgress +progressInfo.uploadProgress" [showValue]="true">
                       </ngb-progressbar> -->
          </span>
          <p class="mr-3 col-md-11"><a [routerLink]="['../../invoice-details/'+progressInfo.name]"
              [queryParams]="{prop:'invoice'}" queryParamsHandling="merge">{{ progressInfo.invoice_number
              }} <b style="color: black;"> {{progressInfo?.guest_name}} </b></a></p>

        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="gerenateIRNITems" class="btn btn-outline-primary mb-0  text-uppercase" type="button"
      (click)="modal.close('generated')">Ok</button>
    <button *ngIf="!gerenateIRNITems" type="reset" class="btn btn-outline-dark"
      (click)="modal.close('Save click')">Cancel</button>
    <button *ngIf="!gerenateIRNITems" type="button" appPermissionButton accessType="write" class="btn btn-primary"
      (click)="generateIrn()">Generate</button>
  </div>

</ng-template>