<section>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 pr-0">
                <div class="mb-c-4">
                    <h4 class="text-white"><b>Dashboard</b></h4>
                </div>


                <div class="total-invoices mb-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-white">Invoice <br> Reconciliation</p>
                        </div>
                        <div class="wi-150">
                            <div class="form-group">
                                <select (change)="getInvoiceReconcillation()" [(ngModel)]="dateForInvoice"
                                    id="my-select" class="custom-select">
                                    <option *ngFor="let each of dateFiltersList;let i =index" [value]="i">{{each.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center ">
                        <div class="text-left">
                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                *ngIf="missingInvoicesLoader"></ngx-skeleton-loader>
                            <h6 *ngIf="!missingInvoicesLoader">{{invoiceReconciliation?.operadata[0]?.count || 0}}</h6>
                            <small>Invoices in opera</small>
                        </div>
                        <div class="px-2">
                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                *ngIf="missingInvoicesLoader"></ngx-skeleton-loader>
                            <h6 *ngIf="!missingInvoicesLoader">{{missingInvoices?.Yes || 0}}</h6>
                            <small>Invoices in Ezy Invoicing</small>
                        </div>
                        <div class="text-right">
                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                *ngIf="missingInvoicesLoader"></ngx-skeleton-loader>
                            <h6 *ngIf="!missingInvoicesLoader">{{missingInvoices?.No || 0}}</h6>
                            <small>Missing Invoices</small>
                        </div>
                    </div>
                </div>

                <div class="twogrid">

                    <div class="c-card" [routerLink]="[ '/home/invoices']" [queryParams]="{filterBy: 'All'}">
                        <div>
                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                *ngIf="creditInvoiceLoader"></ngx-skeleton-loader>
                        </div>
                        <h3 *ngIf="!creditInvoiceLoader"><b>{{creditInvoice['Tax Invoice'] || 0}}</b></h3>
                        <small>Success Invoices</small>
                    </div>
                    <div class="c-card" [routerLink]="[ '/home/manual-credit-notes']"
                        [queryParams]="{type: 'Credit',filterBy: 'All'}">
                        <div>
                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                *ngIf="creditInvoiceLoader"></ngx-skeleton-loader>

                        </div>
                        <h3 *ngIf="!creditInvoiceLoader"><b>{{creditInvoice['Credit Invoice']|| 0}}</b></h3>
                        <small>Credit Invoices</small>
                    </div>
                    <div class="c-card" [routerLink]="[ '/home/manual-credit-notes']"
                        [queryParams]="{type: 'Debit',filterBy: 'All'}">
                        <div>
                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                *ngIf="creditInvoiceLoader"></ngx-skeleton-loader>
                        </div>
                        <h3 *ngIf="!creditInvoiceLoader"><b>{{creditInvoice['Debit Invoice'] || 0}}</b></h3>
                        <small>Debit Invoices</small>
                    </div>
                    <div class="c-card" [routerLink]="[ '/home/deleted-documents']">
                        <div>
                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                *ngIf="creditInvoiceLoader"></ngx-skeleton-loader>
                        </div>
                        <h3 *ngIf="!creditInvoiceLoader"><b>{{creditInvoice['Deleted Documents'] || 0}}</b></h3>
                        <small>Deleted Invoices</small>
                    </div>
                </div>

                <div class="disk">
                    <h6>Disk Space</h6>
                    <div class="py-2">
                        <ngx-skeleton-loader [theme]="{ height: '5px'}" *ngIf="progressbarLoader"></ngx-skeleton-loader>
                        <ngb-progressbar *ngIf="!progressbarLoader"
                            [type]="diskPercent >= 50 ? diskPercent >= 70 ?'danger': 'warning'  : 'success'"
                            value="{{diskPercent}}" height=".5rem"></ngb-progressbar>
                    </div>
                    <small>{{freeSpace}} free of {{diskSpace}} </small>
                </div>





            </div>
            <div class="col-md-9 ">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0 text-white">Invoice Statistics</h6>
                    </div>
                    <div class="w-20">
                        <div class="form-group mb-0">
                            <select (change)="getInvoiceDetailsCount()" [(ngModel)]="selectedDate" id="my-select"
                                class="custom-select">
                                <option *ngFor="let each of dateFiltersList;let i =index" [value]="i">{{each.label}}
                                </option>
                                <!-- <option value="Last Week">Last Week</option>
                                <option value="This Month">This Month</option>
                                <option value="Last Month">Last Month</option>
                                <option value="Last Quarter">Last Quarter</option>
                                <option value="This Year">This Year</option>
                                <option value="Last Year">Last Year</option> -->
                            </select>
                        </div>
                    </div>
                </div>


                <div class="invoices-count mt-4">

                    <div class="invoices-count-card">
                        <div class="d-flex justify-content-between bg-c-h text-white">
                            <div>
                                <h6><b>Tax Invoice</b></h6>
                            </div>
                            <div class="d-flex">

                                <h6><b>{{(taxinvoices?.Success || 0) + (taxinvoices?.Pending || 0)+(taxinvoices?.Error
                                        || 0)}}</b></h6>


                                <div class="ml-2">
                                    <span class="badge badge-pill badge-primary cardView"
                                        [routerLink]="[ '/home/invoices']"
                                        [queryParams]='{filterType: "invoice_date"}'>View</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-center bg-c-b">
                            <div class="text-left">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{taxinvoices?.Success || 0}}</h6>
                                <small>Success</small>
                            </div>
                            <div class="border-left border-right px-4">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{taxinvoices?.Pending || 0}}</h6>
                                <small>Pending</small>
                            </div>
                            <div class="text-right">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{taxinvoices?.Error || 0}}</h6>
                                <small>Error</small>
                            </div>
                        </div>

                    </div>

                    <div class="invoices-count-card">
                        <div class="d-flex justify-content-between bg-c-h text-white">
                            <div>
                                <h6><b>Credit Invoice</b></h6>
                            </div>
                            <div class="d-flex">

                                <h6 *ngIf="!taxinvoicesLoader"><b>{{(creditinvoices?.Success || 0) +
                                        (creditinvoices?.Pending || 0) +
                                        (creditinvoices?.Error || 0)}}</b></h6>
                                <div class="ml-2">
                                    <span class="badge badge-pill badge-primary cardView"
                                        [routerLink]="[ '/home/manual-credit-notes']"
                                        [queryParams]="{type: 'Credit'}">View</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-center bg-c-b">
                            <div class="text-left">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{creditinvoices?.Success || 0}}</h6>
                                <small>Success</small>
                            </div>
                            <div class="border-left border-right px-4">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{creditinvoices?.Pending || 0}}</h6>
                                <small>Pending</small>
                            </div>
                            <div class="text-right">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{creditinvoices?.Error || 0}}</h6>
                                <small>Error</small>
                            </div>
                        </div>

                    </div>
                    <div class="invoices-count-card">
                        <div class="d-flex justify-content-between bg-c-h text-white">
                            <div>
                                <h6><b>Debit Invoice</b></h6>
                            </div>
                            <div class="d-flex">

                                <h6><b>{{(debitinvoices?.Success || 0) + (debitinvoices?.Pending || 0) +
                                        (debitinvoices?.Error || 0)}}</b></h6>
                                <div class="ml-2">
                                    <span class="badge badge-pill badge-primary cardView"
                                        [routerLink]="[ '/home/manual-credit-notes']"
                                        [queryParams]="{type: 'Debit'}">View</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-center bg-c-b">
                            <div class="text-left">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>

                                <h6 *ngIf="!taxinvoicesLoader">{{debitinvoices?.Success || 0}}</h6>
                                <small>Success</small>
                            </div>
                            <div class="border-left border-right px-4">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{debitinvoices?.Pending || 0}}</h6>
                                <small>Pending</small>
                            </div>
                            <div class="text-right">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                        *ngIf="taxinvoicesLoader"></ngx-skeleton-loader>
                                </div>
                                <h6 *ngIf="!taxinvoicesLoader">{{debitinvoices?.Error || 0}}</h6>
                                <small>Error</small>
                            </div>
                        </div>

                    </div>

                </div>


                <!------- IRN generation Expiry dates -->

                <ng-container *ngIf="companyDetails?.e_invoice_missing_date_feature">

                    <div class="row mt-4">
                        <div class="col-4">
                            <h6 class="mb-0 text-white">Invoice ageing for IRN</h6>
                        </div>
                        <div class="col-8">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary btn-sm" (click)="downloadReport()">Download</button>
                                <!-- <button class="btn btn-primary btn-sm" [routerLink]="['/home/reports']" [queryParams]="{'reportType':'Irn Due Report'}">Download</button> -->
                            </div>
                        </div>
                    </div>

                    <div class="gallery">
                        <div class=" row mt-4">

                            <div class="col-md-3 col-sm-3 col-lg-4 col-3 mb-3"
                                *ngFor="let item of pending_IRN ; let idx = index">
                                <div class="card-body irn-card bg-white p-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="irn-header" [ngClass]="{'warning': idx >= 3}">
                                            <h6 class="m-0" *ngIf="idx == 0"> <b>Today</b></h6>
                                            <h6 class="m-0" *ngIf="idx == 1"> <b>{{idx}} day</b></h6>
                                            <h6 class="m-0" *ngIf="idx > 1"> <b>{{idx}} days</b></h6>
                                        </div>
                                        <p class="mb-0"> {{item?.date| date}}</p>
                                    </div>
                                    <small class="m-0">left for IRN generation</small>
                                    <div class="mt-2">
                                        <div class="card px-2  p-1 irn-item-card">
                                            <div class="row m-0 d-flex justify-content-between align-items-center">
                                                <p class="col-md-6 m-0">Tax-Invoice</p>
                                                <p class="col-md-4 m-0"><b>{{item['Tax Invoice'] || 0}}</b></p>
                                                <div class="col-md-2 irn-item-navigation">
                                                    <i class="ri-arrow-right-line card-icon"
                                                        [routerLink]="['/home/invoices']"
                                                        [queryParams]="{'invoice_date':item.date,'invoiceType':'B2B','irn_generated':'Pending'}"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mt-2 px-2  p-1 irn-item-card">
                                            <div class="row m-0 d-flex justify-content-between align-items-center">
                                                <p class="col-md-6 m-0">Credit</p>
                                                <p class="col-md-4 m-0"><b>{{item['Credit Invoice'] || 0}}</b></p>
                                                <div class="col-md-2 irn-item-navigation">
                                                    <i class="ri-arrow-right-line card-icon"
                                                        [routerLink]="[ '/home/manual-credit-notes']"
                                                        [queryParams]="{type: 'Credit', 'invoice_date':item.date, 'invoiceType':'B2B','irn_generated':'Pending'}"></i>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card mt-2 px-2  p-1 irn-item-card">
                                            <div class="row m-0 d-flex justify-content-between align-items-center">
                                                <p class="col-md-6 m-0">Debit</p>
                                                <p class="col-md-4 m-0"><b>{{item['Debit Invoice'] || 0}}</b></p>
                                                <div class="col-md-2 irn-item-navigation">
                                                    <i class="ri-arrow-right-line card-icon"
                                                        [routerLink]="[ '/home/manual-credit-notes']"
                                                        [queryParams]="{type: 'Debit', 'invoice_date':item.date, 'invoiceType':'B2B','irn_generated':'Pending'}"></i>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card mt-2 px-2  p-1 irn-item-card">
                                            <div class="row m-0 d-flex justify-content-between align-items-center">
                                                <p class="col-md-6 m-0">Manual</p>
                                                <p class="col-md-4 m-0"><b>{{item['manual'] || 0}}</b></p>
                                                <div class="col-md-2 irn-item-navigation">
                                                    <i class="ri-arrow-right-line card-icon"
                                                        [routerLink]="[ '/home/manual-credit-notes']"
                                                        [queryParams]="{type: 'Tax', 'invoice_date':item.date, 'invoiceType':'B2B','irn_generated':'Pending'}"></i>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </ng-container>



                <ng-container *ngIf="!companyDetails?.e_invoice_missing_date_feature">

                    <div class="row mt-4">
                        <div class="col-4">
                            <h6 class="mb-0 text-white">GSTR 1 Statistics</h6>
                        </div>
                        <div class="col-8">
                            <div class="d-flex justify-content-end">
                                <div class="form-group w-30">
                                    <select (change)="getGSTR()" [(ngModel)]="GSTRDate" id="my-select"
                                        class="custom-select">
                                        <option *ngFor="let each of dateFiltersList;let i =index" [value]="i">
                                            {{each.label}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="statistics">

                        <div>

                            <div class="statistic-card" *ngIf="taxb2bLoader">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>TAX B2B</h6>
                                    </div>
                                    <div>
                                        <div>
                                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                                *ngIf="taxb2bLoader"></ngx-skeleton-loader>
                                        </div>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <div>
                                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                                *ngIf="taxb2bLoader"></ngx-skeleton-loader>
                                        </div>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <div>
                                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                                *ngIf="taxb2bLoader"></ngx-skeleton-loader>
                                        </div>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <div>
                                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                                *ngIf="taxb2bLoader"></ngx-skeleton-loader>
                                        </div>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <div>
                                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                                *ngIf="taxb2bLoader"></ngx-skeleton-loader>
                                        </div>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <div>
                                            <ngx-skeleton-loader [theme]="{ width: '50px'}"
                                                *ngIf="taxb2bLoader"></ngx-skeleton-loader>
                                        </div>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="statistic-card" *ngFor="let item of taxb2b">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>TAX B2B</h6>
                                    </div>
                                    <div>
                                        <h6>{{item?.count || 0}}</h6>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totaltaxablevalue || 0}}</h6>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totalinvoicevalue || 0}}</h6>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Cgstamount || 0}}</h6>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Sgstamount || 0}}</h6>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Igstamount || 0}}</h6>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div *ngIf="taxb2c?.length">
                            <div class="statistic-card" *ngFor="let item of taxb2c">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>Tax B2C</h6>
                                    </div>
                                    <div>
                                        <h6>{{item?.count || 0}}</h6>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totaltaxablevalue || 0}}</h6>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totalinvoicevalue || 0}}</h6>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Cgstamount || 0}}</h6>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Sgstamount || 0}}</h6>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Igstamount || 0}}</h6>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div *ngIf="creditb2b?.length">
                            <div class="statistic-card" *ngFor="let item of creditb2b">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>Credit B2B</h6>
                                    </div>
                                    <div>
                                        <h6>{{item?.count || 0}}</h6>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totaltaxablevalue || 0}}</h6>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totalinvoicevalue || 0}}</h6>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Cgstamount || 0}}</h6>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Sgstamount || 0}}</h6>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Igstamount || 0}}</h6>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div *ngIf="creditb2c?.length">
                            <div class="statistic-card" *ngFor="let item of creditb2c">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>Credit B2C</h6>
                                    </div>
                                    <div>
                                        <h6>{{item?.count || 0}}</h6>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totaltaxablevalue || 0}}</h6>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totalinvoicevalue || 0}}</h6>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Cgstamount || 0}}</h6>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Sgstamount || 0}}</h6>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Igstamount || 0}}</h6>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div *ngIf="debitb2b?.length">
                            <div class="statistic-card" *ngFor="let item of debitb2b">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>Debit B2B</h6>
                                    </div>
                                    <div>
                                        <h6>{{item?.count || 0}}</h6>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totaltaxablevalue || 0}}</h6>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totalinvoicevalue || 0}}</h6>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Cgstamount || 0}}</h6>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Sgstamount || 0}}</h6>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Igstamount || 0}}</h6>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div *ngIf="debitb2c?.length">
                            <div class="statistic-card" *ngFor="let item of debitb2c">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>Debit B2C</h6>
                                    </div>
                                    <div>
                                        <h6>{{item?.count || 0}}</h6>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totaltaxablevalue || 0}}</h6>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totalinvoicevalue || 0}}</h6>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Cgstamount || 0}}</h6>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Sgstamount || 0}}</h6>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Igstamount || 0}}</h6>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div *ngIf="sacSummary?.length">
                            <div class="statistic-card" *ngFor="let item of sacSummary">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="b2b">
                                        <h6>SAC Sum.</h6>
                                    </div>
                                    <div>
                                        <h6>{{item?.count || 0}}</h6>
                                        <small>Invoice Count</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totaltaxablevalue || 0}}</h6>
                                        <small>Total Taxable value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Totalinvoicevalue || 0}}</h6>
                                        <small>Total Invoice value</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Cgstamount || 0}}</h6>
                                        <small>CGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Sgstamount || 0}}</h6>
                                        <small>SGST</small>
                                    </div>
                                    <div>
                                        <h6>Rs. {{item?.Igstamount || 0}}</h6>
                                        <small>IGST</small>
                                    </div>
                                    <div class="arrow-icon" (click)="notAvailable()">
                                        <i class="ri-arrow-right-s-line"></i>
                                    </div>

                                </div>
                            </div>

                        </div>






                        <!-- <div class="statistic-card">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="b2b">
                                <h6>B2C</h6>
                            </div>
                            <div>
                                <h6>B2B</h6>
                                <small>Invoice Count</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>Total Taxable value</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>Total Invoice value</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>CGST</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>SGST</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>IGST</small>
                            </div>
                            <div class="arrow-icon">
                                <i class="ri-arrow-right-s-line"></i>
                            </div>

                        </div>
                    </div>


                    <div class="statistic-card">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="b2b">
                                <h6>Deb. Cred</h6>
                            </div>
                            <div>
                                <h6>B2B</h6>
                                <small>Invoice Count</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>Total Taxable value</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>Total Invoice value</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>CGST</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>SGST</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>IGST</small>
                            </div>
                            <div class="arrow-icon">
                                <i class="ri-arrow-right-s-line"></i>
                            </div>

                        </div>
                    </div>
                    <div class="statistic-card">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="b2b">
                                <h6>HSN SUM.</h6>
                            </div>
                            <div>
                                <h6>B2B</h6>
                                <small>Invoice Count</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>Total Taxable value</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>Total Invoice value</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>CGST</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>SGST</small>
                            </div>
                            <div>
                                <h6>Rs. 90,000,000</h6>
                                <small>IGST</small>
                            </div>
                            <div class="arrow-icon">
                                <i class="ri-arrow-right-s-line"></i>
                            </div>

                        </div>
                    </div> -->


                    </div>

                </ng-container>
            </div>
        </div>
    </div>
</section>