.twogrid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
}
small{
    font-size: 11px;
}
.c-card{
    &:hover{
        cursor: pointer;
        transform: scale(1.1,1.1);
        transition:0.5s;
    }
    padding: 15px;
    border-radius: 10px;
    color:#fff;
    h3{
        font-size: 24px;
    }
    &:first-child{
       background:#FF8C40 
    }
    &:nth-child(2){
        background:#FB2B74 
     }
     &:nth-child(3){
        background:#9029FD 
     }
     &:nth-child(4){
        background:#9029FD 
     }
}

.disk{
    padding: 15px;
    background: #3636FD;
    border-radius: 10px;
    color: #fff;
    margin: 10px 0;
    h6{
        font-size: 15px;

    }
}

.total-invoices{
    padding: 15px;
    background: #3636FD;
    border-radius: 10px;
    color: #fff;
    small{
        display: block;
        line-height: 18px;
    }
}
.w-20{
    width:20%;
}
.w-30{
    width:30%;
}
.w-50{
    width:50%;
}

select.custom-select{
    padding: 9px;
    border: 0;
    height:auto !important; 
}

.btn-secondary{
    padding: 9px 20px;
    font-size:13px;
}

.statistic-card{
    margin-bottom:10px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    small{
        color: #292929;
    }
    border-radius: 10px;
    background:#fff;
    h6{
        margin: 0 0 2px;
        font-size: 13px;
        font-weight: 700;
    }
    
    .b2b{
        padding: 30px 15px;
        background: #9029FD;
        border-radius: 9px 0 0 9px;
        color: #fff;
        width: 60px;
        
    }
}

.arrow-icon{
    padding: 0 15px 0 0;
    i{
        padding:10px;
        background: #4233FF;
        border-radius: 3px;
        color:#fff;
    }
    
}

.invoices-count{
    display:grid;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
}

.invoices-count-card{
    // background: #fff;
    h6{
        font-size: 15px;
        margin:0;
        font-weight: 600;
        color: #292929;
    }
    .badge{
        border-radius: 4px;
        font-size: 13px;
        font-weight: normal;
        background:#F4F4FF;
        color: #292929;
    }

    .bg-c-h{
        background:#8031D4;
        padding: 6px 15px;
        border-radius: 5px 5px 0 0;
      h6{
        color: #fff !important;
      }
    }

    .bg-c-b{
        padding: 6px 15px;
        background:#fff;
        border-radius: 0 0 5px 5px;
    }
   
}

.wi-150{
    width:150px;
}

.mb-c-4{margin-bottom: 35px;}
.cardView{
    cursor: pointer;
}
.irn-header{
    padding: 5px 15px;
    background-color: #E21313;
    color: white;
    border-radius: 5px;
}
.warning{
    background-color: #EEB012 !important;
}
.irn-card{
    border-radius: 5px;
}
.card-icon{
    font-size: 20px;
}
.irn-item-card{
    background-color: #FFE3E3;
    border: 0px;
    border-radius: 10px;

}
.irn-item-navigation{
    background: white;
    border-radius: 0px 10px 10px 0px;
    text-align: end;
    cursor: pointer;
}