<!-- <header class="bg-primary gstr py-3">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-2 logo">
                <img class="img-fluid" src="../../../../assets/images/EzyGST-white.png" alt="">
            </div>
        </div>
        <div class="row py-4 pt-5">
            <div class="col-md-6">
                <h5 class="text-white"><span><img (click)="gotoBack()" class="img-fluid icon-img" src="../../../../assets/images/back.png" alt=""></span>
                    <span class="pl-3"> <span><b>GSTR2 <small> <b>vs</b></small> GSTR 2A Reconciliation </b></span> </span>
                </h5>
            </div>

            <div class="col-md-6">
                <div class="text-right">
                    <button class="btn btn-primary px-5 shadow" type="button">Start Reconciliation</button>
                </div>
            </div>
        </div>
    </div>
</header> -->
<div class="bg-primary py-3 pb-5">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-white"><span><img (click)="gotoBack()" class="img-fluid icon-img" src="../../../assets/images/back.png" alt=""></span>
                    <span class="pl-3"> <span><b>GSTR2 <small> <b>vs</b></small> GSTR 2A Reconciliation </b></span> </span>
                </h5>
            </div>

            <div class="col-md-6">
                <div class="text-right">
                    <button class="btn btn-primary px-5 shadow" type="button">Start Reconciliation</button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="position-relative top-10">
    <div class="container-fluid px-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card c-border mb-3">
                    <div class="invoice-total p-0">
                        <div class="border-bottom">
                            <div class="row no-gutters">
                                <div class="col p-3">
                                    <h4><b>GSTR 2A</b></h4>
                                    <p>Auto populated data in GST portal</p>
                                </div>
                                <div class="col p-3">
                                    <h4><b>10000</b></h4>
                                    <p>Documents in GSTR 2A</p>
                                </div>
                                <div class="col p-3">
                                    <h4><b>10000</b></h4>
                                    <p>No. of Suppliers</p>
                                </div>
                                <div class="col p-3">
                                    <h4><b>22nd March 21</b></h4>
                                    <p>Data Updated on</p>
                                </div>
                                <div class="col p-3">
                                    <div class="text-right">
                                        <button class="btn btn-light  btn-block bg-white shadow-sm" type="button">Download GSTR 2A</button>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="">
                            <div class="row no-gutters">
                                <div class="col p-3">
                                    <h4><b>GSTR2</b></h4>
                                    <p>Invoices uploaded in EzyGST</p>
                                </div>
                                <div class="col p-3">
                                    <h4><b>10000</b></h4>
                                    <p>Documents uploaded</p>
                                </div>
                                <div class="col p-3">
                                    <h4><b>10000</b></h4>
                                    <p>No. of Suppliers</p>
                                </div>
                                <div class="col p-3">
                                    <h4><b>22nd March 21</b></h4>
                                    <p>Data Updated on</p>
                                </div>
                                <div class="col p-3">
                                    <div class="text-right">
                                        <button class="btn btn-light  btn-block bg-white shadow-sm" type="button">Download GSTR2</button>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row my-4 m-0 justify-content-between">
            <div>
                <p class="m-0"><b>Lastest Reconciliation Report</b></p>
                <p class="m-0"><small><b>Reconcilied on :</b></small> 23rd March 2021,10:30:00</p>
            </div>
            <div>
                <button class="btn btn-primary px-5 shadow" (click)="openFullTable()" type="button">Open in New Tab</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class=" invoice-total p-0">
                        <div class="">
                            <div class="row no-gutters">
                                <div class="col px-2">
                                    <h6><b>Document Type</b></h6>
                                </div>
                                <div class="col px-2 text-center">
                                    <h6><b>Documents Count</b></h6>
                                </div>
                                <div class="col px-2 text-center">
                                    <h6><b>Total Suppliers</b></h6>
                                </div>
                                <div class="col px-2 text-center">
                                    <h6><b>Total Taxable Value</b></h6>
                                </div>
                                <div class="col px-2 text-center">
                                    <h6><b>Total IGST</b></h6>
                                </div>
                                <div class="col px-2 text-center">
                                    <h6><b>Total CGST</b></h6>
                                </div>
                                <div class="col px-2 text-center">
                                    <h6><b>Total SGST</b></h6>
                                </div>
                                <div class="col px-2 text-center">
                                    <h6><b>Total CESS</b></h6>
                                </div>


                            </div>

                        </div>
                        <div class="c-border border-bottom-0">
                            <div class="row no-gutters">
                                <div class="col p-2 py-3">
                                    <p>GSTR 2A Data</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p>3999</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p>10</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                            </div>

                        </div>
                        <div class="c-border">
                            <div class="row no-gutters">
                                <div class="col p-2 py-3">
                                    <p>GSTR 2 Data</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p>3999</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p>10</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                                <div class="col p-2 py-4 text-center">
                                    <p class="text-right">1,00,000.00</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row my-4">
            <div class="col  ">
                <div class="misiing bg1 d-flex justify-content-between">
                    <h6><b>Missing in GSTR 2</b></h6>
                    <h6><b>02</b></h6>
                </div>
            </div>
            <div class="col  ">
                <div class="misiing bg2 d-flex justify-content-between">
                    <h6><b>Missing in GSTR 2A</b></h6>
                    <h6><b>02</b></h6>
                </div>
            </div>
            <div class="col ">
                <div class="misiing bg3 d-flex justify-content-between">
                    <h6><b>Data Mismatch</b></h6>
                    <h6><b>02</b></h6>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-5">
                <div class="px-3 py-2 my-2 ml-4 misiing bg1 text-center">
                    <h6><b>GSTR 2 Data</b></h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered numberedTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Invoice Date</th>
                                <th scope="col">Invoice Number</th>
                                <th scope="col">Invoice Value</th>
                                <th scope="col">Place of Supply</th>
                                <th scope="col">Reverse Charge</th>
                                <th scope="col">Invoice Type</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Taxable Value</th>
                                <th scope="col">IGST</th>
                                <th scope="col">CGST</th>
                                <th scope="col">SGST</th>
                                <th scope="col">CESS</th>
                                <th scope="col">Eligibility for IGST</th>
                                <th scope="col">Availed IGST</th>
                                <th scope="col">Availed CGST</th>
                                <th scope="col">Availed SGST</th>
                                <th scope="col">Availed CESS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="blank_row">
                                <td colspan="12">Hhhgf </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr class="blank_row">
                                <td colspan="12"> Hhhgf</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5">
                <div class="px-3 py-2 my-2 misiing bg2 text-center">
                    <h6> GSTR 2A Data</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Invoice Date</th>
                                <th scope="col">Invoice Number</th>
                                <th scope="col">Invoice Value</th>
                                <th scope="col">Place of Supply</th>
                                <th scope="col">Reverse Charge</th>
                                <th scope="col">Invoice Type</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Taxable Value</th>
                                <th scope="col">IGST</th>
                                <th scope="col">CGST</th>
                                <th scope="col">SGST</th>
                                <th scope="col">CESS</th>
                                <th scope="col">Eligibility for IGST</th>
                                <th scope="col">Availed IGST</th>
                                <th scope="col">Availed CGST</th>
                                <th scope="col">Availed SGST</th>
                                <th scope="col">Availed CESS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="blank_row">
                                <td colspan="17">Hhhgf</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr class="blank_row">
                                <td colspan="17">Hhhgf</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-2">
                <div class="px-3 py-2 my-2 bgColorWhite text-center">
                    GSTR 2 Data
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Error</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="blank_row">
                                <td colspan="12">Hhhgf</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr class="blank_row">
                                <td colspan="12">Hhhgf</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                            <tr>
                                <td>1,001</td>
                                <td>1,001</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>