<header class="shadow">
    <div class="py-1 px-3">
        <div class="row">
            <div class="col-md-6 ">
                <div class="h6 d-flex mt-0 mb-0">
                    <i (click)="goBack()" class="ri-arrow-left-line arrow-back h3 m-0 cursor-pointer"></i>
                    <p class="ml-3 mt-2 mb-0"> {{taxPayerDetails?.legal_name}}({{taxPayerDetails?.gst_number}})</p>
                </div>
            </div>
            <div class="col-md-6 my-auto">

            </div>
        </div>

    </div>
</header>

<div class="container-fluid">
  <section class="px-3 taxpayer-container">
    <div class="row no-gutters my-2">
        <div class="col-9 ">
            <!-- <div class="row m-0 d-flex mb-2 justify-content-between align-items-center">
                <div class="col px-1">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="mr-2">
                                <img src="assets/images/totalinvoices.png" alt="">
                            </div>
                            <div>
                                <p><b>10</b></p>
                                <p>Total Invoices</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col px-1">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="mr-2">
                                <img src="assets/images/total_summaries.png" alt="">
                            </div>
                            <div>
                                <p><b>10</b></p>
                                <p>Total Summaries</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col px-1">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="mr-2">
                                <img src="assets/images/submitted.png" alt="">
                            </div>
                            <div>
                                <p><b>10</b></p>
                                <p>Submitted</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col px-1">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="mr-2">
                                <img src="assets/images/drafts.png" alt="">
                            </div>
                            <div>
                                <p><b>10</b></p>
                                <p>Drafts</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="row m-0 d-flex justify-content-between ">
                <div class="col px-1">
                    <div class="card ">
                        <div class="card-body">
                            <p>Company</p>
                            <p><b>{{taxPayerDetails.legal_name}}</b></p>
                            <br>
                            <p>GSTIN</p>
                            <p><b>{{taxPayerDetails.gst_number}}</b></p>
                            <br>
                            <p>State code</p>
                            <p><b>{{taxPayerDetails.state_code}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col px-1">
                    <div class="card ">
                        <div class="card-body">
                            <p>Location</p>
                            <p><b>{{taxPayerDetails.address_street}}{{taxPayerDetails.location}},{{taxPayerDetails.pincode}}</b></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 border px-1 bg-white tabCollection">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs shadow-sm border-0 bg-white m-15">
                <li [ngbNavItem]="1" (click)="getLocationsBtn()">
                    <a ngbNavLink>Locations</a>
                    <ng-template ngbNavContent>
                        <ng-container *ngTemplateOutlet="locations"></ng-container>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2" (click)="getContactsBtn()">
                    <a ngbNavLink>Contacts</a>
                    <ng-template ngbNavContent>
                        <ng-container *ngTemplateOutlet="contacts"></ng-container>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</section>
</div>

<ng-template #locations>
    <div class="mx-2">
        <button class="btn btn-outline-primary w-100 h-75 my-2 shadow-sm" (click)="openNewLocationModel()"><span>+</span>Add Location</button>
        <div class="side-h">
            <div class="card my-1" *ngFor="let item of locationsList;">
                <div class="card-body py-2 locationCard">
                    <div class="d-flex justify-content-between">
                        <div>
                            <small class="mr-3">{{item.location}}, {{item.address}}, {{item.city}}, {{item.state}}, {{item.pin_code}}</small>
                        </div>
                        <div>
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"  (click)="openLocationModel(item,'edit')" class="view pl-2 cursor-pointer"><i class="ri-pencil-line btn-hover-gray p-1"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!locationsList.length" class="my-4">
            <h6 class="text-center">No Data</h6>
        </div>



    </div>

</ng-template>
<ng-template #contacts>
    <div class="mx-2">
        <button [routerLink]="[ '/clbs/create-contact' ]" [queryParams]="{prop:'CreateWithGST',taxpayer:this.paramsData.name,companyName:taxPayerDetails.legal_name}" class="btn btn-outline-primary w-100 h-75 my-2 shadow-sm"><span>+</span>Add Contacts</button>
        <div class="side-h">
            <div class="card my-1" *ngFor="let item of contactsList">
                <div class="card-body py-2 locationCard">
                    <div class="d-flex justify-content-between">
                        <div style="width: 80%;">
                            <small class="mr-3 d-flex">
                  <i class="fas fa-user-circle h4 mr-3 mt-1"></i>
                  <div style="width: 80%;">
                    {{item.contact_name}}<br> {{item.email_id}} <b>|</b> {{item.phone_number}}
                  </div>
                </small>
                        </div>
                        <div>
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" [routerLink]="['../../clbs/create-contact/']" [queryParams]="{prop:'Edit',name:item.name}" class="view pl-2 cursor-pointer"><i class="ri-pencil-line btn-hover-gray p-1"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!contactsList.length" class="my-4">
            <h6 class="text-center">No Data</h6>
        </div>

        <!-- <div class="card my-1">
        <div class="card-body locationCard">
          <div class="d-flex justify-content-between">
            <div>
              <small class="mr-3">Vasavi info developers Pvt Ltd
                Sai colony,Madhapur,Hyderabad
                502 032</small>
            </div>
            <div>
              <i class="ri-pencil-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-1">
        <div class="card-body locationCard">
          <div class="d-flex justify-content-between">
            <div>
              <small class="mr-3">Vasavi info developers Pvt Ltd
                Sai colony,Madhapur,Hyderabad
                502 032</small>
            </div>
            <div>
              <i class="ri-pencil-line"></i>
            </div>
          </div>
        </div>
      </div> -->

    </div>
</ng-template>
<!-- <div class="container-fluid">
  <div class="row bg-white">
      <div class="col-md-2 sidenav-c">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="menutabs mt-4 pr-0" orientation="vertical">
            <li ngbNavItem="1">
              <a ngbNavLink class="py-0 text-black">
                  <div class="card mb-2" [ngClass]="selectedOption == 'companies'? 'dx':'cardNav'" (click)="sidenavSelection('companies')">
                      <div class="py-2 px-3 d-flex justify-content-between ">
                          <div>
                              <p class="m-0"><b>Company Info</b></p>
                          </div>
                      </div>
                  </div>
              </a>
              <ng-template ngbNavContent>
                  <div class="card border-0 sahdow-sm">
                      <div class="card-body">
                        <ng-container *ngTemplateOutlet="companies"></ng-container>
                      </div>
                  </div>
              </ng-template>
          </li>

            <li ngbNavItem="3">
              <a ngbNavLink class="py-0 text-black">
                  <div class="card mb-2" [ngClass]="selectedOption == 'locations'? 'dx':'cardNav'" (click)="sidenavSelection('locations')"
                      >
                      <div class="py-2 px-3 d-flex justify-content-between ">
                          <div>
                              <p class="m-0"><b>Locations</b></p>
                          </div>
                      </div>
                  </div>
              </a>
              <ng-template ngbNavContent>
                  <div class="card border-0 shadow-sm">
                      <div class="card-body">
                          <ng-container *ngTemplateOutlet="locations"></ng-container>
                      </div>
                  </div>
              </ng-template>
          </li>



          <li ngbNavItem="2">
            <a ngbNavLink class="py-0 text-black">
                <div class="card mb-2" [ngClass]="selectedOption == 'contacts'? 'dx':'cardNav'" (click)="sidenavSelection('contacts')"
                    >
                    <div class="py-2 px-3 d-flex justify-content-between ">
                        <div>
                            <p class="m-0"><b>Contacts</b></p>
                        </div>
                    </div>
                </div>
            </a>
            <ng-template ngbNavContent>
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                      <ng-container *ngTemplateOutlet="contacts"></ng-container>
                    </div>
                </div>
            </ng-template>
        </li>






          </ul>

      </div>
      <div class="col-md-10 pl-0">
          <div [ngbNavOutlet]="nav" class="mt-4"></div>
      </div>
  </div>
</div> -->


<!-- <ng-template #companies >
  <section>
    <h4 class="font-weight-bold mx-3">Company</h4>

            <div class="">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <div class="col-lg-12 col-md-12">
                        <div class="text-center">
                            <small class="text-danger">{{form.form.getError('error')}}</small>
                        </div>
                        <div>

                        </div>




                        <div >
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                  <div class="form-group">
                                      <label for="taxble" class="mb-0 mt-2">Taxpayer</label>
                                      <input type="text"  class="form-control" id="gst_number" placeholder="Enter Taxpayer"
                                          name="gst_number" [(ngModel)]="taxPayerDetails.gst_number"
                                          #gst_number="ngModel" [readonly]="formDisable == 'View'">

                                  </div>
                              </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="taxble" >Legal Name</label>
                                        <input type="text" appMatInput class="form-control" id="legal_name" placeholder="Enter Legal Name"
                                            name="legal_name" [(ngModel)]="taxPayerDetails.legal_name"
                                            #legal_name="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="trade_name" >Trade Name</label>
                                        <input type="text" appMatInput class="form-control" id="trade_name" placeholder="Enter Trade Name"
                                            name="trade_name" [(ngModel)]="taxPayerDetails.trade_name"
                                            #trade_name="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="address_1" >Address 1</label>
                                        <input type="text" appMatInput class="form-control" id="address_1"
                                            name="address_1" [(ngModel)]="taxPayerDetails.address_1"  placeholder="Enter Address 1"
                                            #address_1="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="address_2" >Address 2</label>
                                        <input type="text" appMatInput class="form-control" id="address_2"  placeholder="Enter Address 2"
                                            name="address_2" [(ngModel)]="taxPayerDetails.address_2"
                                            #address_2="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="state_code">State Code</label>
                                        <input type="text" appMatInput class="form-control" id="state_code"  placeholder="Enter State Code"
                                            name="state_code" [(ngModel)]="taxPayerDetails.state_code"
                                            #state_code="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="location" >Location</label>
                                        <input type="text" appMatInput class="form-control" id="location"  placeholder="Enter Location"
                                            name="location" [(ngModel)]="taxPayerDetails.location" #location="ngModel"
                                            [readonly]="formDisable == 'View'">

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="pincode" >Pincode</label>
                                        <input type="text" appMatInput class="form-control" id="pincode" name="pincode"  placeholder="Enter Pincode"
                                            [(ngModel)]="taxPayerDetails.pincode" #pincode="ngModel"
                                            [readonly]="formDisable == 'View'">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="address_floor_number" >Address Floor Number</label>
                                        <input type="text" appMatInput class="form-control" id="address_floor_number"  placeholder="Enter Address Floor Number"
                                            name="address_floor_number"
                                            [(ngModel)]="taxPayerDetails.address_floor_number"
                                            #address_floor_number="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="gst_status" >GST Status</label>
                                        <input type="text" appMatInput class="form-control" id="gst_status"  placeholder="Enter GST Status"
                                            name="gst_status" [(ngModel)]="taxPayerDetails.gst_status"
                                            #gst_status="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="address_street" >Address Street</label>
                                        <input type="text" appMatInput class="form-control" id="address_street"  placeholder="Enter Address Street"
                                            name="address_street" [(ngModel)]="taxPayerDetails.address_street"
                                            #address_street="ngModel" [readonly]="formDisable == 'View'">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                      <label for="tax_type" >Tax Type</label>
                                        <input type="text" appMatInput class="form-control" id="tax_type"  placeholder="Enter Tax Type"
                                            name="tax_type" [(ngModel)]="taxPayerDetails.tax_type" #tax_type="ngModel"
                                            [readonly]="formDisable == 'View'">

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="text-right" *ngIf="formDisable !== 'View'">
                            <button class="btn btn-outline-primary mb-0 text-uppercase" type="button"
                                [routerLink]="['/home/tax-payers']">Cancel</button>
                            <button class="btn btn-primary mb-0 ml-3 text-uppercase" appPermissionButton accessType="write" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
  </section>
</ng-template>

<ng-template #contacts>
  <div class="row  filter-card">
    <div class="col-md-8 grid">
        <div class="d-flex align-items-center">
            <h6 class="m-0"><b>Contacts</b></h6>
            <button [routerLink]="[ '/clbs/create-contact' ]" class="btn btn-primary shadow ml-3" type="button"><i class="ri-add-line"></i></button>
        </div>
    </div>

    <div class="col-md-4 text-right">
        <div class="d-flex align-items-center">

            <div class="flex-fill ml-3">
                <input #search type="text" class="form-control" placeholder="search contact" [(ngModel)]="filters.search"
                (keyup)="filters.search = search.value;selectedOption =='contacts'? conatctsOnSearch.emit(filters):''">
            </div>

        </div>
    </div>

</div>
  <div class="row mt-3 list-table">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table  table-sm">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Contact</th>
                  <th>Type</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Company</th>
                  <th>Created Date</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of contactsList;let i = index">
                  <td>
                      {{i+1}}
                  </td>
                  <td>{{item.contact_name}}</td>
                  <td>{{item.contact_type}}</td>
                  <td>{{item.email_id}}</td>
                  <td>{{item.phone_number}}</td>
                  <td>{{item.taxpayer}}</td>
                  <td>{{item.creation | date:["MMM d, y, h:mm a"]}}</td>
                  <td><span data-bs-toggle="tooltip" data-bs-placement="top" title="View" [routerLink]="['../../clbs/create-contact/']" [queryParams]="{prop:'view',name:item.name}"
                    queryParamsHandling="merge"
                    class="view"><i class="ri-eye-line"></i></span>
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" [routerLink]="['../../clbs/create-contact/']" [queryParams]="{prop:'edit',name:item.name}"
                    class="view pl-2"><i class="ri-edit-box-line"></i></span>
                </td>
              </tr>


          </tbody>
      </table>
      </div>

        <div class="d-flex justify-content-between" *ngIf="contactsList?.length">
          <div class="px-3">
              <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
                  (change)="checkPagination()" id="itemsPerPage">
                  <option [value]="20">20</option>
                  <option [value]="50">50</option>
                  <option [value]="100">100</option>
                  <option [value]="150">150</option>
                  <option [value]="500">500</option>
              </select>
          </div>
          <div *ngIf="contactsList.length  < this.filters.totalCount">
              <p class="text-right pr-5 more text-primary"
                  (click)="filters.start = contactsList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                  more
              </p>
          </div>
      </div>
    </div>
</div>
</ng-template>

<ng-template #locations>
  <div class="row  filter-card">
    <div class="col-md-8 grid">
        <div class="d-flex align-items-center" >
            <h6 class="m-0"><b>Locations</b></h6>
            <button (click)="openLocationModel(addlocation,{},'new')" class="btn btn-primary shadow ml-3" type="button"><i class="ri-add-line"></i></button>
        </div>
    </div>

    <div class="col-md-4 text-right">
        <div class="d-flex align-items-center">

            <div class="flex-fill ml-3">
                <input #search1 type="text" id="search1" name="search1" class="form-control" placeholder="search location" [(ngModel)]="filters2.search"
                (keyup)="filters2.search = search1.value;selectedOption =='locations'?locationsOnSearch.emit(filters2):''" >
            </div>


        </div>
    </div>

</div>
  <div class="row mt-3 list-table">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table  table-sm">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Location</th>
                  <th>Address</th>
                  <th>Pincode</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Creation</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of locationsList;let i = index">
                  <td>
                      {{i+1}}
                  </td>
                  <td>{{item.location}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.pin_code}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.creation | date:["MMM d, y, h:mm a"]}}</td>
                  <td>

                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" (click)="openLocationModel(addlocation,item,'edit')"
                    class="view pl-2"><i class="ri-edit-box-line"></i></span>
                </td>
              </tr>


          </tbody>
      </table>
      </div>

        <div class="d-flex justify-content-between" *ngIf="locationsList?.length">
          <div class="px-3">
              <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters2.itemsPerPage"
                  (change)="checkPagination()" id="itemsPerPage">
                  <option [value]="20">20</option>
                  <option [value]="50">50</option>
                  <option [value]="100">100</option>
                  <option [value]="150">150</option>
                  <option [value]="500">500</option>
              </select>
          </div>
          <div *ngIf="locationsList.length  < this.filters2.totalCount">
              <p class="text-right pr-5 more text-primary"
                  (click)="filters2.start = locationsList.length;this.filters2.currentPage = this.filters2.currentPage+1;  updateRouterParams()">
                  more
              </p>
          </div>
      </div>
    </div>
</div>
</ng-template>
<ng-template #addlocation let-modal>
  <div class="modal-header">
    <h5 class="" id="modal-basic-title">Add Location</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addForm ="ngForm">
      <div class="form-group mb-2">
        <label for="email_id" >Location Title</label>
        <input type="text"  name="location" id="location" class="form-control"  #location="ngModel" [(ngModel)]="newLocationform.location" placeholder="location" required>
      </div>
      <div class="form-group mb-2">
        <label for="email_id" >Address</label>
        <textarea type="text"  name="address" id="address" class="form-control"  #address="ngModel" [(ngModel)]="newLocationform.address"  placeholder="Address" required></textarea>

      </div>
      <div class="form-group mb-2">
        <label for="Pincode" >Pincode</label>
        <input autocomplete="false"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            #searchBox (keyup)="search(searchBox.value)"
            [(ngModel)]="newLocationform.pin_code" placeholder="Enter Pincode"
            id="pin_code" class="form-control" type="number" name="pin_code"
            #pin_code="ngModel" maxlength="6" minlength="6" required>
        <small class="text-danger"
            *ngIf="pin_code.valid && invalidPincode">Enter Valid Pincode</small>
        <small class="text-danger"
            *ngIf="(newLocationform.pin_code && pin_code.invalid)">
            Enter valid Pincode
        </small>
      </div>
      <div class="form-group mb-2">
        <label for="city" >city</label>
        <ng-select id="city"  class="custom-select ngselect p-0 border-0" name="city" placeholder="Select City" #city='ngModel'  [(ngModel)]="newLocationform.city"  required>
            <ng-option [value]="item.Name" *ngFor="let item of cities">{{item.Name }}</ng-option>
      </ng-select>
      </div>
      <div class="form-group mb-2">
        <label for="city" >state</label>
        <input type="text"  name="state" id="state" class="form-control"  #state="ngModel" [(ngModel)]="newLocationform.state" placeholder="state" required>
      </div>


      <div class="text-center">
        <button class="btn btn-outline-primary mx-1"  (click)="modal.dismiss('Cross click')">Cancel</button>
        <button class="btn btn-primary mx-1" (click)="addLocation(addForm)">Save</button>
      </div>
    </form>
  </div>
</ng-template> -->
