@import '../../../shared/styles/clbs-global.scss';

header {
    background: $clbs-primary;
    color: #fff;
    padding: 3px 0;
}

.list-table table thead tr th {
    background: #214350;
    color: #fff;
}

.sidenav-c {
    min-height: 100vh;
    background: #1F4350;
    a {
        color: #1F4350 !important;
    }
    ul {
        width: 118%;
    }
}

.cardNav {
    background-color: transparent;
    color: white;
    border: none;
}

.dx {
    border-right: none;
    // border-left-style: solid;
    // border-left-width: 7px;
    // border-left-color: var(--danger);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.locationCard {
    background: #f2f4f5;
}

.tabCollection {
    min-height: 92vh;
}

// .nav-tabs .nav-link.active,
// .nav-tabs .nav-item.show .nav-link {
//     border: 0;
//     font-weight: bold;
//     color: #F26135;
//     border-bottom: 4px solid #9D3A33 !important;
// }

// .nav-tabs .nav-link {
//     padding: 10px 25px;
//     color: #333;
// }

.side-h {
    overflow-y: scroll;
    max-height: 77vh;
}

.d-card {
    margin: 2px;
    border: 1px solid #E3DADA;
}

.t-cards {
    border: 1px solid #E3DADA;
}

.title-3 {
    margin-top: -5px !important;
}

.card {
    border-radius: 0px;
}

.c-title {
    color: #444444;
}

.btn-outline-primary {
    border-color: #E3DADA;
    color: #444444;
}

.btn-outline-primary:hover {
    color: white;
}

.taxpayer-container {
    p {
        margin-bottom: 0px;
    }

        .table td .view {
            cursor: pointer;
            text-decoration: underline;
            color: #2164E8;
            font-weight: 600;
        }
        .table tbody tr:nth-of-type(even) {
            background: #fff;
        }
        .table tbody tr:nth-of-type(odd) {
            background: #fff;
        }
        .table-bordered {
            border: 0;
        }
        table {
            thead th {
                border-bottom: 0;
                border-top: 0;
                font-size: 12px;
                padding: 9px 10px;
            }
        }
    
        .table th,
        .table td {
            padding: 9px 10px;
            font-size: 14px;
            border: 1px solid rgba(221, 218, 218, 0.3);
        }
        .table tbody td:first-child {
            padding-left: 8px !important;
        }
        .badge-success {
            padding: 6px 20px;
            border-radius: 30px;
            margin: 0 auto;
            text-align: center;
            background: transparent;
            font-size: 12px;
            color: #000;
            position: relative;
            &:after {
                position: absolute;
                content: "";
                left: 0;
                background: #0BD72E;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        .calendar {
            max-width: 200px;
            i {
                position: absolute;
                top: 5px;
                right: 4px;
                cursor: pointer;
            }
        }
        .badge-warning {
            padding: 6px 20px;
            border-radius: 30px;
            margin: 0 auto;
            text-align: center;
            background: transparent;
            font-size: 12px;
            color: #000;
            position: relative;
            &:after {
                position: absolute;
                content: "";
                left: 0;
                background: #FFD00A;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        .badge-danger {
            padding: 6px 20px;
            border-radius: 30px;
            margin: 0 auto;
            text-align: center;
            background: transparent;
            font-size: 12px;
            color: #000;
            position: relative;
            &:after {
                position: absolute;
                content: "";
                left: 0;
                background: #ff2f0a;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        tr.pending {
            background: #FD8787 !important;
        }
        .input-group {
            max-width: 150px;
        }
        select.custom-select {
            height: auto;
        }
        .form-group {
            margin-bottom: 0;
            select {
                font-size: 13px;
            }
            .form-control {
                padding: 5px;
                border: 0 !important;
            }
        }
        td {
            // max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        table td:nth-child(1) {
            max-width: 50px !important;
            text-align: center;
        }
        table td:nth-child(2) {
            max-width: 100px !important;
            // text-align: center;
        }
        table td:nth-child(4) {
            div {
                max-width: 140px !important;
            }
        }
        table td:nth-child(5) {
            div {
                max-width: 180px !important;
            }
        }
        table td:nth-child(6) {
            div {
                max-width: 120px !important;
            }
        }
        table td:nth-child(6) {
            div {
                max-width: 100px !important;
            }
        }
        table td:nth-child(7) {
            div {
                max-width: 100px !important;
            }
        }
        table td:nth-child(8) {
            max-width: 100px !important;
        }
        table td:nth-child(9) {
            max-width: 100px !important;
        }
        table td:nth-child(3) div {
            max-width: fit-content !important;
        }
    
}
