.bg-gray.custom-toas{
    background: #fff;
    border-radius: 3px;
    width: 484px;
    // padding-top: 10px;
    // padding-bottom: 5px;
    // margin-top: 5px;
    border-bottom: 1px solid rgb(186, 200, 218);
    // border-color: #999;
    // box-shadow: 10px 10px grey;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    i{
        font-size: 26px;
        margin-right: 8px;
       
    }
  
    .badge{
        padding: 6px 20px;
        cursor: pointer;
    }
    .tax-invoice{
        padding: 3px 10px;
        background: rgb(186, 200, 218);
        border-radius: 3px;
    }
  }
  
  .toast-close-button{
    color: #999;
    opacity: 1;
    
  }
  .toast-close-button:hover{
    color: #02ceff;
  }
  .delete{
    font-size: 20px !important;
    color: red !important;
    cursor: pointer;
  }
  .clearAll{
    color: gray;
    cursor: pointer;
    // text-shadow: 2px 2px 4px gray;
  }
  .crct{ color: green !important;}
       .remove{ color: red !important;}