<section class="border-bottom bg-theme-color px-3 py-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h6 class="mb-0 mt-2">
          <span class="back-arrow" [routerLink]="['/dashboard']"><i class="ri-arrow-left-line"></i></span>
          <strong>GSTR 2A vs Purchase Registery (Reconciliation) </strong>
        </h6>
      </div>
      <div class="col-md-6 text-right">
        <div class="d-flex align-items-center justify-content-end">
          <div>
            <p class="m-0"> <span class="pr-2">Novotel - HICC </span> | <span class="pr-2">GSTIN: 193939HMDJDHS </span>
            </p>
          </div>
          <div>

            <div>
              <select class="custom-select b-r-0" name="selectedMonth" id="selectedMonth"
                [(ngModel)]="filters.selectedMonth" #selectedMonth="ngModel"
                (change)="changeSelect($event,'month');getb2bTotalData()" required>
                <option selected disabled>Select Month</option>
                <option *ngFor="let month of monthNames" [value]="month.id">{{month.name}}</option>
              </select>
            </div>
          </div>

          <div class="ml-3">

            <div>
              <select name="selectedYear" id="selectedYear" class="custom-select b-r-0"
                [(ngModel)]="filters.selectedYear" #selectedYear="ngModel"
                (change)="changeSelect($event,'year');getb2bTotalData()" required>
                <option selected disabled>Select Financial Year</option>
                <option *ngFor="let year of years" [value]="">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
          <button class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Get GSTR 2B</span>
          </button>
        </div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Import Purchase Register</span>
          </button>
        </div>
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Matching result</span>
          </button>
        </div>
      </div>

      <div class="bs-stepper-content">
        <div id="test-l-1" class="content">
          <div class="bg-lighblue">
            <div class="row">
              <div class="col-md-7">
                <div class="d-flex">
                  <h6 class="pt-1">Summary</h6>
                </div>
              </div>
              <div class="col-md-5 text-right">
                <button class="btn btn-sm btn-white mr-2"><i class="ri-download-fill mr-2"></i> Download
                  Summary</button>
                <button class="btn btn-sm btn-white"><i class="ri-eye-fill mr-2"></i> View Detail</button>
              </div>
            </div>
          </div>
          <div class="bg-white gst2-tabs">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>ITC Available</a>
                <ng-template ngbNavContent>
                  <table class="table tid-table" *ngIf="array.length">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Heading</th>
                        <th>GSTR 3B table</th>
                        <th>Integrated Tax</th>
                        <th>Central Tax</th>
                        <th>State/UT Tax</th>
                        <th>Cess</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="tb-bg">
                        <td colspan="7">PART A ITC Available - credit may be claimed in revalant headings in GSTR - 3B
                        </td>
                      </tr>
                    </tbody>
                    <ng-container *ngFor="let row of rows; let index = index; let even = even">
                      <tbody class="tid-data-row" [ngClass]="{ 'tid-even': even }">
                        <tr (click)="row.showDetail = !row.showDetail">
                          <td>{{ index }}</td>
                          <td>
                            <strong>{{ row.heading }}</strong> 
                            <i class="ri-arrow-down-s-line icon-arrow"></i></td>
                          <td>{{ row.GSTR3B }}</td>
                          <td>{{ row.ITax }}</td>
                          <td>{{ row.CTax }}</td>
                          <td>{{ row.STax }}</td>
                          <td>{{ row.Cess }}</td>
                        </tr>
                        <tr class="tid-detail-row" [ngClass]="{ show: row.showDetail }">
                          <td></td>
                          <td colspan="6">
                            <div class="table-responsive">
                              <table class="table table-sm" style="border: none;">
                                <tr>
                                  <td style="width: 40.4%">
                                    <a routerLink="/">{{ row.heading }}</a>
                                  </td>
                                  <td style="width: 11.9%"></td>
                                  <td style="width: 12.6%">{{ row.ITax }}</td>
                                  <td style="width: 11.7%">{{ row.CTax }}</td>
                                  <td style="width: 11.8%">{{ row.STax }}</td>
                                  <td style="width: 12%">{{ row.Cess }}</td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </ng-container>
                  </table>
                  <section class="no-data py-5" *ngIf="!array.length">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <div class="doc-icon"><i class="ri-file-text-fill"></i></div>
                          <h5>No Data</h5>
                          <p>Please click on the below button to fetch the GSTR2B data from GSTIN portal</p>
                          <button type="button" class="btn btn-sm px-5 btn-secondary">Get GSTR 2B from GSTIN</button>
                        </div>
                      </div>
                    </div>
                  </section>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>ITC Unavailable</a>
                <ng-template ngbNavContent>
                  <table class="table tid-table" *ngIf="array.length">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Heading</th>
                        <th>GSTR 3B table</th>
                        <th>Integrated Tax</th>
                        <th>Central Tax</th>
                        <th>State/UT Tax</th>
                        <th>Cess</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="tb-bg">
                        <td colspan="7">PART A ITC Available - credit may be claimed in revalant headings in GSTR - 3B
                        </td>
                      </tr>
                    </tbody>
                    <ng-container *ngFor="let row of rows; let index = index; let even = even">
                      <tbody class="tid-data-row" [ngClass]="{ 'tid-even': even }">
                        <tr (click)="row.showDetail = !row.showDetail">
                          <td>{{ index }}</td>
                          <td>{{ row.heading }}</td>
                          <td>{{ row.GSTR3B }}</td>
                          <td>{{ row.ITax }}</td>
                          <td>{{ row.CTax }}</td>
                          <td>{{ row.STax }}</td>
                          <td>{{ row.Cess }}</td>
                        </tr>
                        <tr class="tid-detail-row" [ngClass]="{ show: row.showDetail }">
                          <td></td>
                          <td colspan="6">
                            <div class="table-responsive">
                              <table class="table table-sm" style="border: none;">
                                <tr>
                                  <td style="width: 38.2%">
                                    <a routerLink="/">{{ row.heading }}</a>
                                  </td>
                                  <td style="width: 12.2%"></td>
                                  <td style="width: 12.9%">{{ row.ITax }}</td>
                                  <td style="width: 12%">{{ row.CTax }}</td>
                                  <td style="width: 12%">{{ row.STax }}</td>
                                  <td style="width: 12%">{{ row.Cess }}</td>
                                </tr>
                                <tr>
                                  <td>
                                    <a routerLink="/">{{ row.heading }}</a>
                                  </td>
                                  <td></td>
                                  <td>{{ row.ITax }}</td>
                                  <td>{{ row.CTax }}</td>
                                  <td>{{ row.STax }}</td>
                                  <td>{{ row.Cess }}</td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </ng-container>
                  </table>
                  <section class="no-data py-5" *ngIf="!array.length">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <div class="doc-icon"><i class="ri-file-text-fill"></i></div>
                          <h5>No Data</h5>
                          <p>Please click on the below button to fetch the GSTR2B data from GSTIN portal</p>
                          <button type="button" class="btn btn-sm px-5 btn-secondary">Get GSTR 2B from GSTIN</button>
                        </div>
                      </div>
                    </div>
                  </section>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class=""></div>
          </div>
          <section class="footer-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 text-right">
                  <button (click)="next()" class="btn btn-primary">Next</button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="test-l-2" class="content">
          <section class="summary-purchase">
            <div class="bg-lighblue">
              <div class="row">
                <div class="col-md-7">
                  <div class="d-flex">
                    <h6 class="pt-1">Summary of Purchase Register</h6>
                  </div>
                </div>
                <div class="col-md-5 text-right">
                  <button class="btn btn-sm btn-white mr-2"><i class="ri-download-fill mr-2"></i> Download
                    Summary</button>
                  <button class="btn btn-sm btn-white mr-2" (click)="ViewDetail()"><i class="ri-eye-fill mr-2"></i> View Detail</button>
                  <button class="btn btn-sm btn-secondary px-3"> Import</button>
                </div>
              </div>
            </div>
            <div class="bg-white">
              <div class="table-responsive">
                <table class="table tid-table" *ngIf="array.length">
                  <thead>
                    <tr>
                      <th>Type of Inward Supply</th>
                      <th>No. of Documents</th>
                      <th>Total Taxable Vauble</th>
                      <th>Total Tax Amount</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let register of registers; let index = index; let even = even">
                    <tbody>
                      <tr>
                        <td>{{ register.heading }}</td>
                        <td>{{ register.Documents}}</td>
                        <td>{{ register.TaxValue}}</td>
                        <td>{{ register.TaxAmount}}</td>
                      </tr>
                    </tbody>
                  </ng-container>
                </table>
              </div>
            </div>
            <div class="no-data py-5" *ngIf="!array.length">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="doc-icon"><i class="ri-file-text-fill"></i></div>
                    <h5>No Purchase data</h5>
                    <p class="mb-1">Please Import Purchase Resgister </p>
                    <button type="button" class="btn btn-sm px-5 btn-secondary mb-2">Import Purchase Register</button>
                    <div><a routerLink="/">Download Purchase Register Template </a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="footer-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 text-right">
                  <button (click)="next()" class="btn btn-primary">Next</button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="test-l-3" class="content">
          <section class="matching-results">
            <div class="bg-lighblue">
              <div class="row">
                <div class="col-md-7">
                  <div class="d-flex">
                    <h6 class="pt-1">Summary of GSTR 2B and Purchase Register (PR)</h6>
                  </div>
                </div>
                <div class="col-md-5 text-right">
                  <button class="btn btn-sm btn-white mr-2"><i class="ri-eye-fill mr-2"></i> View Detail</button>
                  <button class="btn btn-sm btn-secondary px-3"> Export</button>
                </div>
              </div>
            </div>
            <section class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="bb-none  text-center">Matching Result</th>
                    <th colspan="2" class=" text-center">No. of Documents</th>
                    <th class="bb-none  text-center">Total Taxable Vauble</th>
                    <th class="bb-none  text-center">Total Tax Amount</th>
                  </tr>
                  <tr>
                    <th class="bt-none"></th>
                    <th class=" text-center" width="20%">GSTR - 2B</th>
                    <th class=" text-center" width="20%">Purchase Register</th>
                    <th class="bt-none"></th>
                    <th class="bt-none"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="extract-match text-left">Exact Match</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">3,33,33,333.33</td>
                    <td class=" text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="extract-match text-left">Partial Match</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">3,33,33,333.33</td>
                    <td class=" text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="extract-match text-left">Probable Match</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">3,33,33,333.33</td>
                    <td class=" text-center">3,33,33,333.33</td>
                  </tr>
                  <tr style="background: #F85151;">
                    <td class="extract-match text-left">Mismatch </td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">3,33,33,333.33</td>
                    <td class=" text-center">3,33,33,333.33</td>
                  </tr>
                  <tr style="background: #FCBBBB; ">
                    <td class="extract-match text-left">Missing in Purchase Register</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">3,33,33,333.33</td>
                    <td class=" text-center">3,33,33,333.33</td>
                  </tr>
                  <tr style="background: #FCBBBB; ">
                    <td class="extract-match text-left">Missing in GSTR 2B</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">01</td>
                    <td class=" text-center">3,33,33,333.33</td>
                    <td class=" text-center">3,33,33,333.33</td>
                  </tr>
                  <tr style="background: #FFFCFC; ">
                    <td class="extract-match text-left">Total</td>
                    <td class=" text-center"><b>01</b></td>
                    <td class=" text-center"><b>01</b></td>
                    <td class=" text-center"><b>3,33,33,333.33</b></td>
                    <td class=" text-center"><b>3,33,33,333.33</b></td>
                  </tr>
                </tbody>
              </table>
            </section>
            <div class="match">
              <p class="mb-0">Details of matching result</p>
            </div>

            <section>
              <div class="supplies">
                <p class="mb-0">Supplies from registered persons (B2B)</p>
              </div>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Matching Result</th>
                    <th class="text-center">Match Type</th>
                    <th class="text-center">No. of Documents</th>
                    <th class="text-center">Total Taxable Value</th>
                    <th class="text-center">Total Tax Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b>Match</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b> Mismatch</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>

                </tbody>
              </table>
            </section>
            <section>
              <div class="registered">
                <p class="supplies">Deemed Exports</p>
              </div>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Matching Result</th>
                    <th class="text-center">Match Type</th>
                    <th class="text-center">No. of Documents</th>
                    <th class="text-center">Total Taxable Value</th>
                    <th class="text-center">Total Tax Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b>Match</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b> Mismatch</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>

                </tbody>
              </table>
            </section>
            <section>
              <div class="registered">
                <p class="supplies">SEZWP</p>
              </div>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Matching Result</th>
                    <th class="text-center">Match Type</th>
                    <th class="text-center">No. of Documents</th>
                    <th class="text-center">Total Taxable Value</th>
                    <th class="text-center">Total Tax Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b>Match</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b> Mismatch</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>

                </tbody>
              </table>
            </section>
            <section>
              <div class="registered">
                <p class="supplies">SEZWOP</p>
              </div>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Matching Result</th>
                    <th class="text-center">Match Type</th>
                    <th class="text-center">No. of Documents</th>
                    <th class="text-center">Total Taxable Value</th>
                    <th class="text-center">Total Tax Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b>Match</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td rowspan="3" scope="rowgroup" class="text-center" style="padding: 40px;"><b> Mismatch</b></td>
                    <td class="text-center">Exact Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Partial Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                  <tr>
                    <td class="text-center">Probable Match</td>
                    <td class="text-center">01</td>
                    <td class="text-center">3,33,33,333.33</td>
                    <td class="text-center">3,33,33,333.33</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </section>
          <section class="footer-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>