<section>
  <div class="row mb-3">
      <div class="col-md-7 col-lg-7">
          <div class="d-flex">
              <h5 class="font-weight-bold text-white"><b> Amended Invoices <small>({{amendList.length}})</small></b></h5>

              <!-- <div class="form-group filters-select ml-2 w-c-50 my-auto">
                  <select id="my-select" [(ngModel)]="filters.month" (ngModelChange)="updateRouterParams()" class="custom-select bg-white" name="" ngbTooltip="Month">
                      <option value="Jan">January</option>
                      <option value="Feb">February</option>
                      <option value="Mar">March</option>
                      <option value="Apr">April</option>
                      <option value="May">May</option>
                      <option value="Jun">June</option>
                      <option value="Jul">July</option>
                      <option value="Aug">August</option>
                      <option value="Sep">September</option>
                      <option value="Oct">October</option>
                      <option value="Nov">November</option>
                      <option value="Dec">December</option>
                  </select>

                </div>
                <div class="form-group filters-select ml-2 w-c-50 my-auto">
                  <select id="my-select" [(ngModel)]="filters.year" (ngModelChange)="updateRouterParams()" class="custom-select bg-white" name="" ngbTooltip="Year">
                    <option *ngFor="let item of years" [value]="item">{{item}}</option>
                  </select>
                </div>

                <div class="form-group filters-select calendar-sm w-c-50 position-relative">
                  <input class="form-control h-auto" [(ngModel)]="filters.filling_period" (dateTimeChange)="updateRouterParams()" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"  placeholder="Filling Date" [min]="min_date" [max]="max_date" ngbTooltip="Filling period">
                  <span class="example-trigger" [owlDateTimeTrigger]="dt1">
          <em class="ri-calendar-2-line ml-2"></em>
        </span>
                  <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              </div> -->

                <ul ngbNav #nav="ngbNav" [(activeId)]="filters.active" (navChange)="onTabChange($event)" class="nav-tabs ml-2">
                  <li [ngbNavItem]="1">
                      <a class="c-py-1" ngbNavLink>Invoices</a>
                  </li>
                  <li [ngbNavItem]="2">
                      <a class="c-py-1" ngbNavLink>SAC/HSN Summary</a>
                  </li>
                </ul>
                <span *ngIf="filters.return_period" class="text-white mt-1 mb-0">(<strong>{{filters.return_period}} </strong> Return Period)</span>
          </div>
      </div>
      <div class="col-md-5 col-lg-5 text-right">
          <button (click)="accept_amendments()" *ngIf="dupamendList.length" class="btn btn-primary btn-small mr-2 refreshbtn" type="button">Accept Amendment({{dupamendList.length}})</button>
          <button (click)="openFilingModal(selectFilingPeriod)" *ngIf="chooseFillingPeriod" class="btn btn-primary btn-small mr-2 refreshbtn" type="button">Change Filing Period</button>
          <!-- <button (click)="refreshData()" ngbTooltip="Reset" class="btn btn-primary btn-small mr-2 refreshbtn" type="button"><span><em class="ri-refresh-line text-white"></em></span></button> -->

      </div>

  </div>

  <div class="card" *ngIf="!chooseFillingPeriod">
      <div class="card-body text-center py-5">
          <button class="btn btn-sm btn-primary my-4" (click)="openFilingModal(selectFilingPeriod)">Select Filing Period</button>
      </div>
  </div>

  <div class="card" *ngIf="chooseFillingPeriod">
      <virtual-scroller #scroll [items]="amendList" *ngIf="filters.active== 1 ">
      <div class="table-responsive" >

          <table class="table">
              <thead #head class="thead">
                  <tr>
                      <th><span>

                          <div class="custom-control custom-checkbox">
                              <input (change)="checkedItemsAll($event)" type="checkbox" [(ngModel)]="selectAll" class="custom-control-input" id="customCheckAll" name="itemAll">
                              <label class="custom-control-label" for="customCheckAll" ngbTooltip="Select All"></label>
                          </div>
                      </span></th>
                      <th>Invoice No.</th>
                      <th>Guest Name</th>
                      <th>Conf.No.</th>
                      <th>GST</th>
                      <th>Room No.</th>
                      <th>Amended</th>
                      <th>Synced</th>
                      <th>Invoice Date</th>
                      <th>IRN Date</th>
                      <th>Synced Date</th>
                      <!-- <th>IRN No.</th> -->
                      <th>Actions</th>
                      <!-- <th>Status</th> -->
                  </tr>
              </thead>
              <tbody #container>
                  <tr>
                      <td></td>
                      <td class="bg-gray">
                          <div class="input-group input-group-sm min-input-width">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">
              <i class="ri-search-line"></i>
            </span>
                              </div>
                              <input #invoiceInp type="search" [(ngModel)]="searchText"  class="form-control">
                          </div>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>

                  <tr *ngFor="let item of scroll.viewPortItems| searchFilter: searchText;let i =index">
                      <td><div class="d-flex">{{i+1}}
                          <div *ngIf="item?.is_amendment !== 'Yes'" class="custom-control custom-checkbox ml-2">
                              <input (change)="checkedItems($event, item)" type="checkbox" class="custom-control-input" id="customCheck{{i}}" name="item{{i}}" [(ngModel)]="item.checked">
                              <label class="custom-control-label" for="customCheck{{i}}"></label>
                          </div>
                      </div>
                      </td>
                      <td>{{item?.invoice_number}}</td>
                      <td>{{item?.guest_name}}</td>
                      <td>{{item?.confirmation_number}}</td>
                      <td>{{item?.gst_number}}</td>
                      <td>{{item?.room_number}}</td>
                      <td [ngClass]="{'text-success': item?.is_amendment == 'Yes', 'text-danger': item?.is_amendment == 'No'}">{{item?.is_amendment}}</td>
                      <td [ngClass]="{'text-success': item?.synced_to_erp == 'Yes', 'text-danger': item?.synced_to_erp == 'No'}">{{item?.synced_to_erp}}</td>
                      <td>{{item?.invoice_date}}</td>
                      <td>{{item?.irn_date}}</td>
                      <td>{{item?.synced_date}}</td>
                      <!-- <td>{{item?.irn_number}}</td> -->
                      <td>
                          <a [routerLink]="['../../invoice-details/'+item.invoice_number]" [queryParams]="{prop:'amend'}" queryParamsHandling="merge" class="view">View</a>
                      </td>

                  </tr>

              </tbody>
          </table>
          <div class="text-center py-3" *ngIf="!amendList?.length">
              <h5>No Data Found</h5>
          </div>
      </div>
  </virtual-scroller>
      <div class="table-responsive" *ngIf="filters.active!= 1 ">
          <table class="table">
              <thead class="thead">
                  <tr>
                      <th>#</th>
                      <th>Sac Code</th>

                      <th class="text-right">Item Value</th>
                      <th class="text-center">GST Rate(%)</th>
                      <th class="text-right">IGST</th>
                      <th class="text-right">CGST</th>
                      <th class="text-right">SGST</th>
                      <th class="text-right">CESS</th>
                      <th class="text-right">Total Value</th>
                  </tr>
              </thead>
              <tbody>

                  <tr *ngFor="let item of amendList;let i =index">
                      <td>{{i+1}}</td>
                      <td>{{item?.sac_code}}</td>

                      <td class="text-right">{{item?.item_value}}</td>
                      <td class="text-center">{{item?.gst_rate}}</td>
                      <td class="text-right">{{item?.igst_amount}}</td>
                      <td class="text-right">{{item?.cgst_amount}}</td>
                      <td class="text-right">{{item?.sgst_amount}}</td>
                      <td class="text-right">{{item?.cess}}</td>
                      <td class="text-right">{{item?.total_value}}</td>

                  </tr>

              </tbody>
              <tfoot *ngIf="amendList.length">
                  <tr>
                    <td colspan="2" class="text-center"><strong>Total Amount</strong></td>

                    <td class="text-right"><strong>{{totals?.itemValue}}</strong></td>
                    <td></td>
                    <td class="text-right"><strong>{{totals?.igst}}</strong> </td>
                    <td class="text-right"><strong> {{totals?.cgst}}</strong></td>
                    <td class="text-right"><strong>{{totals?.sgst}}</strong> </td>
                    <td class="text-right"><strong>{{totals?.cess}}</strong> </td>
                    <td class="text-right"><strong>{{totals?.totalValue}}</strong> </td>
                  </tr>
                </tfoot>
          </table>
          <div class="text-center py-3" *ngIf="!amendList?.length">
              <h5>No Data Found</h5>
          </div>
      </div>

  </div>

</section>

<ng-template #selectFilingPeriod let-modal>
  <div class="modal-header">
      <h5 class="" id="modal-basic-title">Select Filing Period</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="modal-body text-center">
      <form (ngSubmit)="updateFilingPeriod(form,modal)" #form="ngForm">
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label class="mat-label" for="month">Select Month</label>
                      <select appMatInput id="month" [(ngModel)]="filters.month" (ngModelChange)="changeModalSelect('month')" class="custom-select bg-white" name="month" ngbTooltip="Month">
                          <option value="Jan">January</option>
                          <option value="Feb">February</option>
                          <option value="Mar">March</option>
                          <option value="Apr">April</option>
                          <option value="May">May</option>
                          <option value="Jun">June</option>
                          <option value="Jul">July</option>
                          <option value="Aug">August</option>
                          <option value="Sep">September</option>
                          <option value="Oct">October</option>
                          <option value="Nov">November</option>
                          <option value="Dec">December</option>
                      </select>

                    </div>
              </div>
              <div class="col-6">
                  <div class="form-group">
                      <label class="mat-label" for="year">Select Year</label>
                      <select appMatInput id="year" [(ngModel)]="filters.year" (ngModelChange)="changeModalSelect('year')" class="custom-select bg-white" name="year" ngbTooltip="Year">
                        <option *ngFor="let item of years" [value]="item">{{item}}</option>
                    </select>
                    </div>
              </div>
              <div class="col-12">
                  <div class="form-group calendar position-relative">
                      <label class="mat-label" for="filling_period">{{filters.get_before_month}} Filling Date(MM/DD/YYYY)</label>
                      <input appMatInput id="filling_period" class="form-control h-auto" name="filling_period" [(ngModel)]="filters.filling_period" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Filling Date" [min]="min_date" [max]="max_date"  required>
                      <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                          <em class="ri-calendar-2-line"></em>
                       </span>
                      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-center mt-3">
              <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-sm btn-outline-dark">Cancel</button>
              <button type="submit" class="btn btn-sm ml-2 btn-primary">Update</button>
          </div>
      </form>


  </div>
</ng-template>
