<section class="border-bottom bg-linear  px-3">
    <div class="container-fluid px-5 py-1">
        <div class="d-flex no-gutters justify-content-between">
            <div class="">
                <h6 class="mb-0 text-white"><strong>Invoices Reconciliation</strong></h6>
                <div class="d-flex align-items-center ">
                    <div>
                        <p class="mb-0 text-white " [routerLink]="['/gstr/dashboard']"><small class="cursor-pointer underline">Dashboard</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0" [routerLink]="['/gstr/gstr1']"><small class="cursor-pointer underline">GSTR1-Summary</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0" [routerLink]="['/gstr/invoice']" [queryParamsHandling]="'merge'"><small class="cursor-pointer underline">Invoices</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0"><small class="">Invoice Reconciliation</small></p>
                    </div>

                </div>
            </div>
            <div class="d-flex align-items-center">
                <div>
                    <p class="m-0"> <small class="pr-2 text-white">Return Period</small></p>
                </div>
                <div class="flex-fill">
                    <div class="">
                        <select id="my-select" class="form-control" name="month" [(ngModel)]="filters.search.month" (ngModelChange)="selectMonthYear($event,'month')">
                            <option *ngFor="let mon of monthList" [value]="mon.short">{{mon.long}}</option>                            
                        </select>
                    </div>
                </div>

                <div class="flex-fill ml-3">
                    <div class="">
                        <select id="my-select" class="form-control px-4" name="year" [(ngModel)]="filters.search.year" (ngModelChange)="selectMonthYear($event,'year')">
                            <option *ngFor="let yr of yearsList">{{yr}}</option>  
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <div class="flex-fill">
                        <input type="search" class="form-control" placeholder="search by invoice number" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)" [(ngModel)]="this.filters.search.confno">
                    </div>
                    <div class="flex-fill ml-3">
                        <select id="my-select" class="custom-select" [(ngModel)]="filters.search.status" class="form-control" (ngModelChange)="updateRouterParams()">
                            <option value="">All Invoice</option>
                            <option value="1">Matched</option>
                            <option value="0" >Mis-Matched</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-default reconcile" type="button" (click)="reconcilation()">Reconcile</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered text-center first-table">
                    <thead class="thead-light">
                        <tr>
                            <th>Total Invoices</th>
                            <th>Matching</th>
                            <th>Missing in E invoicing</th>
                            <th>Missing in GST</th>
                            <th>Last Reconciled on</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>100</b></td>
                            <td><b>10</b></td>
                            <td><b>10</b></td>
                            <td><b>10</b></td>
                            <td><b>30</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="table-reponsive first-table ">
        <table class="table table-bordered text-center table-sm">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Invoice Number</th>
                    <th>Invoice Date</th>
                    <th>GST Number</th>
                    <th>Invoice Value</th>
                    <th>Invoice Count</th>
                    <th>E invoicing generation date</th>
                    <th>Updated to E invoicing on</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of invoiceList">
                    <td>{{item.index}}</td>
                    <td>{{item?.invoice_number}}</td>
                    <td>{{item?.invoice_date}}</td>
                    <td>{{item?.gst_number}}</td>
                    <td>{{item?.total_invoice_amount}}</td>
                    <td>10.00</td>
                    <td>{{item?.irn_generated_date | date}}</td>
                    <td>{{item?.gstr_saved_date |date}}</td>
                    <td>
                        <span *ngIf="item?.gstr_filed == 1" class="badge badge-success">Matched</span>
                        <span *ngIf="item?.gstr_filed == 0" class="badge badge-danger mismatched">Missing in Ezy Invoicing</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>