<header class="py-2 px-3">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center my-auto text-white">
                <h6 class="m-0"> <i (click)="goBack()" class="ri-arrow-left-line back btn-hover"></i></h6>
                <div class="pl-2">
                    <h6 class="m-0"><b> {{summaryData?.summary_title}}</b> <small class="ml-2">({{summaryData?.status}})</small></h6>
                    <div class="d-flex">
                        <p class="mb-0 pr-2">{{summaryData?.tax_payer_details}}</p>
                        <div class="border-right "></div>
                        <p class="mb-0 px-2">{{summaryData?.legal_name || '-----'}}</p>
                        <div class="border-right "></div>
                        <p class="mb-0 px-2">{{summaryData?.from_date| date:'d MMMM, y'}} - {{summaryData?.to_date | date:'d MMMM , y'}}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <div class="row no-gutters text-white">
                    <div class="d-flex justify-content-end">

                        <ul class="list-unstyled  d-flex justify-content-around align-items-center m-0 border-left pr-2">
                          <li class="px-1" *ngIf="summaryData?.status == 'Submitted'" (click)="emailLogOpen(emailLog)"><i class="ri-mail-send-line btn-hover p-1"  ngbTooltip="Email Logs"></i> </li>
                            <!-- <li><i class="ri-information-fill px-2" ngbTooltip="View Details"></i> </li> -->
                            <li class="px-1" (click)="activityOpen(activityLog)"><i class="ri-exchange-funds-line btn-hover p-1" ngbTooltip="Activity Log"></i> </li>
                            <!-- <li><i class="ri-download-fill px-2" ngbTooltip="Download"></i></li> -->
                            <li class="px-1" (click)="previewDoc('noSignature')"><i class="ri-eye-line btn-hover p-1" ngbTooltip="Preview"></i></li>
                            <!-- <li><i class="ri-printer-line px-2" ngbTooltip="Print"></i></li> -->
                            <li class="px-1"><i class="ri-mail-line  btn-hover p-1" *ngIf="summaryData?.status == 'Submitted' || summaryData?.status == 'Void'" (click)="sendEmailTemp(sendEmail)" ngbTooltip="Send Mail"></i></li>
                            <!-- <li class="px-2" (click)="addInvoices()"><i class="ri-file-fill" ngbTooltip="Add Invoices"></i></li> -->
                            <li class="px-1"><i class="ri-truck-line  btn-hover p-1" *ngIf="summaryData?.status == 'Submitted'" (click)="dispatchTempFunc(dispatchTemp)" ngbTooltip="Dispatch"></i></li>

                        </ul>
                        <ul class="list-unstyled  d-flex justify-content-around align-items-center m-0 border-left px-2">
                            <li class="d-flex">
                                <span class="contactName d-flex justify-content-around align-items-center mr-2 " *ngFor="let item of contacts.slice(0, 2);"> <strong>{{item?.contact_name.substring(0, 2) | uppercase}}</strong></span>
                            </li>
                            <!-- <li><span class="contactInfo"> <strong>RA</strong></span></li> -->
                            <li class="pl-2" (click)="addContact(addCont)">
                                <span class="addcontactInfo btn-hover-gray"><i class="ri-user-add-line "></i></span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
</header>

<div class="container-fluid h-80vh">

<section class="mb-5 pb-4">
        <div class="row">

            <div class="col-md-12">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs shadow-sm border-0 bg-white m-15" (navChange)="onNavChange($event)">

                    <div class="pull-left mt-sm cursor-pointer" *ngIf="invoicesTabs?.length > 2" >
                      <p class="mt-2 mb-0" (click)="scrollLeft()"><i class="ri-arrow-left-s-line h4"></i></p>
                    </div>

                    <div #widgetsContent class="scroll-l" id="scroll-l">
                      <li [ngbNavItem]="1">
                          <a ngbNavLink>Summary</a>
                      </li>
                        <li *ngFor="let tab of invoicesTabs;let i = index" [ngbNavItem]='tab.category' (click)="seletedCatgry(tab)">
                          <a ngbNavLink>{{tab.category}}</a>
                      </li>
                    </div>

                    <div class="pull-right mt-sm cursor-pointer" *ngIf="invoicesTabs?.length > 2">
                      <p class="mt-2 mb-0" (click)="scrollRight()"><i class="ri-arrow-right-s-line h4"></i></p>
                    </div>
                    <div class="border-right"></div>
                    <li *ngIf="invoicesData?.data?.length" [ngbNavItem]="'suptDoc'" class="mr-2">
                        <a ngbNavLink>Supporting Documents</a>
                    </li>

                    <li *ngIf="invoicesData?.data?.length&& summaryData?.status !== 'Void'" [ngbNavItem]="'selectedInv'" class="ml-2">
                        <a ngbNavLink>Selected Invoices</a>
                        <ng-template ngbNavContent>
                            <div class="col-12 d-flex pb-2 justify-content-between align-items-center">
                                <h6><b>Selected Invoices</b></h6>
                                <button class="btn btn-primary " *ngIf="summaryData?.status !== 'Submitted' && summaryData?.status !== 'Void'" (click)="addInvoices('update')" type="button"><strong><i class="ri-add-line"></i> Add Invoices</strong></button>
                            </div>
                            <div class="bg-white shadow-sm list-table">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>S.no</th>
                                            <th>Invoice Date</th>
                                            <th>Invoice No</th>
                                            <th>Invoice type</th>
                                            <th>GST Number</th>
                                            <th>Trade Name</th>
                                            <th class="text-right">Taxable Value</th>
                                            <th class="text-right">CGST</th>
                                            <th class="text-right">SGST</th>
                                            <th class="text-right">IGST</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedInvoicesList;let i = index">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>{{item?.invoice_date}}</td>
                                            <td>{{item?.invoice_number}}</td>
                                            <td>{{item?.invoice_type}}</td>
                                            <td>{{item?.gst_number}}</td>
                                            <td>{{item?.trade_name}}</td>
                                            <td class="text-right">{{item?.sales_amount_before_tax}}</td>
                                            <td class="text-right">{{item?.cgst_amount}}</td>
                                            <td class="text-right">{{item?.sgst_amount}}</td>
                                            <td class="text-right">{{item?.igst_amount}}</td>
                                            <td class="text-right">{{item?.sales_amount_after_tax}}</td>
                                            <td class="text-center"><span class="actions cursor-pointer" *ngIf="summaryData?.status !== 'Submitted' && summaryData?.status !== 'Void'" (click)="deleteInvoicesfrmSummary(item)"><i class="ri-delete-bin-7-fill btn-hover-gray p-1"></i></span></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'addInfo'" class="mr-2">
                        <a ngbNavLink>Additional Info</a>
                    </li>


                </ul>
                <button class="btn btn-primary btn-sm save" type="button" *ngIf="( summaryData?.status !== 'Void' && summaryData?.status !== 'Submitted') &&  saveSummaryPO" (click)="savePOFunc()"><strong><i class="ri-save-line"></i> Save PO. </strong></button>
                <button class="btn btn-primary btn-sm save" type="button" *ngIf="(summaryData?.status !== 'Submitted' && summaryData?.status !== 'Void') && itemChangesToSave?.length" (click)="saveChangesFun()"><strong><i class="ri-save-line "></i> Save Changes</strong></button>
                <!-- <div [ngbNavOutlet]="nav" class="mt-3"></div> -->
            </div>



            <div class="col-md-12">
              <ul ngbNav #nav1="ngbNav" [(activeId)]="active" class="nav-tabs shadow-sm border-0 bg-white m-15" (navChange)="onNavChange($event)">

                  <li [ngbNavItem]="1">
                      <!-- <a ngbNavLink>Summary</a> -->
                      <ng-template ngbNavContent>
                          <div class="col-12 d-flex pb-2 justify-content-end" *ngIf="invoicesData?.data?.length && ( summaryData?.status !== 'Void')">
                              <input class="form-control poNumber mr-3" [(ngModel)]="this.summaryData.po_number" #poNumber="ngModel" name="po_number" placeholder="Enter PO Number" (ngModelChange)="poNumberFunc($event)">
                              <button class="btn btn-outline-primary " (click)="addPayments(addPayment)" type="button"><strong><i class="ri-add-line"></i> Add Payments</strong></button>
                          </div>
                          <div class="bg-white shadow-sm list-table">
                              <table class="table table-bordered table-sm" *ngIf="invoicesData?.data?.length">
                                  <thead>
                                      <tr>
                                          <th>S.no</th>
                                          <th>Date</th>
                                          <th>Invoice Number</th>
                                          <th>Service Type</th>
                                          <th>SAC/HSN</th>
                                          <th>Invoice Type</th>
                                          <th>Amount</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let item of invoicesData?.data;let i = index">
                                          <td>
                                              {{i+1}}
                                          </td>
                                          <td>{{item?.date}}</td>
                                          <td>{{item?.invoice_number}}</td>
                                          <td>{{item?.category}}</td>
                                          <td>{{item?.sac_codes}}</td>
                                          <td>{{item?.invoice_type}}</td>
                                          <td class="text-right pr-3">{{item?.amount}}</td>
                                      </tr>
                                      <tr class="bgClr">
                                          <td colspan="6" class="text-right"> <strong class="pr-3"> Total Amount</strong></td>
                                          <td colspan="1" class="text-right pr-3"> <strong>{{totalAmt}}</strong></td>
                                      </tr>
                                  </tbody>
                              </table>
                              <div class="noData d-flex justify-content-center align-items-center" *ngIf="!invoicesData?.data?.length && (summaryData?.status !== 'Submitted' && summaryData?.status !== 'Void')">
                                  <button class="btn btn-primary" type="button" (click)="addInvoices('create')"><i class="ri-file-fill"></i> Add Invoices</button>
                              </div>
                          </div>
                          <ng-container *ngIf="invoicesData?.data?.length && summaryData?.status !== 'Void'">
                              <h6 class="p-2"> <strong>Payments</strong></h6>
                              <div class="bg-white shadow-sm list-table">

                                  <table class="table table-bordered  table-sm mb-0" *ngIf="paymentsList?.length">
                                      <thead>
                                          <tr>
                                              <th>S.no</th>
                                              <th>Description</th>
                                              <th>Amount</th>
                                              <th>Actions</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let item of paymentsList;let i = index">
                                              <td>{{i+1}}</td>
                                              <td>{{item?.payment_description}}</td>
                                              <td class="text-right pr-3">{{item?.amount}}</td>
                                              <td>
                                                  <span class="actions mr-2 cursor-pointer" (click)="paymentItem(addPayment,item,'edit')" [ngbTooltip]="'Edit'"><i class="ri-pencil-fill btn-hover-gray p-1"></i></span>
                                                  <span class="actions mr-2 cursor-pointer" (click)="paymentItem(addPayment,item,'Deleted')" [ngbTooltip]="'Delete'"><i class="ri-delete-bin-7-fill btn-hover-gray p-1"></i></span>
                                              </td>
                                          </tr>
                                          <tr class="bgClr">
                                              <td colspan="2" class="text-right"> <strong *ngIf="refundAmt < 0" class="pr-3"> Total Amount To Refund</strong> <strong *ngIf="refundAmt > 0" class="pr-3"> Total Amount To Pay</strong></td>
                                              <td colspan="1" class="pr-3 text-right"><strong>{{refundAmt}}</strong></td>
                                          </tr>
                                      </tbody>
                                  </table>
                                  <div class="py-3 d-flex justify-content-center align-items-center" *ngIf="(summaryData?.status !== 'Void')">
                                      <button class="btn btn-outline-primary" type="button" (click)="addPayments(addPayment)"> <strong><i class="ri-add-fill"></i> Add Payments</strong></button>
                                  </div>
                              </div>
                          </ng-container>
                      </ng-template>
                  </li>

                  <li *ngIf="invoicesData?.data?.length" [ngbNavItem]="'suptDoc'" class="mr-2">
                      <!-- <a ngbNavLink>Supporting Documents</a> -->
                      <ng-template ngbNavContent>
                          <div class="bg-white">
                              <app-attachments></app-attachments>
                          </div>
                      </ng-template>
                  </li>


                  <li *ngIf="invoicesData?.data?.length&& summaryData?.status !== 'Void'" [ngbNavItem]="'selectedInv'" class="ml-2">
                      <!-- <a ngbNavLink>Selected Invoices</a> -->
                      <ng-template ngbNavContent>
                          <div class="col-12 d-flex pb-2 justify-content-between align-items-center">
                              <h6><b>Selected Invoices</b></h6>
                              <button class="btn btn-primary " *ngIf="summaryData?.status !== 'Submitted' && summaryData?.status !== 'Void'" (click)="addInvoices('update')" type="button"><strong><i class="ri-add-line"></i> Add Invoices</strong></button>
                          </div>
                          <div class="bg-white shadow-sm list-table">
                              <table class="table table-sm">
                                  <thead>
                                      <tr>
                                          <th>S.no</th>
                                          <th>Invoice Date</th>
                                          <th>Invoice No</th>
                                          <th>Invoice Type</th>
                                          <th>GST Number</th>
                                          <th>Trade Name</th>
                                          <th class="text-right">Taxable Value</th>
                                          <th class="text-right">CGST</th>
                                          <th class="text-right">SGST</th>
                                          <th class="text-right">IGST</th>
                                          <th class="text-right">Total Amount</th>
                                          <th class="text-center">Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let item of selectedInvoicesList;let i = index">
                                          <td>
                                              {{i+1}}
                                          </td>
                                          <td>{{item?.invoice_date}}</td>
                                          <td>{{item?.invoice_number}}</td>
                                          <td>{{item?.invoice_type}}</td>
                                          <td>{{item?.gst_number}}</td>
                                          <td>{{item?.trade_name}}</td>
                                          <td class="text-right">{{item?.sales_amount_before_tax}}</td>
                                          <td class="text-right">{{item?.cgst_amount}}</td>
                                          <td class="text-right">{{item?.sgst_amount}}</td>
                                          <td class="text-right">{{item?.igst_amount}}</td>
                                          <td class="text-right">{{item?.sales_amount_after_tax}}</td>
                                          <td class="text-center"><span class="actions cursor-pointer" *ngIf="summaryData?.status !== 'Submitted' && summaryData?.status !== 'Void'" (click)="deleteInvoicesfrmSummary(item)"><i class="ri-delete-bin-7-fill btn-hover-gray p-1"></i></span></td>
                                      </tr>


                                  </tbody>
                              </table>
                          </div>
                      </ng-template>
                  </li>
                  <li [ngbNavItem]="'addInfo'" class="mr-2">
                      <!-- <a ngbNavLink>Additional Info</a> -->
                      <ng-template ngbNavContent>
                          <div class="">
                              <app-additinal-info></app-additinal-info>
                          </div>
                      </ng-template>
                  </li>

                    <li *ngFor="let tab of invoicesTabs;let i = index" [ngbNavItem]='tab.category' (click)="seletedCatgry(tab)">
                      <!-- <a ngbNavLink>{{tab.category}}</a> -->
                        <ng-template ngbNavContent>
                            <ng-container  [ngTemplateOutlet]="dynamicTabContent" [ngTemplateOutletContext]="{tab:tab}">
                            </ng-container>
                        </ng-template>
                    </li>
              </ul>
              <!-- <button class="btn btn-primary btn-sm save" type="button" *ngIf="( summaryData?.status !== 'Void' && summaryData?.status !== 'Submitted') &&  saveSummaryPO" (click)="savePOFunc()"><strong><i class="ri-save-line"></i> Save PO. </strong></button>
              <button class="btn btn-primary btn-sm save" type="button" *ngIf="(summaryData?.status !== 'Submitted' && summaryData?.status !== 'Void') && itemChangesToSave.length" (click)="saveChangesFun()"><strong><i class="ri-save-line "></i> Save Changes</strong></button> -->
              <div [ngbNavOutlet]="nav1" class="mt-3"></div>
          </div>
          </div>
</section>
<footer>
  <div class="bg-white row d-flex justify-content-between shadow-sm p-2 w-100">
      <div class="col-8">
          <div class=" row d-flex justify-content-between align-items-center m-0" *ngIf="selectedCategoryDetails?.gst_details?.length">
              <ng-container *ngFor="let item of selectedCategoryDetails?.gst_details">
                  <div class="col">
                      <p><b>Rs. {{item?.sgst}}</b></p>
                      <small>Total CGST ({{item?.tax}}%)</small>
                  </div>
                  <div class="col">
                      <p><b>Rs. {{item?.cgst}}</b></p>
                      <small>Total SGST ({{item?.tax}}%)</small>
                  </div>
                  <div class="col">
                      <p><b>Rs. {{item?.igst}}</b></p>
                      <small>Total IGST ({{item?.tax}}%)</small>
                  </div>
              </ng-container>
              <div class="col">
                <p><b>Rs. {{selectedCategoryDetails?.get_total?.gst_amount || 0}}</b></p>
                <small>Total Tax Amt.</small>
            </div>
              <div class="col">
                  <p><b>Rs. {{selectedCategoryDetails?.get_total?.base_amount || 0}}</b></p>
                  <small>Total Taxabl Amt.</small>
              </div>

                <div class="col">
                    <p><b>Rs. {{selectedCategoryDetails?.get_total?.total_amount || 0}}</b></p>
                    <small>Total Amt.</small>
                </div>
            </div>
        </div>
        <div class="col-4 text-right">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-sm mx-1" *ngIf="summaryData?.status === 'Submitted'" (click)="amendTheSummary(amendSummary)"><strong class="px-3" >Amend Summary</strong></button>

            <button class="btn btn-primary btn-sm" type="button" *ngIf="summaryData?.status === 'Submitted' && summaryData?.status == 'Void'"><strong class="px-3">Submitted</strong></button>
            <button *ngIf="(summaryData?.status == 'Draft') && this.loginData?.name == 'Administrator'"  class="btn btn-primary btn-sm" type="button" (click)="submitSummary()" ><strong class="px-3">Submit</strong></button>
            <button *ngIf="(summaryData?.status == 'Draft') && this.loginData?.name != 'Administrator' && (clbsSettings.digital_signature == 0 || (clbsSettings.digital_signature == 1 && !(this.userSignatureDetails?.signature_image && this.userSignatureDetails?.signature_pfx)))" type="button" class="btn btn-primary btn-sm mx-1"   aria-label="submit" ngbTooltip="submit"  (click)="submitSummary()">
              <strong class="px-3">Submit</strong>
            </button>
            <button *ngIf="(summaryData?.status == 'Draft') && this.loginData?.name != 'Administrator' && clbsSettings.digital_signature == 1 && (this.userSignatureDetails?.signature_image && this.userSignatureDetails?.signature_pfx)" type="button" class="btn btn-primary btn-sm mx-1"   aria-label="Add Signature" ngbTooltip="Add Signature"  (click)="verifyPFX_password(verifyPfx_password)">
              <strong class="px-3">Sign & Submit</strong>
            </button>
          </div>
      </div>
      <!-- <div class="col-4 text-right">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-sm mx-1" *ngIf="summaryData?.status === 'Submitted'" ><strong class="px-3" (click)="amendTheSummary(amendSummary)">Amend Summary</strong></button>

          <button class="btn btn-primary btn-sm" type="button" *ngIf="summaryData?.status === 'Submitted' && summaryData?.status == 'Void'"><strong class="px-3">Submitted</strong></button>
          <button *ngIf="(summaryData?.status == 'Draft' || summarySubmitBtnActive) && this.loginData?.name == 'Administrator'"  class="btn btn-primary btn-sm" type="button" (click)="submitSummary()" ><strong class="px-3">Submit</strong></button>
          <button *ngIf="(summaryData?.status == 'Draft' || summarySubmitBtnActive) && this.loginData?.name != 'Administrator' && (clbsSettings.digital_signature == 0 || (clbsSettings.digital_signature == 1 && !(this.userSignatureDetails?.signature_image && this.userSignatureDetails?.signature_pfx)))" type="button" class="btn btn-primary btn-sm mx-1"   aria-label="submit" ngbTooltip="submit"  (click)="submitSummary()">
            <strong class="px-3">Submit</strong>
          </button>
          <button *ngIf="(summaryData?.status == 'Draft' || summarySubmitBtnActive) && this.loginData?.name != 'Administrator' && clbsSettings.digital_signature == 1 && (this.userSignatureDetails?.signature_image && this.userSignatureDetails?.signature_pfx)" type="button" class="btn btn-primary btn-sm mx-1"   aria-label="Add Signature" ngbTooltip="Add Signature"  (click)="verifyPFX_password(verifyPfx_password)">
            <strong class="px-3">Sign & Submit</strong>
          </button>
        </div>
      </div> -->
  </div>
</footer>
</div>



<ng-template #dynamicTabContent let-tab="tab">
        <div class="bg-white shadow-sm list-table">
            <div class="table-responsive">
                <table class="table table-bordered  table-sm" *ngIf="tab?.category == 'Rooms'">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>SAC code</th>
                            <th>Invoice No</th>
                            <th>Particulars</th>
                            <th>Check In</th>
                            <th>Check Out</th>
                            <th>No.of Nights</th>
                            <th>No.of Guests</th>
                            <th>Room Rate</th>
                            <th>Tax (%)</th>
                            <th>CGST Amt.</th>
                            <th>SGST Amt.</th>
                            <th>IGST Amt.</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tab?.breakup_details;let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>{{item?.sac_code}}</td>
                            <td>{{item?.invoice_no}}</td>
                            <td><input type="text" placeholder="Particulars" name="particulars" [(ngModel)]=item.particulars #particulars="ngModel" (keyup)="onChangeByCtgry($event,item,'particulars')" [disabled]="summaryData?.status == 'Submitted' && summaryData?.status == 'Void'"
                                    [readOnly]="summaryData?.status == 'Submitted' && summaryData?.status == 'Void'"></td>
                            <td>{{item?.checkin_date}}</td>
                            <td>{{item?.checkout_date}}</td>
                            <td>{{item?.no_of_nights}}</td>
                            <td>{{item?.no_of_guests}}</td>
                            <!-- <td class="text-right">{{item?.room_rate}}</td> -->
                            <td class="text-right">{{item?.base_amount}}</td>
                            <td>{{item?.tax}}</td>
                            <td class="text-right">{{item?.cgst}}</td>
                            <td class="text-right">{{item?.sgst}}</td>
                            <td class="text-right">{{item?.igst}}</td>
                            <td class="text-right">{{item?.amount}}</td>
                        </tr>


                    </tbody>
                </table>
                <table class="table table-bordered  table-sm" *ngIf="tab?.category !== 'Rooms'">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Date</th>
                            <th>Bill No.</th>
                            <th>Invoice No</th>
                            <th>Particulars</th>
                            <th>SAC Code</th>
                            <th>Base Amt.</th>
                            <th>CGST Amt.</th>
                            <th>SGST Amt.</th>
                            <th>IGST Amt.</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tab?.breakup_details;let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>{{item?.date}}</td>
                            <td><input type="text" placeholder="Bill No." name="bill_no" [(ngModel)]=item.bill_no #bill_no="ngModel" [disabled]="summaryData?.status == 'Submitted' && summaryData?.status == 'Void'" [readOnly]="summaryData?.status == 'Submitted' || summaryData?.status == 'Void'"
                                    (keyup)="onChangeByCtgry($event,item,'bill_no')"></td>
                            <td>{{item?.invoice_no}}</td>
                            <td><input type="text" placeholder="Particulars" name="particulars" [(ngModel)]=item.particulars #particulars="ngModel" [disabled]="summaryData?.status == 'Submitted' && summaryData?.status == 'Void'" [readOnly]="summaryData?.status == 'Submitted' || summaryData?.status == 'Void'"
                                    (keyup)="onChangeByCtgry($event,item,'particulars')"></td>
                            <td>{{item?.sac_code}}</td>
                            <td class="text-right">{{item?.base_amount}}</td>
                            <td class="text-right">{{item?.cgst}}</td>
                            <td class="text-right">{{item?.sgst}}</td>
                            <td class="text-right">{{item?.igst}}</td>
                            <td class="text-right">{{item?.amount}}</td>
                        </tr>


                    </tbody>
                </table>
                <!-- <table class="table table-bordered  table-sm" *ngIf="tab.category == 'Food'">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Date</th>
                            <th>Bill No.</th>
                            <th>Invoice No</th>
                            <th>Particulars</th>
                            <th>SAC Code</th>
                            <th>Base Amt.</th>
                            <th>CGST Amt.</th>
                            <th>SGST Amt.</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tab.summary_breakup_details;let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>{{item?.date}}</td>
                            <td><input type="text" placeholder="Bill No." name="bill_no" [(ngModel)]=item.bill_no #bill_no="ngModel"></td>
                            <td>{{item?.invoice_no}}</td>
                            <td><input type="text" placeholder="Particulars" name="particulars" [(ngModel)]=item.particulars #particulars="ngModel"></td>
                            <td>{{item?.sac_code}}</td>
                            <td class="text-right">{{item?.base_amount}}</td>
                            <td class="text-right">{{item?.cgst}}</td>
                            <td class="text-right">{{item?.sgst}}</td>
                            <td class="text-right">{{item?.amount}}</td>
                        </tr>


                    </tbody>
                </table> -->
            </div>
        </div>

</ng-template>


<ng-template #addPayment let-modal>
    <div class="modal-header">
        <h5 class="" id="modal-basic-title">Add Payment</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body scrollBody">
        <form #form="ngForm">
            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="payment_description">Payment Description</label>
                        <input class="form-control" type="text" name="payment_description" [(ngModel)]="paymentData.payment_description" #payment_description="ngModel" placeholder="Payment Description" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input class="form-control" (keypress)="checking($event)" type="text" step="0.01" name="amount"  [(ngModel)]="paymentData.amount" #amount="ngModel" placeholder="Amount" required>
                    </div>
                </div>

            </div>

            <div class="row ">
                <div class="col-md-12 text-right mt-1">
                    <!-- <button class="btn btn-outline-primary px-3 c-o-b shadow-sm bg-white" type="button"><i
                        class="ri-download-fill mr-2"></i> Save as Draft</button> -->
                    <button (click)="modal.close('close')" class="btn btn-outline-primary shadow-sm mr-2" type="button" (click)="cancelAddPayment()"><strong>Cancel</strong>  </button>
                    <button *ngIf="!this.paymentData?.name" (click)="createSummary(form,modal) " class="btn btn-primary shadow-sm" type="button">Save </button>
                    <button *ngIf="this.paymentData?.name" (click)="editPayment(form,modal) " class="btn btn-primary shadow-sm" type="button">Save </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #preview let-modal>
    <div class="modal-header">
        <h5 id="modal-basic-title">Preview</h5>
        <div class="form-group mb-0 px-5 printSelect">
            <select id="category" class="custom-select" name="category" [(ngModel)]="categoryData.category" #category="ngModel" (change)="selectPrint(category)">
            <option *ngFor="let item of printFormats" [value]="item.val">{{item?.key}}</option>
        </select>
        </div>

        <button type="button" class="btn btn-primary btn-sm" aria-label="Download All" ngbTooltip="Download All " (click)="downloadAllFiles()">
            <span aria-hidden="true"><i class="ri-download-fill btn-hover"></i></span>
          </button>
        <p class="ml-3 mb-0 mt-3"><small>size : </small>{{previewFileSize?.size}}MB</p>

        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>

    </div>
    <div class="modal-body" style="padding: 20px;">
        <div class="" style="width: 100%;height: 100vh;">
            <object style="width: 100%;height: 100vh;" *ngIf="filePdf" [data]="(filePdf) |safe" type=""></object>
        </div>

        <!-- <div id="printFormats" style="background-color:#FFF;padding: 10px; "></div>

        <div id="section-to-print">
            <div id="printPdf" class="d-none">

            </div>
        </div> -->
    </div>
</ng-template>

<ng-template #addSignature let-modal>
  <div class="modal-header">
    <div class="d-flex justify-content-between flex-grow-1">
      <h5 id="modal-basic-title flex-grow-1">Signature File</h5>
      <!-- <button type="button" class="btn btn-primary btn-sm mx-2" (click)="submitSummary()">
        <strong class="px-3">Submit</strong>
      </button> -->
    </div>

    <button type="button" class="close mx-0" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="" style="width: 100%;height: 100vh;">
      <object style="width: 100%;height: 100vh;" *ngIf="filePdf" [data]="(filePdf) |safe" type=""></object>
  </div>
  </div>
</ng-template>
<ng-template #amendSummary let-modal>
  <div class="modal-header">
    <h5 id="modal-basic-title">Amend summary</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <form #form = "ngForm" (ngSubmit)="submitAmendSummary(form)">
       <div class="form-group">
         <label class="form-label" for="reason_for_amendment">Reason</label>
         <textarea class="form-control" name="reason_for_amendment" id="reason_for_amendment" #reason_for_amendment="ngModel" ngModel cols="30" rows="3" required></textarea>
         <small class="text-danger" *ngIf="reason_for_amendment.invalid && form.submitted">* Required</small>
       </div>

       <div class="d-flex justify-content-end">
         <button class="btn btn-outline-primary mx-1" (click)="modal.close()">Cancel</button>
         <button class="btn btn-primary" type="submit">Submit</button>
       </div>
     </form>
  </div>
</ng-template>
<ng-template #addCont let-modal>
    <div class="modal-header">
        <h5 id="modal-basic-title">Add Contact</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body p-0">
        <div class="border-bottom py-1" *ngFor="let item of contactsByLocation;let i = index">
            <div class="d-flex justify-content-between align-items-center px-3">
                <div class="d-flex align-items-center">
                    <p class="contactName d-flex justify-content-around align-items-center mr-3"><strong>{{item?.contact_name.substring(0, 2) | uppercase}}</strong></p>
                    <!-- <span class="contactName mr-3"><strong>{{item?.contact_name.substring(0, 2) | uppercase}}</strong></span> -->
                    <div>
                        <p class="m-0 font-weight-bold">{{item?.contact_name}}</p>
                        <p class="m-0" style="margin-top: -8px !important;"><small>{{item?.contact_type}}</small></p>
                    </div>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="summaryStatus{{i}}" [(ngModel)]="item.summaryStatus" #summaryStatus="ngModel" name="summaryStatus{{i}}" (change)="addContactToSummary(item,$event.currentTarget.checked?'add':'remove')">
                    <label class="custom-control-label" for="summaryStatus{{i}}"></label>
                </div>
                <!-- <button class="btn btn-outline-primary btn-sm" *ngIf="!item?.summaryStatus" (click)="addContactToSummary(item,'add')"><strong class="px-2"><i class="ri-add-fill">Add</i></strong></button>
                <button class="btn btn-outline-primary btn-sm" *ngIf="item?.summaryStatus" (click)="addContactToSummary(item,'remove')"><strong class="px-2"><i class="ri-close-fill">Remove</i></strong></button> -->

            </div>
        </div>
        <div *ngIf="!contactsByLocation?.length">
            <h6 class="text-center mt-4">No Contacts</h6>
        </div>
        <div class="d-flex justify-content-center my-2">
            <button class="btn btn-primary " [routerLink]="['../../../clbs/create-contact/']" [queryParams]="{prop:'summary_contact',taxpayer:summaryData?.tax_payer_details,location:summaryData.location,paramsID:this.paramsID}" (click)="newContact();modal.close()">+ Add Contact</button>
        </div>
    </div>
</ng-template>


<ng-template #sendEmail let-modal>
    <div class="modal-header">
        <h5 id="modal-basic-title">Send Email</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="emailForm(form,modal)">

            <div class="form-group">
               <div class="input-with-label">
                <input type="text" class="form-control pl-3" id="recipients" style="padding-left: 36px !important" name="recipients" [(ngModel)]="emailTempData.recipients " #recipients="ngModel" required>
                <label for="recipients" class="attach-label">To</label>
               </div>
                <small class="text-danger" *ngIf="recipients.invalid && form.submitted">* Required</small>
            </div>
            <div class="form-group mb-3">
              <div class="input-with-label">
                <label for="cc_mail_ids_for_clbs_reports" class="attach-label">CC</label>
                <input type="text" class="form-control" id="cc_mail_ids_for_clbs_reports" style="padding-left: 44px !important" name="cc_mail_ids_for_clbs_reports" [(ngModel)]="clbsSettings.cc_mail_ids_for_clbs_reports " #cc_mail_ids_for_clbs_reports="ngModel" required>
              </div>
                <small class="text-warning">Please, write comma (,) seperated emails</small>
            </div>
            <!-- <div class="form-group">
                <input type="text" appMatInput class="form-control" id="template_name" name="template_name" [(ngModel)]="emailTempData.name" #template_name="ngModel" required>
                <label for="GuestName" >Email Template</label>
            </div> -->
            <div class="form-group">
              <div class="input-with-label">
                <!-- <label for="subject">Subject</label> -->
                <input type="text" class="form-control" id="subject" name="subject" [(ngModel)]="emailTempData.subject" #subject="ngModel" placeholder="Subject" required>
              </div>
                <small class="text-danger" *ngIf="subject.invalid && form.submitted">* Required</small>
            </div>
            <quill-editor class="mail-quill-editor ql-container min-height-120" id="message" name="message" [(ngModel)]="emailTempData.use_html == 1 ? emailTempData.response_html: emailTempData.response" #message="ngModel" required>


            </quill-editor>
            <small class="text-danger" *ngIf="message.invalid && form.submitted">* Required</small>
            <div class="mt-3 text-right">
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #emailLog let-modal>
  <div class="modal-header">
      <h5 id="modal-basic-title">Email Log</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body p-0">
      <div class="activity-feed">
          <div class="feed-item" *ngFor="let item of emailLogs;let index=index">
              <ng-container>


                  <ul class="timeline pb-2" *ngFor="let emails of item.emails">
                    <ng-container >
                      <li >
                        <p class="m-0 font-weight-bold">{{emails}}</p>
                        <p>{{item.creation |date:["MMM d y h:mm a"]}}</p>
                        <hr>
                     </li>
                    </ng-container>



                  </ul>

              </ng-container>
          </div>

      </div>
  </div>
</ng-template>
<ng-template #activityLog let-modal>
    <div class="modal-header">
        <h5 id="modal-basic-title">Activity Log</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body px-0">
        <div class="activity-feed">
            <div class="feed-item" *ngFor="let item of activityLogs;let index=index">
                <!-- <div class="text">{{item?.activity}} {{"by"}} <b>{{item?.modified_by}}</b></div>
                <div class="date">{{item?.datetime | date}}</div> -->
                <ng-container>
                    <!-- <div class="text">
                        <strong> {{item.modified_by}}</strong>
                        <small class="float-right">{{item.creation | date : 'short'}}</small> <br/>
                        <ng-template [ngIf]="item.data?.created_by">
                            Created
                        </ng-template>
                        <ng-template [ngIf]="item.data?.changed && item.data?.changed.length">Changed value of {{(item.data.changed[0][0] |uppercase) || '" "'}} <span *ngIf="item?.data?.changed[0][1]"> from
                            <small >{{item.data.changed[0][1] || '" "' }}</small> to
                            <small>{{item.data.changed[0][2]|| '" "'}} </small>
                        </span>
                        </ng-template>
                        <ng-template [ngIf]="item.data?.added && item.data?.added.length">
                            added {{item.data.added[0][0] || '" "' }} <br>
                            <small>{{item.data.added[0][1]?.image1 || '" "' }}</small>,
                            <small>{{item.data.added[0][1]?.image2 || '" "' }}</small>
                        </ng-template>
                        <ng-template [ngIf]="item.data?.removed && item.data?.removed.length">
                            removed list
                        </ng-template>
                    </div> -->

                    <ul class="timeline">
                        <li>
                            <div>
                                <p class="float-left mb-0"><strong>{{item.modified_by}}</strong></p>
                                <small class="float-right text-muted mb-0">{{item.creation | date : 'short'}}</small>
                            </div>
                            <div class="clear"></div>
                            <ng-template [ngIf]="item.data?.created_by">
                                Created
                            </ng-template>
                            <ng-template [ngIf]="item.data?.changed && item.data?.changed?.length">
                                <p class="mb-0">Changed value of {{(item.data.changed[0][0] |uppercase) || '" "'}}</p> <span *ngIf="item?.data?.changed[0][1]"> from
                                <small >{{item.data.changed[0][1] || '" "' }}</small> to
                                <small>{{item.data.changed[0][2]|| '" "'}} </small>
                            </span>
                            </ng-template>
                            <ng-template [ngIf]="item.data?.added && item.data?.added?.length">
                                added {{item.data.added[0][0] || '" "' }} <br>
                                <small>{{item.data.added[0][1]?.image1 || '" "' }}</small>,
                                <small>{{item.data.added[0][1]?.image2 || '" "' }}</small>
                            </ng-template>
                            <ng-template [ngIf]="item.data?.removed && item.data?.removed.length">
                                removed list
                            </ng-template>
                        </li>

                    </ul>

                </ng-container>
            </div>

        </div>
    </div>
</ng-template>

<ng-template #dispatchTemp let-modal>
    <div class="modal-header">
        <h5 id="modal-basic-title">Dispatch Info</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="dispatchFormAdd(form,modal)">

            <div class="form-group mb-3">
                <label for="courier_service">Courier Service Name</label>
                <input type="text" class="form-control bg-input" id="courier_service" name="courier_service" [(ngModel)]="dispatchInfo.courier_service " #courier_service="ngModel" [disabled]="dispatchInfo?.name " required>
                <small class="text-danger" *ngIf="courier_service.invalid && form.submitted">* Required</small>
            </div>
            <div class="form-group mb-3">
                <label for="tracking_id">Tracking Id</label>
                <input type="text" class="form-control bg-input" id="tracking_id" name="tracking_id" [(ngModel)]="dispatchInfo.tracking_id " #tracking_id="ngModel" [disabled]="dispatchInfo?.name " required>
                <small class="text-danger" *ngIf="tracking_id.invalid && form.submitted">* Required</small>
            </div>
            <!-- <div class="form-group">
                <input type="text" appMatInput class="form-control" id="template_name" name="template_name" [(ngModel)]="emailTempData.name" #template_name="ngModel" required>
                <label for="GuestName" >Email Template</label>
            </div> -->
            <div class="form-group mb-3">
                <label for="dispatch_date">Dispatch Date</label>
                <!-- <input type="date" class="form-control" id="dispatch_date" name="dispatch_date" [(ngModel)]="dispatchInfo.dispatch_date" #dispatch_date="ngModel" [min]="minDispatchDate" required> -->

                <input class="form-control h-auto bg-input" id="dispatch_date" name="dispatch_date" #dispatch_date="ngModel" [(ngModel)]="dispatchInfo.dispatch_date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="dd/mm/yyyy" [min]="minDispatchDate" [disabled]="dispatchInfo?.name"
                    required>
                <!-- <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                <i class="ri-calendar-2-line"></i>
            </span> -->
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                <small class="text-danger" *ngIf="dispatch_date.invalid && form.submitted">* Required</small>
            </div>

            <div class="mt-3 text-right">
                <button class="btn btn-primary btn-sm" type="submit" *ngIf="!dispatchInfo?.name" >Add</button>
                <!-- <button class="btn btn-primary btn-sm" type="button" *ngIf="dispatchInfo?.name" (click)="dispatchFormEdit(form,modal)">Save</button> -->
            </div>
        </form>
    </div>
</ng-template>
<ng-template #verifyPfx_password let-modal>


    <div class="modal-header">
      <div class="d-flex justify-content-between flex-grow-1">
        <h5 id="modal-basic-title flex-grow-1">Verify Password</h5>
      </div>
      <button type="button" class="close mx-0" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #form="ngForm">
      <div class="form-group">
        <label for="password">PFX File Password</label>
        <input type="password" placeholder="Enter PFX File Password" class="form-control" name="password" id="password" #password="ngModel" ngModel>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-primary mx-1" (click)="modal.close()">Cancel</button>
        <button class="btn btn-primary" (click)="submitTheVerifyPassword('addSignature',form)">Add</button>
      </div>
      </form>
    </div>
</ng-template>
