@import '../../../shared/styles/clbs-global.scss';

i {
    vertical-align: middle;
}

header {
    background: $clbs-primary;
    ul li {
        font-weight: 300 !important;
        font-size: 13px;
        &:hover {
            cursor: pointer;
            // color: rgb(228, 228, 35);
        }
        i {
            font-size: 20px;
        }
    }
    p {
        font-size: 13px;
    }
}



table th {
    font-weight: normal !important;
    white-space: nowrap !important;
}

table td {
    font-size: 13px;
    white-space: nowrap !important;
}

.table tbody tr:nth-of-type(even) {
    background-color: #fff !important;
}
.table-bordered th{
   border: 1px solid #dee2e6 !important;
}


.m-15 {
    margin: 0 -15px;
    background-color: white !important;
}

.table tbody td:first-child {
    padding: 0.3rem !important;
}

.table input {
    border: 1px solid #eee;
    font-size: 12px;
    background: #eee;
    border-radius: 3px;
    padding: 2px 6px;
}

.save {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 13px;
    border-radius: 0;
}

.back {
    font-size: 25px;
    cursor: pointer;
}

.submitbtn {
    background-color: #fff;
    color: #000;
    height: 30px !important;
    font-size: 15px;
    border-color: #fff !important;
}

.noData {
    min-height: 50vh;
    max-height: 100vh !important;
}

.btn {
    height: 35px;
    font-size: 12px;
    border-radius: 2px;
    i {
        font-size: 14px;
    }
}

.bgClr {
    background-color: #eee !important;
}

.actions {
    i {
        color: #444444;
        font-size: 14px;
    }
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    p {
        margin-bottom: 0px;
        font-size: 13px;
    }
}

.printSelect {
    max-width: 15rem;
    min-width: 10rem;
    select {
        height: 35px
    }
}

.modal-header {
    padding: 0.5rem 1rem !important;
}

.addcontactInfo {
    padding: 7px 7px;
    background-color: white;
    border-radius: 16px;
    color: #000;
}

.contactName {
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 5px;
    // padding-top: 9px;
    background-color: green;
    border-radius: 18px;
    color: #fff;
}

.activity::-webkit-scrollbar {
    width: 1px;
}


/* Track */

.activity::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.activity::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.activity::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.activity {
    position: fixed;
    right: 0;
    width: 35%;
    top: 0;
    height: 100vh;
    background: #fff;
    overflow-y: scroll;
    z-index: 999;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    .activity-feed:after {
        content: "";
        position: absolute;
        left: 9px;
        width: 1px;
        height: 100vh;
        background: #f370678c;
        top: 42px;
    }
}

.activity-feed {
    padding: 15px;
}

.activity-feed .feed-item {
    position: relative;
    // padding: 10px 10px;
    // background: #fff;
    // border-radius: 6px;
    // margin-left: 5px;
    // box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    // margin-bottom: 10px;
}

.activity-feed .feed-item:last-child {
    border-color: transparent;
}

// .activity-feed .feed-item:after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 25%;
//     left: -10px;
//     width: 10px;
//     height: 10px;
//     border-radius: 6px;
//     background: #fff;
//     border: 5px solid #f37167;
//     z-index: 99;
// }

.activity-feed .feed-item .date {
    position: relative;
    top: -5px;
    color: #8c96a3;
    text-transform: capitalize;
    font-size: 12px;
    text-align: right;
}

.activity-feed .feed-item .text {
    position: relative;
    // top: -3px;
    font-size: 13px;
    padding: 10px 10px;
    background: rgb(245, 202, 202);
    border-radius: 6px;
    margin-left: 5px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    margin-bottom: 5px;
}

.poNumber {
    max-width: 250px !important;
    height: 35px;
}

.min-height-120 {
    min-height: 120px !important;
}
/* Timeline css */

.clear {
    clear: both;
}

.tl-date {
    font-size: .85em;
}

.text-muted {
    color: #6c757d;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-right: 30px;
    overflow: hidden;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 1px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 0;
    padding-left: 10px;
    font-size: 13px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #d4d9df;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline > li:after {
    content: ' ';
    background: $clbs-secondary;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: none;
    left: 27px;
    top: 7px;
    width: 6px;
    height: 6px;
    z-index: 400;
}


.input-with-label{
  position: relative;
  input{
    background: #f5f5f5;
    border: none;
    font-size: 13px;
  }
  input:focus{
    border: 1px solid gray;
  }
  .attach-label{
    position: absolute;
    top: 6px;
    left: 8px;
    font-weight: bold;
    font-size: 13px;
  }
}
input.form-control, select.custom-select{
  height: 32px;
}
.bg-input{
  background: #f5f5f5 !important;
  border: none;
}
.bg-input:focus{
  border: 1px solid gray !important;
}
.moreCateg{
    position: fixed;
    right:25px;
    top:65px
}

.custom-control-input:checked ~ .custom-control-label::before{
  border-color:$clbs-secondary;
  background-color:$clbs-secondary
}
.scroll-l{
  max-width: 38%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  scroll-behavior: smooth;
}
.pull-right{
  box-shadow: -7px 0px 10px -3px #ebeff3;
}
.pull-left{
  box-shadow: 9px 0px 9px -3px #ebeff3;
  z-index: 1;
}
