<section>

    <div class="row mb-3">
        <div class="col-md-7 col-lg-7">
            <div class="d-flex">
                
                <h5 class="font-weight-bold text-white"> <i class=" cursor-pointer ri-arrow-left-line mr-1" [routerLink]="['/home/invoices']"></i> Expired Invoices ({{invoiceList.length}}) </h5>

                <div class="form-group ml-2 w-c-50 my-auto" >
                    <select id="my-select" [(ngModel)]="selectedDate"
                        (ngModelChange)="onDateFilterMonthChange()"
                        class="custom-select bg-white" name="">
                        <option value="All">All</option>
                        <option *ngFor="let idx of days_in_a_month" [value]="idx+1">{{idx+1}}</option>
                        
                    </select>
                </div>
                <div class="form-group ml-2 w-c-50 my-auto" >
                    <select id="my-select" [(ngModel)]="selectedMonth"
                        (ngModelChange)="onDateFilterMonthChange()"
                        class="custom-select bg-white" name="">
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>

                <div class="form-group ml-2 w-c-50 my-auto" >
                    <select id="my-select" [(ngModel)]="selectedYear"
                        (ngModelChange)="onDateFilterMonthChange()"
                        class="custom-select bg-white" name="">
                        <option *ngFor="let item of years" [value]="item">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 text-right">
            <button class="btn btn-primary btn-sm" *ngIf="selectedDate == 'All'" (click)="downloadReport()">Download</button>
        </div>

    </div>

    <div class="card" >
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Invoice Number</th>
                        <th>Guest Name</th>
                        <th>Confirmation No.</th>
                        <th>GST No.</th>
                        <th>Invoice Date</th>
                        <th>Expired On</th>
                        <th>IRN Status</th>
                        
                        <!-- <th>Status</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td style="min-width: 120px;max-width: 180px">
                            <input type="search" class="form-control form-control-sm bg-grey" placeholder="invoice number" id="invoice"
                [(ngModel)]="invoiceSearchObj.number" (ngModelChange)=" invoiceSearchObj.gst = ''">
                        </td>
                        <td></td>
                        <td></td>
                        <td style="min-width: 120px;max-width: 180px;">
                            <input type="search" class="form-control form-control-sm bg-grey" placeholder="Gst Number" id="gst"
                [(ngModel)]="invoiceSearchObj.gst" (ngModelChange)=" invoiceSearchObj.number = ''">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                    </tr>
                    <tr *ngFor="let item of invoiceList | expiredInvoices : invoiceSearchObj.number:invoiceSearchObj.gst ;let i =index">
                        <td>{{i+1}}</td>
                        <td>{{item?.invoice_number}}</td>
                        <td>{{item?.guest_name}}</td>
                        <td>{{item?.confirmation_number}}</td>
                        <td>{{item?.gst_number}}</td>
                        <td>{{item?.invoice_date|date:'MMM d yyyy'}}</td>
                        <td>{{item?.expiry_date|date:'MMM d yyyy'}}</td>
                        <td class="text-left">
                            <span class="badge" [ngClass]="{'badge-warning':item?.irn_generated == 'Pending','badge-danger':item?.irn_generated == 'Error'}">{{item?.irn_generated}}</span>
                        </td>
                       
                    </tr>

                </tbody>
            </table>
            <div class="text-center py-3" *ngIf="!invoiceList?.length">
                <h5>No Data Found</h5>
            </div>
        </div>
    </div>

</section>