<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-2 px-0">
                <div class="sideNav p-2">
                    <div class="mt-2">
                        <img class="img-fluid" [src]="domain+company?.company_logo" alt="">
                        <!-- <img class="img-fluid" src="assets/images/logo-taj.png" alt=""> -->
                    </div>

                    <div class="mt-4">
                        <ul class="list-unstyled">
                            <!-- <li [routerLink]="[ './dashboard' ]" routerLinkActive="active"><span>Dashboard</span></li> -->
                            <li [routerLink]="[ './summaries' ]" routerLinkActive="active"><span><i class="fa fa-list-alt mr-2" aria-hidden="true"></i>Summaries</span></li>
                            <li [routerLink]="[ './taxpayers' ]" routerLinkActive="active"><span><i class="fa fa-building mr-2"></i>Companies</span></li>
                            <li [routerLink]="[ './contacts' ]" routerLinkActive="active"><span><i class="fa fa-address-book mr-2"></i>Contacts</span></li>
                            <!-- <li [routerLink]="[ './events' ]" routerLinkActive="active"><span><i class="fas fa-calendar-alt mr-2"></i>Events</span></li> -->
                            <!-- <li [routerLink]="['./document-type']" routerLinkActive="active"><span><i class="fas fa-book mr-2"></i>Document Types</span></li> -->
                            <li [routerLink]="[ './clbs-reports' ]" routerLinkActive="active"><span><i class="fa fa-flag mr-2"></i>Reports</span></li>
                            <li [routerLink]="[ './clbs-settings' ]" routerLinkActive="active"><span><i class="fa fa-cogs mr-2"></i>Settings</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-10 p-0">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
