.sideNav {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#1d4350), color-stop(104.81%, #a43931));
  background: linear-gradient(90deg, #1d4350 0%, #a43931 104.81%);
}

.max-100 {
  max-width: 230px;
}

:host {
  font-size: 13px;
}

.c-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[5];
      grid-template-columns: repeat(5, 2fr);
  gap: 10px;
}

.c-grid .card {
  width: 100%;
  border: 1px solid #c2c2c2;
}

.d-card {
  border-top: 1px solid #eee;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.d-card h6 {
  font-size: 13px;
}

.d-card small {
  font-size: 11px;
}

.d-card .btn-primary {
  border-radius: 0;
  font-size: 13px;
  color: #fff3f3;
  background: #23434f;
  border: 0;
  margin-top: 5px;
}

.d-card .btn-outline-primary {
  border-radius: 0;
  font-size: 12px;
  color: #fff3f3;
  border: 1px solid #23434f;
  margin-top: 5px;
  color: #292929;
}

.d-card .btn-outline-primary:hover {
  background: transparent;
}

.filter-card .grid .btn-light {
  background: #ffffff;
  border: 1px solid #d3d0d0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 20px;
  padding: 0 8px;
  margin-right: 10px;
}

.filter-card .form-control {
  background: #faf4e8;
  border: 1px solid #cfcccc;
  font-size: 13px;
  border-radius: 0;
}

.summary .btn-light {
  background: #fffefb;
  border: 1px solid #cfcccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 13px;
}

.sideNav ul li:hover, .sideNav ul li.active {
  height: 35px;
  line-height: 7px;
  width: 107%;
  background: -webkit-gradient(linear, left top, right top, from(#f0f2f352), to(#f0f2f334));
  background: linear-gradient(90deg, #f0f2f352 0%, #f0f2f334 100%);
  margin-bottom: 6px;
  font-weight: 600;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  position: relative;
  padding-left: 13px;
  -webkit-transition-property: 'background';
  transition-property: 'background';
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.sideNav ul li {
  height: 35px;
  line-height: 7px;
  margin-bottom: 6px;
  padding: 10px;
  font-weight: 400;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

.c-header .btn-light {
  background: #fff;
  font-weight: 600;
  font-size: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 40px 10px 10px;
  line-height: 1;
}

.c-header .btn-light:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #AD8B3A;
  position: absolute;
  display: block;
  left: 6px;
  color: #fff;
  top: 8px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
}

.list-table table thead tr th {
  background: #214350;
  color: #fff;
}

.bg-c {
  background: rgba(238, 238, 238, 0.712) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.sideNav .accordion > .card {
  background: transparent;
  margin-bottom: 10px;
  border: 0;
}

.sideNav .accordion > .card > .card-header {
  padding: 0 !important;
  color: #fff;
  background: transparent;
  border: 0 !important;
}

.sideNav .accordion > .card > .card-header .btn-link {
  display: block !important;
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 15px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
  text-decoration: none !important;
}

.sideNav .card-body {
  padding: 10px 20px 0;
}

.sideNav .card-body ul li {
  padding: 5px;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.img-fluid {
  max-width: 52% !important;
}
/*# sourceMappingURL=clbs.component.css.map */