table {
    thead th {
        border-bottom: 0;
        border-top: 0;
        font-size: 12px;
        padding: 9px 10px;
    }
}

.table th,
.table td {
    padding: 9px 10px;
    font-size: 14px;
    border: 1px solid rgba(221, 218, 218, 0.3);
}