<section>
    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="text-white"><b>POS Printers</b></h4>
                <button (click)="addPrinter('add', null)" class="btn btn-primary ml-3" type="button" appPermissionButton accessType="create"><i
                        class="ri-add-line"></i></button>
            </div>
        </div>



        <div class="col-md-3 text-right">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" [(ngModel)]="filters.search" (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)" #search placeholder="Search by Printer IP">
                <span class="search"><i class="ri-search-line"></i></span>
            </div>
        </div>


    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="pl-4">S.No</th>
                                    <th>Printer Name</th>
                                    <th>Printer IP</th>
                                    <th>Printer Port</th>
                                    <th>Last Used</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of posPrinters;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item?.printer_name}}</td>
                                    <td>
                                        {{item?.printer_ip || 'N/A'}}
                                    </td>
                                    <td>{{item?.port}}</td>
                                    <td>
                                        {{(item?.last_used |date) || ''}}
                                    </td>

                                    <td>
                                        <span class="badge" [ngClass]="{'badge-success': item?.status === 'Enable', 'badge-danger': item?.status === 'Disable'}">
                                            {{item?.status || 'N/A'}}</span>
                                    </td>
                                    <td>
                                        <span class="text-primary cursor-pointer" (click)="addPrinter('edit',item)" appPermissionButton accessType="write">Edit</span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                        <div class="text-center py-5" *ngIf="!posPrinters?.length">
                            <h5><b>No Data Found</b></h5>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-11">

                        </div>
                        <div class="col-md-1">
                            <div class="text-right mb-2" *ngIf="posPrinters?.length">
                                <div class="px-2">
                                    <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
                                        <option [value]="20">20</option>
                                        <option [value]="50">50</option>
                                        <option [value]="100">100</option>
                                        <option [value]="150">150</option>
                                        <option [value]="500">500</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>





<ng-template #printerModal let-modal>
    <div class="modal-header">
        <h6><b class="text-capitalize">{{viewType}} Printer</b></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="printer_ip">Printer IP</label>
                        <input onkeypress="return (event.charCode !=8 && event.charCode ==0  || event.charCode==190 || event.charCode==110 || event.charCode==46 || (event.charCode >= 48 && event.charCode <= 57 ))" (change)="getPrinter($event)" id="printer_ip" class="form-control"
                            type="text" name="printer_ip" [(ngModel)]="formData.printer_ip" required #printer_ip="ngModel">


                        <small class="text-danger" *ngIf="form.touched && printer_ip?.errors?.required">Required</small>


                        <!-- <div *ngIf="printerValid && ipPrinterCheck">
                            <small class="text-danger"><b>This Printer IP: {{ipPrinterCheck}} already
                                    exist</b></small>
                        </div> -->

                        <div *ngIf="ipValid && ipPrinterCheck">
                            <small class="text-danger"><b>You have entered an invalid IP address!</b></small>
                        </div>

                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="port">Printer Port</label>
                        <input id="port" class="form-control" type="text" name="port" [(ngModel)]="formData.port" required #port="ngModel">
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="printer_name">Printer Name</label>
                        <input id="printer_name" class="form-control" type="text" name="printer_name" [(ngModel)]="formData.printer_name" required #printer_name="ngModel">
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select (ngModelChange)="contentChange($event)" id="status" class="custom-select" name="status" [(ngModel)]="formData.status" required #status="ngModel">
                            <option value="Enable">Active</option>
                            <option value="Disable">In Active</option>
                        </select>
                        <small class="text-danger" *ngIf="form.touched && status?.errors?.required">Required</small>

                    </div>
                </div>

                <div class="text-right col-md-12">
                    <button (click)="modal.dismiss('Cross click')" class="btn btn-outline-primary" type="button">Cancel</button>
                    <button [disabled]="ipValid" class="btn btn-primary ml-3" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>

</ng-template>