<section class="invoice position-relative">
  <div class="d-flex">
    <div class="col-md-11">
      <div class="d-flex mb-3">
        <h4 class="text-white"><b> Upload Invoices <small>({{this.filters.totalCount}})</small></b></h4>
        <div class="form-group w-c-50" *ngIf="filters.active == 2 || filters.active == 3 || filters.active == 5">
          <select id="my-select2" [(ngModel)]="filters.search.filterType" (ngModelChange)="onDateFilterType()"
            class="custom-select bg-white" name="">
            <option value="creation">Uploaded Date</option>
            <option value="invoice_date">Created Date</option>
          </select>
        </div>
        <div class="form-group w-c-50" *ngIf="filters.active == 2 || filters.active == 3 || filters.active == 5">
          <select id="my-select" [(ngModel)]="filters.search.filterBy" (ngModelChange)="onDateFilterChange()"
            class="custom-select bg-white" name="">
            <option value="All">All</option>
            <option value="Today">Today</option>
            <option value="Yesterday">Yesterday</option>
            <option value="This Week">This Week</option>
            <option value="Last Week">Last Week</option>
            <option value="This Month">This Month</option>
            <option value="Last Month">Last Month</option>
            <option value="This Year">This Year</option>
            <option value="Custom">Custom</option>
          </select>
        </div>

        <div class="form-group calendar w-c-50 position-relative" *ngIf="filters.search.filterBy == 'Custom'">
          <input class="form-control h-auto" [(ngModel)]="filters.search.filterDate"
            (dateTimeChange)="updateRouterParams()" [owlDateTime]="dt1" [selectMode]="'range'"
            [owlDateTimeTrigger]="dt1" placeholder="Date Time">
          <span class="example-trigger" [owlDateTimeTrigger]="dt1">
            <i class="ri-calendar-2-line"></i>
          </span>
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-0 shadow">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-bordered mb-0">
          <thead>
            <tr>
              <th>#</th>
              <th>Uploaded At</th>
              <th>Uploaded By</th>
              <th>Invoice Date</th>
              <th>Invoices Count</th>
              <th>Pending</th>
              <th>Success</th>
              <th>Error</th>
              <th>B2C</th>
              <th>B2B</th>
              <th>Attachments</th>
              <!-- <th>Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoicesStats ;let i = index">
              <td>{{i+1}}</td>
              <td class="v-align-center">{{invoice?.creation|date:'MMM d'}}</td>
              <td class="v-align-center">{{invoice?.uploaded_by|| 'NA'}}</td>
              <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <span> {{each?.date}}</span>
                </div>
              </td>
              <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <span> {{each?.invoice_number}}</span>
                </div>
              </td>
              <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <span> {{each?.Pending}}</span>
                </div>
              </td>
              <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <span> {{each?.Success}}</span>
                </div>
              </td>
              <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <span> {{each?.Error}}</span>
                </div>
              </td>
              <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <span> {{each['B2B']}}</span>
                </div>
              </td>
              <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <span> {{each['B2C']}}</span>
                </div>
              </td>
              <td>
                <a target="_blank" download [href]="apiDomain+invoice.gst_file">Download GST File</a><br>
                <a target="_blank" download [href]="apiDomain+invoice.referrence_file">Download Ref. File</a>
              </td>
              <!-- <td>
                <div *ngFor="let each of invoice.invoice_details">
                  <a href="javascript:void(0)" (click)="navigateInvoices(each)" appPermissionButton accessType="read" moduleType="docType"
                  class="view">View</a>
                </div>
              </td> -->
              <!-- <td><a href="javascript:void(0)" (click)="navigateInvoices(invoice)" appPermissionButton accessType="read" moduleType="docType"
                  class="view">View</a>
              </td> -->
            </tr>
          </tbody>
        </table>
        <div class="text-center py-3" *ngIf="!invoicesStats.length">
          <h4>No Data Found</h4>
        </div>
      </div>

      <div class="d-flex justify-content-between" *ngIf="invoicesStats.length">
        <div class="px-3">
          <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
            (change)="checkPagination()" id="itemsPerPage">
            <option [value]="20">20</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
            <option [value]="150">150</option>
            <option [value]="500">500</option>
          </select>
        </div>
        <div *ngIf="invoicesStats.length  < this.filters.totalCount">
          <p class="text-right pr-5 more text-primary"
            (click)="this.filters.start = invoicesStats.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
            more
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
