<div>
    <form #form="ngForm">
        <div class="modal-header py-2">
            <div class="d-flex">
                <h5 class="mr-3" id="modal-basic-title"><strong>SAC HSN Codes</strong></h5>
                <div class="custom-control custom-checkbox form-group mb-0">
                    <input type="checkbox" class="custom-control-input" id="ignore" name="ignore"
                        [(ngModel)]="sacCodeDetails.ignore" #ignore="ngModel">
                    <label class="custom-control-label" for="ignore">Ignore</label>
                </div>
                <div class="sync-status" *ngIf="company?.ezy_gst_module == 1">
                    <span *ngIf="sacCodeDetails?.synced_to_erp == 0">
                        <p class="ml-3 mb-0 text-danger non-sync"><i class="ri-close-circle-line"></i> Not Synced</p>
                    </span>
                    <div *ngIf="sacCodeDetails?.synced_to_erp == 1">
                        <p class="mb-0 text-success sync"><i class="ri-checkbox-circle-fill"></i> Synced to EzyGST </p>
                        <p class="text-right mb-0" style="font-size: 12px"><i
                                class="ri-calendar-check-line calendar"></i> {{sacCodeDetails?.synced_date |date : ["MMM
                            d y"]}}</p>
                    </div>
                </div>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="viewType === 'edit' && sacCodeDetails?.synced_to_erp == 0 && company?.ezy_gst_module == 1">
                <button (click)="SacsynctoGST()" class="btn btn-primary btn-sm mx-2 btn-right" ngbTooltip="sync to gst"
                    appPermissionButton accessType="write" type="button">Sync to GST</button>
            </div>
        </div>
        <div class="modal-body pt-4">
            <div class="col-lg-12">
                <div class="text-center">
                    <small class="text-danger">{{form.form.getError('error')}}</small>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input title="Enter Opera transaction description" type="text" appMatInput
                                class="form-control" id="description" name="description"
                                [(ngModel)]="sacCodeDetails.description" #description="ngModel"
                                [readonly]="viewType === 'edit'" required>
                            <label for="description" class="mat-label">Description </label>
                            <small class="text-danger"
                                *ngIf="form.submitted && description?.errors?.required">Required</small>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input title="Enter Transaction code of description" type="text" appMatInput appNumberInput
                                class="form-control" id="TransactionCode" name="transactioncode"
                                [(ngModel)]="sacCodeDetails.transactioncode" #TransactionCode="ngModel">
                            <label for="TransactionCode" class="mat-label">TransactionCode</label>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input title="Enter SAC code of description" type="text" (keypress)="numberOnly($event)"
                                (ngModelChange)="saccodekeysup()" appMatInput class="form-control" id="code" name="code"
                                [disabled]="saccodedisable" [(ngModel)]="sacCodeDetails.code" #code="ngModel">
                            <label for="code" class="mat-label">SAC Code</label>

                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <select appMatInput name="type" id="type" class="custom-select"
                                [(ngModel)]="sacCodeDetails.type" #type="ngModel" required>
                                <option value="SAC">SAC</option>
                                <option value="HSN">HSN</option>
                            </select>

                            <label for="type" class="mat-label">Type</label>
                            <small class="text-danger" *ngIf="form.submitted && type?.errors?.required">Required</small>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <select appMatInput name="taxble" id="taxble" class="custom-select"
                                [disabled]="sacCodetaxable" [(ngModel)]="sacCodeDetails.taxble" #taxble="ngModel"
                                (change)="taxable_data($event)" required>
                                <option title="Select Yes if the description is taxable (Eg. Room Charges)" value="Yes">
                                    Yes</option>
                                <option title="Select No if the descriptions in not taxable (Eg. Liqour)" value="No">No
                                </option>
                            </select>
                            <label for="taxble" class="mat-label">Taxble</label>
                            <small class="text-danger"
                                *ngIf="form.submitted && taxble?.errors?.required">Required</small>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="Type" class="mat-label">Net</label>
                            <select appMatInput name="net" id="Net" class="custom-select"
                                [(ngModel)]="sacCodeDetails.net" #Net="ngModel">
                                <option title="Select Yes if the taxes are included in the price" value="Yes">Yes
                                </option>
                                <option title="Select No if the price in excluding of taxes" value="No">No</option>
                            </select>
                        </div>
                    </div>


                    <div *ngIf="sacCodeDetails.code === '996311' || sacCodeDetails.code === '997321' "
                        class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="accommodation_slab" class="mat-label">Accommodation Slab</label>
                            <select appMatInput name="accommodation_slab" id="accommodation_slab" class="custom-select"
                                [(ngModel)]="sacCodeDetails.accommodation_slab" #accommodation_slab="ngModel">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
            <div class="custom-control custom-checkbox form-group">
              <input type="checkbox" class="custom-control-input" id="ignore" name="ignore"
                [(ngModel)]="sacCodeDetails.ignore" #ignore="ngModel">
              <label class="custom-control-label" for="ignore">Ignore</label>
            </div>

          </div> -->
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="exempted" class="mat-label">Sez Exempted</label>
                            <select appMatInput name="exempted" id="exempted" class="custom-select"
                                [(ngModel)]="sacCodeDetails.exempted" #exempted="ngModel">
                                <option value='1'>Yes</option>
                                <option value='0'>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">

                            <select appMatInput name="ignore_non_taxable_items" id="ignore_non_taxable_items"
                                class="custom-select" [(ngModel)]="sacCodeDetails.ignore_non_taxable_items"
                                [disabled]="sacCodeRevenue" #ignore_non_taxable_items="ngModel">
                                <option value='1'>Non Revenue</option>
                                <option value='0'>Revenue</option>
                            </select>
                            <label class="mat-label" for="ignore_non_taxable_items">Item Type</label>
                        </div>

                    </div>
                    <div *ngIf="sacCodeDetails.code === '999799' " class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="non_gst_revenue" class="mat-label">Non GST Revenue</label>
                            <select appMatInput name="non_gst_revenue" id="non_gst_revenue" class="custom-select"
                                [(ngModel)]="sacCodeDetails.non_gst_revenue" #non_gst_revenue="ngModel">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="status" class="mat-label">Status</label>
                            <select appMatInput name="status" id="status" class="custom-select"
                                [(ngModel)]="sacCodeDetails.status" #status="ngModel">
                                <option value="Active">Active</option>
                                <option value="In-Active">In-Active</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="custom-control custom-checkbox form-group">

                            <input type="checkbox" class="custom-control-input" id="is_service_charge_item" name="is_service_charge_item" [(ngModel)]="sacCodeDetails.is_service_charge_item" #is_service_charge_item="ngModel">
                            <label class="custom-control-label" for="is_service_charge_item">Is Service Charge Item</label>
                        </div>
                    </div> -->

                </div>
                <div class="col-lg-6 col-md-6" *ngIf="company?.clbs === 1">
                    <div class="form-group">
                        <label for="category" class="mat-label">Category</label>
                        <select appMatInput name="category" id="category" class="custom-select"
                            [(ngModel)]="sacCodeDetails.category" #category="ngModel">
                            <option value="Rooms">Rooms</option>
                            <option value="Food & beverages">Food & beverages</option>
                            <option value="Food IRD">Food IRD</option>
                            <option value="Banquet">Banquet</option>
                            <option value="Banquet-ODC">Banquet-ODC</option>
                            <option value="Banquet Hall hire">Banquet Hall hire</option>
                            <option value="Other banquet Misc">Other banquet Misc</option>
                            <option value="Banquet AV">Banquet AV</option>
                            <option value="Laundry">Laundry</option>
                            <option value="Spa and Health Clubs">Spa and Health Clubs</option>
                            <option value="Concierge service">Concierge service</option>
                            <option value="Miscellaneous">Miscellaneous</option>
                            <option value="Shared Services">Shared Services</option>
                            <option value="Tobacco">Tobacco</option>
                            <option value="Liquor">Liquor</option>
                            <option value="Telephone Charges">Telephone Charges</option>
                            <option value="Transportation Charges">Transportation Charges</option>
                            <option value="Non Revenue">Non Revenue</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h6 class="c-border-bottom pb-2 mb-4"><strong>Service Charge</strong></h6>
                    </div>


                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="service_charge" class="mat-label">Service Charge</label>
                            <select title="Select Yes if the description has Service charger or else select No" appMatInput name="service_charge" id="service_charge" class="custom-select" [(ngModel)]="sacCodeDetails.service_charge" #service_charge="ngModel">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="service_charge_net" class="mat-label">Service Charge Net</label>
                            <select title="Select Yes if the service charge applies on Net price or else select No" appMatInput name="service_charge_net" id="service_charge_net" class="custom-select" [(ngModel)]="sacCodeDetails.service_charge_net" #service_charge_net="ngModel">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngIf="sacCodeDetails.service_charge == 'Yes' || service_charge.value == 'Yes'">
                        <div class="form-group">
                            <label for="disable_cess_for_sc" class="mat-label">Disable CESS for SC</label>
                            <select title="Select Yes if you want to disable CESS for service charge or else select No" appMatInput name="disable_cess_for_sc" id="disable_cess_for_sc" class="custom-select" [(ngModel)]="sacCodeDetails.disable_cess_for_sc" #disable_cess_for_sc="ngModel">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngIf="sacCodeDetails.service_charge == 'Yes' || service_charge.value == 'Yes'">
                        <div class="form-group">
                            <label for="disable_vat_for_sc" class="mat-label">Disable VAT for SC</label>
                            <select title="Select Yes if you want to disable VAT for service charge or else select No" appMatInput name="disable_vat_for_sc" id="disable_vat_for_sc" class="custom-select" [(ngModel)]="sacCodeDetails.disable_vat_for_sc" #disable_vat_for_sc="ngModel">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngIf="sacCodeDetails.service_charge == 'Yes' || service_charge.value == 'Yes'">
                        <div class="form-group">
                            <label for="service_charge_tax_applies" class="mat-label">Service Charge Tax Applies</label>
                            <select appMatInput name="service_charge_tax_applies" id="service_charge_tax_applies" class="custom-select" [(ngModel)]="sacCodeDetails.service_charge_tax_applies" #service_charge_tax_applies="ngModel">
                <option title="Select Apply from parent –Service charges of the parent item will be applied." value="Apply From Parent">Apply From Parent</option>
                <option title="Select Separate GST if the description has separate Service charge > Enter SC sac code > Enter SC GST Tax Rate (%)" value="Separate GST">Separate GST</option>
                <option title="Select No tax – if taxes are not applicable for the service charge" value="No Tax">No Tax</option>
              </select>
                        </div>
                    </div>
                    <div *ngIf="(sacCodeDetails.service_charge == 'Yes' || service_charge.value == 'Yes')&&sacCodeDetails.service_charge_tax_applies ==='Separate GST'" class="col-lg-6 col-md-6">
                        <div class="form-group ">
                            <input type="text" appMatInput class="form-control" id="sc_sac_code" name="sc_sac_code" [(ngModel)]="sacCodeDetails.sc_sac_code" #sc_sac_code="ngModel" required>
                            <label for="sc_sac_code" class="mat-label">SC SAC Code</label>
                            <small class="text-danger" *ngIf="form.submitted && sc_sac_code?.errors?.required">Required</small>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngIf="(sacCodeDetails.service_charge == 'Yes' || service_charge.value == 'Yes')&&sacCodeDetails.service_charge_tax_applies ==='Separate GST'">
                        <div class="form-group ">
                            <input type="text" appMatInput appDecimaNumber class="form-control" id="sc_gst_tax_rate" name="sc_gst_tax_rate" [(ngModel)]="sacCodeDetails.sc_gst_tax_rate" #sc_gst_tax_rate="ngModel" required>
                            <label for="sc_gst_tax_rate" class="mat-label">SC GST Tax Rate</label>
                            <small class="text-danger" *ngIf="form.submitted && sc_gst_tax_rate?.errors?.required">Required</small>
                        </div>
                    </div>

                    <div *ngIf="sacCodeDetails.service_charge == 'Yes' || service_charge.value == 'Yes'" class="col-lg-6 col-md-6">
                        <div class="custom-control custom-checkbox form-group">

                            <input type="checkbox" class="custom-control-input" id="one_sc_applies_to_all" name="one_sc_applies_to_all" [(ngModel)]="sacCodeDetails.one_sc_applies_to_all" #one_sc_applies_to_all="ngModel">
                            <label title="
              Select if the entire property has single service charge
              De-Select if service charge varies for each service charge
              If you deselect than you need enter the service charge
              " class="custom-control-label" for="one_sc_applies_to_all">One Service Charge</label>
                        </div>

                    </div>


                    <div *ngIf="sacCodeDetails.one_sc_applies_to_all == false && sacCodeDetails.service_charge == 'Yes' " class="col-lg-6 col-md-6 ">
                        <div class="form-group">
                            <input type="text" appMatInput appDecimaNumber class="form-control" id="service_charge_rate" name="service_charge_rate" [(ngModel)]="sacCodeDetails.service_charge_rate" #service_charge_rate="ngModel" required>
                            <label for="service_charge_rate" class="mat-label">Service Charge Rate</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngIf="!this.editSacHsn?.name  || editType =='sacEdit' ">
                        <div class="form-group">
                            <label for="bulk_upload_service_charge" class="mat-label">Bulk Upload-Service Charge Split</label>
                            <select title="Select Yes if the description has Bulk Upload Service Charge Split or else select No" appMatInput name="bulk_upload_service_charge" id="bulk_upload_service_charge" class="custom-select" [(ngModel)]="sacCodeDetails.bulk_upload_service_charge"
                                #bulk_upload_service_charge="ngModel">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
                        </div>
                    </div>

                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="c-border-bottom pb-2 mb-4"><strong>Tax Rates</strong></h6>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <div class="form-group">
                                <input title="Enter CGST value" type="text" appMatInput appDecimaNumber
                                    class="form-control" id="cgst" name="cgst"
                                    [(ngModel)]="sacCodeDetails.ignore?0:sacCodeDetails.cgst" #cgst="ngModel"
                                    (ngModelChange)="gstChange($event)"
                                    [readOnly]="(viewType == 'edit' && sacCodeDetails?.accommodation_slab == '1')||sacCodeDetails.ignore"
                                    required>
                                <label for="cgst" class="mat-label">CGST</label>
                                <small class="text-danger"
                                    *ngIf="form.submitted && cgst?.errors?.required">Required</small>
                            </div>
                        </div>

                        <div class="">
                            <div class="form-group ">
                                <input title="SGST value  autofill once the CGST value is given" type="text" appMatInput
                                    appDecimaNumber class="form-control" id="sgst" name="sgst"
                                    [(ngModel)]="sacCodeDetails.sgst" #sgst="ngModel" readOnly required>
                                <label for="sgst" class="mat-label">SGST</label>
                                <small class="text-danger"
                                    *ngIf="form.submitted && sgst?.errors?.required">Required</small>
                            </div>
                        </div>

                        <div class="">
                            <div class="form-group mb-0">
                                <input
                                    title="Enter IGST Value(* if the  description has CGST and SGST then IGST field gets disabled and vice versa)"
                                    type="text" appMatInput appDecimaNumber class="form-control" id="igst" name="igst"
                                    [(ngModel)]="sacCodeDetails.igst" #igst="ngModel" readOnly required>
                                <label for="igst" class="mat-label">IGST</label>
                                <small class="text-danger"
                                    *ngIf="form.submitted && igst?.errors?.required">Required</small>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <!-- <div class="">
                            <div class="form-group">
                                <input title="Enter State Cess rate if any" type="text" appMatInput appDecimaNumber class="form-control" id="State Cess Rate" name="state_cess_rate" [(ngModel)]="sacCodeDetails.state_cess_rate" readonly>
                                <label for="StateCessRate" class="mat-label">State Cess Rate</label>
                            </div>
                        </div> -->
                        <div class="">
                            <div class="form-group">
                                <input
                                    title="Enter IGST Value(* if the  description has CGST and SGST then IGST field gets disabled and vice versa)"
                                    type="text" appMatInput appDecimaNumber class="form-control" id="Central Cess Rate"
                                    name="central_cess_rate" [(ngModel)]="sacCodeDetails.central_cess_rate"
                                    #CentralCessRate="ngModel">
                                <label for="Central Cess Rate" class="mat-label">Central Cess Rate</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group mb-0">
                                <input title="Enter VAT rate if any" type="text" appMatInput appDecimaNumber
                                    class="form-control" id="VatRate" name="vat_rate"
                                    [(ngModel)]="sacCodeDetails.vat_rate" #VatRate="ngModel">
                                <label for="VatRate" class="mat-label">Vat Rate</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>
    <div class="modal-footer d-block  pb-4 border-0 py-2">
        <div class="text-center">

            <button class="btn btn-outline-primary mb-0  text-uppercase" type="button"
                (click)="closeModal()">Cancel</button>

            <button (click)="onSubmit(form)" class="btn btn-primary mb-0 px-4 ml-3 text-uppercase" appPermissionButton
                accessType="write" type="button">Save</button>

        </div>
    </div>

</div>