.sync-status{
    // position: absolute;
    // right: 50px;
    // top: 12px;
    // font-size: 14px;   
    display: flex;
    margin-left: 20px;
}

.sync-status i{
    font-size: 17px;
    margin-right: 3px;
    line-height: 20px;
}

.sync-status .calendar{
    font-size: 15px;
    margin-left: 3px;
    // margin-right: 3px;
    // line-height: 20px;
}

.sync-status p {
    display: flex;
    font-size: 13px;
    line-height: 20px;
}

.close{
    position: absolute;
    top: 15px;
    right: 20px;
}

.btn-right{
    position: absolute;
    top: 13px;
    right: 50px;
}
