<div>

    <div class="modal-body">
        <form #form="ngForm">
            <div class="p-0">
                <div class="d-flex justify-content-between">
                    <div>
                        <small><b>{{editLineItem?.date}}</b></small><br>
                        <small>Date</small>
                    </div>
                    <div class="text-right">
                        <small><b>{{editLineItem?.description}}</b></small><br>
                        <small>Description</small>
                    </div>
                </div>
                <div class="d-flex justify-content-between pt-2">
                    <div>
                        <small><b>{{editLineItem?.sac_code}}</b></small><br>
                        <small>SAC/HSN Code</small>
                    </div>
                    <div class="text-right">
                        <small><b>Rs. {{editLineItem?.item_value}}</b></small><br>
                        <small>Taxable Value</small>
                    </div>
                </div>
            </div>


            <div class="border mt-4">
                <div class="row bg-even">
                    <div class="col-md-2 text-center px-0">
                        <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="netEdit" checked>
                            <label class="custom-control-label " for="netEdit"></label>
                        </div> -->
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <input placeholder="Net" class="form-control" type="text" readonly>

                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <select class="custom-select" id="net" name="net" [(ngModel)]="editLineItem.net"
                                #net="ngModel">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row bg-even">
                    <div class="col-md-2 text-center px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="gstEdit" name="gstEdit"
                                [(ngModel)]="editLineItem.gstEdit" #gstEdit="ngModel">
                            <label class="custom-control-label " for="gstEdit"></label>
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <select class="custom-select" id="gstValue" name="gstValue"
                                [(ngModel)]="editLineItem.gstValue" #gstValue="ngModel"
                                (ngModelChange)="gstTypeSelection($event)">
                                <option value="sgst&cgst">SGST & CGST</option>
                                <option value="igst">IGST</option>
                            </select>
                        </div>
                        <input class="form-control d-none" type="text" [(ngModel)]="editLineItem.sgst_value"
                            name="sgst_value" #sgst_value="ngModel" readonly>
                        <input class="form-control d-none" type="text" [(ngModel)]="editLineItem.cgst_value"
                            name="cgst_value" #cgst_value="ngModel" readonly>
                        <input class="form-control d-none" type="text" [(ngModel)]="editLineItem.igst_value"
                            name="igst_value" #igst_value="ngModel" readonly>
                        <input class="form-control d-none" type="text" [(ngModel)]="editLineItem.manual_edit"
                            name="manual_edit" #manual_edit="ngModel" readonly>

                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <select class="custom-select" id="gstRate" name="gstRate" [(ngModel)]="editLineItem.gstRate"
                                #gstRate="ngModel" (ngModelChange)="gstSelection($event)">
                                <option value="28">28%</option>
                                <option value="18">18%</option>
                                <option value="12">12%</option>
                                <option value="5">5%</option>
                                <option value="0">0</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row bg-even">
                    <div class="col-md-2 text-center px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="vatEdit" name="vatEdit"
                                [(ngModel)]="editLineItem.vatEdit" #vatEdit="ngModel">
                            <label class="custom-control-label " for="vatEdit"></label>
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <input placeholder="VAT" class="form-control" type="text" readonly>

                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <input placeholder="00 %" class="form-control" type="text" id="vat" name="vat_value"
                                [(ngModel)]="editLineItem.vat_value" #vat_value="ngModel"
                                [readOnly]="!editLineItem.vatEdit">

                        </div>
                    </div>
                </div>
                <div class="row bg-even">
                    <div class="col-md-2 text-center px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cessEdit" name="cessEdit"
                                [(ngModel)]="editLineItem.cessEdit" #cessEdit="ngModel">
                            <label class="custom-control-label " for="cessEdit"></label>
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <input placeholder="State Cess" class="form-control" type="text" readonly>

                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <input placeholder="00 %" class="form-control" type="text" id="state_cess"
                                name="state_cess_value" [(ngModel)]="editLineItem.state_cess_value"
                                #state_cess_value="ngModel" [readOnly]="!editLineItem.cessEdit">

                        </div>
                    </div>
                </div>
                <div class="row bg-even">
                    <div class="col-md-2 text-center px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="CentralCessEdit"
                                name="CentralCessEdit" [(ngModel)]="editLineItem.CentralCessEdit"
                                #CentralCessEdit="ngModel">
                            <label class="custom-control-label " for="CentralCessEdit"></label>
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <input placeholder="Central Cess" class="form-control" readonly>

                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <input placeholder="00 %" class="form-control" type="text" id="cess" name="cess_value"
                                [(ngModel)]="editLineItem.cess_value" #cess_value="ngModel"
                                [readOnly]="!editLineItem.CentralCessEdit">

                        </div>
                    </div>
                </div>
                <div class="row bg-even">
                    <div class="col-md-2 text-center px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DiscountEdit" name="DiscountEdit"
                                [(ngModel)]="editLineItem.DiscountEdit" #DiscountEdit="ngModel">
                            <label class="custom-control-label" for="DiscountEdit"></label>
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <input placeholder="Discount" class="form-control" readonly>

                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <input placeholder="00" class="form-control" type="text" id="discount_value"
                                name="discount_value_value" [(ngModel)]="editLineItem.discount_value_value"
                                #discount_value_value="ngModel" [readOnly]="!editLineItem.DiscountEdit">

                        </div>
                    </div>
                </div>

                <div class="row bg-even">
                    <div class="col-md-2 text-center px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="QuantityEdit" name="QuantityEdit"
                                [(ngModel)]="editLineItem.QuantityEdit" #QuantityEdit="ngModel">
                            <label class="custom-control-label " for="QuantityEdit"></label>
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <input placeholder="Quantity" class="form-control" readonly>

                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <input placeholder="00" class="form-control" type="text" id="quantity" name="quantity_value"
                                [(ngModel)]="editLineItem.quantity_value" #quantity_value="ngModel"
                                [readOnly]="!editLineItem.QuantityEdit">

                        </div>
                    </div>
                </div>



                <div class="row bg-even mb-0" [ngClass]="{none: companyDetails.enable_sc_from_folios === 1}">
                    <div class="col-md-2 text-center px-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="service_chargeEdit"
                                name="service_chargeEdit" [(ngModel)]="editLineItem.service_chargeEdit"
                                #service_chargeEdit="ngModel">
                            <label class="custom-control-label " for="service_chargeEdit"></label>
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div>
                            <input placeholder="Service Charge" class="form-control" readonly>

                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-3 text-right">
                        <div>
                            <input placeholder="5%" class="form-control" type="text" id="service_charge_rate"
                                name="service_charge_rate_value" [(ngModel)]="editLineItem.service_charge_rate_value"
                                #service_charge_rate_value="ngModel" [readOnly]="!editLineItem.service_chargeEdit">

                        </div>
                    </div>
                </div>
                <div [ngClass]="{none: companyDetails.enable_sc_from_folios === 1}">
                    <div *ngIf="editLineItem.service_chargeEdit"
                        class="d-flex justify-content-around px-4  py-3 f-s bg-gray">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="apply"
                                name="service_charge_tax_applies" [(ngModel)]="editLineItem.service_charge_tax_applies"
                                #service_charge_tax_applies="ngModel" value="Apply From Parent">
                            <label class="custom-control-label" for="apply">Apply From Parent</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="seperateGst"
                                name="service_charge_tax_applies" [(ngModel)]="editLineItem.service_charge_tax_applies"
                                #service_charge_tax_applies="ngModel" value="Seperate GST">
                            <label class="custom-control-label" for="seperateGst">Seperate GST</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="noTax"
                                name="service_charge_tax_applies" [(ngModel)]="editLineItem.service_charge_tax_applies"
                                #service_charge_tax_applies="ngModel" value="No Tax">
                            <label class="custom-control-label" for="noTax">No Tax</label>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{none: companyDetails.enable_sc_from_folios === 1}">
                    <div *ngIf="editLineItem.service_charge_tax_applies === 'Seperate GST' "
                        class="row bg-gray bg-gray1 mb-0">
                        <div class="col-md-2 text-center px-0">

                        </div>

                        <div class="col-md-5 p-0">
                            <div>
                                <input placeholder="SAC CODE" class="form-control" type="text" id="sc_sac_code"
                                    name="sc_sac_code" [(ngModel)]="editLineItem.sc_sac_code_value"
                                    #sc_sac_code="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2"></div>

                        <div class="col-md-3 text-right">
                            <div>
                                <input placeholder="00 %" class="form-control" type="text" id="sc_gst_tax_rate"
                                    name="sc_gst_tax_rate" [(ngModel)]="editLineItem.sc_gst_tax_rate_value"
                                    #sc_gst_tax_rate="ngModel">

                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <!-- <div class="custom-control custom-checkbox form-group mt-2">
                <input type="checkbox" class="custom-control-input" id="net" name="net" [(ngModel)]="editLineItem.net"
                    #net="ngModel">
                <label class="custom-control-label" for="net">Net</label>
            </div> -->
        </form>
    </div>
    <div class="modal-footer d-block  pb-3 border-0 py-2">
        <div class="text-right">

            <button class="btn btn-outline-primary mb-0  text-uppercase" type="button"
                (click)="closeModal()">Cancel</button>

            <button (click)="onSubmit(form)" class="btn btn-primary mb-0 px-4 ml-3 text-uppercase" appPermissionButton
                accessType="write" type="button">Save</button>

        </div>
    </div>
    <div class="pl-4">
        <span><b>Note : </b> <small>These changes are temporary</small></span>
    </div>
</div>