table {
    thead th {
        border-bottom: 0;
        border-top: 0;
        font-size: 13px;
        padding: 7px 8px;
        vertical-align: inherit;
    }

    td {
        padding: 4px 10px;
        font-size: 13px;
        // border: 1px solid rgba(221, 218, 218, 0.3);
    }

    a {
        text-decoration: none;
    }
}

table {
    thead {
        th {
            text-align: center;
        }

        .s_no {
            padding-left: 8px !important;
        }
    }

    tbody {
        td {
            text-align: center;
        }
    }
}

.f-upload {
    padding: 21px 10px;
    position: relative;
}

.upload-btn {
    position: absolute;
    top: 4px;
    padding: 6px;
    background: #f26135;
    color: #fff;
    border-radius: 3px;
    right: 5px;
    margin: 0;
    cursor: pointer;
}

.sync_model {
    .modal-header {
        display: inherit;
        position: relative;
    }

    .input-group {
        width: 50%;

        .form-control:focus {
            box-shadow: none;
        }
    }

    virtual-scroller {
        width: 100% !important;
        height: 70vh !important;
    }

}

.table tbody tr:nth-of-type(even):not(.summary-table-tr) {
    background-color: white;
}

.table th,
.table td {
    padding: 5px;
    font-size: 14px;
    border: 1px solid rgba(221, 218, 218, 0.678);
    vertical-align: bottom;

}

.inner-table th,
.inner-table td {
    border: 0px !important;
}


.inner-table td {
    padding: 0 !important;
}

#invoice-POS {
    width: fit-content;
    padding: 10px;
    background-color: #e7e7e7;
    margin: 0 auto;
    font-family: monospace, monospace !important;

    .qr {
        height: 95px;
    }

    .logo {
        height: 50px;
        margin-bottom: 15px;
    }
}

.more {
    text-decoration: underline;
    cursor: pointer;
}

.w-c-50 {
    min-width: 100px;
    margin-left: 10px;
}

.custom-select {
    font-size: 14px;
    height: 32px;
    // background: #f6f6f6;
}

.poschecks .calendar {
    max-width: 100% !important;
}

.poschecks i {
    top: 35px !important
}


.modalBG {
    background-color: #DDDDDD;
}

.vh-100 {
    height: 100vh;
}

.b-r-0 {
    border-radius: 0 !important;
}


.view-det a {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}

.bg-white {
    background-color: #fff !important;
}

.h-fix-table {
    max-height: 90vh;
    overflow-y: auto;
}


.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.total-card .custom-select {
    background: #ffffff;
    border: 1px solid #eaeaea;
    // height: 53px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.lastsync {
    font-weight: 600;
}

input-wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.input-wrapper ul {
    list-style-type: none;
    overflow-y: scroll;
    max-height: 184px;
    width: 300px;
    background: white;
}

.paragraphClass {
    display: none;
}

select:disabled {
    background: #dddddd !important;
    color: black !important;
}


.btn-outline-primary {
    color: #F26135;
    border-color: #F26135;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #F26135;
    border-color: #F26135;
}

.table tbody td span a {
    text-decoration: none !important;
    color: black !important;
}

table {

    border-color: #c5c2c2;
    border-radius: 25px !important;

}

.fileUpload {
    i {
        font-size: 100px;
    }
}

.preview-box {
    .p-file {
        font-size: 30px;
    }
}

.preview-box {
    padding: 15px 0;
    margin-bottom: 15px;
    border: 1px solid #eee;

    p {
        margin: 0;
        font-size: 13px;
    }

    .p-close {
        i {
            position: absolute;
            left: -5px;
            top: -12px;
            color: red;
            font-size: 20px;
        }
    }
}

.fixed-width {
    width: 92px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
}


.c-py-1 {
    padding: 5px 8px !important;
}

.badge-success {
    padding: 6px 20px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    font-size: 14px;
    color: #000;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        background: #0BD72E;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 10px;
    }
}

.badge-dangertop {
    padding: 3px 20px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    font-size: 12px;
    color: #000;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        background: #ff2f0a;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 7px !important;
    }
}

.c-pad-l {
    margin: 0 12px 0 10px;
    width: 2px;
    height: 31px;
    background: #fff;
    display: inline-block;
}

.date_note {
    background-color: #e1e5ed;
}


.badge-warning {
    padding: 6px 20px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    font-size: 14px;
    color: #000;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        background: #FFD00A;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 12px;
    }
}

.badge-danger {
    padding: 3px 20px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    font-size: 14px;
    color: #000;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        background: #ff2f0a;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 6px;
    }
}

.badge-success {
    padding: 6px 20px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    font-size: 14px;
    color: #000;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        background: #0BD72E;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 12px;
    }
}


.error-text {
    text-align: center !important;
    padding-top: 10px !important;

}


.no-pad {
    th {
        border: 1px solid #afacac96 !important;

    }
}

.table .thead {
    background-color: #e0e1f2 !important;

}

.footer {

    td {
        background-color: #e0e1f2 !important;
        font-weight: 600;
    }
}

.Particulars-bg {
    th {
        background-color: #e0e1f2 !important;
        text-align: center;
        font-size: 12px;
    }
}

.text-start {
    text-align: inherit !important;
    padding-left: 30px;
    font-size: 14px !important;

    th {
        font-size: 14px;
    }

}

table {
    .subject {
        padding-left: 30px;

    }
}


.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: #F26135;
    border-color: #F26135;
    border: 1px solid #F26135 !important;
    // border: none;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 4px;

}

a {
    color: white;
    text-decoration: none;
    // background-color: white;
    // background-color: transparent;
    padding: 4px 10px;
    // border-radius: 0 !important;

    border: 1px solid white !important;
    border-radius: 4px;
}

.nav-tabs {
    border-bottom: none !important;
}

.viewError {
    a {
        border: none;
        font-size: 10px;
        padding: 2px 5px 2px 0px;
        font-weight: 800;

    }

}

.new-input-search {
    width: 250px !important;
}

.Sync_Dashboard {
    white-space: nowrap !important;
}

.calendar_modal {


    span {
        position: relative;
        left: -24px;
        top: 4px;

    }
}

.sync_dash_tabs {
    justify-content: end;
    margin-left: -20px;

}

.dissmiss_deflag {
    background-color: white !important;
    border: none !important;
    font-weight: 800;
    font-size: 18px;
}

.outline-d_flag {
    border: 1px solid white;
    color: white;
}

.re_sync_view_error {
    background-color: #F26138;
    text-decoration: none !important;
    color: white !important;
    font-size: 11px;
    border: 1px solid #F26138 !important;
    border-radius: 4px !important;
    margin-left: 5px;
    padding: 2px 5px !important;


}

.missing_invoice_text {
    font-size: 16px;
}

.downlaod_error {
    padding: 2px 0px 2px 0px !important;

}