<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h5 class="font-weight-bold text-white my-auto"> Sync histrory <small>({{filters.totalCount}})</small></h5>
            </div>
            <p class="text-white pt-2 mb-0">
                Last Synced on {{syncList[0]?.sync_started_on | date:["dd/MM/yyyy"]}}

            </p>
        </div>
        <div class="col-lg-3 col-md-3 text-right">
            <button [disabled]="totalSyncProgress?.sync_status" class="btn btn-sm btn-primary mr-2" (click)="open(content)">Sync</button>
        </div>
    </div>

    <!-- <div class="card pb-1">
            <virtual-scroller #scroll >
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead" #head>
                            <tr>
                                <th>#</th>
                                <th>Sync Date</th>
                                <th>Document Type</th>
                                <th>Document Count</th>
                                <th>Synced</th>
                                <th>Non Synced</th>
                                <th>Status </th>
                                <th width="150">Actions</th>

                            </tr>
                        </thead>
                        <tbody #container>
                          <tr *ngIf="totalSyncProgress?.sync_taxpayers">
                            <td></td>
                            <td></td>
                            <td>TaxPayers</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>

                            <div style=" width: -webkit-fill-available;" >
                              <div *ngIf="totalSyncProgress?.sync_taxpayers?.taxpayer_count == totalSyncProgress?.sync_taxpayers?.count">
                                <small class="text-center text-success mt-2">Files Uploaded Successfully {{totalSyncProgress?.sync_taxpayers?.taxpayer_count?totalSyncProgress?.sync_taxpayers?.taxpayer_count:0}}/{{totalSyncProgress?.sync_taxpayers?.count?totalSyncProgress?.sync_taxpayers?.count:0}}</small>
                            </div>
                              <p class="m-0" *ngIf="totalSyncProgress?.sync_taxpayers?.taxpayer_count != totalSyncProgress?.sync_taxpayers?.count">
                                <small>Creating...{{totalSyncProgress?.sync_taxpayers?.taxpayer_count?totalSyncProgress?.sync_taxpayers?.taxpayer_count:0}}/{{totalSyncProgress?.sync_taxpayers?.count?totalSyncProgress?.sync_taxpayers?.count:0}}</small></p>
                                <ngb-progressbar [type]="(totalSyncProgress?.sync_taxpayers?.taxpayer_count == totalSyncProgress?.sync_taxpayers?.count) ? 'success' : ''" textType="white"
                                    [value]="(totalSyncProgress?.sync_taxpayers?.taxpayer_count/totalSyncProgress?.sync_taxpayers?.count)*100" [showValue]="false">
                                </ngb-progressbar>
                            </div>
                            </td>
                            <td></td>
                          </tr>
                          <tr *ngIf="totalSyncProgress?.sync_taxpayers || totalSyncProgress?.sync_sac_hsn_codes">
                            <td></td>
                            <td></td>
                            <td>SAC/HSC Codes</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>

                              <div style=" width: -webkit-fill-available;">
                                <div *ngIf="totalSyncProgress?.sync_sac_hsn_codes?.item_count == totalSyncProgress?.sync_sac_hsn_codes?.count">
                                  <small class="text-center text-success mt-2">Files Uploaded Successfully {{totalSyncProgress?.sync_sac_hsn_codes?.item_count?totalSyncProgress?.sync_sac_hsn_codes?.item_count:0}}/{{totalSyncProgress?.sync_sac_hsn_codes?.count?totalSyncProgress?.sync_sac_hsn_codes?.count:0}}</small>
                              </div>
                              <p class="m-0"  *ngIf="totalSyncProgress?.sync_sac_hsn_codes?.item_count != totalSyncProgress?.sync_sac_hsn_codes?.count"><small>Creating...{{totalSyncProgress?.sync_sac_hsn_codes?.item_count?totalSyncProgress?.sync_sac_hsn_codes?.item_count:0}}/{{totalSyncProgress?.sync_sac_hsn_codes?.count?totalSyncProgress?.sync_sac_hsn_codes?.count:0}}</small></p>
                                  <ngb-progressbar [type]="(totalSyncProgress?.sync_sac_hsn_codes?.item_count == totalSyncProgress?.sync_sac_hsn_codes?.count) ? 'success' : ''" textType="white"
                                      [value]="(totalSyncProgress?.sync_sac_hsn_codes?.item_count/totalSyncProgress?.sync_sac_hsn_codes?.count)*100" [showValue]="false">
                                  </ngb-progressbar>
                            </div></td>
                            <td></td>
                          </tr>
                          <tr *ngIf="totalSyncProgress?.sync_taxpayers || totalSyncProgress?.sync_sac_hsn_codes || totalSyncProgress?.sync_invoices">
                            <td></td>
                            <td></td>
                            <td>Invoices</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>

                              <div  style=" width: -webkit-fill-available;" >
                                <div *ngIf="totalSyncProgress?.sync_invoices?.invoice_count && (totalSyncProgress?.sync_invoices?.invoice_count == totalSyncProgress?.sync_invoices?.count)">
                                  <small class="text-center text-success mt-2">Files Uploaded Successfully {{totalSyncProgress?.sync_invoices?.invoice_count?totalSyncProgress?.sync_invoices?.invoice_count:0}}/{{totalSyncProgress?.sync_invoices?.count?totalSyncProgress?.sync_invoices?.count:0}}</small>
                              </div>
                               <p class="m-0" *ngIf="totalSyncProgress?.sync_invoices?.invoice_count != totalSyncProgress?.sync_invoices?.count"><small>Creating...{{totalSyncProgress?.sync_invoices?.invoice_count?totalSyncProgress?.sync_invoices?.invoice_count:0}}/{{totalSyncProgress?.sync_invoices?.count?totalSyncProgress?.sync_invoices?.count:0}}</small></p>
                                <ngb-progressbar [type]="(totalSyncProgress?.sync_invoices?.invoice_count == totalSyncProgress?.sync_invoices?.count) ? 'success' : ''" textType="white"
                                    [value]="(totalSyncProgress?.sync_invoices?.invoice_count/totalSyncProgress?.sync_invoices?.count)*100" [showValue]="false">
                                </ngb-progressbar>
                            </div></td>
                            <td></td>
                          </tr>


                            <tr *ngFor="let item of syncList;">
                                <td>{{item?.index}}</td>
                                <td>{{item?.sync_started_on | date:["MMM d, y, h:mm"]}}</td>
                                <td>{{item?.document}}</td>
                                <td>{{item?.total_records_count}}</td>
                                <td>{{item?.success_records_count}}</td>
                                <td>{{(item?.total_records_count)- (item?.success_records_count)}}</td>
                                <td>

                                    <span class="badge" [ngClass]="{'badge-success': item.status == 'Success','badge-warning':item.status == 'Partial Success','badge-default':item.status == 'Running', 'badge-danger':item.status == 'Error'}">{{item?.status}}</span>
                                </td>
                                <td>
                                    <a (click)="openmodel(submodel,item)" *ngIf="item.status == 'Partial Success'">View Logs</a>
                                    <a (click)="openmodel(submodel,item)" *ngIf="item.status == 'Error'">View Error</a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div class="text-center py-3" *ngIf="!syncList.length">
                        <h5>No Data Found</h5>
                      </div>
                </div>

            </virtual-scroller>
              <div class="d-flex justify-content-between" *ngIf="syncList.length">
                <div class="px-3">
                    <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
                    (change)="checkPagination()" id="itemsPerPage">
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="150">150</option>
                    <option [value]="500">500</option>
                  </select>
                </div>
                <div *ngIf="syncList.length  < this.filters.totalCount">
                    <p class="text-right pr-5 more text-primary"
                        (click)="this.filters.start = syncList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                        more
                    </p>
                </div>
            </div>
    </div> -->

    <div class="card pb-1">
      <virtual-scroller #scroll >
        <div class="table-responsive">
          <table class="table" id="s-table">
            <thead class="thead" #head>
              <tr>
                <th>#</th>
                <th>Sync Date</th>
                <th>Document Type</th>
                <th>Document Count</th>
                <th>Synced</th>
                <th>Non Synced</th>
                <th>Status </th>
                <th>Sync Type</th>
                <th width="150">Actions</th>
              </tr>
            </thead>
            <tbody #container>
              <tr>
                <th></th>
                <th>
                  <!-- <div class="form-group mx-1 my-0 calendar w-c-50 position-relative">
                    <input type="search" class="form-control h-auto pr-5" placeholder="Select date" [(ngModel)]="filters.searchFilter.sync_date"
                      [owlDateTime]="dt1"  (ngModelChange)="onSearch.emit(filters)">
                      <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                        <i class="mx-2 ri-calendar-2-line"></i>
                      </span>
                                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                  </div> -->
                </th>
                <th>
                  <div class="form-group mx-1 my-0">
                    <select name="invoice_type" id="invoice_type" class="custom-select"
                      [(ngModel)]="filters.searchFilter.document_type" (ngModelChange)="onSearch.emit(filters)">
                      <option value="all">All</option>
                      <option value="Invoices">Invoices</option>
                      <option value="Items">Items</option>
                      <option value="Taxpayer Details">Taxpayer Details</option>
                    </select>
                  </div>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                  <div class="form-group mx-1 my-0">
                    <select name="invoice_type" id="invoice_type" class="custom-select"
                      [(ngModel)]="filters.searchFilter.status" (ngModelChange)="onSearch.emit(filters)">
                      <option value="all">All</option>
                      <option value="Success">Success</option>
                      <option value="Error">Error</option>
                      <option value="Partial Success">Partial Success</option>
                      <option value="Running">Running</option>
                    </select>
                  </div>
                </th>
                <th>
                  <div class="form-group mx-1 my-0">
                    <select id="creditNotes" class="custom-select" [(ngModel)]="filters.searchFilter.sync_type" (change)="onSearch.emit(filters)">
                        <option value="all">All</option>
                        <option value="Bulk">Bulk</option>
                        <option value="Schedule">Schedule</option>
                        <option value="Manual">Manual</option>
                    </select>
                  </div>
                </th>
                <th></th>
              </tr>
              <tr *ngIf="totalSyncProgress?.sync_taxpayers">
                <td></td>
                <td></td>
                <td>TaxPayers</td>
                <td></td>
                <td></td>
                <td></td>
                <td>

                <div style=" width: -webkit-fill-available;" >
                  <div *ngIf="totalSyncProgress?.sync_taxpayers?.taxpayer_count == totalSyncProgress?.sync_taxpayers?.count">
                    <small class="text-center text-success mt-2">Files Uploaded Successfully {{totalSyncProgress?.sync_taxpayers?.taxpayer_count?totalSyncProgress?.sync_taxpayers?.taxpayer_count:0}}/{{totalSyncProgress?.sync_taxpayers?.count?totalSyncProgress?.sync_taxpayers?.count:0}}</small>
                </div>
                  <p class="m-0" *ngIf="totalSyncProgress?.sync_taxpayers?.taxpayer_count != totalSyncProgress?.sync_taxpayers?.count">
                    <small>Creating...{{totalSyncProgress?.sync_taxpayers?.taxpayer_count?totalSyncProgress?.sync_taxpayers?.taxpayer_count:0}}/{{totalSyncProgress?.sync_taxpayers?.count?totalSyncProgress?.sync_taxpayers?.count:0}}</small></p>
                    <ngb-progressbar [type]="(totalSyncProgress?.sync_taxpayers?.taxpayer_count == totalSyncProgress?.sync_taxpayers?.count) ? 'success' : ''" textType="white"
                        [value]="(totalSyncProgress?.sync_taxpayers?.taxpayer_count/totalSyncProgress?.sync_taxpayers?.count)*100" [showValue]="false">
                    </ngb-progressbar>
                </div>
                </td>
                <td></td>
              </tr>
              <tr *ngIf="totalSyncProgress?.sync_taxpayers || totalSyncProgress?.sync_sac_hsn_codes">
                <td></td>
                <td></td>
                <td>SAC/HSC Codes</td>
                <td></td>
                <td></td>
                <td></td>
                <td>

                  <div style=" width: -webkit-fill-available;">
                    <div *ngIf="totalSyncProgress?.sync_sac_hsn_codes?.item_count == totalSyncProgress?.sync_sac_hsn_codes?.count">
                      <small class="text-center text-success mt-2">Files Uploaded Successfully {{totalSyncProgress?.sync_sac_hsn_codes?.item_count?totalSyncProgress?.sync_sac_hsn_codes?.item_count:0}}/{{totalSyncProgress?.sync_sac_hsn_codes?.count?totalSyncProgress?.sync_sac_hsn_codes?.count:0}}</small>
                  </div>
                  <p class="m-0"  *ngIf="totalSyncProgress?.sync_sac_hsn_codes?.item_count != totalSyncProgress?.sync_sac_hsn_codes?.count"><small>Creating...{{totalSyncProgress?.sync_sac_hsn_codes?.item_count?totalSyncProgress?.sync_sac_hsn_codes?.item_count:0}}/{{totalSyncProgress?.sync_sac_hsn_codes?.count?totalSyncProgress?.sync_sac_hsn_codes?.count:0}}</small></p>
                      <ngb-progressbar [type]="(totalSyncProgress?.sync_sac_hsn_codes?.item_count == totalSyncProgress?.sync_sac_hsn_codes?.count) ? 'success' : ''" textType="white"
                          [value]="(totalSyncProgress?.sync_sac_hsn_codes?.item_count/totalSyncProgress?.sync_sac_hsn_codes?.count)*100" [showValue]="false">
                      </ngb-progressbar>
                </div></td>
                <td></td>
              </tr>
              <tr *ngIf="totalSyncProgress?.sync_taxpayers || totalSyncProgress?.sync_sac_hsn_codes || totalSyncProgress?.sync_invoices">
                <td></td>
                <td></td>
                <td>Invoices</td>
                <td></td>
                <td></td>
                <td></td>
                <td>

                  <div  style=" width: -webkit-fill-available;" >
                    <div *ngIf="totalSyncProgress?.sync_invoices?.invoice_count && (totalSyncProgress?.sync_invoices?.invoice_count == totalSyncProgress?.sync_invoices?.count)">
                      <small class="text-center text-success mt-2">Files Uploaded Successfully {{totalSyncProgress?.sync_invoices?.invoice_count?totalSyncProgress?.sync_invoices?.invoice_count:0}}/{{totalSyncProgress?.sync_invoices?.count?totalSyncProgress?.sync_invoices?.count:0}}</small>
                  </div>
                   <p class="m-0" *ngIf="totalSyncProgress?.sync_invoices?.invoice_count != totalSyncProgress?.sync_invoices?.count"><small>Creating...{{totalSyncProgress?.sync_invoices?.invoice_count?totalSyncProgress?.sync_invoices?.invoice_count:0}}/{{totalSyncProgress?.sync_invoices?.count?totalSyncProgress?.sync_invoices?.count:0}}</small></p>
                    <ngb-progressbar [type]="(totalSyncProgress?.sync_invoices?.invoice_count == totalSyncProgress?.sync_invoices?.count) ? 'success' : ''" textType="white"
                        [value]="(totalSyncProgress?.sync_invoices?.invoice_count/totalSyncProgress?.sync_invoices?.count)*100" [showValue]="false">
                    </ngb-progressbar>
                </div></td>
                <td></td>
              </tr>


                <tr *ngFor="let item of syncList;">
                    <td>{{item?.index}}</td>
                    <td>{{item?.sync_started_on | date:["MMM d, y, h:mm"]}}</td>
                    <td>{{item?.document}}</td>
                    <td>{{item?.total_records_count}}</td>
                    <td>{{item?.success_records_count}}</td>
                    <td>{{(item?.total_records_count)- (item?.success_records_count)}}</td>
                    <td>
                        <!-- <div class="d-flex">
                            <p class="ball"></p>
                            <p class="success">{{item?.status}}</p>
                        </div> -->
                        <span class="badge" [ngClass]="{'badge-success': item.status == 'Success','badge-warning':item.status == 'Partial Success','badge-default':item.status == 'Running', 'badge-danger':item.status == 'Error'}">{{item?.status}}</span>
                    </td>
                    <td>{{item?.sync_type}}</td>
                    <td>
                        <a (click)="openmodel(submodel,item);searchText=null" *ngIf="item.status == 'Partial Success'">View Logs</a>
                        <a (click)="openmodel(submodel,item)" *ngIf="item.status == 'Error'">View Error</a>
                    </td>
                </tr>


            </tbody>
          </table>
          <div class="text-center py-3" *ngIf="!syncList.length">
            <h5>No Data Found</h5>
          </div>
        </div>
      </virtual-scroller>
      <div class="d-flex justify-content-between" *ngIf="syncList.length">
        <div class="px-3">
          <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
            (change)="checkPagination()" id="itemsPerPage">
            <option [value]="20">20</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
            <option [value]="150">150</option>
            <option [value]="500">500</option>
          </select>
        </div>
        <div *ngIf="syncList.length  < this.filters.totalCount">
          <p class="text-right pr-5 more text-primary"
            (click)="this.filters.start = syncList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
            more
          </p>
        </div>
      </div>

    </div>

    <ng-template #submodel let-modal>
        <div class="sync_model">
        <div class="modal-header py-2">
          <div class="d-flex flex-row ">
            <span class="badge m-0" [ngClass]="{'badge-success': syncError.status == 'Success','badge-warning':syncError.status == 'Partial Success','badge-default':syncError.status == 'Running', 'badge-danger':syncError.status == 'Error'}">{{syncError?.status}}</span>
            <div class="d-flex justify-content-end" style="width: 100%" *ngIf="syncError?.status === 'Partial Success'">
              <div class="input-group input-group-sm mr-2">
                <input #search type="search" name="search" placeholder="search" [(ngModel)]="searchText"  class="form-control" autocomplete="off">
              </div>
              <div class="xml-btn">
                <button type="button" class="btn btn-sm btn-outline-primary" aria-label="Close" (click)="exportAsXLSX()">
                  Download XML
                </button>
              </div>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <i class="ri-close-line"></i>
            </button>
          </div>
        </div>
        <div class="modal-body">
            <div *ngIf="syncError?.status === 'Error'" [innerHtml]="syncError?.message"></div>

            <div class="card" *ngIf="syncError?.status === 'Partial Success'">
            <virtual-scroller #scroll >
              <div class="table-responsive">
                <table class="table table-sm">
                    <thead class="thead" #head>
                        <tr>
                            <th>No.</th>
                            <th>Invoice</th>
                            <th>Customer</th>
                            <th>Item</th>
                            <th>Address</th>
                            <th>Error</th>
                        </tr>

                    </thead>
                    <tbody #container>
                        <tr *ngFor="let item of syncError.error | filter:searchText">
                            <td>{{item?.idx}}</td>
                            <td>{{item?.invoice}}</td>
                            <td>{{item?.customer}}</td>
                            <td>{{item?.item}}</td>
                            <td>{{item?.address}}</td>
                            <td>{{item?.error}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center py-3" *ngIf="!syncError.error.length">
                    <h5>No Data Found</h5>
                  </div>
            </div>
          </virtual-scroller>
        </div>
        </div>
    </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div> -->

    </ng-template>


    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <span class="modal-title" id="modal-basic-title">Syncing Documents</span>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <i class="ri-close-line"></i>
            </button>
        </div>
        <div class="modal-body p-3">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group ml-2 w-c-50 my-auto" *ngIf="!showList">
                  <select id="my-select" [(ngModel)]="selectedyear" class="custom-select bg-white" name="" (ngModelChange)="yearChange($event)">
                    <option *ngFor="let item of years" [value]="item">{{item}}</option>
                </select>
                </div>
              </div>
                <div class="col-md-6">
                  <div class="form-group ml-2 w-c-50 my-auto" *ngIf="!showList">
                    <select id="my-select" [(ngModel)]="seletedMonth"  class="custom-select bg-white" name="seletedMonth">
                        <option value="">Select</option>
                        <option [disabled]="month.disable" [value]="month.mmm_format" *ngFor="let month of monthList">{{month?.long}}</option>
                    </select>

                  </div>
                </div>

            </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="syncFunc()">Sync</button>
        </div>
    </ng-template>





</section>
