.invoice .table td .view {
  cursor: pointer;
  text-decoration: underline;
  color: #2164E8;
  font-weight: 600;
}

.invoice .table tbody tr:nth-of-type(even) {
  background: #fff;
}

.invoice .table tbody tr:nth-of-type(odd) {
  background: #fff;
}

.invoice .table-bordered {
  border: 0;
}

.invoice table thead th {
  border-bottom: 0;
  border-top: 0;
  font-size: 12px;
  padding: 9px 10px;
}

.invoice .table th,
.invoice .table td {
  padding: 9px 10px;
  font-size: 14px;
  border: 1px solid rgba(221, 218, 218, 0.3);
}

.invoice .table tbody td:first-child {
  padding-left: 8px !important;
}

.invoice .badge-success {
  padding: 6px 20px;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  font-size: 12px;
  color: #000;
  position: relative;
}

.invoice .badge-success:after {
  position: absolute;
  content: "";
  left: 0;
  background: #0BD72E;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.invoice .calendar {
  max-width: 200px;
}

.invoice .calendar i {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.invoice .badge-warning {
  padding: 6px 20px;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  font-size: 12px;
  color: #000;
  position: relative;
}

.invoice .badge-warning:after {
  position: absolute;
  content: "";
  left: 0;
  background: #FFD00A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.invoice .badge-danger {
  padding: 6px 20px;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  font-size: 12px;
  color: #000;
  position: relative;
}

.invoice .badge-danger:after {
  position: absolute;
  content: "";
  left: 0;
  background: #ff2f0a;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.invoice tr.pending {
  background: #FD8787 !important;
}

.invoice .input-group {
  max-width: 150px;
}

.invoice select.custom-select {
  height: auto;
}

.invoice .form-group {
  margin-bottom: 0;
}

.invoice .form-group select {
  font-size: 13px;
}

.invoice .form-group .form-control {
  padding: 5px;
  border: 0 !important;
}

.invoice td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.invoice table td:nth-child(1) {
  max-width: 50px !important;
  text-align: center;
}

.invoice table td:nth-child(2) {
  max-width: 100px !important;
}

.invoice table td:nth-child(4) div {
  max-width: 140px !important;
}

.invoice table td:nth-child(5) div {
  max-width: 180px !important;
}

.invoice table td:nth-child(6) div {
  max-width: 120px !important;
}

.invoice table td:nth-child(6) div {
  max-width: 100px !important;
}

.invoice table td:nth-child(7) div {
  max-width: 100px !important;
}

.invoice table td:nth-child(8) {
  max-width: 100px !important;
}

.invoice table td:nth-child(9) {
  max-width: 100px !important;
}

.invoice table td:nth-child(3) div {
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}

.w-c-50 {
  min-width: 100px;
  margin-left: 10px;
}

.colorBg {
  color: #2164E8;
}

.buttonIcons i {
  font-size: large;
}

.nav-tabs {
  border: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: #f06135;
  border: 1px solid #f06135;
  color: #fff;
  border-radius: 5px;
}

.bg-transparent {
  background: transparent;
}

.nav-tabs .nav-link {
  background: transparent;
  border: 1px solid #eee;
  color: #fff;
  border-radius: 5px;
  margin-right: 5px;
}

.tab-content {
  padding: 0px;
}

.c-py-1 {
  padding: 5px 8px;
}

.more {
  text-decoration: underline;
  cursor: pointer;
}

table th {
  background: #f5f5f5;
}

table th, table td {
  white-space: nowrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

th:first-child,
td:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

th:last-child,
td:last-child {
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
}

td:first-child {
  background: #fff;
}

th:last-child {
  background: #f5f5f5;
}

td:last-child {
  background: #fff;
}

table .custom-select {
  background: #f6f6f6;
}

.input-group-text {
  background: #f6f6f6;
}

.input-group.input-group-sm .form-control {
  background: #f6f6f6 !important;
}

.mode-test {
  position: absolute;
  content: "";
  bottom: 14px;
  background: #f06135;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.mode-prod {
  position: absolute;
  content: "";
  bottom: 14px;
  background: #33f033;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.c-pad-l {
  margin: 0 12px 0 10px;
  width: 2px;
  height: 31px;
  background: #fff;
  display: inline-block;
}

.c-total-v {
  position: absolute;
  background: #4858d4;
  padding: 9px 5px;
  border-radius: 3px;
}

virtual-scroller {
  width: 100%;
  height: 90vh;
}

.custom-select {
  font-size: 14px;
  height: 32px;
  border: 0;
}

.input-file-upload-btn {
  border: 1px solid #ccc;
  padding: 5px 12px;
  cursor: pointer;
  width: 150px;
  background-color: var(--light);
  border-radius: 5px;
}

.file-name-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
  font-size: 11px;
  margin-left: auto;
}

.scrollBody {
  overflow-y: scroll;
  height: 75vh;
}
/*# sourceMappingURL=invoices.component.css.map */