<section class="border-bottom bg-linear px-3">
    <div class="container-fluid px-5 py-1">
        <div class="d-flex no-gutters justify-content-between">
            <div class="">
                <h6 class="mb-0 text-white"><strong>SAC/HSN Outwards Supply</strong></h6>
                <div class="d-flex align-items-center ">
                    <div>
                        <p class="mb-0 text-white " [routerLink]="['/gstr/dashboard']"><small class="cursor-pointer underline">Dashboard</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0" [routerLink]="['/gstr/gstr1']"><small class="cursor-pointer underline">GSTR1-Summary</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0"><small class="">SAC/HSN Outwards Supply</small></p>
                    </div>

                </div>
            </div>
            <div class="mt-1">
                <app-ret-period></app-ret-period>
            </div>

            <!-- <div class="d-flex align-items-center">
                <div>
                    <p class="m-0"> <small class="pr-2 text-white">Return Period</small></p>
                </div>
                <div class="flex-fill">
                    <div class="">
                        <select id="my-select" class="form-control" name="month" [(ngModel)]="filters.search.month" (ngModelChange)="selectMonthYear($event,'month')">
                            <option *ngFor="let mon of monthList" [value]="mon.short">{{mon.long}}</option>                             
                        </select>
                    </div>
                </div>

                <div class="flex-fill ml-3">
                    <div class="">
                        <select id="my-select" class="form-control px-4" name="year" [(ngModel)]="filters.search.year" (ngModelChange)="selectMonthYear($event,'year')">
                            <option *ngFor="let yr of yearsList">{{yr}}</option>  
                        </select>
                    </div>
                </div>
                <div class="flex-fill ml-3" *ngIf="propertyList.length >= 2">
                    <div class="">
                        <select id="my-select" class="form-control" name="property" [(ngModel)]="filters.search.property" (ngModelChange)="selectMonthYear($event,'property')">
                            <option  [value]="'all'">All Properties</option> 
                            <option  *ngFor="let prop of propertyList" [value]="prop.name">{{prop.name}}</option>                            
                        </select>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="mt-4 px-3">
    <div class="container-fluid ">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <div class="d-flex border  search-dropdown align-items-center">
                        <div ngbDropdown class="">
                            <button class="btn mb-0 border-right rounded-0" id="dropdownBasic1" ngbDropdownToggle>{{searchCond}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <!-- <button ngbDropdownItem (click)="selectSearchCond('Invoice No')">Invoice No</button> -->
                                <button ngbDropdownItem (click)="selectSearchCond('SAC/HSN')">SAC/HSN</button>
                                <!-- <button ngbDropdownItem (click)="selectSearchCond('GST')">GST No</button>
                                <button ngbDropdownItem (click)="selectSearchCond('Legal Name')">Legal Name</button> -->
                            </div>
                        </div>

                        <input type="search" class="form-control border-0 searchInput" placeholder="Search" [(ngModel)]="filters.search.searchBy" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)">

                    </div>

                    <!-- <div class=" ml-2">
                        <select id="invoiceType" [(ngModel)]="filters.search.invoiceType" class="form-control" (ngModelChange)="updateRouterParams()">
                            <option value="">All</option>
                            <option value="B2B">B2B</option>
                            <option value="B2C">B2C</option>
                            
                        </select>
                    </div> -->
                    <!-- <div class="flex-fill ml-2" *ngIf="propertyList.length >= 2">
                        <div class="">
                            <ng-select placeholder="select property" id="my-select" name="property" [(ngModel)]="filters.search.property" (ngModelChange)="updateRouterParams()" [multiple]=true>
                                <ng-option *ngFor="let item of propertyList" [value]="item.name">{{item?.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div> -->

                </div>
            </div>

        </div>
        <div class="card border-0 invoice invoice-card">
            <div class="table-reponsive ">
                <table class="table table-bordered table-sm mb-0">
                    <thead class="th-bg">
                        <tr>
                            <th>SNo.</th>
                            <th>SAC/HSN</th>
                            <th>GST Rate(%)</th>
                            <th>UQC</th>
                            <th>Total Quantity</th>
                            <th>Total Value</th>
                            <th>Taxable Value</th>
                            <th>IGST</th>
                            <th>SGST</th>
                            <th>CGST</th>
                            <th>Total GST</th>
                            <th>CESS</th>

                            <!-- <th>Invoice No</th>
                            <th>Invoice Date</th>
                            <th>GSTIN of Supplier</th>
                            <th>Legal Name</th>
                            <th>Invoice Type</th>
                            <th>Invoice Category</th>
                            <th>SAC/HSN</th>
                            <th>Total Amt</th>
                            <th>Total Tax Amt</th>
                            <th>SGST</th>
                            <th>CGST</th>
                            <th>IGST</th>
                            <th>Total GST</th>
                            <th>CESS</th> -->
                            <!-- <th>Central CESS</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of sachsnList">
                            <td>
                                {{item?.index}}
                            </td>
                            <td>
                                {{item?.Sac_Code}}
                            </td>
                            <td class="text-center">
                                {{item?.Gst_Rate }}
                            </td>
                            <td>
                                {{item?.UQC}}
                            </td>
                            <td class="text-right">
                                {{item?.total_quantity | currency:'INR'}}
                            </td>
                            <td class="text-right">
                                {{item?.total_amount | currency:'INR'}}
                            </td>
                            <td class="text-right">
                                {{item?.total_tax_amount | currency:'INR'}}
                            </td>
                            <td class="text-right">
                                {{item?.igst_amount | currency:'INR'}}
                            </td>
                            <td class="text-right">
                                {{item?.sgst_amount | currency:'INR'}}
                            </td>
                            <td class="text-right">
                                {{item?.cgst_amount |currency:'INR' }}
                            </td>

                            <td class="text-right">
                                {{item?.total_gst | currency:'INR'}}
                            </td>
                            <td class="text-right">
                                {{(item?.state_cess_amount + item?.central_cess_amount)|currency:'INR'}}
                            </td>
                            <!-- <td>
                                {{item?.central_cess}}
                            </td> -->

                        </tr>
                    </tbody>
                </table>
                <div class="text-center" *ngIf="!sachsnList?.length">
                    <h5 class="py-3">No Data Found</h5>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-between my-2 morec" *ngIf="sachsnList.length">
            <div class="text-right px-3">
                <ng-container *ngIf="sachsnList.length  < this.filters.totalCount">
                    <p class="cursor-pointer px-2 py-1 pagination " (click)="this.filters.start = sachsnList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                        more
                    </p>
                </ng-container>
            </div>
            <div class="px-3">
                <div class="row no-gutters pagination" *ngIf="sachsnList.length > 20">
                    <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(20)" [ngClass]="{'bg-count': filters.itemsPerPage == 20 }">20</p>
                    <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(50)" [ngClass]="{'bg-count': filters.itemsPerPage == 50 }">50</p>
                    <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(100)" [ngClass]="{'bg-count': filters.itemsPerPage == 100 }">100</p>
                    <p class="px-2 py-1 mb-0 cursor-pointer" (click)="checkPagination(500)" [ngClass]="{'bg-count': filters.itemsPerPage == 500 }">500</p>
                </div>
            </div>

        </div>
    </div>
</section>