<header class="shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <img class="img-fluid" [src]="domain+company?.company_logo" alt="">
                    <!-- <img class="img-fluid" src="assets/images/logo-taj.png" alt=""> -->
                </div>
            </div>
            <div class="col-md-10 my-auto">

            </div>
        </div>

    </div>
</header>

<section class="my-4 clbsModule">
    <div class="container c-invoice">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="h6 d-flex">
                    <i (click)="goBack()" class="ri-arrow-left-line arrow-back h3 cursor-pointer"></i>
                    <p class="ml-3 mt-2">{{pageType}} Contact


                        <!-- <p  class="ml-3 mt-2"> {{pageType=='View'?'View':(pageType=='Edit' && createContactFromCompanyPage)?'Create':'Edit'}} Contact -->
                    </p>
                </div>
                <!-- <h6>
                  <b>
                  <i (click)="goBack()" class="ri-arrow-left-line arrow-back"></i>
                  <span class="ml-3"> {{pageType=='view'?'View':pageType=='edit'?'Edit':'Create'}} Contact</span>
                </b>
                </h6> -->

                <form #contact="ngForm">
                    <fieldset [disabled]="routingFromPage == 'View'">
                        <div class="row mt-4">

                            <div class="col-md-6">
                                <div class="form-group contact-select">
                                    <label for="">Company</label>
                                    <div>
                                        <input autocomplete="off" class="form-control" type="text" placeholder="Select Company" name="taxpayer" id="taxpayer" [readonly]="routingFromPage=='Edit' || routingFromPage =='CreateWithGST'" #taxpayer='ngModel' [(ngModel)]="contactDetails.taxpayer" (keyup)="companySearch(taxpayer);"
                                            (focus)="inputfocus()" (blur)="inputblur()" required />
                                        <div class="companyInputErrorMsg">
                                            <small class="text-danger" *ngIf="taxpayer.touched && taxpayer?.errors?.required">Required</small>
                                            <small><b>{{taxpayertrade_name}}</b></small>
                                            <p class="text-danger m-0">{{this.enteredConfNumber == 'invalid'?'Enter valid Confirmation number':''}}</p>
                                        </div>

                                        <div class="input-wrapper paragraphClass" *ngIf="routingFromPage == 'Create'">

                                            <ul class="p-0">
                                                <li>
                                                    <div class="card" *ngFor="let item1 of texpayerlist" (click)="itemSelection(item1);
                                      ">
                                                        <div class="card-body p-2">
                                                            <p class="font-weight-bold m-0">
                                                                {{ item1.name }}
                                                            </p>
                                                            <p class="m-0">
                                                                {{ item1.trade_name ? item1.trade_name : "NA" }}
                                                            </p>
                                                        </div>

                                                    </div>
                                                </li>

                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group contact-select">
                                    <label for="">Location </label>
                                    <ng-select [disabled]="routingFromPage == 'View'" id="my-select" class="custom-select ngselect p-0 border-0" name="location" #location='ngModel' bindValue="cf7182ab63" [(ngModel)]="contactDetails.location" required="" [items]="taxpayerLocationsList" bindValue="name"
                                        bindLabel="location" (change)="selectedLocationDetails = $event;" placeholder="Select Location">
                                        <ng-template ng-footer-tmp *ngIf="contactDetails.taxpayer">
                                            <div class="text-right">
                                                <p class="btn btn-outline-primary btn-sm  pt-2 mb-0" (click)="openLocationModel(addlocation)"> Add Location</p>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <small class="text-danger" *ngIf="location.touched && location?.errors?.required">Required</small>
                                </div>
                            </div>

                            <!-- for address  -->
                            <div class="col-md-12 mb-2" *ngIf="selectedLocationDetails">
                                <div class="row m-auto w-100">
                                    <div class="col-6 card py-2">
                                        <div class="my-2">
                                            <p class="m-0 c-title">Location</p>
                                            <p class="m-0"><b>{{selectedLocationDetails?.location? selectedLocationDetails.location:'NA'}}</b></p>
                                        </div>
                                        <div class="my-2">
                                            <p class="m-0 c-title">Address</p>
                                            <p class="m-0"><b>{{selectedLocationDetails?.address?selectedLocationDetails.address:'NA'}}</b></p>
                                        </div>
                                    </div>
                                    <div class="col-6 card py-2">
                                        <div class="my-2">
                                            <p class="m-0 c-title">City</p>
                                            <p class="m-0"><b>{{selectedLocationDetails?.city?selectedLocationDetails.city:'NA'}}</b></p>
                                        </div>
                                        <div class="my-2">
                                            <p class="m-0 c-title">State</p>
                                            <p class="m-0"><b>{{selectedLocationDetails?.state?selectedLocationDetails.state:'NA'}}</b></p>
                                        </div>
                                        <div class="my-2">
                                            <p class="m-0 c-title">Pincode</p>
                                            <p class="m-0"><b>{{selectedLocationDetails?.pin_code?selectedLocationDetails.pin_code:'NA'}}</b></p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-6">
                                <div class="form-group contact-select">
                                    <label for="">Contact Type</label>
                                    <ng-select [disabled]="routingFromPage=='View'" id="contact_type" class="custom-select ngselect p-0 border-0" name="contact_type" placeholder="Select Contact Type" #contact_type='ngModel' [(ngModel)]="contactDetails.contact_type" required>
                                        <!-- <ng-option value="" selected hidden disabled>Select Type</ng-option> -->
                                        <ng-option value="Biller">Biller</ng-option>
                                        <ng-option value="Accountant">Accountant</ng-option>
                                    </ng-select>
                                    <small class="text-danger" *ngIf="contact_type.touched && contact_type?.errors?.required">Required</small>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Contact Name</label>
                                    <input class="form-control" autocomplete="off" type="text" #contact_name='ngModel' [(ngModel)]="contactDetails.contact_name" name="contact_name" placeholder="Enter Contact Name" autocomplete="off" required>
                                    <small class="text-danger" *ngIf="contact_name.touched && contact_name?.errors?.required">Required</small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone_number">Phone Number</label>
                                    <input [(ngModel)]="contactDetails.phone_number" required autocomplete="off" placeholder="Enter Phone Number" id="phone_number" class="form-control" type="text" autocomplete="off" appNumberInput maxlength="13" minlength='10' #phone_number="ngModel" name="phone_number">
                                    <small class="text-danger" *ngIf="phone_number.touched && phone_number.invalid">
                                    Enter valid phone number
                                </small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="land_line_number">Landline Number</label>
                                    <input [(ngModel)]="contactDetails.land_line_number" autocomplete="off" placeholder="Enter Land Line Number" id="land_line_number" maxlength="13" minlength='10' class="form-control" type="text" appNumberInput #land_line_number="ngModel" name="land_line_number">
                                    <small class="text-danger" *ngIf="land_line_number.touched && land_line_number.invalid">
                                Enter valid land line number
                            </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email_id">Email Id</label>
                                    <input type="email" autocomplete="off" name="email_id" id="email_id" class="form-control" #email_id="ngModel" [(ngModel)]="contactDetails.email_id" email placeholder="Enter Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                    <small class="text-danger" *ngIf="email_id.touched && email_id?.errors?.required">Required</small>
                                    <!-- <small class="text-danger" *ngIf="email_id.touched && email_id?.errors?.email">Please
                              Enter valid Email</small> -->
                              <small class="text-danger" *ngIf="email_id.touched && email_id?.errors?.pattern">Please
                                Enter valid Email</small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row " *ngIf="routingFromPage != 'View'">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-outline-primary px-3 c-o-b shadow-sm bg-white" type="button" (click)="goBack()">Cancel</button>
                            <button class="btn btn-primary ml-3 px-3 c-o-b1 shadow-sm" (click)="routingFromPage=='Edit'?updateContact(contact):saveContact(contact);createformsubmitted = true" type="button">{{routingFromPage=='Edit'?'Update':'Create'}}</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div>

        </div>
    </div>
</section>

<ng-template #addlocation let-modal>
    <div class="modal-header">
        <h5 class="" id="modal-basic-title">Add Location</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form #addForm="ngForm">
            <div class="form-group mb-2">
                <label for="email_id">Location Title</label>
                <input type="text" name="location" id="location" class="form-control" #location="ngModel" [(ngModel)]="newLocationform.location" placeholder="location" required>
            </div>
            <div class="form-group mb-2">
                <label for="email_id">Address</label>
                <textarea type="text" name="address" id="address" class="form-control" #address="ngModel" [(ngModel)]="newLocationform.address" placeholder="Address" required></textarea>

            </div>
            <div class="form-group mb-2">
                <label for="Pincode">Pincode</label>
                <input autocomplete="false" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" #searchBox (keyup)="search(searchBox.value)" [(ngModel)]="newLocationform.pin_code" placeholder="Enter Pincode"
                    id="pin_code" class="form-control" type="number" name="pin_code" #pin_code="ngModel" maxlength="6" minlength="6" required>
                <small class="text-danger" *ngIf="pin_code.valid && invalidPincode">Enter Valid Pincode</small>
                <small class="text-danger" *ngIf="(newLocationform.pin_code && pin_code.invalid)">
            Enter valid Pincode
        </small>
            </div>
            <div class="form-group mb-2">
                <label for="city">city</label>
                <ng-select id="city" class="custom-select ngselect p-0 border-0" name="city" placeholder="Select City" #city='ngModel' [(ngModel)]="newLocationform.city" required>
                    <ng-option [value]="item.Name" *ngFor="let item of cities">{{item.Name }}</ng-option>
                </ng-select>
            </div>
            <div class="form-group mb-2">
                <label for="city">state</label>
                <input type="text" name="state" id="state" class="form-control" #state="ngModel" [(ngModel)]="newLocationform.state" placeholder="state" required>
            </div>


            <div class="text-center">
                <button class="btn btn-outline-primary mx-1" (click)="modal.dismiss('Cross click')">Cancel</button>
                <button class="btn btn-primary mx-1" (click)="addLocation(addForm)">Save</button>
            </div>
        </form>
    </div>
</ng-template>
