.form-control {
    font-size: 14px;
    height: 38px;
}

.btn-primary {
    background: #012254 !important;
    border: 0;
    border-radius: 0 !important;
    font-size: 14px !important;
}

i {
    vertical-align: middle !important;
}

.crums {
    p {
        font-size: 15px;
    }
}

.underline {
    text-decoration-line: underline;
}

.footer-card {
    position: fixed;
    bottom: 2px;
}

.nilrated {
    table {
        td:first-child {
            background: #FFF5F5 !important;
        }
    }
}
.pagination {
  border: 1px solid lightgray;
}
.first-table{
  overflow: scroll;
  max-height: 70vh;
}
.first-table {
  th,
  td {
      font-size: 13px;
  }
  tr:nth-child(even) {background: #dee2e6}
  tr:nth-child(odd) {background: #FFF}
  th{
    background: #FDF5F5;
  }
  // td {
  //   background: #fff;
  // }
  table th,
  table td {
      padding: 3px 13px;
      white-space: nowrap;
  }
}
.custom-select{
  height: 30px;
}
