<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white my-auto">Payment Types <small>({{this.filters.totalCount}})</small></h4>
                <button class="create btn btn-primary" appPermissionButton accessType="create" moduleType="docType" *ngIf="this.loginUser?.full_name == 'Administrator' || loginUSerRole "
                    [routerLink]="['/home/payment-type-details']"><i class="ri-add-line"></i></button>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" [(ngModel)]="filters.search"
                    (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)"
                    #search (keyup.enter)="updateRouterParams()" placeholder="Search">
                <span class="search"><i class="ri-search-line"></i></span>
            </div>
        </div>
    </div>

    <div class="card pb-1">
        <virtual-scroller #scroll [items]="paymentDetails">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead" #head>
                        <tr>
                            <th>#</th>
                            <!-- <th>Name</th> -->
                            <th>Payment type</th>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody #container>
                        <tr *ngFor="let item of scroll.viewPortItems,let i=index">
                            <!-- <td>{{this.filters.itemsPerPage * (this.filters.currentPage - 1) + (i+1)}}</td> -->
                            <td>{{item?.index}}</td>
                            <td>{{item?.payment_type}}</td>
                            <td>{{item?.company}}</td>
                            <td>{{item?.status}}</td>
                            <td>{{item?.creation | date:"MMM d, y"}}</td>
                            <td>
                                <span><a appPermissionButton accessType="read" moduleType="docType"
                                        (click)="navigate(item,'view')">view</a></span>
                                <span class="ml-3"><a appPermissionButton accessType="write" moduleType="docType"
                                    *ngIf="this.loginUser?.full_name == 'Administrator' || loginUSerRole " (click)="navigate(item,'edit')">Edit</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center py-3" *ngIf="!paymentDetails.length">
                    <h5>No Data Found</h5>
                </div>


            </div>
        </virtual-scroller>
        <div class="d-flex justify-content-between" *ngIf="paymentDetails.length">
            <div class="px-3">
                <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage"
                    (change)="checkPagination()" id="itemsPerPage">
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="150">150</option>
                    <option [value]="500">500</option>
                </select>
            </div>
            <div *ngIf="paymentDetails.length  < this.filters.totalCount">
                <p class="text-right pr-5 more text-primary"
                    (click)="this.filters.start = paymentDetails.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                    more
                </p>
            </div>
        </div>
    </div>
</section>