<section class="border-bottom bg-linear py-1 px-3">
    <div class="container-fluid px-5">
        <div class="d-flex no-gutters justify-content-between">
            <div class="">
                <h6 class="mb-0 text-white"><strong>Invoices</strong></h6>
                <div class="d-flex align-items-center ">
                    <div>
                        <p class="mb-0 text-white " [routerLink]="['/gstr/dashboard']"><small
                                class="cursor-pointer underline">Dashboard</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0" [routerLink]="['/gstr/gstr1']"><small
                                class="cursor-pointer underline">GSTR1-Summary</small></p>
                    </div>
                    <div><i class="ri-arrow-right-s-line text-white"></i></div>
                    <div>
                        <p class="text-white mb-0"><small class="">Invoices</small></p>
                    </div>

                </div>
            </div>

            <div class="mt-1">
                <app-ret-period></app-ret-period>
            </div>
            <!-- <div class="d-flex align-items-center">
                <div>
                    <p class="m-0"> <small class="pr-2 text-white">Return Period</small></p>
                </div>
                <div class="flex-fill">

                    <div class="">
                        <select id="my-select" class="form-control" name="month" [(ngModel)]="filters.search.month" (ngModelChange)="selectMonthYear($event,'month')">
                            <option *ngFor="let mon of monthList" [value]="mon.short">{{mon.long}}</option>                            
                        </select>
                    </div>
                </div>

                <div class="flex-fill ml-3">

                    <div class="">
                        <select id="my-select" class="form-control px-4" name="year" [(ngModel)]="filters.search.year" (ngModelChange)="selectMonthYear($event,'year')">
                            <option *ngFor="let yr of yearsList">{{yr}}</option>  
                        </select>
                    </div>
                </div>

                <div class="flex-fill ml-3" *ngIf="propertyList.length >= 2">
                    <div class="">
                        <select id="my-select" class="form-control" name="property" [(ngModel)]="filters.search.property" (ngModelChange)="selectMonthYear($event,'property')">
                            <option  [value]="'all'">All Properties</option> 
                            <option  *ngFor="let prop of propertyList" [value]="prop.name">{{prop.name}}</option>                            
                        </select>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="mt-4 px-3">
    <div class="container-fluid ">

        <div class="row mb-3">
            <div class="col-md-9">
                <div class="d-flex align-items-center">

                    <!-- <div class="d-flex border  search-dropdown align-items-center">
                        <div ngbDropdown class="">
                            <button class="btn mb-0 border-right rounded-0" id="dropdownBasic1" ngbDropdownToggle>{{filters.search.searchCond}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let item of searchList" (click)="selectSearchCond(item)">{{item}}</button>
                            </div>
                        </div>

                        <input type="text" class="form-control border-0 searchInput" placeholder="Search" [(ngModel)]="filters.search.searchBy" (keyup)="onSearch.emit(filters)" (search)="onSearch.emit(filters)">

                    </div> -->
                    <!-- <div class="flex-fill">
                        <input class="form-control" placeholder="Search by GST Number" type="search" name="" id="">
                    </div> -->

                    <app-search-by-input></app-search-by-input>

                    <div class="ml-2">
                        <select name="" id="invoice_category" [(ngModel)]="filters.search.category" class="form-control"
                            (ngModelChange)="updateRouterParams()">
                            <option value="">All</option>
                            <option value="Tax">Tax Summary</option>
                            <option value="Crt-Dbt">Credit/Debit Notes</option>
                        </select>
                    </div>
                    <div class=" ml-2">
                        <select id="invoiceType" [(ngModel)]="filters.search.invoiceType"
                            class="form-control typeSelect" (ngModelChange)="updateRouterParams()">
                            <option value="B2B">B2B</option>
                            <option value="SEZWP">SEZWP</option>
                            <option value="SEZWOP">SEZWOP</option>
                            <option value="B2C">B2C</option>
                        </select>
                    </div>
                    <div class=" ml-2">
                        <div class=" calendar w-c-50 position-relative">
                            <input class="form-control h-auto pr-5" type="search"
                                [(ngModel)]="filters.search.filterDate" (dateTimeChange)="updateRouterParams()"
                                [owlDateTime]="dt1" [selectMode]="'range'" [owlDateTimeTrigger]="dt1"
                                placeholder="Date Time">
                            <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                                <i class="mx-2 ri-calendar-2-line"></i>
                            </span>
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div>
                        <!-- <input class="form-control" placeholder="Search" type="date" name="" id="" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
                        <owl-date-time #dt1></owl-date-time> -->
                    </div>
                    <!-- <div class="flex-fill ml-2" *ngIf="propertyList.length >= 2">
                        <div class="">
                            <ng-select placeholder="select property" id="my-select" name="property" [(ngModel)]="filters.search.property" (ngModelChange)="updateRouterParams()" [multiple]=true>
                                <ng-option *ngFor="let item of propertyList" [value]="item.name">{{item?.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="d-flex justify-content-end">
                    <!-- <button class="btn btn-primary mr-2" (click)="returnSave()">Save To GSTIN</button> -->
                    <!-- <button class="btn btn-primary btn-sm mr-2" (click)="reconcilation()">Get Updates</button> -->

                    <button class="btn btn-primary btn-sm" (click)="export_invoices()">Export</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered text-center first-table">
                    <thead class="thead-light">
                        <tr>
                            <th>Total Invoices</th>
                            <th>Matching</th>
                            <th>Missing in E invoicing</th>
                            <th>Missing in GST</th>
                            <th>Last Updated on</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>{{this.reconcileSummary?.data?.total_invoices || 0}}</b></td>
                            <td><b>{{this.reconcileSummary?.data?.matching || 0}}</b></td>
                            <td><b>{{this.reconcileSummary?.data?.missing_in_einvoice || 0}}</b></td>
                            <td><b>{{this.reconcileSummary?.data?.missing_in_gst || 0}}</b></td>
                            <td><b>{{this.reconcileSummary?.last_reconciled_on| date:'medium'}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card border-0">
            <div class="invoice invoice-card">
                <div class="table-reponsive ">
                    <table class="table table-bordered table-sm mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Invoice No</th>
                                <th>Invoice Date</th>
                                <th>GSTIN of Supplier</th>
                                <th>Legal Name</th>
                                <th>Invoice Type</th>
                                <!-- <th>Invoice Category</th> -->
                                <th>Invoice Amt</th>
                                <th>Total Taxable Amt</th>
                                <th>SGST</th>
                                <th>CGST</th>
                                <th>IGST</th>
                                <th>Total GST</th>
                                <th>CESS</th>
                                <th>E invoicing generation date</th>
                                <th>Updated to E invoicing on</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of invoiceList;let i = index">
                                <td>{{i+1}}</td>
                                <td>
                                    {{item?.invoice_number}}
                                    <!-- <span *ngIf="item?.gstr_filed == 1" ngbTooltip="Matched" class=""><i class="checkedStatus ri-checkbox-circle-fill"></i></span>
                                    <span *ngIf="item?.gstr_filed == 0" ngbTooltip="Mis-Matched" class=""><i class="mismatched ri-error-warning-fill"></i></span> -->
                                </td>
                                <td>
                                    {{item?.invoice_date}}
                                </td>
                                <td>
                                    {{item?.gst_number}}
                                </td>
                                <td>
                                    {{item?.legal_name}}
                                </td>
                                <td>
                                    {{item?.invoice_type}}
                                </td>
                                <!-- <td>
                                    {{item?.invoice_category}}
                                </td> -->
                                <td class="text-right">
                                    {{item?.sales_amount_after_tax | currency:'INR'}}
                                </td>
                                <td class="text-right">
                                    {{item?.sales_amount_before_tax | currency:'INR'}}
                                </td>

                                <td class="text-right">
                                    {{item?.sgst_amount | currency:'INR'}}
                                </td>
                                <td class="text-right">
                                    {{item?.cgst_amount | currency:'INR'}}
                                </td>
                                <td class="text-right">
                                    {{item?.igst_amount | currency:'INR'}}
                                </td>
                                <td class="text-right">
                                    {{item?.total_gst_amount | currency:'INR'}}
                                </td>
                                <td class="text-right">
                                    {{(item?.total_state_cess_amount + item?.total_central_cess_amount)|
                                    currency:'INR'}}
                                </td>
                                <td>{{item?.irn_generated_time | date}}</td>
                                <td>{{item?.gstr_saved_date |date}}</td>
                                <td>
                                    <span *ngIf="item?.gstr_filed == 1" class="badge badge-success">Matched</span>
                                    <span *ngIf="item?.gstr_filed == 0" class="badge badge-danger mismatched">Missing in
                                        Ezy Invoicing</span>
                                </td>
                                <td><a class="cursor-pointer" [routerLink]="['/gstr/gstr1/invoice-details/'+item.name]"
                                        [queryParamsHandling]="'preserve'">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="!invoiceList?.length">
                        <h5 class="py-3">No Data Found</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between my-2 morec" *ngIf="invoiceList.length">
                <div class="text-right px-3">
                    <ng-container *ngIf="invoiceList.length  < this.filters.totalCount">
                        <p class="cursor-pointer px-2 py-1 pagination "
                            (click)="this.filters.start = invoiceList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                            more
                        </p>
                    </ng-container>
                </div>
                <div class="px-3">
                    <div class="row no-gutters pagination" *ngIf="invoiceList.length > 20">
                        <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(20)"
                            [ngClass]="{'bg-count': filters.itemsPerPage == 20 }">20</p>
                        <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(50)"
                            [ngClass]="{'bg-count': filters.itemsPerPage == 50 }">50</p>
                        <p class="px-2 py-1 mb-0 cursor-pointer border-right" (click)="checkPagination(100)"
                            [ngClass]="{'bg-count': filters.itemsPerPage == 100 }">100</p>
                        <p class="px-2 py-1 mb-0 cursor-pointer" (click)="checkPagination(500)"
                            [ngClass]="{'bg-count': filters.itemsPerPage == 500 }">500</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<div class="container-fluid footer-card">
    <div class="row ">
        <div class="col-md-12 px-3  py-2">
            <div class="card  c-border shadow-sm ">
                <div class="card-body invoice-total p-0">
                    <div>
                        <div class="row no-gutters">
                            <div class="col px-3 py-2">
                                <h4><b>{{invoicesData?.no_of_suppliers || 0}}</b></h4>
                                <p>No of Suppliers</p>
                            </div>
                            <div class="col px-3 py-2">
                                <h4><b>{{invoicesData?.no_of_invoices || 0}}</b></h4>
                                <p>Total Invoices</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{ (invoicesData?.total_invoices_amount | currency:'INR' ) || 0}}</b></h4>
                                <p>Total Invoice Value</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{ (invoicesData?.total_taxable_value | currency:'INR')|| 0}}</b></h4>
                                <p>Total Taxable Value</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{ (invoicesData?.total_igst | currency:'INR')|| 0}}</b></h4>
                                <p>Total IGST</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{ (invoicesData?.total_cgst | currency:'INR')|| 0}}</b></h4>
                                <p>Total CGST</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{(invoicesData?.total_sgst | currency:'INR' ) || 0}}</b></h4>
                                <p>Total SGST</p>
                            </div>
                            <div class="col px-3 py-2 text-center">
                                <h4><b>{{(invoicesData?.cess | currency:'INR') || 0}}</b></h4>
                                <p>Total CESS</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>