<section>

    <div class="row mb-3">
        <div class="col-md-9 col-lg-9">
            <div class="d-flex">
                <h4 class="font-weight-bold text-white my-auto">Tablet Config<small>({{this.filters.totalCount}})</small></h4>
                <!-- <button class="create btn btn-primary" 
                    (click)="addOutlet(outletModal,'add',null)"><i class="ri-add-line"></i></button> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="position-relative mt-2 mt-lg-0 mt-md-0">
                <input type="search" class="form-control pl-5" [(ngModel)]="filters.search" (keyup)="filters.search = search.value;onSearch.emit(filters)" (search)="onSearch.emit(filters)" #search (keyup.enter)="updateRouterParams()" placeholder="Search by WorkStation">
                <span class="search"><i class="ri-search-line"></i></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <!-- <th>User Name</th> -->
                                    <th>Tablet Name</th>
                                    <th>WorkStation Name</th>
                                    <th>Tablet IP</th>
                                    <th>WorkStation IP</th>
                                    <th>Mode</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tableConfigList">
                                    <td>{{item?.index}}</td>
                                    <!-- <td>
                                        {{item?.username}}
                                    </td> -->
                                    <td>
                                        {{item?.tablet}}
                                    </td>

                                    <td>
                                        {{item?.work_station}}
                                    </td>
                                    <td>
                                        {{item?.tablet_ip_address}}
                                    </td>
                                    <td>
                                        {{item?.work_station_ip_address}}
                                    </td>
                                    <td>{{item?.mode}}</td>
                                    <td> <span *ngIf="item?.mode == 'Active' "> <a (click)="resetTablet(item)" >Reset</a> </span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center py-3" *ngIf="!tableConfigList.length">
                            <h5>No Data Found</h5>
                        </div>
                        <div class="d-flex pb-2 justify-content-between" *ngIf="tableConfigList.length">
                            <div class="px-3">
                                <select class="custom-select" name="itemsPerPage" [(ngModel)]="filters.itemsPerPage" (change)="checkPagination()" id="itemsPerPage">
                                    <option [value]="20">20</option>
                                    <option [value]="50">50</option>
                                    <option [value]="100">100</option>
                                    <option [value]="150">150</option>
                                    <option [value]="500">500</option>
                                </select>
                            </div>
                            <div *ngIf="tableConfigList.length  < this.filters.totalCount">
                                <p class="text-right pr-5 more text-primary" (click)="this.filters.start = tableConfigList.length;this.filters.currentPage = this.filters.currentPage+1;  updateRouterParams()">
                                    more
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>