@import '../../../../shared/styles/clbs-global.scss';

.ql-container {
    height: 30% !important;
}
input.form-control, select.custom-select {
  font-size: 13px;
  height: 28px;
}
.form-group{
  margin-bottom: 13px !important;
}
.label{
  margin-bottom: 0px !important;
}
.ngselect{
  font-size: 13px;
}
