<section>
    <div class="row m-0">
        <div class="col-md-6">
            <div class="bg-white ">

                <div class="card border-0">
                    <div class="card-header bg-white">
                        <div class="d-flex justify-content-between ">
                            <b>Summary Info</b>
                            <span *ngIf="summaryData2?.status !== 'Submitted'" (click)="editSummary(editSummaryId)"><i class="ri-pencil-fill btn-hover-gray p-1"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- <div class="p-3 ">
                            <div>
                                <p class="mb-0">Summary Title</p>
                                <p class="mb-0"><strong>{{summaryData?.summary_info?.summary_title || 'NA'}}</strong></p>
                            </div>
                            <div class="pt-3">
                                <p class="mb-0">Summary Dates</p>
                                <p class="mb-0"><strong>{{summaryData?.summary_info?.between_dates || 'NA'}}</strong></p>

                            </div>
                        </div>
                        <div class="d-flex justify-content-between py-3 border-bottom">
                            <div class="col-md-6">
                                <p class="mb-0">Company</p>
                                <p class="mb-0"><strong>{{summaryData?.summary_info?.legal_name || 'NA'}}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">Location</p>
                                <p class="mb-0"><strong>{{summaryData?.summary_info?.location || 'NA'}}</strong></p>
                            </div>
                        </div>
                        <div class="p-3 pb-2 ">
                            <div>
                                <p class="mb-0">GSTIN</p>
                                <p class="mb-0"><strong>{{summaryData?.summary_info?.tax_payer_details || 'NA'}}</strong></p>
                            </div>
                        </div> -->

                        <div class="row">
                          <div class="col-3"><p class="mb-0">Summary Title</p></div>
                          <div class="col-9">
                            <p class="mb-0"><strong>{{summaryData?.summary_info?.summary_title || 'NA'}}</strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3"><p class="mb-0">Summary Dates</p>                          </div>
                          <div class="col-9">
                            <p class="mb-0"><strong>{{summaryData?.summary_info?.between_dates || 'NA'}}</strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3"><p class="mb-0">Company</p></div>
                          <div class="col-9">
                            <p class="mb-0"><strong>{{summaryData?.summary_info?.legal_name || 'NA'}}</strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3"><p class="mb-0">Location</p></div>
                          <div class="col-9">
                            <p class="mb-0"><strong>{{summaryData?.summary_info?.location || 'NA'}}</strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3"><p class="mb-0">GSTIN</p></div>
                          <div class="col-9">
                            <p class="mb-0"><strong>{{summaryData?.summary_info?.tax_payer_details || 'NA'}}</strong></p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                  <div class="card-header bg-white">
                      <div class="d-flex justify-content-between ">
                          <b>Bank Details</b>
                      </div>
                  </div>
                  <div class="card-body">
                      <!-- <div class="d-flex justify-content-between py-3 ">
                          <div class="col-md-6">
                              <p class="mb-0">Bank Name</p>
                              <p class="mb-0"><strong>{{bankDetails?.bank_name || 'NA'}}</strong></p>
                          </div>
                          <div class="col-md-6">
                              <p class="mb-0">Bank A/C Name</p>
                              <p class="mb-0"><strong>{{bankDetails?.bank_ac_name || 'NA'}}</strong></p>
                          </div>

                      </div>
                      <div class="d-flex justify-content-between py-3 ">
                          <div class="col-md-6">
                              <p class="mb-0">Branch Code</p>
                              <p class="mb-0"><strong>{{bankDetails?.branch_code || 'NA'}}</strong></p>
                          </div>
                          <div class="col-md-6">
                              <p class="mb-0">Branch A/C Number</p>
                              <p class="mb-0"><strong>{{bankDetails?.bank_ac_number|| 'NA'}}</strong></p>
                          </div>
                      </div>
                      <div class="d-flex justify-content-between py-3 border-bottom">
                          <div class="col-md-6">
                              <p class="mb-0">IFSC Code</p>
                              <p class="mb-0"><strong>{{bankDetails?.ifsc_code || 'NA'}}</strong></p>
                          </div>
                          <div class="col-md-6">
                              <p class="mb-0">MICR Code</p>
                              <p class="mb-0"><strong>{{bankDetails?.micr_code|| 'NA'}}</strong></p>
                          </div>
                      </div>
                      <div class="p-3 pb-2 ">
                          <div>
                              <p class="mb-0">Address</p>
                              <p class="mb-0"><strong>{{bankDetails?.address || 'NA'}}</strong></p>
                          </div>
                      </div> -->

                      <div class="row">
                        <div class="col-3"><p class="mb-0">Bank Name</p></div>
                        <div class="col-9">
                          <p class="mb-0"><strong>{{bankDetails?.bank_name || 'NA'}}</strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3"><p class="mb-0">Bank A/C Name</p></div>
                        <div class="col-9">
                          <p class="mb-0"><strong>{{bankDetails?.bank_ac_name || 'NA'}}</strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3"><p class="mb-0">Branch Code</p></div>
                        <div class="col-9">
                          <p class="mb-0"><strong>{{bankDetails?.branch_code || 'NA'}}</strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3"><p class="mb-0">Branch A/C Number</p></div>
                        <div class="col-9">
                          <p class="mb-0"><strong>{{bankDetails?.bank_ac_number|| 'NA'}}</strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3"> <p class="mb-0">IFSC Code</p></div>
                        <div class="col-9">
                          <p class="mb-0"><strong>{{bankDetails?.ifsc_code || 'NA'}}</strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3"><p class="mb-0">MICR Code</p></div>
                        <div class="col-9">
                          <p class="mb-0"><strong>{{bankDetails?.micr_code|| 'NA'}}</strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3"><p class="mb-0">Address</p></div>
                        <div class="col-9">
                          <p class="mb-0"><strong>{{bankDetails?.address || 'NA'}}</strong></p>
                        </div>
                      </div>

                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="bg-white mb-2">
                <div class="card border-0">
                    <div class="card-header bg-white">
                        <div class="d-flex justify-content-between ">
                            <b>Terms & Conditions</b>
                            <span *ngIf="summaryData2?.status !== 'Submitted'" (click)="updateTermsNCondtns(termsNCndts)"><i class="ri-pencil-fill btn-hover-gray p-1"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{summaryData?.summary_info?.terms_and_conditions}}</p>
                    </div>
                </div>
            </div>

            <!-- <div class="bg-white ">

                <div class="card border-0">
                    <div class="card-header bg-white">
                        <div class="d-flex justify-content-between ">
                            <b>Bank Details</b>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between py-3 ">
                            <div class="col-md-6">
                                <p class="mb-0">Bank Name</p>
                                <p class="mb-0"><strong>{{bankDetails?.bank_name || 'NA'}}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">Bank A/C Name</p>
                                <p class="mb-0"><strong>{{bankDetails?.bank_ac_name || 'NA'}}</strong></p>
                            </div>

                        </div>
                        <div class="d-flex justify-content-between py-3 ">
                            <div class="col-md-6">
                                <p class="mb-0">Branch Code</p>
                                <p class="mb-0"><strong>{{bankDetails?.branch_code || 'NA'}}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">Branch A/C Number</p>
                                <p class="mb-0"><strong>{{bankDetails?.bank_ac_number|| 'NA'}}</strong></p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between py-3 border-bottom">
                            <div class="col-md-6">
                                <p class="mb-0">IFSC Code</p>
                                <p class="mb-0"><strong>{{bankDetails?.ifsc_code || 'NA'}}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">MICR Code</p>
                                <p class="mb-0"><strong>{{bankDetails?.micr_code|| 'NA'}}</strong></p>
                            </div>
                        </div>
                        <div class="p-3 pb-2 ">
                            <div>
                                <p class="mb-0">Address</p>
                                <p class="mb-0"><strong>{{bankDetails?.address || 'NA'}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="bg-white mb-2"> -->
            <!-- <div class="card border-0">
                    <div class="card-header bg-white">
                        <div class="d-flex justify-content-between ">
                            <b>Header</b>
                            <span><i class="ri-pencil-fill"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{summaryData?.summary_info?.header}}</p>
                    </div>
                </div> -->
            <!-- <p class="mb-0 p-3"><strong>Header</strong></p>
                <quill-editor class="ql-container" id="header" name="header" [(ngModel)]="summaryData?.summary_info.header" #header="ngModel" required></quill-editor> -->
            <!-- </div> -->
            <!-- <div class="bg-white mb-2">
                <div class="card border-0">
                    <div class="card-header bg-white"><b>Terms & Conditions</b></div>
                    <div class="card-body">
                        <p>{{summaryData?.summary_info?.terms_and_conditions}}</p>
                    </div>
                </div>
            </div>
            <div class="bg-white">
                <div class="card border-0">
                    <div class="card-header bg-white"><b>Footer</b></div>
                    <div class="card-body">
                        <p>{{summaryData?.summary_info?.footer}}</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>


<ng-template #editSummaryId let-modal>
    <div class="modal-header py-2">
        <h6 class="" id="modal-basic-title">Summary Info</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body scrollBody">
        <form #form="ngForm">
            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="title">Summary Title</label>
                        <input class="form-control" type="text" name="title" [(ngModel)]="editSummaryData.title" #title="ngModel" placeholder="Title" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group ">
                        <label for="title">Summary Dates</label>
                        <input class="form-control" [owlDateTimeTrigger]="dt1" [(ngModel)]="editSummaryData.dates" #dates="ngModel" name="dates" [owlDateTime]="dt1" [selectMode]="'range'" placeholder="Date Time" required>
                        <!-- <span class="example-trigger" >
                <i class="ri-calendar-2-line"></i>
              </span> -->
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>
                </div>
                <div class="col-md-12">
                  <div class="">
                      <label for="location">Location</label>
                      <ng-select class="custom-select ngselect p-0 border-0" [(ngModel)]="editSummaryData.location" #location="ngModel" placeholder="Location" name="location" required (change)="changeLocation(editSummaryData.location)">
                        <ng-option [value]="item.name" *ngFor="let item of taxpayerLocationsList">{{item.location }}</ng-option>
                        <ng-template ng-footer-tmp >
                          <div class="text-right">
                              <p class="btn btn-outline-primary btn-sm  pt-2 mb-0" (click)="addLocation()"> Add Location</p>
                          </div>
                      </ng-template>
                      </ng-select>
                      <!-- <input class="form-control" type="text" name="location" [(ngModel)]="editSummaryData.location" #location="ngModel" placeholder="Location" required> -->
                  </div>
              </div>
              <div class="col-md-12 my-2" *ngIf="selectedLocationDetails">
                <!-- <div class="row m-auto w-100">
                    <div class="col-6 card py-2">
                        <div class="my-2">
                            <p class="m-0 c-title">Location</p>
                            <p class="m-0"><b>{{selectedLocationDetails?.location? selectedLocationDetails.location:'NA'}}</b></p>
                        </div>
                        <div class="my-2">
                            <p class="m-0 c-title">Address</p>
                            <p class="m-0"><b>{{selectedLocationDetails?.address?selectedLocationDetails.address:'NA'}}</b></p>
                        </div>
                    </div>
                    <div class="col-6 card py-2">
                        <div class="my-2">
                            <p class="m-0 c-title">City</p>
                            <p class="m-0"><b>{{selectedLocationDetails?.city?selectedLocationDetails.city:'NA'}}</b></p>
                        </div>
                        <div class="my-2">
                            <p class="m-0 c-title">State</p>
                            <p class="m-0"><b>{{selectedLocationDetails?.state?selectedLocationDetails.state:'NA'}}</b></p>
                        </div>
                        <div class="my-2">
                            <p class="m-0 c-title">Pincode</p>
                            <p class="m-0"><b>{{selectedLocationDetails?.pin_code?selectedLocationDetails.pin_code:'NA'}}</b></p>
                        </div>
                    </div>
                </div> -->

                <div class="card">
                  <div class="card-body">
                    <div class="row my-1">
                      <div class="col-3">
                        <p class="m-0 c-title">Location</p>
                      </div>
                      <div class="col-9">
                        <p class="m-0"><b>{{selectedLocationDetails?.location? selectedLocationDetails.location:'NA'}}</b></p>
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-3">
                        <p class="m-0 c-title">Address</p>
                      </div>
                      <div class="col-9">
                        <p class="m-0"><b>{{selectedLocationDetails?.address?selectedLocationDetails.address:'NA'}}</b></p>
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-3">
                        <p class="m-0 c-title">City</p>
                      </div>
                      <div class="col-9">
                        <p class="m-0"><b>{{selectedLocationDetails?.city?selectedLocationDetails.city:'NA'}}</b></p>
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-3">
                        <p class="m-0 c-title">State</p>
                      </div>
                      <div class="col-9">
                        <p class="m-0"><b>{{selectedLocationDetails?.state?selectedLocationDetails.state:'NA'}}</b></p>
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-3">
                        <p class="m-0 c-title">Pincode</p>
                      </div>
                      <div class="col-9">
                        <p class="m-0"><b>{{selectedLocationDetails?.pin_code?selectedLocationDetails.pin_code:'NA'}}</b></p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            </div>

            <div class="row ">
                <div class="col-md-12 text-right mt-1">
                    <!-- <button class="btn btn-outline-primary px-3 c-o-b shadow-sm bg-white" type="button"><i
                        class="ri-download-fill mr-2"></i> Save as Draft</button> -->
                    <button (click)="modal.close('close')" class="btn btn-outline-primary shadow-sm mr-2" type="button"><strong>Cancel</strong>  </button>
                    <button (click)="onSubmitSummary(form,modal) " class="btn btn-primary shadow-sm" type="button">Save </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #termsNCndts let-modal>
    <div class="modal-header">
        <h5 class="" id="modal-basic-title">Terms & Conditions</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body scrollBody">
        <form #form="ngForm">
            <div class="row mt-1 px-2">
                <div class="form-group">
                    <quill-editor class="ql-container" id="terms_and_conditions" name="terms_and_conditions" [(ngModel)]="summaryData?.summary_info.terms_and_conditions" #terms_and_conditions="ngModel" required></quill-editor>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-4 p-3 ">
        <div class="col-md-12 text-right mt-1">
            <button (click)="modal.close('close')" class="btn btn-outline-primary shadow-sm mr-2" type="button"><strong>Cancel</strong>  </button>
            <button (click)="onSubmitTerms(form,modal) " class="btn btn-primary shadow-sm" type="button">Save </button>
        </div>
    </div>
</ng-template>
