<section class="gstr-summary mt-3 px-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 mb-2">
                <div class="d-flex align-items-center back">
                    <h5><i class="ri-arrow-left-line"></i> GSTR1 Summary</h5>
                </div>
            </div>
            <div class="col-6 my-auto">
                <div class="text-right">
                    <div class="d-flex align-items-center justify-content-end">
                        <h6 class="m-0">December</h6>
                        <i placement="top" ngbTooltip="Download" class="ri-download-2-line ml-3 cursor-pointer download"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            8A, 8B, 8C, 8D - Nil Rated Supplies
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Nil Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Exempted Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Non-Gst Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            8A, 8B, 8C, 8D - Nil Rated Supplies
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Nil Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Exempted Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Non-Gst Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            8A, 8B, 8C, 8D - Nil Rated Supplies
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Nil Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Exempted Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Non-Gst Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            8A, 8B, 8C, 8D - Nil Rated Supplies
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Nil Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Exempted Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Non-Gst Amt</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-header bg-c text-white d-flex justify-content-between">
                        <div>
                            7-B2C (Others)
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Taxable Value</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="total">
                                    <p class="mb-0">Total Tax Liability</p>
                                    <small>0.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>